@import "variables.less";
@import "../common/Slider.less";

.mblSlider {
  border-style: none;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  .mblSlider-styles;
}
.mblSliderH {
  width: 200px;

  height: 3px;
  background-color: @holo-slider-track-color;
  border-style: none;
}

.mblSliderV {
  height: 200px;
  width: 3px;
  background-color: @holo-slider-track-color;
  border-style: none;
  
}

.mblSliderProgressBar {
  border:radius: 0;
  background-image: none;
  background-color: @holo-color1;
  
  
}
.mblSliderHandle {
  .holo-slider-background-image();
  .mblSliderHandle-styles;
}

.mblSliderHandle:after {
  border-style: solid;
  background-image: none;
  .mblSliderHandle-styles;
}


