@import "variables.less";
@import "../common/Switch.less";

/* Default Shape */
.mblSwDefaultShape {
	.mblSwSquareShape-styles;
}

.mblSwitchBgLeft {
  background-color: @holo-switch-on-color;
  background-image: none;
}
.mblSwitchBgRight {
  background-color: @holo-switch-off-color;
  background-image: none;
  color: @holo-color;
}

.mblSwitchKnob{
  background-color: @holo-switch-knob-color;
  background-image: none;
  
}
