@import "../common/css3.less";

@holo-color: white;
@holo-base-color: black;
@holo-grey1: #222222;
@holo-grey2: #333333;
@holo-grey3: #4F4F4F;

@holo-color1: #33B5E5;

@holo-checkbox-border-color: #5C5C5C;
@holo-checkbox-selected-color: #99BBCA;
@holo-checkbox-tick-color: #61C6EB;
@holo-checkbox-checked-color: #1F5366;

@holo-switch-on-color: #0C86AF;
@holo-switch-off-color: @holo-grey2;
@holo-switch-knob-color: #606060;

@holo-slider-thumb-color: rgba(31, 83, 102, 0.8);

@holo-slider-background-image-gecko: -moz-linear-gradient(top, @holo-color1 0%, @holo-slider-thumb-color 100%);
@holo-slider-track-color: #292929;

@default-blue-button-color: white;
@default-blue-button-background-color: #366edf;
.default-blue-button-background-image () { 
  background-image: none;
}

@default-blue-button-background-image-gecko: none;

.mbl-color-blue-45 () { 
  background-image: none;  
}


.mbl-color-default-45 () { background-color: @holo-grey2; }
.mbl-color-default-sel-45 () {background-color: @holo-color1; }

@mbl-color-blue-45-gecko: none;
@mbl-color-default-45-gecko: @holo-grey2;
@mbl-color-default-sel-45-gecko: @holo-color1;

@default-button-color: @holo-color;
@default-button-background-color: @holo-grey2;
.default-button-background-image() {background-image: none};
@default-button-background-image-gecko: none;
@default-button-border-radius: 2px;

@default-button-selected-color: white;
@default-button-selected-background-color: @holo-color1;
.default-button-selected-background-image () {background-image: none;}
@default-button-selected-background-image-gecko: none;

@default-selected-color: white;
@default-selected-background-color: #3578b1;
@default-selected-background-image: none;
@default-selected-background-image-gecko: none;

@heading-background-color: #8c8a8c;
.heading-background-image () { background-image: none; }
@heading-background-image-gecko: none;
@heading-border-top-color: #cdd5df;
@heading-border-bottom-color: #2d3642;

.default-button-border-styles () {
	background-image: none;
	background-color: #333333;
	border-style: none;
	border-top-style: solid;
	border-top-color: rgba(85,85,85,0.9);
	border-top-width: 1px;
	border-radius: 2px;
}

.mblToolBarButtonBodyInLeftArrow-styles () {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mblToolBarButtonBodyInRightArrow-styles () {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



// background styles of form controls
.mbl-button-background-image () { .default-button-border-styles; }

.mbl-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-blue-button-background-image () { .default-blue-button-background-image(); }
.mbl-blue-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-red-button-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#fa9d58, #ee4115, 0.5, #ff4d25, 0.5, #ed4d15);}

.mbl-red-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-button-checked-background-image () { background-color: transparent; }

// background styles of form controls (for gecko)
@mbl-button-background-image-gecko: none;
@mbl-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@mbl-blue-button-background-image-gecko: @default-blue-button-background-image-gecko;
@mbl-blue-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@mbl-red-button-background-image-gecko: none;
@mbl-red-button-selected-background-image-gecko: none;
@mbl-button-checked-background-image-gecko: none;

// common.less
.mobile-body-styles () {
	font-family: Helvetica;
	font-size: 17px;
	color: @holo-color;
}

.mblBackground-styles () {
	background-color: @holo-base-color;
}

.mblView-styles () {
	color: white;
}

.mblColorBlue-styles () {
	color: @default-blue-button-color;
	background-color: @default-blue-button-background-color;
	.default-blue-button-background-image();
}
.mblColorDefault-styles () {
	color: @holo-color;
	background-color: @default-button-background-color;
	.default-button-background-image();
}
.mblColorDefaultSel-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color;
	.default-button-selected-background-image();
}

// Heading.less
.mblHeading-styles () {
	color: @holo-color;
	background-color: @holo-base-color;
	border-bottom-color: @holo-color1;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-size: 18px;
	font-weight: normal;
}


// ToolBarButton.less
@mbl-tool-bar-button-body-border-radius: 0;
//
.mblToolBarButton-styles () {
	text-shadow: none;
}

.mblToolBarButtonArrow-styles () {
	border-radius: 1px;
  .transform(scale(0.7, 1.05) rotate(45deg));
	border: 1px solid #3a4655;
}
.mblToolBarButtonArrowInHeading-styles () {
}
.mblToolBarButtonHasLeftArrowInHeading-styles () {
}
.mblToolBarButtonHasLeftArrowInHeading-compat-gecko () {
}
.mblToolBarButtonHasRightArrowInHeading-styles () {
}
.mblToolBarButtonHasRightArrowInHeading-compat-gecko () {
}
.mblToolBarButtonArrowInLeftArrow-styles () {
  left: -1px;
}
.mblToolBarButtonArrowInRightArrow-styles () {
  right: -1px;
}
.mblToolBarButtonBody-styles () {
	border: 1px solid #555555;
}
.mblToolBarButtonBodyInHeading-styles () {
}
.mblToolBarButtonBodyInHeading-compat-gecko () {

}

// RoundRect.less & RoundRectList.less
@mbl-round-rect-border-color: @holo-grey1;
@mbl-round-rect-border-radius: 14px;
@mbl-round-rect-background-color: transparent;
@mbl-round-rect-box-shadow: none;
//
.mblRoundRect-styles () {
	color: white;
}

// EdgeToEdgeCategory.less
.mblEdgeToEdgeCategory-styles () {
	height: 35px;
	border-bottom: 3px solid #39393A;
	background-color: rgba(0,0,0,0);
	color: white;
	line-height: 35px;
	margin-right:7px;
	margin-left:7px;
	margin-top: 10px;
	text-transform: uppercase;
}

// RoundRectCategory.less
@mbl-value-picker-slot-margin: 0 5px;
.mblRoundRectCategory-styles () {

}

// EdgeToEdgeList.less
.mblEdgeToEdgeList-styles () {
	
}
.mblEdgeToEdgeList-LastListItem-styles () {
	border-bottom-color: #333538;
	margin-right:7px;
  margin-left:7px;
}

// ListItem.less
@mbl-list-item-height: 50px;
//
.mblListItem-styles () {
	border-bottom: 1px solid #333538;
  margin-right:7px;
  margin-left:7px;
	
	font-size: 18px;
	color: @holo-color;
}
.mblListItemSelected-styles () {
	color: @default-selected-color;
	background-color: @default-selected-background-color;
}
.mblListItemLabelSelected-styles () {
	background-color: #048bf4;
}
.mblListItemChecked-styles () {
}
.mblListItemRightText-styles () {
	color: white;
	margin-top: 14px;
}
.mblListItemSubText-styles () {
	font-size: 14px;
	color: gray;
}

// Switch.less
@mbl-switch-bg-left-background-color: #00a200;
.mbl-switch-bg-left-background-image () {background-image: none; }
@mbl-switch-bg-right-background-color: #bdbebd;
.mbl-switch-bg-right-background-image () { .background-image-linear-gradient-top-bottom(#bdbebd, #f7f3f7); }
.mbl-switch-knob-background-image () {  .background-image-linear-gradient-top-bottom(#9c9a9c, #848284); }

//
@mbl-switch-bg-left-background-image-gecko: none;
@mbl-switch-bg-right-background-image-gecko: -none;
@mbl-switch-knob-background-image-gecko: none;
@mbl-switch-square-border-radius: 0px;
//
.mblSwitchBg-styles () {
	border: rgba(176,176,176,0.5) 1px inset;
}
.mblSwitchKnob-styles () {
	border: rgba(157,157,157,0.5) 1px outset;
}

// Button.less
.mblButton-styles () {
	.default-button-border-styles;
	height: 40px;
	color: @holo-color;
	
}
.mblButtonSelected-styles () {
  
  color: @holo-color;
  border-color: transparent;
  background-image: none;
  background-color: #2C94BB;
  box-shadow: 0px 0px 1px 4px #1F5366;
  
}
.mblButton-mblBlueButton-styles () {
  color: @holo-color;
  .default-button-border-styles;
  background-color: #0099CC;
}
.mblButton-mblRedButton-styles () {
  color: @holo-color;
  .default-button-border-styles;
  background-color: #CC0000;
}

// CheckBox.less
.mblCheckBox-styles () {
	border-color: @holo-checkbox-border-color;
  border-width: 1px;
	background-color: transparent;
	background-image: none;
  border-style: solid;
}
.mblCheckBoxChecked-after-styles () {
	border-color: white;
  background-color: transparent;
  background-image: none;

}
.mblCheckBoxChecked-mblCheckBoxSelected-after-styles () {
  background-color: transparent;
  background-image: none;
}

// ComboBox.less
@mbl-combo-box-popup-box-shadow: 0 0 50px black;
//
.dijitPopup-styles () {
	border-radius: 0;
}

.mblComboBoxMenu-styles () {
	border-radius: 0;
	background-color: @holo-grey2;
	color: @holo-color;
}

.mblComboBoxMenuItem-styles () {
	border-color: @holo-grey3;
	border-top: none;
	height: 35px;
	padding-top: 17px;
}

.mblComboBoxMenuItemSelected-styles () {
	background-color: @default-selected-background-color;
	color: white;
}

// IconContainer.less
.mblIconItemSub-styles () {
	background-color: white;
	color: black;
}
.mblIconArea-styles () {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 74px;
	color: white;
}
.mblIconItemDeleteIcon-styles () {
	top: -4px;
	left: -2px;
}

// RadioButton.less
.mblRadioButton-styles () {
	border-color: @holo-checkbox-border-color;
}
.mblRadioButtonChecked-after-styles () {
	border-color: @holo-checkbox-tick-color;
}
.mblRadioButtonChecked-Selected-after-styles () {
	border-color: @holo-checkbox-tick-color;
}

// Slider.less
@mbl-slider-bar-border-radius: 10em;
@mbl-slider-knob-border-radius: 10em;

//
.mblSlider-styles () {
	border-color: #b0b0b0;
}
.mblSliderHandle-styles () {
	border-color: transparent;
}
.holo-slider-background-image () {
  background: -webkit-gradient(radial, 9 9, 3, 9 9, 9, from(@holo-color1), color-stop(0, @holo-color1), color-stop(0.01, @holo-slider-thumb-color), to(@holo-slider-thumb-color));
  background-image: radial-gradient(circle closest-side at center, #FFFFFF 0%, #A435C5 50%, #251AE7 75%, #00A3EF 100%);
}

// TabBar.less

.holoTabBarBackground-styles () {
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-style:none;
}


.mblTabBar-styles () {
	text-shadow: none;
	color: @holo-color;
}


// barType="tabBar"
.mblTabBarTabBar-styles () {
	.holoTabBarBackground-styles;
	line-height: 0.5em;
	
}
.mblTabBarTabBar-compat () {
  .holoTabBarBackground-styles;
  line-height: 0.5em;
}

.mblTabBarTabBarButton-styles () {
	border-radius: 0px;
	height:47px;
	border-bottom-color: @holo-color1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.mblTabBarTabBarButtonIconArea-styles () {
	padding-top: 0px;
}

.mblTabBarTabBarButtonLabel-styles () {
	display: inline;
	text-transform: uppercase;
	color: @holo-color;
	font-weight: bold;
}

.mblTabBarTabBarButtonSelected-styles () {
	border-radius: 0px;
	height:42px;
	border-bottom-color: @holo-color1;
	border-bottom-width: 6px;
	border-bottom-style: solid;
}
.mblTabBarTabBarButtonLabelSelected-styles () {
}

// barType="segmentedControl"
@mbl-tab-bar-segmented-control-border-radius: 0px;
//
.mblTabBarSegmentedControl-styles () {
	.holoTabBarBackground-styles;
  line-height: 0.5em;	
}
.mblTabBarSegmentedControlButton-styles () {
  border-radius: 0px;
  height:28px;
  border-bottom-color: @holo-color1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.mblTabBarSegmentedControlButton-compat-gecko () {

}

.mblTabBarSegmentedControlButtonSelected-styles () {
  border-radius: 0px;
  height:23px;
  border-bottom-color: @holo-color1;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

// barType="standardTab"
.mblTabBarStandardTab-styles () {
	.holoTabBarBackground-styles;
}
.mblTabBarStandardTabButton-styles () {
	color: @default-button-color;
	background-color: @default-button-background-color; /* TODO: to compat */
	.default-button-background-image();
}
.mblTabBarStandardTabButtonIconArea-styles () {
}
.mblTabBarStandardTabButtonLabel-styles () {
  display: inline;
  text-transform: uppercase;
  color: @holo-color;
  font-weight: bold;  
}
.mblTabBarStandardTabButtonSelected-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color; /* TODO: to compat */
	.background-image-linear-gradient-top-bottom-2-stops(#313031, #959595, 0.5, #5a555a, 0.5, #616161)
	
}
.mblTabBarStandardTabButtonLabelSelected-styles () {
}

// barType="tallTab"
.mblTabBarTallTab-styles () {
	.holoTabBarBackground-styles;
}
.mblTabBarTallTabButton-styles () {
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-radius: 0px;
  height: 58px;
  border-style: none;
  border-bottom-color: @holo-color1;
  border-bottom-width: 1px;
  border-bottom-style: solid;  
}
.mblTabBarTallTabButton-FirstChild-styles () {
}
.mblTabBarTallTabButton-LastChild-styles () {
}
.mblTabBarTallTabButtonIconArea-styles () {
}
.mblTabBarTallTabButtonLabel-styles () {
}
.mblTabBarTallTabButtonSelected-styles () {
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-radius: 0px;
  height:53px;
  border-style: none;
  border-bottom-color: @holo-color1;
  border-bottom-width: 6px;
  border-bottom-style: solid;  
}
.mblTabBarTallTabButtonLabelSelected-styles () {
}

// TextArea.less
.mblTextArea-styles () {
	.default-button-border-styles;
	color: @holo-color;
	border-radius: 0;
	border-top-color: transparent;
	font-size: 17px;
}

// TextBox.less

.mblTextBox-styles () {
	background-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: @holo-color1;
	border-width: 2px;
	font-size: 17px;
	border-style: solid;
	color: @holo-color;
}

// ToggleButton.less
.mblToggleButton-styles () {
	.default-button-border-styles;
	font-size: 13px;
	color: black;
}
.mblToggleButtonSelected-styles () {
	color: white;
}
.mblToggleButtonChecked-styles () {
	color: white;
}
.mblToggleButtonChecked-after-styles () {
	border-color: white;
}
.mblToggleButtonCheckedSelected-styles () {
	color: white;
}
.mblToggleButtonCheckedSelected-after-styles () {
}

// Overlay.less
.mblOverlay-styles () {
	background-color: #333333;
	background-image: none;
}
.mblOverlay-compat () {
}
.mblOverlay-compat-gecko () {
}

// Tooltip.less
@mbl-tooltip-border-radius: 3px;
//
.mblTooltip-styles () {
	border-color: #adaaad;
	border-radius: @mbl-tooltip-border-radius;
	background-color: #8c8a8c;
	.background-image-linear-gradient-top-bottom(#9c9e9c, #848284);

}
.mblTooltipBubble-styles () {
	background-color: #306ea1;
	background-image: none;
	color: white;
}
.mblTooltipInnerArrow-Bubble-Above-styles () {
	border-bottom-color: #306ea1;
}
.mblTooltipInnerArrow-Bubble-Below-styles () {
	border-top-color: #306ea1;
}
.mblTooltipInnerArrow-Bubble-After-styles () {
	border-left-color: #306ea1;
}
.mblTooltipInnerArrow-Bubble-Before-styles () {
	border-right-color: #306ea1;
}
.mblTooltipArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #adaaad;
}
.mblTooltipArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #adaaad;
}
.mblTooltipArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #adaaad;
}
.mblTooltipArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #adaaad;
}
.mblTooltipInnerArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #848284;
}
.mblTooltipInnerArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #848284;
}
.mblTooltipInnerArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #9c9e9c;
}
.mblTooltipInnerArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #848284;
}
.mblTooltip-Heading-styles () {
	padding-bottom: 3px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	background-image: none;
}
.mblTooltip-Heading-compat () {
}
.mblTooltip-Heading-ToolbarButton-styles () {
}
.mblTooltip-Heading-ToolbarButton-compat () {
}

// Accordion.less
.mblAccordion-styles () {
	border-style:none;
}
.mblAccordionTitle-styles () {
	.mbl-button-background-image();
}
.mblAccordionTitle-compat () {
}

.mblAccordionTitle-compat-gecko () {
  .mbl-button-background-image();
}
.mblAccordionTitleSelected-styles () {
	background-color: @holo-color1;
}
.mblAccordionTitleSelected-compat () {
  background-color: @holo-color1;
}
.mblAccordionTitleSelected-compat-gecko () {
  background-color: @holo-color1;
}
.mblAccordionTitleAnchor-styles () {
	color: @holo-color;
}
.mblAccordionTitleAnchorSelected-styles () {
	color: @holo-color;
}

// SimpleDialog.less
@mbl-simple-dialog-border-radius: 2px;
//
.mblSimpleDialog-styles () {
	padding: 5px;
	width: 262px;
}
.mblSimpleDialogDecoration-styles () {
	background-color: rgba(64,64,64,0.85);
	border: 2px solid #eeeeee;
	color: white;

  background-image: none;
  background-color: @holo-grey1;
  border-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(255,255,255,0.6);
  border-radius: 2px; 
}
.mblSimpleDialogDecoration-compat () {
	background-color: #404040;
}
.mblSimpleDialogDecoration-compat-gecko () {
	background-color: rgba(64,64,64,0.85);
}
.mblSimpleDialogTitle-styles () {
	margin: 14px 0 7px -5px;
	padding: 0 14px 14px;
	width: 244px;
	border-bottom: 1px solid @holo-color1;
	font-size: 17px;
	text-align: left;
}
.mblSimpleDialogText-styles () {
	margin: 14px 9px;
	width: 244px;
	font-size: 17px;
	text-align: left;
}

// IconMenu.less
@mbl-icon-menu-border-radius: 6px;
@mbl-icon-menu-item-border-radius: 6px;
//
.mblIconMenu-styles () {
	padding: 0;
	background-color: rgba(64, 64, 64, 0.85);
	border: 2px solid #eeeeee;
}
.mblIconMenu-compat () {
	background-color: #404040;
}
.mblIconMenu-compat-gecko () {
	background-color: rgba(64, 64, 64, 0.85);
}
.mblIconMenuItem-styles () {
	border-left: 1px solid rgba(96, 96, 96, 0.85);
	border-bottom: 1px solid rgba(96, 96, 96, 0.85);
}
.mblIconMenuItemAnchor-styles () {
	font-size: 13px;
	color: white;
}
.mblIconMenuItemSel-styles () {
	background-color: @default-selected-background-color;
	color: white;
}
.mblIconMenuItemSel-compat () {
	background-color: @default-selected-background-color;
}
.mblIconMenuItemSel-compat-gecko () {
	background-color: @default-selected-background-color;
}

// dijit.Calendar
.dijitCalendar-styles () {
	border: none 0 transparent;
	background-color: white;
}
.dijitCalendar-thead-styles () {
	background-color: @holo-grey2;
	
}
.dijitCalendar-thead-compat () {
	background-color: @holo-grey2;
}
.dijitCalendar-thead-compat-gecko () {
	background-color: @holo-grey2;
}
.dijitCalendarMonthLabel-styles () {
	color: white;
	font-size: 16px;
}
.dijitCalendarMonthMenu-styles () {
}
.dijitCalendarMonthMenu-compat-ff3 () {
}
.dijitCalendarMonthMenu-Label-styles () {
	color: black;
}
.dijitCalendarDecrease-styles () {
	border-right: 6px solid white !important;
}
.dijitCalendarIncrease-styles () {
	border-left: 6px solid white !important;
}
.dijitCalendarDayLabelTemplate-styles () {
	background-color: #292c31;
	font-size: 12px;
	color: white;
}
.dijitCalendarDateTemplate-styles () {
	border-right: 1px solid lightGrey;
	background-color: white;
	color: black;
}
.dijitCalendarDateTemplate-LastChild-styles () {
	border-right: none;
}
.dijitCalendarDateLabel-DateTemplate-styles () {
	border: none;
}
.dijitCalendarDateLabel-PrevMonth-styles () {
	color: lightGrey;
}
.dijitCalendarDateLabel-Hovered-styles () {
	color: @holo-color1;
}
.dijitCalendarDateLabel-Selected-styles () {
	color: @holo-color1;
	
}
.dijitCalendarDateLabel-Selected-compat () {
	color: @holo-color1;
}
.dijitCalendarDateLabel-Selected-compat-gecko () {
	color: @holo-color1;
}
.dijitCalendarDateLabel-Active-styles () {
	
}
.dijitCalendarDateLabel-Active-compat () {
	
}
.dijitCalendarDateLabel-Active-compat-gecko () {
	
}
.dijitCalendarYearLabel-styles () {
	padding: 0;
	background-color: @holo-grey2;
}
.dijitCalendarYearLabel-compat () {
  background-color: @holo-grey2;
}
.dijitCalendarYearLabel-compat-gecko () {
  background-color: @holo-grey2;
}
.dijitCalendarSelectedYear-styles () {
	color: white;
	font-size: 16px;
}
.dijitCalendarNextYear-styles () {
	padding: 1px 6px 3px 6px;
	color: white;
	font-size: 12px;
}

// SearchBox.less
@mbl-searchbox-cancel-button-color: black;
@mbl-searchbox-cancel-button-bg-color: transparent;
.mblSearchBox-Cancel-Button-styles () {
	border-radius: 0;
}
@mbl-searchbox-results-decoration-color: black;

// ProgressBar.less
.mblProgressBar-styles () {
	border-radius: 0px;
	height: 2px;
	background-image: none;
	background-color: @holo-grey2;
}
.mblProgressBarProgress-styles () {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background-image: none;
	background-color: @holo-color1;
	height: 2px;
}
.mblProgressBarComplete-styles () {
	border-radius: 0px;
}
.mblProgressBarNotStarted-styles () {
}
.mblProgressBarMsg-styles () {
	top: 3px;
}
.mblProgressBar-compat () {
	background-color: @holo-grey2;
}
.mblProgressBarProgress-compat () {
	background-color: @holo-color1;
}
.mblProgressBar-compat-gecko () {
	background-image: none;
	background-color: @holo-grey2;
}
.mblProgressBarProgress-compat-gecko () {
  background-image: none;
  background-color: @holo-color1;

}

// ValuePicker.less
.mbl-value-picker-slot-button-background-image () {background-image: none;}
@mbl-value-picker-slot-button-background-image-gecko: none;
@mbl-value-picker-slot-button-radius: 0px;
.mbl-value-picker-slot-input-area-background-image () {background-image: none;}
@mbl-value-picker-slot-input-area-background-image-gecko: none;
.mblValuePickerSlot-style () {
  margin:  0 5px;
}
.mblValuePickerSlot-input-style () {
  font-size: 28px;  
  color: @holo-color;
}

