<div role="presentation" class="${theme}">
  <div role="presentation" class="${css.searchGroup}" data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="expandNode" class="${css.searchExpandContainer}">
      <div class="${css.searchAnimateContainer}">
        <div role="button" title="${_i18n.widgets.Search.main.searchIn}" id="${id}_menu_button" class="${css.searchBtn} ${css.searchToggle}" tabindex="0" data-dojo-attach-point="sourcesBtnNode">
          <span aria-hidden="true" role="presentation" class="${css.searchToggleIcon}"></span><span class="${css.searchSourceName}" data-dojo-attach-point="sourceNameNode"></span>
        </div>
        <div class="${css.searchInputGroup}">
          <form data-dojo-attach-point="formNode">
            <input maxlength="${maxLength}" autocomplete="off" type="text" tabindex="0" class="${css.searchInput}" value="${value}" aria-haspopup="true" id="${id}_input" data-dojo-attach-point="inputNode" role="textbox">
          </form>
          <div role="button" class="${css.searchClear}" tabindex="0" data-dojo-attach-point="clearNode"><span aria-hidden="true" class="${css.searchClearIcon}"></span><span aria-hidden="true" class="${css.searchSpinner}"></span>
          </div>
          <div data-dojo-attach-point="suggestionsNode" class="${css.searchMenu} ${css.suggestionsMenu}"></div>
        </div>
      </div>
    </div>
    <div role="button" title="${_i18n.widgets.Search.main.searchButtonTitle}" class="${css.searchBtn} ${css.searchSubmit}" tabindex="0" data-dojo-attach-point="submitNode">
      <span aria-hidden="true" role="presentation" class="${css.searchIcon}"></span>
      <span class="${css.searchButtonText}">${_i18n.widgets.Search.main.searchButtonTitle}</span>
    </div>
    <div data-dojo-attach-point="sourcesNode" class="${css.searchMenu} ${css.sourcesMenu}"></div>
    <div data-dojo-attach-point="noResultsMenuNode" class="${css.searchMenu} ${css.searchNoResultsMenu}"></div>
    <div class="${css.searchClearFloat}"></div>
  </div>
</div>