<div class="esri-rfx-switch-selector">
    <table class="esri-rfx-args-editor__table">
        <tr>
            <td>
                <select data-dojo-attach-point="switchableSelect" data-dojo-type="dijit/form/Select" class="esri-rfx-switch-selector__switch-select">
                </select>
            </td>
            <td>
                <div data-dojo-attach-point='option1Div'></div>
                <div data-dojo-attach-point='option2Div'> </div>
            </td>
        </tr>
    </table>
</div>