<div class="esri-rfx-linear-input">
    <table class="esri-rfx-args-editor__table">
        <tr>
            <td>
                <div data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="unitValue" class="esri-rfx-linear-input__unit-value"></div>
            </td>
            <td>
                <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="unitType" data-dojo-attach-props="labelAttr: 'label'" class="esri--rfx-linear-input__unit-type"></div>
            </td>
        </tr>
    </table>
</div>