<div>
    <table class="esri-rfx-args-editor__table">
        <tr class="esri-rfx-args-editor__tr--arg-name esri-rfx-rasterInfo-cellSize-editor">
            <td data-dojo-attach-point="cellSizeLabel">${_i18n.cellSizeName}</td>
        </tr>
        <tr class="esri-rfx-args-editor__tr--arg-widget esri-rfx-rasterInfo-cellSize-editor">
            <td>
                <div data-dojo-type="esri/dijit/RasterFunctionEditor/RFxCellSizeInput" data-dojo-attach-point="rasterInfoPixelSize"></div>
            </td>
        </tr>
    </table>
</div>