<div class="esri-rfx-transpose-bit esriRFxMatrix">
  <table class="esri-rfx-args-editor__table">
    <tr class="esri-rfx-args-editor__tr--arg-name">
      <td>${_i18n.bitPattern}</td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget">
      <td>
        <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="bitPatternSelect"
          data-dojo-attach-event="onChange:_onPatternChange" data-dojo-attach-props="labelAttr: 'label'"></div>
      </td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget">
      <td>
        <div data-dojo-attach-point="transposeBitDiv"></div>
      </td>
    </tr>
  </table>
</div>
