@media only screen and (max-width: 1200px) {
  .dubbo-form-item {
    width: 50%;
  }

  .dubbo-form-item-long {
    width: 100%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .dubbo-form-item {
    width: 33.33%;
  }

  .dubbo-form-item-long {
    width: 66.67%;
  }
}

@media only screen and (min-width: 1601px) {
  .dubbo-form-item {
    width: 25%;
  }

  .dubbo-form-item-long {
    width: 50%;
  }
}

.dubbo-form-item, .dubbo-form-item-long {
  display: inline-block;
}

.select-100 {
  width: 100%;
}

.dubbo-form-description {
  width: 100%;
  font-size: 13px;
  margin-bottom: 12px;
}
