<div class="esriGEReportPlayer_sectionDynamicChartSettings">
    <div class="esriGERow15 esriGESpaceBeforeBig" data-dojo-attach-point="viewOptionsDiv">
        <div class="dijitInline esriGELink" data-dojo-attach-point="toggleViewButton"></div>
    </div>
    <div class="esriGERow15 esriGESpaceBeforeBig" data-dojo-attach-point="toggleStateOptionsDiv">
        <div class="dijitInline" data-dojo-attach-point="toggleStateOptionsToggleDiv"></div>
    </div>
    <div class="esriGERow15 esriGESpaceBeforeMedium" data-dojo-attach-point="sortingListDiv"></div>
    <div class="esriGESpaceBeforeBig" data-dojo-attach-point="tableViewDiv">
        <div class="esriGERow15">${nls.calcTotalsAndAverage}</div>
        <div class="esriGESpaceBeforeBig">
            <div class="esriGERow15">
                <label data-dojo-attach-point="showTotalsBelowLabel">&nbsp;${nls.showTotalsBelow}</label>
            </div>
            <div class="esriGERow15">
                <label data-dojo-attach-point="showAvgBelowLabel">&nbsp;${nls.showAvgBelow}</label>
            </div>
            <div class="esriGERow15">
                <label data-dojo-attach-point="showTotalsAfterLabel">&nbsp;${nls.showTotalsAfter}</label>
            </div>
            <div class="esriGERow15">
                <label data-dojo-attach-point="showAvgAfterLabel">&nbsp;${nls.showAvgAfter}</label>
            </div>
        </div>
    </div>
</div>