<div class="esriGEReportPlayer_sectionDynamicRefineFilters">
    <div class="esriGERow20" data-dojo-attach-point="refineResultsTitleBlock">
        <div data-dojo-attach-point="refineResultsTitle" class="dijitInline"></div>
        <div data-dojo-attach-point="titleInfoIcon" class="dijitInline esriGESpaceBeforeBig esriGEInfoIcon"></div>
    </div>
    <div class="esriGESpaceBeforeBig">
        <div data-dojo-attach-point="textFilterBlock" class="sectionDynamicRefineFilters_row">
            <div class="esriGERowHigh">${nls.byKeywords}</div>
            <div data-dojo-attach-point="textFilterDiv" class="esriGERowHigh"></div>
        </div>
        <div data-dojo-attach-point="filtersBlock"></div>
        <div data-dojo-attach-point="methodBlock"></div>
        <div class="esriGERowHigh" data-dojo-attach-point="customBlock"></div>
        <div class="esriGERowHigh">
            <div data-dojo-attach-point="resetButton" class="dijitInline esriGELink">${nls.resetFilters}</div>
        </div>
    </div>
</div>