<div class="esriGEReportPlayer_sectionDynamicTableSettings">
    <div class="esriGESpaceBeforeBig">
        <div class="esriGERow15">
            <div class="dijitInline sectionDynamicTableSettings_label">${nls.viewAs}</div>
            <div class="dijitInline esriGESpaceBeforeBig" data-dojo-attach-point="viewTypesSelectDiv"></div>
        </div>
        <div data-dojo-attach-point="chartViewDiv">
            <div class="esriGERow15" data-dojo-attach-point="sourceBlock">
                <div class="dijitInline sectionDynamicTableSettings_label" data-dojo-attach-point="sourceLabel"></div>
                <div class="dijitInline esriGESpaceBeforeBig" data-dojo-attach-point="sourceSelectDiv"></div>
            </div>
            <div class="esriGERow15" data-dojo-attach-point="altOrientationBlock">
                <label data-dojo-attach-point="altOrientationLabel"></label>
            </div>
        </div>
    </div>
</div>