<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'countryCode',minOccurs:0,showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'value',minOccurs:0,noIndent:${noIndent},label:'${i18nArcGIS.codelist.CountryCode}'">
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
        data-dojo-props="codelistType:'CountryCode'">
      </div>
    </div>
  </div>
</div>