<div class="gxeEditor" data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/editor/PrimaryToolbar" data-dojo-attach-point="primaryToolbar"></div>
  <div class="gxeCanvas" data-dojo-attach-point="canvasNode">
    <div data-dojo-type="esri/dijit/metadata/editor/ValidationPane" data-dojo-attach-point="validationPane" style="display:none;"></div>
    <div data-dojo-type="esri/dijit/metadata/editor/ViewDocumentPane" data-dojo-attach-point="viewDocumentPane" style="display:none;"></div>
    <div data-dojo-type="esri/dijit/metadata/editor/XmlPane" data-dojo-attach-point="xmlPane" style="display:none;"></div>
    <div data-dojo-type="esri/dijit/metadata/editor/EditDocumentPane" data-dojo-attach-point="editDocumentPane" style="display:none;"></div>
  </div>
</div>