<div class="gxeValidationPane" style="display:none;">
  <div>
    <div class="gxeClickableText" style="display:none;"
      data-dojo-attach-point="clearNode" 
      data-dojo-attach-event="onclick: _onClearClick"
      >${i18nBase.validationPane.clearMessages}</div>
    <div class="gxeValidationPrompt" style="display:none;"
      data-dojo-attach-point="promptNode" 
      >${i18nBase.validationPane.prompt}</div>
  </div>
  <div class="gxeContent" data-dojo-attach-point="containerNode"></div>
</div>