<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
  
    <!-- topic category -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/TopicCategory"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.keywords.section.topicCategory}'">
    </div>

    <!-- Search -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Search"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.searchKeys}'">
    </div>
    
    <!-- Theme -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Theme"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.themeKeys}'">
    </div>
    
    <!-- Place -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Place"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.placeKeys}'">
    </div>
    
    <!-- Temporal -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Temporal"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.tempKeys}'">
    </div>
    
    <!-- Discipline -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Discipline"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.discKeys}'">
    </div>
    
    <!-- Stratum -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Stratum"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.stratKeys}'">
    </div>
    
    <!-- Product -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Product"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.productKeys}'">
    </div>
    
    <!-- Subtopic -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Subtopic"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.subTopicCatKeys}'">
    </div>
    
    <!-- Other -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/keywords/Other"
      data-dojo-props="label:'${i18nArcGIS.keywords.section.otherKeys}'">
    </div>
  
  </div>
</div>