<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element" 
    data-dojo-props="target:'keyword',minOccurs:1,maxOccurs:'unbounded',label:'${i18nArcGIS.keywords.delimited}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputDelimitedTextArea"></div>
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'thesaName',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.keywords.thesaName}'">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/CitationElements"></div>
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'thesaLang',minOccurs:0,label:'${i18nArcGIS.keywords.thesaLang}'">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/common/LanguageCode"></div>
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/common/CountryCode"></div>
  </div>
</div>