<div data-dojo-attach-point="containerNode">

  <!-- topic category -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'tpCat',minOccurs:1,maxOccurs:'unbounded',label:'${i18nArcGIS.codelist.MD_TopicCategoryCode}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputSelectMany"
      data-dojo-props="subTarget:'TopicCatCd@value'">
      <div data-dojo-type="esri/dijit/metadata/form/Options">
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.001}',value:'001'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.002}',value:'002'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.003}',value:'003'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.004}',value:'004'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.005}',value:'005'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.006}',value:'006'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.007}',value:'007'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.008}',value:'008'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.009}',value:'009'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.010}',value:'010'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.011}',value:'011'"></div>    
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.012}',value:'012'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.013}',value:'013'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.014}',value:'014'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.015}',value:'015'"></div>                
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.016}',value:'016'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.017}',value:'017'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.018}',value:'018'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/Option" 
          data-dojo-props="label:'${i18nTopicCat.019}',value:'019'"></div>            
      </div>
    </div>      
  </div>

</div>