-------------------------------------------------------------------------------
Project Name
-------------------------------------------------------------------------------
Version X.XXX
Release date: MM/DD/YYYY
-------------------------------------------------------------------------------
Project state:
[Object1]:	experimental | alpha | beta | production
[Object2]:	experimental | alpha | beta | production
-------------------------------------------------------------------------------
[   ]	l18n support?
[   ]	a11y support?
-------------------------------------------------------------------------------
Credits
[Object1]:	Author one (author contact info)
[Object2]:	Author two (author contact info)
-------------------------------------------------------------------------------
Project description

Describe the point of the project here.
-------------------------------------------------------------------------------
Dependencies:

List any dependencies here.
-------------------------------------------------------------------------------
Documentation

Any notes about documentation--such as a link to a page in the Book of Dojo,
documentation state, etc.--should go here.
-------------------------------------------------------------------------------
Installation instructions

Use this to explain in detail what a person needs to do in order to use this
project.  Include URLs for grabbing source, URLs for any dependencies, etc.
Also be sure to include any additional information, such as where to place
CSS files, images, other media, etc.  The goal is that someone reading this
file can follow your instructions and be using this project within minutes.
-------------------------------------------------------------------------------
Additional Notes

Anything else you think is of interest (for example, object hierarchy) should
be placed here.
