<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:report',minOccurs:0,maxOccurs:'unbounded',
      label:'${i18nIso.DQ_DataQuality.report}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:DQ_DomainConsistency',minOccurs:0">
      
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
        data-dojo-props="target:'gmd:result',maxOccurs:2,
          label:'${i18nIso.DQ_ConformanceResult.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
          data-dojo-props="target:'gmd:DQ_ConformanceResult',minOccurs:0">
          
          <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
            data-dojo-props="target:'gmd:specification',showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/SpecificationCitation"></div>
          </div>
          
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'gmd:explanation',
              label:'${i18nIso.DQ_ConformanceResult.explanation}'">
            <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
              data-dojo-props="target:'gco:CharacterString'">
                <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
            </div>
          </div>
          
          <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/dataQuality/ConformanceDegree"></div>
          
        </div>
      </div>  
      
    </div>
  </div>  

</div>