<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'gmd:pass',serializeIfEmpty:true,
      label:'${i18nIso.DQ_ConformanceResult.degree.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'gco:Boolean',minOccurs:0,
        label:'${i18nIso.DQ_ConformanceResult.degree.validationPerformed}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.DQ_ConformanceResult.degree.conformant}',value:'true'"></div>            
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.DQ_ConformanceResult.degree.nonConformant}',value:'false'"></div>  
        </div>
      </div>
    </div>
  </div>  
  
</div>