<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:scope',minOccurs:0,showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:DQ_Scope',minOccurs:0">
      
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
        data-dojo-props="target:'gmd:level',
          label:'${i18nIso.DQ_Scope.level}'">
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/maintenance/MD_ScopeCode"></div>
      </div>
      
    </div>
  </div>
  
</div>