<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.base.mapper.ext.ExtDataSetTableMapper">

    <resultMap id="BaseResultMapDTO" type="io.dataease.dto.dataset.DataSetTableDTO"
               extends="io.dataease.base.mapper.DatasetTableMapper.ResultMapWithBLOBs">
        <result column="privileges" property="privileges"/>
    </resultMap>

    <resultMap id="RowPermissonsDTO" type="io.dataease.dto.dataset.DataSetRowPermissionsDTO"
               extends="io.dataease.base.mapper.DatasetRowPermissionsMapper.BaseResultMap">
    </resultMap>

    <resultMap id="roleItemMap" type="io.dataease.controller.sys.response.RoleUserItem">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="searchOne" resultMap="BaseResultMapDTO">
        select
        id, `name`, scene_id, data_source_id, `type`, `mode`,`info`, create_by, create_time,
        get_auths(id,'dataset',#{userId}) as `privileges`
        from dataset_table
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="sceneId != null">
                and scene_id = #{sceneId,jdbcType=VARCHAR}
            </if>
            <if test="mode != null">
                and mode = #{mode,jdbcType=INTEGER}
            </if>
            <if test="typeFilter != null">
                and type in
                <foreach collection="typeFilter" item="item" open="(" separator="," close=")">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
        <if test="sort != null">
            order by ${sort}
        </if>
    </select>

    <select id="search" resultMap="BaseResultMapDTO">
        select
        id, `name`, scene_id, data_source_id, `type`, `mode`,`info`, create_by, create_time,
        authInfo.privileges as `privileges`
        from (select GET_V_AUTH_MODEL_ID_P_USE (#{userId}, 'dataset') cids) t,dataset_table
        left join (
        SELECT
        auth_source,
        group_concat( DISTINCT sys_auth_detail.privilege_extend ) as `privileges`
        FROM
        (
        `sys_auth`
        LEFT JOIN `sys_auth_detail` ON ((
        `sys_auth`.`id` = `sys_auth_detail`.`auth_id`
        )))
        WHERE
        sys_auth_detail.privilege_value = 1
        AND sys_auth.auth_source_type = 'dataset'
        AND (
        (
        sys_auth.auth_target_type = 'dept'
        AND sys_auth.auth_target IN ( SELECT dept_id FROM sys_user WHERE user_id = #{userId} )
        )
        OR (
        sys_auth.auth_target_type = 'user'
        AND sys_auth.auth_target = #{userId}
        )
        OR (
        sys_auth.auth_target_type = 'role'
        AND sys_auth.auth_target IN ( SELECT role_id FROM sys_users_roles WHERE user_id = #{userId} )
        )
        )
        GROUP BY
        `sys_auth`.`auth_source`
        ) authInfo
        on dataset_table.id = authInfo.auth_source
        <where>
            FIND_IN_SET(dataset_table.id,cids)
            <if test="sceneId != null">
                and scene_id = #{sceneId,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and name like CONCAT('%', #{name},'%')
            </if>
            <if test="mode != null">
                and mode = #{mode,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="typeFilter != null">
                and type in
                <foreach collection="typeFilter" item="item" open="(" separator="," close=")">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
        ORDER BY CONVERT(`name` using gbk)
    </select>

    <select id="searchRowPermissons" resultMap="RowPermissonsDTO" parameterType="io.dataease.base.mapper.ext.query.GridExample">
        SELECT dataset_table.name as datasetName, dataset_table_field.name as fieldName, dataset_row_permissions.*
        FROM dataset_row_permissions
        left join dataset_table on dataset_table.id=dataset_row_permissions.dataset_id
        left join dataset_table_field on dataset_table_field.id=dataset_row_permissions.dataset_field_id
        <if test="_parameter != null">
            <include refid="io.dataease.base.mapper.ext.query.GridSql.gridCondition" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="orderByClause == null">
            order by dataset_row_permissions.update_time desc
        </if>
    </select>


    <select id="searchAuthUsers" resultMap="roleItemMap">
        SELECT sys_user.user_id as id, sys_user.username as name
        FROM sys_auth
        left join sys_auth_detail on sys_auth.id=sys_auth_detail.auth_id
        left join sys_user on sys_user.user_id=sys_auth.auth_target
        where sys_auth.auth_target_type='user'
            and sys_auth.auth_source_type='dataset'
            and sys_auth.auth_source=#{datasetId,jdbcType=VARCHAR}
            and sys_auth_detail.privilege_type=1
            and sys_auth_detail.privilege_value=1;
    </select>

    <select id="searchAuthRoles" resultMap="roleItemMap">
        SELECT sys_role.role_id as id, sys_role.name as name
        FROM sys_auth
        left join sys_auth_detail on sys_auth.id=sys_auth_detail.auth_id
        left join sys_role on sys_role.role_id=sys_auth.auth_target
        where sys_auth.auth_target_type='role'
            and sys_auth.auth_source_type='dataset'
            and sys_auth.auth_source=#{datasetId,jdbcType=VARCHAR}
            and sys_auth_detail.privilege_type=1
            and sys_auth_detail.privilege_value=1;
    </select>

    <select id="searchAuthDepts" resultMap="roleItemMap">
        SELECT sys_dept.dept_id as id, sys_dept.name as name
        FROM sys_auth
        left join sys_auth_detail on sys_auth.id=sys_auth_detail.auth_id
        left join sys_dept on sys_dept.dept_id=sys_auth.auth_target
        where sys_auth.auth_target_type='dept'
            and sys_auth.auth_source_type='dataset'
            and sys_auth.auth_source=#{datasetId,jdbcType=VARCHAR}
            and sys_auth_detail.privilege_type=1
            and sys_auth_detail.privilege_value=1;
    </select>


</mapper>
