<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.base.mapper.ext.ExtPanelGroupExtendDataMapper">

  <insert id ="savePanelExtendData">
    INSERT INTO `panel_group_extend_data` (id, panel_id,view_id,view_details) VALUES
    <foreach collection="records" item="item" index="index" separator=",">
      (uuid(),#{item.panelId},#{item.viewId},#{item.viewDetails})
    </foreach>
  </insert>

</mapper>
