<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.base.mapper.ext.HomeMapper">

    <select id="queryStore" resultType="io.dataease.mobile.dto.HomeItemDTO">
       select
            s.panel_group_id as id,
            g.name as title,
            s.create_time as `time`
        from( SELECT GET_V_AUTH_MODEL_ID_P_USE_MOBILE ( #{userId}, 'panel' ) cids ) t, panel_store s
        inner join panel_group g
            on s.panel_group_id = g.id
        where s.user_id = #{userId}
                and FIND_IN_SET( g.id, cids  )
        <if test="lastTime != null">
            and #{lastTime} > s.create_time
        </if>
        order by s.create_time desc
    </select>

    <select id="queryShare" resultType="io.dataease.mobile.dto.HomeItemShareDTO">
        select
            distinct(s.panel_group_id) as id,
            g.name as title,
            s.create_time as `time`,
            u.nick_name,
            u.user_id
        from panel_share s
        inner join panel_group g
            on s.panel_group_id = g.id
        left join sys_user u on u.username = IFNULL(s.granter,g.create_by)
        where
            g.mobile_layout = 1 and (
                ( s.target_id = #{userId} and s.type = 0 ) or
                ( s.target_id = #{deptId} and s.type = 2 ) or
                ( s.target_id in
                <foreach collection="roleIds" item="roleId" open='(' separator=',' close=')'>
                    #{roleId}
                </foreach>
                and s.type = 1 )
            )
        <if test="lastTime != null">
            and #{lastTime} > s.create_time
        </if>
        order by s.create_time desc
    </select>




</mapper>
