<div data-dojo-attach-point="containerNode">
    
  <!-- hierarchy level -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'mdHrLv',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.metadata.mdHrLv}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'ScopeCd',minOccurs:1,showHeader:false">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute"
        data-dojo-props="target:'value',minOccurs:1,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputHierarchyLevel"
          data-dojo-props="codelistType:'MD_ScopeCode'">
        </div>
      </div>
    </div>
  </div>
  
  <!-- hierarchy level name -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'mdHrLvName',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.metadata.mdHrLvName}'">
  </div>
  
  <!-- metadata date -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'mdDateSt',minOccurs:1,label:'${i18nArcGIS.metadata.mdDateSt}'">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:false,useNow:true"></div>
  </div>
  
  <!-- file identifier -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'mdFileID',minOccurs:0,label:'${i18nArcGIS.metadata.mdFileID}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputText"
      data-dojo-props="useUniqueId:true,regenerateIfTemplate:true">
    </div>
  </div>
  
  <!-- parent identifier -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'mdParentID',minOccurs:0,label:'${i18nArcGIS.metadata.mdParentID}'">
  </div>
  
  <!-- dataset URI -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'dataSetURI',minOccurs:0,label:'${i18nArcGIS.metadata.datasetURI}'">
  </div>
  
  <!-- dataset function -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'dataSetFn',minOccurs:0,label:'${i18nArcGIS.metadata.dataSetFn}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'OnFunctCd',minOccurs:0,showHeader:false">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute"
        data-dojo-props="target:'value',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
          data-dojo-props="codelistType:'CI_OnLineFunctionCode'">
        </div>              
      </div>
    </div>
  </div>
      
</div>