<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'xml:lang',minOccurs:0,value:'en'"></div>

  <!-- Binary -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Binary',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Thumbnail',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Data',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'EsriPropertyType',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'OriginalFileName',minOccurs:0"></div>
      </div>
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Enclosure',minOccurs:0,maxOccurs:'unbounded'">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'rel',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'Descript',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Data',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'EsriPropertyType',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'OriginalFileName',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'SourceMetadata',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'SourceMetadataDigest',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'SourceMetadataSchema',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'SourceMetadataDocId',minOccurs:0"></div>                        
      </div>
    </div>    
  </div>  
  
  <!-- mdExtInfo -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'mdExtInfo',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'extOnRes',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/OnlineResourceElements"></div>
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleInfo',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleName',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extShortName',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extDomCode',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleDef',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleOb',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ObCd',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'value',minOccurs:0"></div>
        </div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleCond',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'eleDataType',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'DatatypeCd',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'value',minOccurs:0"></div>
        </div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleMxOc',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleDomVal',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleParEnt',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleRule',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'extEleRat',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'extEleSrc',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/ContactElements"></div>
      </div>
    </div>
  </div>
  
  <!-- Geoprocessing toolbox -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'toolbox',minOccurs:0,maxOccurs:'unbounded'">
    <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'name',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'alias',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'summary',minOccurs:0"> </div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'toolsets',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'toolset',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'name',minOccurs:0"></div>
      </div>
    </div>
  </div>  
  
  <!-- Spatial Domain -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'spdoinfo',minOccurs:0">
    <!-- Feature class description -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ptvctinf',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'esriterm',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'Name',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'efeatyp',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'efeageom',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'code',minOccurs:0"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'esritopo',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'efeacnt',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'spindex',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'linrefer',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'featdesc',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'netwrole',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'XYRank',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ZRank',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoWeight',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'validateEvents',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'partTopoRules',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoRuleID',minOccurs:0,maxOccurs:'unbounded'"></div>
        </div>
      </div>
    </div>
    <!-- Geometric network description -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'netinfo',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'nettype',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'connrule',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulecat',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulehelp',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruletype',minOccurs:0"></div>
        <!-- edge connectivity rules -->
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruledjid',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruledjst',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulefeid',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulefest',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruleteid',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruletest',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulejunc',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'junctid',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'junctst',minOccurs:0"></div>
        </div>
        <!-- junction connectivity rules -->
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruleeid',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruleest',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruleemnc',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ruleemxc',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulejid',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulejst',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulejmnc',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulejmxc',minOccurs:0"></div>
      </div>
    </div>
  </div>
  
  <!-- Geoprocessing tool description -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'tool',minOccurs:0,maxOccurs:'unbounded'">
    <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'name',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'displayname',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'toolboxalias',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'summary',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'usage',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'toolIllust',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'type',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'src',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'alt',minOccurs:0"></div>
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'parameters',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'param',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'name',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'displayname',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'type',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'direction',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'datatype',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'expression',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'pythonReference',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'dialogReference',minOccurs:0"></div>
      </div>
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'environments',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'environment',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'name',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'label',minOccurs:0"></div>
      </div>
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'scriptExamples',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'scriptExample',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'title',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'para',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'code',minOccurs:0"></div>
      </div>
    </div>
  </div>
  
</div>