<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Section" data-dojo-props="showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">

      <!-- Esri -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.metadata.section.profile}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/esri/Esri"></div>
      </div>
        
      <!-- details -->
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/metadata/Details"
        data-dojo-props="label:'${i18nArcGIS.metadata.section.details}'">
      </div>
      
      <!-- metadata language -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.codelist.LanguageCode}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/metadata/MetadataLanguage"></div>
      </div>

      <!-- metadata contact -->
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/metadata/MetadataContact"
        data-dojo-props="label:'${i18nArcGIS.contact.caption}'">
      </div>

      <!-- metadata maintenance -->      
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.maintenance.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'mdMaint',minOccurs:0,label:'${i18nArcGIS.metadata.mdMaint}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/maintenance/MaintenanceElements"></div>
        </div>
      </div>  

      <!-- metadata constraints -->      
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/metadata/MetadataConstraints"
        data-dojo-props="label:'${i18nArcGIS.constraints.caption}'">
      </div>
      
      <!-- hidden -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,notApplicable:true,label:'?Hidden'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/metadata/Hidden"></div>
      </div>  
              
    </div>
  </div>
</div>