<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
  
    <!-- description -->
    <div data-dojo-type="esri/dijit/metadata/form/Section" 
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.eainfo.detailed.attr.section.description}'">
  
      <!-- Label -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'attrlabl',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrlabl}'">
      </div>
      
      <!-- Alias -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'attalias',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attalias}'">
      </div>
      
      <!-- Definition -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'attrdef',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdef}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
      </div>
      
      <!-- Definition Source -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'attrdefs',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdefs}'">
      </div>
      
      <!-- Type -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'attrtype',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrtype}'">
      </div>
      
      <!-- Width -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'attwidth',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attwidth}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber" data-dojo-props="integerOnly:true"></div>
      </div>
      
      <!-- Precision -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'atprecis',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.atprecis}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber" data-dojo-props="integerOnly:true"></div>
      </div>
      
      <!-- Scale -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'attscale',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attscale}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber" data-dojo-props="integerOnly:true"></div>
      </div>
      
      <!-- Indexed -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'atindex',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.atindex}'">
      </div>
    </div>
    
    <!-- value -->
    <div data-dojo-type="esri/dijit/metadata/form/Section" 
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.eainfo.detailed.attr.section.value}'">
      
      <!-- explanation and accuracy -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'attrvai',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'attrva',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attrvai.attrva}'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'attrvae',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attrvai.attrvae}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
        </div>
      </div>
      
      <!-- Value Measurement Frequency -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'attrmfrq',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attrmfrq}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
          data-dojo-props="codelistType:'MD_MaintenanceFrequenceCode'">
        </div>
      </div>
      
      <!-- Beginning Date of Values -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'begdatea',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.begdatea}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:false"></div>
      </div>
      
      <!-- Ending Date of Values -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'enddatea',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.enddatea}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:false"></div>
      </div>

      <!-- Coverage field output width; for ArcInfo Workstation -->
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'atoutwid'"></div>  
      
      <!-- Coverage field number of decimals -->
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'atnumdec'"></div>      
      
    </div>
    
    <!-- domain -->
    <div data-dojo-type="esri/dijit/metadata/form/Section" 
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.eainfo.detailed.attr.section.domain}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'attrdomv',minOccurs:1,maxOccurs:'unbounded',label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/ElementChoice">

          <!-- Unrepresentable Domain -->
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'udom',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.udom.caption}'">
            <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
          </div>
                    
          <!-- Enumerated Domain -->
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'edom',minOccurs:1,showHeader:false,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.edom.caption}'">
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'edomv',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.edom.edomv}'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'edomvd',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.edom.edomvd}'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'edomvds',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.edom.edomvds}'">
            </div>
          </div>
          
          <!-- Range Domain -->
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'rdom',minOccurs:1,showHeader:false,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.rdom.caption}'">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/MinNumberElement"
              data-dojo-props="target:'rdommin',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.rdom.rdommin}'">
              <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'rdommax',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.rdom.rdommax}'">
              <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputMaxNumber"></div>
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
              data-dojo-props="target:'rdommean',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.rdom.rdommean}'">
              <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
              data-dojo-props="target:'rdomstdv',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.rdom.rdomstdv}'">
              <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
              data-dojo-props="target:'attrunit',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.rdom.attrunit}'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
              data-dojo-props="target:'attrmres',minOccurs:0,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.rdom.attrmres}'">
              <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
            </div>
          </div>
          
          <!-- Codeset Domain -->
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'codesetd',minOccurs:1,showHeader:false,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.codesetd.caption}'">
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'codesetn',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.codesetd.codesetn}'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'codesets',minOccurs:1,label:'${i18nArcGIS.eainfo.detailed.attr.attrdomv.codesetd.codesets}'">
            </div>
          </div>
          
        </div>    
      </div>
    </div>
      
  </div>
</div>