<div data-dojo-attach-point="containerNode">

  <!-- Geodatabase subtypes used by the resource -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'subtype',minOccurs:0,maxOccurs:'unbounded'">
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stname',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stcode',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stfield',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stfldnm',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stflddv',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stflddd',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'domname',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'domdesc',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'domtype',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'mrgtype',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'splttype',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'domowner',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'domfldtp',minOccurs:0"></div>
      </div>
    </div>
  </div>
  
  <!-- Relationship class description -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relinfo',minOccurs:0,maxOccurs:'unbounded'">
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'otfcname',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'dtfcname',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'otfcpkey',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'dtfcpkey',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'otfcfkey',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'dtfcfkey',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relflab',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relblab',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relcard',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relnodir',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relattr',minOccurs:0"></div>
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relcomp',minOccurs:0"></div>
  </div>
  
</div>