<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:temporalElement',minOccurs:1,maxOccurs:'unbounded',
      label:'${i18nIso.EX_Extent.temporalElement}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:EX_TemporalExtent',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
        data-dojo-props="target:'gmd:extent',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'gml:TimePeriod',minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/form/Attribute"
            data-dojo-props="target:'gml:id',hide:true">
            <div data-dojo-type="esri/dijit/metadata/form/InputText"
              data-dojo-props="useUniqueId:true"></div>
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'gml:beginPosition',
              label:'${i18nIso.EX_TemporalExtent.TimePeriod.beginPosition}'">
            <div data-dojo-type="esri/dijit/metadata/form/InputDate"
              data-dojo-props="useNow:true,allowTime:true"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="margin-top: 5px;"
              data-dojo-props="target:'indeterminatePosition',
               label:'${i18nIso.TM_Primitive.indeterminatePosition}'">
              <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'',value:''"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.before}',value:'before'"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.after}',value:'after'"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.now}',value:'now'"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.unknown}',value:'unknown'"></div>
                </div>
              </div>
            </div>
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'gml:endPosition',
              label:'${i18nIso.EX_TemporalExtent.TimePeriod.endPosition}'">
            <div data-dojo-type="esri/dijit/metadata/form/InputDate"
              data-dojo-props="useNow:true,allowTime:true"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Attribute" style="margin-top: 5px;"
              data-dojo-props="target:'indeterminatePosition',
               label:'${i18nIso.TM_Primitive.indeterminatePosition}'">
              <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'',value:''"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.before}',value:'before'"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.after}',value:'after'"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.now}',value:'now'"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.TM_Primitive.indeterminates.unknown}',value:'unknown'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>