@import "../css3.less";
/* === Red Cross Button ==*/
.mblDomButtonRedCross {
	position: relative;
	width: 29px;
	height: 29px;
}
.mblDomButtonRedCross > div {
	position: absolute;
	top: 12px;
	left: 7px;
	width: 14px;
	height: 2px;
	margin: 0px;
	font-size: 1px;
	border: 1px solid #ad3213;
	background-color: #e54d1f;
	.transform(rotate(45deg));
	-moz-transform: rotate(45deg);
	border-radius: 2px;
}
.mblDomButtonRedCross > div > div {
	position: absolute;
	top: -7px;
	left: 5px;
	width: 2px;
	height: 14px;
	margin: 0px;
	font-size: 1px;
	border: 1px solid #ad3213;
	background-color: #e54d1f;
	border-radius: 2px;
}
