@import "../css3.less";
/* === Red Badge ==*/
.mblDomButtonRedBadge {
	position: relative;
	width: 29px;
	height: 29px;
	text-align: right;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
}
.mblDomButtonRedBadge > div {
	position: absolute;
	display: inline;
	padding: 0px 5px;
	top: 2px;
	right: 2px;
	color: white;
	border: 2px solid white;
	border-radius: 12px;
	text-align: center;
	.background-linear-gradient-top-bottom-2-stops(#f5bdc0, #ae0001, 0.5, #e44149, 0.5, #de151f);
	background-clip: padding-box;
	.box-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}
.mblDomButtonRedBadge > div > div {
	display: none;
}
