@import "../css3.less";
/* === Down Arrow Button ==*/
.mblDomButtonWhiteDownArrow {
	position: relative;
	width: 29px;
	height: 29px;
}
.mblDomButtonWhiteDownArrow div {
	position: absolute;
	left: 0px;
	clip: rect(7px 50px 40px 0px);
}
.mblDomButtonWhiteDownArrow > div > div {
	top: -10px;
	left: 2px;
	width: 25px;
	height: 25px;
	margin: 0px;
	font-size: 1px;
	background-color: white;
	border-top: 1px solid #4a5a71;
	.transform(scaleX(0.6) rotate(45deg));
}
