@import "../css3.less";
/* === Minus and Plus Buttons ==*/
.mblDomButtonBlueMinus, .mblDomButtonBluePlus, .mblDomButtonDarkBlueMinus, .mblDomButtonDarkBluePlus, .mblDomButtonRedMinus, .mblDomButtonRedPlus {
	position: relative;
	width: 29px;
	height: 29px;
}

.mblDomButtonBlueMinus > div, .mblDomButtonBluePlus > div, .mblDomButtonDarkBlueMinus > div, .mblDomButtonDarkBluePlus > div, .mblDomButtonRedMinus > div, .mblDomButtonRedPlus > div {
	position: relative;
	top: 4px;
	left: 3px;
	width: 22px;
	height: 18px;
	border-width: 1px 1px 1px 0px;
	border-style: outset;
	color: white;
	border-radius: 3px;
}
.mblDomButtonBlueMinus > div, .mblDomButtonBluePlus > div {
	border-color: #6d89c7;
	background-color: #366edf;
	.background-linear-gradient-top-bottom-2-stops(#7a9de9, #2362dd, 0.5, #366edf, 0.5, #215fdc);
}
.mblDomButtonDarkBlueMinus > div, .mblDomButtonDarkBluePlus > div {
	border-color: #6d89c7;
	background-color: #5877a2;
	.background-linear-gradient-top-bottom-2-stops(#8ea4c1, #4a6c9b, 0.5, #5877a2, 0.5, #476999);
}
.mblDomButtonRedMinus > div, .mblDomButtonRedPlus > div {
	border-color: #cc1122;
	background-color: #c9404b;
	.background-linear-gradient-top-bottom-2-stops(#d3656d, #bc1320, 0.5, #c9404b, 0.5, #bc1421);
}
.mblDomButtonBlueMinus > div > div, .mblDomButtonBluePlus > div > div, .mblDomButtonDarkBlueMinus > div > div, .mblDomButtonDarkBluePlus > div > div, .mblDomButtonRedMinus > div > div, .mblDomButtonRedPlus > div > div {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 8px;
	height: 2px;
	margin: 0px;
	font-size: 1px;
	border-style: none;
	background: white;
	border-top: 1px solid #4a5a71;
}
.mblDomButtonBluePlus > div > div > div, .mblDomButtonDarkBluePlus > div > div > div, .mblDomButtonRedPlus > div > div > div {
	position: absolute;
	top: -3px;
	left: 3px;
	width: 2px;
	height: 8px;
	margin: 0px;
	font-size: 1px;
	background-color: white;
}
