@import "../css3.less";
/* === Blue Circle Minus Buttons ==*/
.mblDomButtonBlueCircleMinus {
	position: relative;
	width: 29px;
	height: 29px;
}

.mblDomButtonBlueCircleMinus > div {
	position: relative;
	top: 2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border: 1px solid #b5b6b5;
	border-radius: 12px;
	.box-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}
.mblDomButtonBlueCircleMinus > div > div {
	position: relative;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	.background-linear-gradient-top-bottom-2-stops(#6ba2e7, #216dd6, 0.5, #4282de, 0.5, #216dd6);
}
.mblDomButtonBlueCircleMinus > div > div > div {
	position: absolute;
	top: 8px;
	left: 3px;
	width: 12px;
	height: 3px;
	margin: 0px;
	font-size: 1px;
	border-style: none;
	background: white;
}
