@import "../css3.less";
/* === Green Circle Minus Buttons ==*/
.mblDomButtonGreenCircleMinus {
	position: relative;
	width: 29px;
	height: 29px;
}

.mblDomButtonGreenCircleMinus > div {
	position: relative;
	top: 2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border: 1px solid #b5b6b5;
	border-radius: 12px;
	.box-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}
.mblDomButtonGreenCircleMinus > div > div {
	position: relative;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	.background-linear-gradient-top-bottom-2-stops(#7be75a, #398c08, 0.5, #6bc642, 0.5, #4aad21);
}
.mblDomButtonGreenCircleMinus > div > div > div {
	position: absolute;
	top: 8px;
	left: 3px;
	width: 12px;
	height: 3px;
	margin: 0px;
	font-size: 1px;
	border-style: none;
	background: white;
}
