@import "../css3.less";
/* === Orange Ball Button ==*/
.mblDomButtonOrangeBall {
	position: relative;
	width: 19px;
	height: 29px;
}
.mblDomButtonOrangeBall > div {
	position: relative;
	top: 8px;
	left: 4px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	.background-linear-gradient-top-bottom(#f9e20a, #ff6b0a);
}
