@import "../css3.less";
/* === Green Circle Arrow Buttons ==*/
.mblDomButtonGreenCircleArrow {
	position: relative;
	width: 29px;
	height: 29px;
}

.mblDomButtonGreenCircleArrow > div {
	position: relative;
	top: 2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border: 1px solid #b5b6b5;
	border-radius: 12px;
	.box-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}
.mblDomButtonGreenCircleArrow > div > div {
	position: relative;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	.background-linear-gradient-top-bottom-2-stops(#7be75a, #398c08, 0.5, #6bc642, 0.5, #4aad21);
}
.mblDomButtonGreenCircleArrow > div > div > div {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 8px;
	height: 3px;
	margin: 0px;
	font-size: 1px;
	border-style: none;
	background: white;
	.transform(rotate(45deg));
}
.mblDomButtonGreenCircleArrow > div > div > div > div {
	position: absolute;
	top: 1px;
	left: 6px;
	width: 3px;
	height: 8px;
	margin: 0px;
	font-size: 1px;
	background-color: white;
}
