@import "../css3.less";
/* === Up Arrow Button ==*/
.mblDomButtonWhiteUpArrow {
	position: relative;
	width: 29px;
	height: 29px;
}
.mblDomButtonWhiteUpArrow div {
	position: absolute;
	left: 0px;
	clip: rect(0px 30px 20px 0px);
}
.mblDomButtonWhiteUpArrow > div > div {
	top: 9px;
	left: 4px;
	width: 20px;
	height: 20px;
	margin: 0px;
	font-size: 1px;
	background-color: white;
	border-top: 1px solid #4a5a71;
	.transform(scaleX(0.6) rotate(45deg));
}
