<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'srv:serviceType',
      label:'${i18nIso.SV_ServiceIdentification.serviceType}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
      data-dojo-props="target:'gco:LocalName'">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.inspireServiceType.discovery}',value:'discovery'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.inspireServiceType.view}',value:'view'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.inspireServiceType.download}',value:'download'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.inspireServiceType.transformation}',value:'transformation'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.inspireServiceType.invoke}',value:'invoke'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.inspireServiceType.other}',value:'other'"></div>                          
        </div>
      </div>      
    </div>
  </div>  
      
</div>