<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      
    <div data-dojo-type="esri/dijit/metadata/types/inspire/srv/ServiceCategoryKeywords"
      data-dojo-props="label:'${i18nInspire.keywordSections.serviceCategory}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/inspire/gmd/identification/GemetConceptKeywords"
      data-dojo-props="label:'${i18nInspire.keywordSections.gemetConcept}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/inspire/gmd/identification/OtherKeywords"
      data-dojo-props="label:'${i18nInspire.keywordSections.otherKeywords}'"></div>
                      
  </div>
  
</div>