<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      
    <div data-dojo-type="esri/dijit/metadata/types/inspire/srv/ServiceType"
      data-dojo-props="label:'${i18nIso.identificationSection.serviceResourceTab.serviceType}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/iso/srv/ServiceExtent"
      data-dojo-props="label:'${i18nIso.identificationSection.serviceResourceTab.extent}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/srv/CouplingType"
      data-dojo-props="label:'${i18nIso.identificationSection.serviceResourceTab.couplingType}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/iso/srv/ContainsOperations"
      data-dojo-props="label:'${i18nIso.identificationSection.serviceResourceTab.operation}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/iso/srv/OperatesOn"
      data-dojo-props="label:'${i18nIso.identificationSection.serviceResourceTab.operatesOn}'"></div>
                                  
  </div>
  
</div>