<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmd:MD_MaintenanceFrequencyCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}MD_MaintenanceFrequencyCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
            
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.continual}',value:'continual'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.daily}',value:'daily'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.weekly}',value:'weekly'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.fortnightly}',value:'fortnightly'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.monthly}',value:'monthly'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.quarterly}',value:'quarterly'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.biannually}',value:'biannually'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.annually}',value:'annually'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.asNeeded}',value:'asNeeded'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.irregular}',value:'irregular'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.notPlanned}',value:'notPlanned'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_MaintenanceFrequencyCode.unknown}',value:'unknown'"></div>                          
                                                                                    
        </div>
      </div>
    </div>
    
  </div>
</div>