<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'browse',minOccurs:0,maxOccurs:'unbounded',
      label:'${i18nFgdc.idinfo.browse.caption}'">
              
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'browsen',label:'${i18nFgdc.idinfo.browse.browsen}'">
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'browsed',label:'${i18nFgdc.idinfo.browse.browsed}'">
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'browset',label:'${i18nFgdc.idinfo.browse.browset}'">
    </div>
          
  </div>
    
</div>