<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'descript',label:'${i18nFgdc.idinfo.descript.caption}'">
              
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'abstract',
        label:'${i18nFgdc.idinfo.descript.sAbstract}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputTextArea" data-dojo-props="large:true"></div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'purpose',
        label:'${i18nFgdc.idinfo.descript.purpose}'">
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'supplinf',minOccurs:0,
        label:'${i18nFgdc.idinfo.descript.supplinf}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
    </div>
          
  </div>
    
</div>