<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'keywords',label:'${i18nFgdc.idinfo.keywords.caption}'">

    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
      <!-- theme -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'theme',minOccurs:1,maxOccurs:'unbounded',
          label:'${i18nFgdc.idinfo.keywords.theme}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'themekt',value:'None',
            label:'${i18nFgdc.idinfo.keywords.thesaursus}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText">
            <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
              data-dojo-props="value:'None',label:'${i18nFgdc.alternates.none}'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/fgdc/IsoTopicTool"
              data-dojo-props="label:'${i18nFgdc.idinfo.keywords.themektIsoTopicCategory}'"></div>    
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'themekey',maxOccurs:'unbounded',
            label:'${i18nFgdc.idinfo.keywords.delimited}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputDelimitedTextArea"></div>
        </div>
      </div>

      <!-- place -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'place',minOccurs:0,maxOccurs:'unbounded',
          label:'${i18nFgdc.idinfo.keywords.place}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'placekt',value:'None',
            label:'${i18nFgdc.idinfo.keywords.thesaursus}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText">
            <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
              data-dojo-props="value:'None',label:'${i18nFgdc.alternates.none}'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
              data-dojo-props="value:'Geographic Names Information System',
                label:'${i18nFgdc.idinfo.keywords.placektGnis}'"></div>          
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'placekey',maxOccurs:'unbounded',
            label:'${i18nFgdc.idinfo.keywords.delimited}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputDelimitedTextArea"></div>
        </div>
      </div>

      <!-- stratum -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'stratum',minOccurs:0,maxOccurs:'unbounded',
          label:'${i18nFgdc.idinfo.keywords.stratum}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'stratkt',value:'None',
            label:'${i18nFgdc.idinfo.keywords.thesaursus}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText">
            <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
              data-dojo-props="value:'None',label:'${i18nFgdc.alternates.none}'"></div>
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'stratkey',maxOccurs:'unbounded',
            label:'${i18nFgdc.idinfo.keywords.delimited}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputDelimitedTextArea"></div>
        </div>
      </div>

      <!-- temporal -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'temporal',minOccurs:0,maxOccurs:'unbounded',
          label:'${i18nFgdc.idinfo.keywords.temporal}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'tempkt',value:'None',
            label:'${i18nFgdc.idinfo.keywords.thesaursus}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText">
            <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
              data-dojo-props="value:'None',label:'${i18nFgdc.alternates.none}'"></div>
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'tempkey',maxOccurs:'unbounded',
            label:'${i18nFgdc.idinfo.keywords.delimited}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputDelimitedTextArea"></div>
        </div>
      </div>

    </div>

  </div>

</div>