<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'secinfo',minOccurs:0,
      label:'${i18nFgdc.idinfo.secinfo.caption}'">
              
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'secsys',label:'${i18nFgdc.idinfo.secinfo.secsys}'">
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'secclass',label:'${i18nFgdc.idinfo.secinfo.secclass.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.topSecret}',value:'Top secret'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.secret}',value:'Secret'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.confidential}',value:'Confidential'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.restricted}',value:'Restricted'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.unclassified}',value:'Unclassified'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.sensitive}',value:'Sensitive'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
        </div>            
      </div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'sechandl',label:'${i18nFgdc.idinfo.secinfo.sechandl}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
    </div>
          
  </div>
    
</div>