<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'status',label:'${i18nFgdc.idinfo.status.caption}'">

    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'progress',
        label:'${i18nFgdc.idinfo.status.progress.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.progress.complete}',value:'Complete'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.progress.inWork}',value:'In work'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.progress.planned}',value:'Planned'"></div>
        </div>            
      </div>
    </div>  
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'update',
        label:'${i18nFgdc.idinfo.status.update.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.continual}',value:'Continually'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.daily}',value:'Daily'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.weekly}',value:'Weekly'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.monthly}',value:'Monthly'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.annually}',value:'Annually'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.unknown}',value:'Unknown'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.asNeeded}',value:'As needed'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.irregular}',value:'Irregular'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.status.update.nonePlanned}',value:'None planned'"></div>                  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
        </div>            
      </div>
    </div>              
          
  </div>
    
</div>