<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'timeperd',label:'${i18nFgdc.idinfo.timeperd.caption}'">  
    
    <div data-dojo-type="esri/dijit/metadata/types/fgdc/timeinfo/timeinfo"></div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'current',
        label:'${i18nFgdc.idinfo.timeperd.current.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.timeperd.current.groundCondition}',value:'ground condition'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.idinfo.timeperd.current.publicationDate}',value:'publication date'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
        </div>            
      </div>
    </div>  
          
  </div>
    
</div>