<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    <!-- specific for Gemini -->
    <div data-dojo-type="esri/dijit/metadata/types/gemini/gmd/identification/DataRepresentation"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.representation}'"></div>
    <!-- specific for Gemini -->
    <div data-dojo-type="esri/dijit/metadata/types/gemini/gmd/identification/ResourceLanguage"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.language}'"></div>
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceClassification"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.classification}'"></div>
    <!-- specific for Gemini -->
    <div data-dojo-type="esri/dijit/metadata/types/gemini/gmd/identification/ResourceExtent"
      data-dojo-props="label:'${i18nIso.identificationSection.resourceTab.extent}'"></div>
    <!-- extra for Gemini -->
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'gmd:supplementalInformation',minOccurs:0,
        label:'${i18nIso.MD_DataIdentification.supplementalInformation}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
        data-dojo-props="target:'gco:CharacterString'">
        <div data-dojo-type="esri/dijit/metadata/form/InputTextArea" data-dojo-props="large:true"></div>
      </div>
    </div>
  </div>
</div>