<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.base.mapper.ChartViewCacheMapper">
  <resultMap id="BaseResultMap" type="io.dataease.base.domain.ChartViewCache">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="scene_id" jdbcType="VARCHAR" property="sceneId" />
    <result column="table_id" jdbcType="VARCHAR" property="tableId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="render" jdbcType="VARCHAR" property="render" />
    <result column="result_count" jdbcType="INTEGER" property="resultCount" />
    <result column="result_mode" jdbcType="VARCHAR" property="resultMode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="style_priority" jdbcType="VARCHAR" property="stylePriority" />
    <result column="chart_type" jdbcType="VARCHAR" property="chartType" />
    <result column="is_plugin" jdbcType="BIT" property="isPlugin" />
    <result column="data_from" jdbcType="VARCHAR" property="dataFrom" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.dataease.base.domain.ChartViewCacheWithBLOBs">
    <result column="x_axis" jdbcType="LONGVARCHAR" property="xAxis" />
    <result column="x_axis_ext" jdbcType="LONGVARCHAR" property="xAxisExt" />
    <result column="y_axis" jdbcType="LONGVARCHAR" property="yAxis" />
    <result column="y_axis_ext" jdbcType="LONGVARCHAR" property="yAxisExt" />
    <result column="ext_stack" jdbcType="LONGVARCHAR" property="extStack" />
    <result column="ext_bubble" jdbcType="LONGVARCHAR" property="extBubble" />
    <result column="custom_attr" jdbcType="LONGVARCHAR" property="customAttr" />
    <result column="custom_style" jdbcType="LONGVARCHAR" property="customStyle" />
    <result column="custom_filter" jdbcType="LONGVARCHAR" property="customFilter" />
    <result column="drill_fields" jdbcType="LONGVARCHAR" property="drillFields" />
    <result column="senior" jdbcType="LONGVARCHAR" property="senior" />
    <result column="snapshot" jdbcType="LONGVARCHAR" property="snapshot" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `name`, title, scene_id, table_id, `type`, render, result_count, result_mode, 
    create_by, create_time, update_time, style_priority, chart_type, is_plugin, data_from
  </sql>
  <sql id="Blob_Column_List">
    x_axis, x_axis_ext, y_axis, y_axis_ext, ext_stack, ext_bubble, custom_attr, custom_style, 
    custom_filter, drill_fields, senior, snapshot
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.dataease.base.domain.ChartViewCacheExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chart_view_cache
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.dataease.base.domain.ChartViewCacheExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chart_view_cache
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from chart_view_cache
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from chart_view_cache
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.base.domain.ChartViewCacheExample">
    delete from chart_view_cache
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.base.domain.ChartViewCacheWithBLOBs">
    insert into chart_view_cache (id, `name`, title, 
      scene_id, table_id, `type`, 
      render, result_count, result_mode, 
      create_by, create_time, update_time, 
      style_priority, chart_type, is_plugin, 
      data_from, x_axis, x_axis_ext, 
      y_axis, y_axis_ext, ext_stack, 
      ext_bubble, custom_attr, custom_style, 
      custom_filter, drill_fields, senior, 
      snapshot)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{sceneId,jdbcType=VARCHAR}, #{tableId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{render,jdbcType=VARCHAR}, #{resultCount,jdbcType=INTEGER}, #{resultMode,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{stylePriority,jdbcType=VARCHAR}, #{chartType,jdbcType=VARCHAR}, #{isPlugin,jdbcType=BIT}, 
      #{dataFrom,jdbcType=VARCHAR}, #{xAxis,jdbcType=LONGVARCHAR}, #{xAxisExt,jdbcType=LONGVARCHAR}, 
      #{yAxis,jdbcType=LONGVARCHAR}, #{yAxisExt,jdbcType=LONGVARCHAR}, #{extStack,jdbcType=LONGVARCHAR}, 
      #{extBubble,jdbcType=LONGVARCHAR}, #{customAttr,jdbcType=LONGVARCHAR}, #{customStyle,jdbcType=LONGVARCHAR}, 
      #{customFilter,jdbcType=LONGVARCHAR}, #{drillFields,jdbcType=LONGVARCHAR}, #{senior,jdbcType=LONGVARCHAR}, 
      #{snapshot,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.base.domain.ChartViewCacheWithBLOBs">
    insert into chart_view_cache
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="tableId != null">
        table_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="render != null">
        render,
      </if>
      <if test="resultCount != null">
        result_count,
      </if>
      <if test="resultMode != null">
        result_mode,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="stylePriority != null">
        style_priority,
      </if>
      <if test="chartType != null">
        chart_type,
      </if>
      <if test="isPlugin != null">
        is_plugin,
      </if>
      <if test="dataFrom != null">
        data_from,
      </if>
      <if test="xAxis != null">
        x_axis,
      </if>
      <if test="xAxisExt != null">
        x_axis_ext,
      </if>
      <if test="yAxis != null">
        y_axis,
      </if>
      <if test="yAxisExt != null">
        y_axis_ext,
      </if>
      <if test="extStack != null">
        ext_stack,
      </if>
      <if test="extBubble != null">
        ext_bubble,
      </if>
      <if test="customAttr != null">
        custom_attr,
      </if>
      <if test="customStyle != null">
        custom_style,
      </if>
      <if test="customFilter != null">
        custom_filter,
      </if>
      <if test="drillFields != null">
        drill_fields,
      </if>
      <if test="senior != null">
        senior,
      </if>
      <if test="snapshot != null">
        snapshot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="render != null">
        #{render,jdbcType=VARCHAR},
      </if>
      <if test="resultCount != null">
        #{resultCount,jdbcType=INTEGER},
      </if>
      <if test="resultMode != null">
        #{resultMode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="stylePriority != null">
        #{stylePriority,jdbcType=VARCHAR},
      </if>
      <if test="chartType != null">
        #{chartType,jdbcType=VARCHAR},
      </if>
      <if test="isPlugin != null">
        #{isPlugin,jdbcType=BIT},
      </if>
      <if test="dataFrom != null">
        #{dataFrom,jdbcType=VARCHAR},
      </if>
      <if test="xAxis != null">
        #{xAxis,jdbcType=LONGVARCHAR},
      </if>
      <if test="xAxisExt != null">
        #{xAxisExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="yAxis != null">
        #{yAxis,jdbcType=LONGVARCHAR},
      </if>
      <if test="yAxisExt != null">
        #{yAxisExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="extStack != null">
        #{extStack,jdbcType=LONGVARCHAR},
      </if>
      <if test="extBubble != null">
        #{extBubble,jdbcType=LONGVARCHAR},
      </if>
      <if test="customAttr != null">
        #{customAttr,jdbcType=LONGVARCHAR},
      </if>
      <if test="customStyle != null">
        #{customStyle,jdbcType=LONGVARCHAR},
      </if>
      <if test="customFilter != null">
        #{customFilter,jdbcType=LONGVARCHAR},
      </if>
      <if test="drillFields != null">
        #{drillFields,jdbcType=LONGVARCHAR},
      </if>
      <if test="senior != null">
        #{senior,jdbcType=LONGVARCHAR},
      </if>
      <if test="snapshot != null">
        #{snapshot,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.base.domain.ChartViewCacheExample" resultType="java.lang.Long">
    select count(*) from chart_view_cache
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chart_view_cache
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.sceneId != null">
        scene_id = #{record.sceneId,jdbcType=VARCHAR},
      </if>
      <if test="record.tableId != null">
        table_id = #{record.tableId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.render != null">
        render = #{record.render,jdbcType=VARCHAR},
      </if>
      <if test="record.resultCount != null">
        result_count = #{record.resultCount,jdbcType=INTEGER},
      </if>
      <if test="record.resultMode != null">
        result_mode = #{record.resultMode,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.stylePriority != null">
        style_priority = #{record.stylePriority,jdbcType=VARCHAR},
      </if>
      <if test="record.chartType != null">
        chart_type = #{record.chartType,jdbcType=VARCHAR},
      </if>
      <if test="record.isPlugin != null">
        is_plugin = #{record.isPlugin,jdbcType=BIT},
      </if>
      <if test="record.dataFrom != null">
        data_from = #{record.dataFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.xAxis != null">
        x_axis = #{record.xAxis,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.xAxisExt != null">
        x_axis_ext = #{record.xAxisExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.yAxis != null">
        y_axis = #{record.yAxis,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.yAxisExt != null">
        y_axis_ext = #{record.yAxisExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.extStack != null">
        ext_stack = #{record.extStack,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.extBubble != null">
        ext_bubble = #{record.extBubble,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.customAttr != null">
        custom_attr = #{record.customAttr,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.customStyle != null">
        custom_style = #{record.customStyle,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.customFilter != null">
        custom_filter = #{record.customFilter,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.drillFields != null">
        drill_fields = #{record.drillFields,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.senior != null">
        senior = #{record.senior,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.snapshot != null">
        snapshot = #{record.snapshot,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update chart_view_cache
    set id = #{record.id,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      scene_id = #{record.sceneId,jdbcType=VARCHAR},
      table_id = #{record.tableId,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      render = #{record.render,jdbcType=VARCHAR},
      result_count = #{record.resultCount,jdbcType=INTEGER},
      result_mode = #{record.resultMode,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      style_priority = #{record.stylePriority,jdbcType=VARCHAR},
      chart_type = #{record.chartType,jdbcType=VARCHAR},
      is_plugin = #{record.isPlugin,jdbcType=BIT},
      data_from = #{record.dataFrom,jdbcType=VARCHAR},
      x_axis = #{record.xAxis,jdbcType=LONGVARCHAR},
      x_axis_ext = #{record.xAxisExt,jdbcType=LONGVARCHAR},
      y_axis = #{record.yAxis,jdbcType=LONGVARCHAR},
      y_axis_ext = #{record.yAxisExt,jdbcType=LONGVARCHAR},
      ext_stack = #{record.extStack,jdbcType=LONGVARCHAR},
      ext_bubble = #{record.extBubble,jdbcType=LONGVARCHAR},
      custom_attr = #{record.customAttr,jdbcType=LONGVARCHAR},
      custom_style = #{record.customStyle,jdbcType=LONGVARCHAR},
      custom_filter = #{record.customFilter,jdbcType=LONGVARCHAR},
      drill_fields = #{record.drillFields,jdbcType=LONGVARCHAR},
      senior = #{record.senior,jdbcType=LONGVARCHAR},
      snapshot = #{record.snapshot,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chart_view_cache
    set id = #{record.id,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      scene_id = #{record.sceneId,jdbcType=VARCHAR},
      table_id = #{record.tableId,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      render = #{record.render,jdbcType=VARCHAR},
      result_count = #{record.resultCount,jdbcType=INTEGER},
      result_mode = #{record.resultMode,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      style_priority = #{record.stylePriority,jdbcType=VARCHAR},
      chart_type = #{record.chartType,jdbcType=VARCHAR},
      is_plugin = #{record.isPlugin,jdbcType=BIT},
      data_from = #{record.dataFrom,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.base.domain.ChartViewCacheWithBLOBs">
    update chart_view_cache
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        table_id = #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="render != null">
        render = #{render,jdbcType=VARCHAR},
      </if>
      <if test="resultCount != null">
        result_count = #{resultCount,jdbcType=INTEGER},
      </if>
      <if test="resultMode != null">
        result_mode = #{resultMode,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="stylePriority != null">
        style_priority = #{stylePriority,jdbcType=VARCHAR},
      </if>
      <if test="chartType != null">
        chart_type = #{chartType,jdbcType=VARCHAR},
      </if>
      <if test="isPlugin != null">
        is_plugin = #{isPlugin,jdbcType=BIT},
      </if>
      <if test="dataFrom != null">
        data_from = #{dataFrom,jdbcType=VARCHAR},
      </if>
      <if test="xAxis != null">
        x_axis = #{xAxis,jdbcType=LONGVARCHAR},
      </if>
      <if test="xAxisExt != null">
        x_axis_ext = #{xAxisExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="yAxis != null">
        y_axis = #{yAxis,jdbcType=LONGVARCHAR},
      </if>
      <if test="yAxisExt != null">
        y_axis_ext = #{yAxisExt,jdbcType=LONGVARCHAR},
      </if>
      <if test="extStack != null">
        ext_stack = #{extStack,jdbcType=LONGVARCHAR},
      </if>
      <if test="extBubble != null">
        ext_bubble = #{extBubble,jdbcType=LONGVARCHAR},
      </if>
      <if test="customAttr != null">
        custom_attr = #{customAttr,jdbcType=LONGVARCHAR},
      </if>
      <if test="customStyle != null">
        custom_style = #{customStyle,jdbcType=LONGVARCHAR},
      </if>
      <if test="customFilter != null">
        custom_filter = #{customFilter,jdbcType=LONGVARCHAR},
      </if>
      <if test="drillFields != null">
        drill_fields = #{drillFields,jdbcType=LONGVARCHAR},
      </if>
      <if test="senior != null">
        senior = #{senior,jdbcType=LONGVARCHAR},
      </if>
      <if test="snapshot != null">
        snapshot = #{snapshot,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.dataease.base.domain.ChartViewCacheWithBLOBs">
    update chart_view_cache
    set `name` = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      scene_id = #{sceneId,jdbcType=VARCHAR},
      table_id = #{tableId,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      render = #{render,jdbcType=VARCHAR},
      result_count = #{resultCount,jdbcType=INTEGER},
      result_mode = #{resultMode,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      style_priority = #{stylePriority,jdbcType=VARCHAR},
      chart_type = #{chartType,jdbcType=VARCHAR},
      is_plugin = #{isPlugin,jdbcType=BIT},
      data_from = #{dataFrom,jdbcType=VARCHAR},
      x_axis = #{xAxis,jdbcType=LONGVARCHAR},
      x_axis_ext = #{xAxisExt,jdbcType=LONGVARCHAR},
      y_axis = #{yAxis,jdbcType=LONGVARCHAR},
      y_axis_ext = #{yAxisExt,jdbcType=LONGVARCHAR},
      ext_stack = #{extStack,jdbcType=LONGVARCHAR},
      ext_bubble = #{extBubble,jdbcType=LONGVARCHAR},
      custom_attr = #{customAttr,jdbcType=LONGVARCHAR},
      custom_style = #{customStyle,jdbcType=LONGVARCHAR},
      custom_filter = #{customFilter,jdbcType=LONGVARCHAR},
      drill_fields = #{drillFields,jdbcType=LONGVARCHAR},
      senior = #{senior,jdbcType=LONGVARCHAR},
      snapshot = #{snapshot,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.base.domain.ChartViewCache">
    update chart_view_cache
    set `name` = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      scene_id = #{sceneId,jdbcType=VARCHAR},
      table_id = #{tableId,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      render = #{render,jdbcType=VARCHAR},
      result_count = #{resultCount,jdbcType=INTEGER},
      result_mode = #{resultMode,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      style_priority = #{stylePriority,jdbcType=VARCHAR},
      chart_type = #{chartType,jdbcType=VARCHAR},
      is_plugin = #{isPlugin,jdbcType=BIT},
      data_from = #{dataFrom,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>