<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.base.mapper.PanelOuterParamsTargetViewInfoMapper">
  <resultMap id="BaseResultMap" type="io.dataease.base.domain.PanelOuterParamsTargetViewInfo">
    <id column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="params_info_id" jdbcType="VARCHAR" property="paramsInfoId" />
    <result column="target_view_id" jdbcType="VARCHAR" property="targetViewId" />
    <result column="target_field_id" jdbcType="VARCHAR" property="targetFieldId" />
    <result column="copy_from" jdbcType="VARCHAR" property="copyFrom" />
    <result column="copy_id" jdbcType="VARCHAR" property="copyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    target_id, params_info_id, target_view_id, target_field_id, copy_from, copy_id
  </sql>
  <select id="selectByExample" parameterType="io.dataease.base.domain.PanelOuterParamsTargetViewInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from panel_outer_params_target_view_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from panel_outer_params_target_view_info
    where target_id = #{targetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from panel_outer_params_target_view_info
    where target_id = #{targetId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.base.domain.PanelOuterParamsTargetViewInfoExample">
    delete from panel_outer_params_target_view_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.base.domain.PanelOuterParamsTargetViewInfo">
    insert into panel_outer_params_target_view_info (target_id, params_info_id, target_view_id, 
      target_field_id, copy_from, copy_id
      )
    values (#{targetId,jdbcType=VARCHAR}, #{paramsInfoId,jdbcType=VARCHAR}, #{targetViewId,jdbcType=VARCHAR}, 
      #{targetFieldId,jdbcType=VARCHAR}, #{copyFrom,jdbcType=VARCHAR}, #{copyId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.base.domain.PanelOuterParamsTargetViewInfo">
    insert into panel_outer_params_target_view_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="targetId != null">
        target_id,
      </if>
      <if test="paramsInfoId != null">
        params_info_id,
      </if>
      <if test="targetViewId != null">
        target_view_id,
      </if>
      <if test="targetFieldId != null">
        target_field_id,
      </if>
      <if test="copyFrom != null">
        copy_from,
      </if>
      <if test="copyId != null">
        copy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="targetId != null">
        #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="paramsInfoId != null">
        #{paramsInfoId,jdbcType=VARCHAR},
      </if>
      <if test="targetViewId != null">
        #{targetViewId,jdbcType=VARCHAR},
      </if>
      <if test="targetFieldId != null">
        #{targetFieldId,jdbcType=VARCHAR},
      </if>
      <if test="copyFrom != null">
        #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        #{copyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.base.domain.PanelOuterParamsTargetViewInfoExample" resultType="java.lang.Long">
    select count(*) from panel_outer_params_target_view_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update panel_outer_params_target_view_info
    <set>
      <if test="record.targetId != null">
        target_id = #{record.targetId,jdbcType=VARCHAR},
      </if>
      <if test="record.paramsInfoId != null">
        params_info_id = #{record.paramsInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.targetViewId != null">
        target_view_id = #{record.targetViewId,jdbcType=VARCHAR},
      </if>
      <if test="record.targetFieldId != null">
        target_field_id = #{record.targetFieldId,jdbcType=VARCHAR},
      </if>
      <if test="record.copyFrom != null">
        copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.copyId != null">
        copy_id = #{record.copyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update panel_outer_params_target_view_info
    set target_id = #{record.targetId,jdbcType=VARCHAR},
      params_info_id = #{record.paramsInfoId,jdbcType=VARCHAR},
      target_view_id = #{record.targetViewId,jdbcType=VARCHAR},
      target_field_id = #{record.targetFieldId,jdbcType=VARCHAR},
      copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      copy_id = #{record.copyId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.base.domain.PanelOuterParamsTargetViewInfo">
    update panel_outer_params_target_view_info
    <set>
      <if test="paramsInfoId != null">
        params_info_id = #{paramsInfoId,jdbcType=VARCHAR},
      </if>
      <if test="targetViewId != null">
        target_view_id = #{targetViewId,jdbcType=VARCHAR},
      </if>
      <if test="targetFieldId != null">
        target_field_id = #{targetFieldId,jdbcType=VARCHAR},
      </if>
      <if test="copyFrom != null">
        copy_from = #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        copy_id = #{copyId,jdbcType=VARCHAR},
      </if>
    </set>
    where target_id = #{targetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.base.domain.PanelOuterParamsTargetViewInfo">
    update panel_outer_params_target_view_info
    set params_info_id = #{paramsInfoId,jdbcType=VARCHAR},
      target_view_id = #{targetViewId,jdbcType=VARCHAR},
      target_field_id = #{targetFieldId,jdbcType=VARCHAR},
      copy_from = #{copyFrom,jdbcType=VARCHAR},
      copy_id = #{copyId,jdbcType=VARCHAR}
    where target_id = #{targetId,jdbcType=VARCHAR}
  </update>
</mapper>