<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.base.mapper.PanelLinkJumpInfoMapper">
  <resultMap id="BaseResultMap" type="io.dataease.base.domain.PanelLinkJumpInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="link_jump_id" jdbcType="VARCHAR" property="linkJumpId" />
    <result column="link_type" jdbcType="VARCHAR" property="linkType" />
    <result column="jump_type" jdbcType="VARCHAR" property="jumpType" />
    <result column="target_panel_id" jdbcType="VARCHAR" property="targetPanelId" />
    <result column="source_field_id" jdbcType="VARCHAR" property="sourceFieldId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="checked" jdbcType="BIT" property="checked" />
    <result column="attach_params" jdbcType="BIT" property="attachParams" />
    <result column="copy_from" jdbcType="VARCHAR" property="copyFrom" />
    <result column="copy_id" jdbcType="VARCHAR" property="copyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, link_jump_id, link_type, jump_type, target_panel_id, source_field_id, content, 
    `checked`, attach_params, copy_from, copy_id
  </sql>
  <select id="selectByExample" parameterType="io.dataease.base.domain.PanelLinkJumpInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from panel_link_jump_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from panel_link_jump_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from panel_link_jump_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.base.domain.PanelLinkJumpInfoExample">
    delete from panel_link_jump_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.base.domain.PanelLinkJumpInfo">
    insert into panel_link_jump_info (id, link_jump_id, link_type, 
      jump_type, target_panel_id, source_field_id, 
      content, `checked`, attach_params, 
      copy_from, copy_id)
    values (#{id,jdbcType=VARCHAR}, #{linkJumpId,jdbcType=VARCHAR}, #{linkType,jdbcType=VARCHAR}, 
      #{jumpType,jdbcType=VARCHAR}, #{targetPanelId,jdbcType=VARCHAR}, #{sourceFieldId,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{checked,jdbcType=BIT}, #{attachParams,jdbcType=BIT}, 
      #{copyFrom,jdbcType=VARCHAR}, #{copyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.base.domain.PanelLinkJumpInfo">
    insert into panel_link_jump_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linkJumpId != null">
        link_jump_id,
      </if>
      <if test="linkType != null">
        link_type,
      </if>
      <if test="jumpType != null">
        jump_type,
      </if>
      <if test="targetPanelId != null">
        target_panel_id,
      </if>
      <if test="sourceFieldId != null">
        source_field_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="checked != null">
        `checked`,
      </if>
      <if test="attachParams != null">
        attach_params,
      </if>
      <if test="copyFrom != null">
        copy_from,
      </if>
      <if test="copyId != null">
        copy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="linkJumpId != null">
        #{linkJumpId,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="jumpType != null">
        #{jumpType,jdbcType=VARCHAR},
      </if>
      <if test="targetPanelId != null">
        #{targetPanelId,jdbcType=VARCHAR},
      </if>
      <if test="sourceFieldId != null">
        #{sourceFieldId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=BIT},
      </if>
      <if test="attachParams != null">
        #{attachParams,jdbcType=BIT},
      </if>
      <if test="copyFrom != null">
        #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        #{copyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.base.domain.PanelLinkJumpInfoExample" resultType="java.lang.Long">
    select count(*) from panel_link_jump_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update panel_link_jump_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.linkJumpId != null">
        link_jump_id = #{record.linkJumpId,jdbcType=VARCHAR},
      </if>
      <if test="record.linkType != null">
        link_type = #{record.linkType,jdbcType=VARCHAR},
      </if>
      <if test="record.jumpType != null">
        jump_type = #{record.jumpType,jdbcType=VARCHAR},
      </if>
      <if test="record.targetPanelId != null">
        target_panel_id = #{record.targetPanelId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceFieldId != null">
        source_field_id = #{record.sourceFieldId,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.checked != null">
        `checked` = #{record.checked,jdbcType=BIT},
      </if>
      <if test="record.attachParams != null">
        attach_params = #{record.attachParams,jdbcType=BIT},
      </if>
      <if test="record.copyFrom != null">
        copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.copyId != null">
        copy_id = #{record.copyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update panel_link_jump_info
    set id = #{record.id,jdbcType=VARCHAR},
      link_jump_id = #{record.linkJumpId,jdbcType=VARCHAR},
      link_type = #{record.linkType,jdbcType=VARCHAR},
      jump_type = #{record.jumpType,jdbcType=VARCHAR},
      target_panel_id = #{record.targetPanelId,jdbcType=VARCHAR},
      source_field_id = #{record.sourceFieldId,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      `checked` = #{record.checked,jdbcType=BIT},
      attach_params = #{record.attachParams,jdbcType=BIT},
      copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      copy_id = #{record.copyId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.base.domain.PanelLinkJumpInfo">
    update panel_link_jump_info
    <set>
      <if test="linkJumpId != null">
        link_jump_id = #{linkJumpId,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        link_type = #{linkType,jdbcType=VARCHAR},
      </if>
      <if test="jumpType != null">
        jump_type = #{jumpType,jdbcType=VARCHAR},
      </if>
      <if test="targetPanelId != null">
        target_panel_id = #{targetPanelId,jdbcType=VARCHAR},
      </if>
      <if test="sourceFieldId != null">
        source_field_id = #{sourceFieldId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        `checked` = #{checked,jdbcType=BIT},
      </if>
      <if test="attachParams != null">
        attach_params = #{attachParams,jdbcType=BIT},
      </if>
      <if test="copyFrom != null">
        copy_from = #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        copy_id = #{copyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.base.domain.PanelLinkJumpInfo">
    update panel_link_jump_info
    set link_jump_id = #{linkJumpId,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=VARCHAR},
      jump_type = #{jumpType,jdbcType=VARCHAR},
      target_panel_id = #{targetPanelId,jdbcType=VARCHAR},
      source_field_id = #{sourceFieldId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      `checked` = #{checked,jdbcType=BIT},
      attach_params = #{attachParams,jdbcType=BIT},
      copy_from = #{copyFrom,jdbcType=VARCHAR},
      copy_id = #{copyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>