<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.base.mapper.SwaggerUrlProjectMapper">
    <resultMap id="BaseResultMap" type="io.dataease.base.domain.SwaggerUrlProject">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="swagger_url" jdbcType="VARCHAR" property="swaggerUrl"/>
        <result column="module_id" jdbcType="VARCHAR" property="moduleId"/>
        <result column="module_path" jdbcType="VARCHAR" property="modulePath"/>
        <result column="mode_id" jdbcType="VARCHAR" property="modeId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, project_id, swagger_url, module_id, module_path, mode_id
    </sql>
    <select id="selectByExample" parameterType="io.dataease.base.domain.SwaggerUrlProjectExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from swagger_url_project
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from swagger_url_project
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from swagger_url_project
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="io.dataease.base.domain.SwaggerUrlProjectExample">
        delete from swagger_url_project
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="io.dataease.base.domain.SwaggerUrlProject">
        insert into swagger_url_project (id, project_id, swagger_url,
                                         module_id, module_path, mode_id)
        values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{swaggerUrl,jdbcType=VARCHAR},
                #{moduleId,jdbcType=VARCHAR}, #{modulePath,jdbcType=VARCHAR}, #{modeId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="io.dataease.base.domain.SwaggerUrlProject">
        insert into swagger_url_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="swaggerUrl != null">
                swagger_url,
            </if>
            <if test="moduleId != null">
                module_id,
            </if>
            <if test="modulePath != null">
                module_path,
            </if>
            <if test="modeId != null">
                mode_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="swaggerUrl != null">
                #{swaggerUrl,jdbcType=VARCHAR},
            </if>
            <if test="moduleId != null">
                #{moduleId,jdbcType=VARCHAR},
            </if>
            <if test="modulePath != null">
                #{modulePath,jdbcType=VARCHAR},
            </if>
            <if test="modeId != null">
                #{modeId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="io.dataease.base.domain.SwaggerUrlProjectExample"
            resultType="java.lang.Long">
        select count(*) from swagger_url_project
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update swagger_url_project
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.projectId != null">
                project_id = #{record.projectId,jdbcType=VARCHAR},
            </if>
            <if test="record.swaggerUrl != null">
                swagger_url = #{record.swaggerUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.moduleId != null">
                module_id = #{record.moduleId,jdbcType=VARCHAR},
            </if>
            <if test="record.modulePath != null">
                module_path = #{record.modulePath,jdbcType=VARCHAR},
            </if>
            <if test="record.modeId != null">
                mode_id = #{record.modeId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update swagger_url_project
        set id = #{record.id,jdbcType=VARCHAR},
        project_id = #{record.projectId,jdbcType=VARCHAR},
        swagger_url = #{record.swaggerUrl,jdbcType=VARCHAR},
        module_id = #{record.moduleId,jdbcType=VARCHAR},
        module_path = #{record.modulePath,jdbcType=VARCHAR},
        mode_id = #{record.modeId,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="io.dataease.base.domain.SwaggerUrlProject">
        update swagger_url_project
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="swaggerUrl != null">
                swagger_url = #{swaggerUrl,jdbcType=VARCHAR},
            </if>
            <if test="moduleId != null">
                module_id = #{moduleId,jdbcType=VARCHAR},
            </if>
            <if test="modulePath != null">
                module_path = #{modulePath,jdbcType=VARCHAR},
            </if>
            <if test="modeId != null">
                mode_id = #{modeId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.dataease.base.domain.SwaggerUrlProject">
        update swagger_url_project
        set project_id  = #{projectId,jdbcType=VARCHAR},
            swagger_url = #{swaggerUrl,jdbcType=VARCHAR},
            module_id   = #{moduleId,jdbcType=VARCHAR},
            module_path = #{modulePath,jdbcType=VARCHAR},
            mode_id     = #{modeId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
