@button-container-height: 32px;

@import url("MatrixView.css");
@import url("ColumnView.css");

.dojoxCalendar .buttonContainer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1px;
	height: @button-container-height;
	text-align: center;
}

.dojoxCalendar .viewContainer{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: @button-container-height;
}

.dojoxCalendar .view{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

