@import "Common.less";

@hour-stroke: 1px solid #CCCCCC;
@half-hour-stroke: dotted 1px #CCCCCC;
@quarter-hour-stroke: dotted 1px #CCCCCC;

@column-header-height: 30px;
@row-header-width: 70px;
@secondary-sheet-height: 39px;
@sheet-top: @secondary-sheet-height + @column-header-height + 3px;
