/* $--font-path: '~element-ui/lib/theme-chalk/fonts'; */


/* .blackTheme {
  @import './theme/dark.scss';
  @import "~element-ui/packages/theme-chalk/src/index";
} */



@import '~normalize.css/normalize.css';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './topbar.scss';
@import "~fit2cloud-ui/src/styles/index.scss";
@import './vdrr/common-temp.scss';
@import '~umy-ui/lib/theme-chalk/index.css';
// 引入样式
@import './deicon/iconfont.css';


body {
  //height: $contentHeight;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.de-dialog {
  width: 30% !important;

  .el-dialog__header {
    background-color: #f4f4f5;
    padding: 10px 20px !important;
  }

  .el-dialog__body {
    padding: 1px 20px !important;
  }
}

.de-filter-dialog {
  min-width: 500px !important;
  width: 55% !important;

  .el-dialog__header {
    // background-color: #f4f4f5;
    padding: 10px 20px !important;

    .el-dialog__headerbtn {
      top: 15px !important;
    }
  }

  .el-dialog__body {
    padding: 1px 15px !important;
  }
}

.de-style-dialog {
  width: 600px !important;

  .el-dialog__header {
    // background-color: #f4f4f5;
    padding: 10px 20px !important;

    .el-dialog__headerbtn {
      top: 15px !important;
    }
  }

  .el-dialog__body {
    padding: 1px 15px !important;
  }
}

.preview-dialog {
  padding: 0px !important;

  .el-dialog--center {
    padding: 0px !important;
  }

  .el-dialog__header {
    display: none !important;
  }

  .el-dialog__body {
    padding: 0px !important;
    height: 100vh !important;
  }
}

.de-tabs {
  .el-tabs__header {
    margin: 0 0 0 0 !important;
  }

  .el-tabs__content {
    height: calc(100% - 55px) !important;
    margin-top: 5px;

    .el-tab-pane {
      height: 100% !important;
    }
  }
}

.de-search-header {
  .el-tabs__header {
    display: none !important;
    ;
  }
}

.de-input {
  margin-bottom: 14px;
  margin-top: 10px;

  .el-input {
    .el-input__inner {
      line-height: 30px !important;
      height: 30px !important;
      border-right: none;
    }
  }

  .el-input__inner:focus {
    border-color: #E6E6E6 !important;
  }

  .el-input-group__append {
    background-color: #ffffff;
  }
}

.filter-card-class {
  width: 100%;

  .el-card__header {
    padding: 5px 0 !important;
    border-bottom: none !important;
  }

  .el-card__body {
    padding: 10px;
  }
}

.real-input {
  .el-input__inner {
    height: 25px !important;
    border: none !important;
  }
}

.de-filter-data-table {
  .el-table__body-wrapper>table> {
    tbody {
      .el-table__row {
        :hover {
          cursor: pointer;
        }

        td {
          border: none !important;
        }
      }
    }
  }
}

.de-msg-data-table {
  .el-table__body-wrapper>table> {
    tbody {
      .el-table__row {
        :hover {
          cursor: pointer;
        }
      }

      td {
        padding: 3px 0 !important;
      }
    }
  }
}

.de-filter-data-table::before {
  height: 0px !important;
}

.de-msg-data-table::before {
  height: 0px !important;
}

.custom-component-class {
  width: 100%;

  div:not(.de-number-range-container) {
    width: 100% !important;
  }

  div.el-input-group__append {
    width: 10% !important;
  }

  .de-select-grid-class {
    .list {
      position: relative !important;
      height: 200px !important;
      overflow-y: scroll !important;
      top: 0px !important;
    }
  }

}

%field-icon {
  font-size: 13px;
  margin: 0 2px 0 0;
}

.field-icon-text {
  @extend %field-icon;
  color: #688fd8;
}

.field-icon-time {
  @extend %field-icon;
  color: #faaa39;
}

.field-icon-value {
  @extend %field-icon;
  color: #37b4aa;
}

.field-icon-location {
  @extend %field-icon;
  color: #F56C6C;
}

.field-icon-sort {
  font-size: 10px;
  @extend %field-icon;
  color: #999999;
  margin: 0 2px 1px 0;
}

.ds-icon-pdf {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #0a7be0;
}


.ds-icon-scene {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  color: #0a7be0;
}

.ds-icon-db {
  width: 14px;
  height: 14px;
  color: #3685f2;
  margin: 0 2px 0 0;
}

.ds-icon-sql {
  width: 14px;
  height: 14px;
  color: #faaa39;
  margin: 0 2px 0 0;
}

.ds-icon-excel {
  width: 14px;
  height: 14px;
  color: #13cd66;
  margin: 0 2px 0 0;
}

.ds-icon-custom {
  width: 14px;
  height: 14px;
  color: #23beef;
  margin: 0 2px 0 0;
}

.ds-icon-union {
  width: 14px;
  height: 14px;
  color: #a479e7;
  margin: 0 2px 0 0;
}

.ds-icon-api {
  width: 14px;
  height: 14px;
  color: #13227a;
  margin: 0 2px 0 0;
}


.showRightPanel {
  .el-popper {
    position: fixed !important;
  }
}

.login-logo-icon {
  width: auto;
  height: 60px;
}

.top-nav-logo-icon {
  width: 140px;
  height: 45px;
  padding-top: 10px;
}

.m-colorPicker .box {
  bottom: 20px;
}


.tox-tinymce-aux {
  z-index: 10000 !important;
}



::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background: #d7d9e3;
  border-radius: 4px;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* .el-color-dropdown__link-btn {
  display: none !important;
} */

.el-table {
  background-color: var(--TableBG) !important;

  tr {
    background-color: var(--TableBG) !important;
  }

  th {
    background-color: var(--TableBG) !important;
  }
}

.blackTheme .el-textarea__inner {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
}

.blackTheme .el-textarea__inner:not(:focus) {
  color: var(--TableColor) !important;
  border-color: var(--border-color-input) !important;
}

.blackTheme .el-input__inner {
  background-color: var(--MainBG) !important;
  color: var(--TableColor) !important;
}

.blackTheme .el-input__inner:not(:focus) {
  color: var(--TableColor) !important;
  border-color: var(--border-color-input) !important;
}

.blackTheme .el-input-number__decrease {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
  border: none !important;
}

.blackTheme .el-input-number__increase {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
  border: none !important;
}

.blackTheme .el-picker-panel__footer {
  background-color: var(--MainBG) !important;
}


.el-pagination {
  button:disabled {
    color: var(--TableColor) !important;
    background-color: var(--MainBG) !important;
  }
}

/* .blackTheme .el-pager li {
    color: var(--TableColor) !important;
    background-color: var(--MainBG) !important;
} */

/* .blackTheme .el-select-dropdown {
    background-color: var(--MainBG) !important;
} */

.fu-search-bar-button {
  background-color: var(--Main) !important;
}

.blackTheme .fu-quick-search input {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
}

.blackTheme .vue-treeselect__single-value {
  color: var(--TableColor) !important;
}

.blackTheme .el-tag.el-tag--info {
  background-color: var(--ContentBG);
  border-color: var(--TableBorderColor);
  color: var(--TableColor) !important;
  ;
}

.blackTheme .vue-treeselect__control {
  background-color: var(--MainBG) !important;
  color: var(--TableColor) !important;
  border-color: var(--border-color-input) !important;
}

/* .blackTheme .el-popover {
    background-color: var(--MainBG);
} */

.blackTheme .main-area-input {
  input.el-input__inner {
    color: var(--TableColor) !important;
    background-color: var(--ContentBG) !important;
  }

  .el-input-group__append {
    background-color: var(--ContentBG) !important;
    border-color: var(--ContentBG) !important;
  }
}

.blackTheme .el-tree {
  background-color: var(--SiderBG) !important;
}

.blackTheme .el-tree-node__content:hover {
  background-color: var(--MenuHovorBG) !important;
}

.blackTheme .is-current>.el-tree-node__content {
  background-color: var(--MenuActiveBG) !important;
}

.blackTheme .el-collapse-item__header {
  background-color: var(--ContentBG) !important;
  color: var(--TextPrimary) !important;
  border: none !important;
}

.blackTheme .el-collapse-item__wrap {
  background-color: var(--ContentBG) !important;
  border: none !important;
}

.blackTheme .content-container__header {
  color: var(--TextPrimary);
}

.blackTheme .el-button--default {
  background-color: var(--MainBG) !important;
  color: var(--Main) !important;
}



.blackTheme .title-text {
  color: var(--TextPrimary) !important;
}

.blackTheme .el-tabs__item:not(.is-active) {
  color: var(--TextPrimary);
}

.blackTheme .el-tabs__item:hover {
  color: var(--Main);
}

.blackTheme:not(.in-panel) .elx-table--main-wrapper {

  .body--wrapper {
    background-color: var(--TableBG) !important;
  }
}

.blackTheme:not(.in-panel) .elx-table {
  color: var(--TableColor) !important;
}

.blackTheme:not(.in-panel) .elx-body--column {
  background-image: linear-gradient(var(--TableBorderColor), var(--TableBorderColor)), linear-gradient(var(--TableBorderColor), var(--TableBorderColor)) !important;
}

.blackTheme:not(.in-panel) .elx-header--column {
  background-image: linear-gradient(--TableBorderColor, --TableBorderColor), linear-gradient(--TableBorderColor, --TableBorderColor) !important;
}

.blackTheme:not(.in-panel) tr.row--current {
  background-color: var(--MainBG) !important;
}

.blackTheme:not(.in-panel) tr.elx-body--row:hover {
  background-color: var(--TableBG) !important;
}

.blackTheme:not(.in-panel) .elx-table--header-border-line {
  border-color: var(--TableBorderColor) !important;
}

.el-collapse-item__content {
  padding-bottom: 0 !important;
}

.el-collapse-item__header {
  height: 34px !important;
  line-height: 34px !important;
  padding: 0 0 0 6px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.blackTheme .el-submenu__title {
  color: var(--TextPrimary);
}

.blackTheme .el-drawer__body {
  background-color: var(--ContentBG);
}

.blackTheme .el-select-dropdown__item.hover {
  background-color: #171B22 !important;
}

.blackTheme .el-select-dropdown__item:hover {
  background-color: #171B22 !important;
}

.blackTheme .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #171B22 !important;
}

.blackTheme .el-dropdown-menu__item:focus {
  background-color: #171B22 !important;
}


.blackTheme .el-dropdown-menu__item--divided:before {
  background-color: #000000 !important;
}


.blackTheme .el-card__header {
  border-color: var(--TableBorderColor) !important;
}

.blackTheme .CodeMirror {
  background-color: #000000;
  color: #ffffff;
}

.blackTheme .CodeMirror-code {
  background-color: transparent;
}

.blackTheme .CodeMirror-gutters {
  background-color: #000000;
}

.blackTheme .CodeMirror-line {
  background-color: #000000 !important;
}

.blackTheme .el-radio-button__inner {
  background-color: var(--TableBG);
  color: var(--TableColor);
  border: var(--TableBorder);
}

.blackTheme .el-loading-mask {
  background-color: rgb(135 131 131 / 70%);
}

.blackTheme>>> ::-webkit-scrollbar-thumb {
  background: #38393a !important;
}



.blackTheme .el-message-box__btns {
  .el-button--default:not(.el-button--primary) {
    background-color: #171b22;
    color: #2681ff;
  }

  .el-button--primary {
    color: #21333b;
    background-color: #2681ff;
    border-color: #2681ff;
  }
}

.blackTheme .vue-treeselect__menu {
  border: 1px solid var(--TableBorderColor, #cfcfcf);
  background: var(--MainBG, #fff);
}

.blackTheme .vue-treeselect__option:not(.vue-treeselect__option--highlight) {
  color: #606266;
}

.blackTheme .vue-treeselect__option--highlight {
  color: #2681ff;
  background-color: #000000;
}

.blackTheme .el-table__body tr.current-row>td {
  background-color: #324f62;
}

.blue-color {
  color: var(--Main, #0000ff);
}

.link-date-picker-class>.el-picker-panel__footer>.el-button--text:first-child {
  display: none;
}

.tablepanel-i {
  margin-right: 4px;
}


.el-color-svpanel__black {
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0)) !important;
}

.el-color-svpanel__white {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0)) !important;
}


.rate-date-class>.el-picker-panel__footer>.el-button--text:first-child {
  display: none;
}

.rate-date-class>.el-picker-panel__body-wrapper>.el-picker-panel__body {
  >.el-date-picker__header {
    display: none;
  }

  >.el-picker-panel__content {
    >table>tbody {
      >tr:first-child {
        display: none;
      }

      >tr>td.prev-month,
      td.next-month {
        display: none;
      }
    }
  }
}

.rate-day-class>.el-picker-panel__footer>.el-button--text:first-child {
  display: none;
}

.rate-day-class>.el-picker-panel__body-wrapper>.el-picker-panel__body {
  >.el-date-picker__header {
    display: none;
  }

  >.el-picker-panel__content {
    >table>tbody {
      >tr:not(:nth-child(3)) {
        display: none;
      }
    }
  }
}

.chart-type .el-radio__input {
  display: none !important;
}

.chart-type .el-radio__label {
  padding-left: 0 !important;
}

.chart-type .radio-row .radio-style {
  width: 80px;
  height: 60px;
  padding: 0;
}

.el-color-predefine__color-selector {
  border: 1px solid #999999 !important;
  margin: 0 0 6px 6px !important;
}

.de-checkbox {
  width: 100%;
  margin-left: 0px !important;

  .el-checkbox__input {
    padding: 0 0 8px 0 !important;
  }
}

.no-label-item {
  .el-form-item__content {
    margin-left: 10px !important;
  }
}

.picker-color-div {
  height: 32px;
  margin-top: 32px;
}



.theme-input {
  >input {
    padding-left: 40px !important;
  }

  >span.el-input__prefix {
    padding-top: 0px;
  }
}
