/* $--font-path: '~element-ui/lib/theme-chalk/fonts'; */


/* .blackTheme {
  @import './theme/dark.scss';
  @import "~element-ui/packages/theme-chalk/src/index";
} */



@import '~normalize.css/normalize.css';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './topbar.scss';
@import "~fit2cloud-ui/src/styles/index.scss";
@import './vdrr/common-temp.scss';
@import '~umy-ui/lib/theme-chalk/index.css';
// 引入样式
@import './deicon/iconfont.css';


body {
  //height: $contentHeight;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, FangSong, SimHei, STHeiti, STKaiti, STSong, STFangsong sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.de-dialog {
  width: 30% !important;

  .el-dialog__header {
    background-color: #f4f4f5;
    padding: 10px 20px !important;
  }

  .el-dialog__body {
    padding: 1px 20px !important;
  }
}

.de-filter-dialog {
  min-width: 785px !important;
  width: 55% !important;

  .el-dialog__header {
    // background-color: #f4f4f5;
    padding: 10px 20px !important;

    .el-dialog__headerbtn {
      top: 15px !important;
    }
  }

  .el-dialog__body {
    padding: 1px 15px !important;
  }
}

.de-button-dialog {
  min-width: 200px !important;
  width: 27% !important;

  .el-dialog__header {
    padding: 10px 20px !important;

    .el-dialog__headerbtn {
      top: 15px !important;
    }
  }

  .el-dialog__body {
    padding: 1px 15px !important;
  }
}

.de-style-dialog {
  width: 600px !important;

  .el-dialog__header {
    // background-color: #f4f4f5;
    padding: 10px 20px !important;

    .el-dialog__headerbtn {
      top: 15px !important;
    }
  }

  .el-dialog__body {
    padding: 1px 15px !important;
  }
}

.preview-dialog {
  padding: 0px !important;

  .el-dialog--center {
    padding: 0px !important;
  }

  .el-dialog__header {
    display: none !important;
  }

  .el-dialog__body {
    padding: 0px !important;
    height: 100vh !important;
  }
}

.de-tabs-edit>.el-tabs__header {
  padding-right: 50px !important;
}

.de-tabs {
  .el-tabs__header {
    margin: 0 0 0 0 !important;
  }

  .el-tabs__content {
    height: calc(100% - 40px) !important;
    margin-top: 5px;

    .el-tab-pane {
      height: 100% !important;
    }
  }
}

.de-search-header {
  .el-tabs__header {
    display: none !important;
    ;
  }
}

.de-input {
  margin-bottom: 14px;
  margin-top: 10px;

  .el-input {
    .el-input__inner {
      line-height: 30px !important;
      height: 30px !important;
      border-right: none;
    }
  }

  .el-input__inner:focus {
    border-color: #E6E6E6 !important;
  }

  .el-input-group__append {
    background-color: #ffffff;
  }
}

.filter-card-class {
  width: 100%;

  .el-card__header {
    padding: 5px 0 !important;
    border-bottom: none !important;
  }

  .el-card__body {
    padding: 10px;
  }
}

.real-input {
  .el-input__inner {
    height: 25px !important;
    border: none !important;
  }
}

.de-filter-data-table {
  .el-table__body-wrapper>table> {
    tbody {
      .el-table__row {
        :hover {
          cursor: pointer;
        }

        td {
          border: none !important;
        }
      }
    }
  }
}

.de-msg-data-table {
  .el-table__body-wrapper>table> {
    tbody {
      .el-table__row {
        :hover {
          cursor: pointer;
        }
      }

      td {
        padding: 3px 0 !important;
      }
    }
  }
}

.de-filter-data-table::before {
  height: 0px !important;
}

.de-msg-data-table::before {
  height: 0px !important;
}

.custom-component-class {
  width: 100%;

  div:not(.de-number-range-container) {
    width: 100% !important;
  }

  div.el-input-group__append {
    width: 10% !important;
  }

  .de-select-grid-class {
    .list {
      position: relative !important;
      height: 200px !important;
      overflow-y: scroll !important;
      top: 0px !important;
    }
  }

}

%field-icon {
  font-size: 13px;
  margin: 0 2px 0 0;
}

.field-icon-text {
  @extend %field-icon;
  color: #688fd8;
}

.field-icon-time {
  @extend %field-icon;
  color: #3370FF;
}

.field-icon-value {
  @extend %field-icon;
  color: #37b4aa;
}

.field-icon-location {
  @extend %field-icon;
  color: #F56C6C;
}

.field-icon-sort {
  font-size: 10px;
  @extend %field-icon;
  color: #999999;
  margin: 0 2px 1px 0;
}

.field-icon-dimension {
  color: #3370FF !important;
}

.field-icon-quota {
  color: #04B49C !important;
}

.ds-icon-pdf {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #0a7be0;
}


.ds-icon-scene {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  color: #0a7be0;
}

.ds-icon-db {
  width: 14px;
  height: 14px;
  color: #3685f2;
  margin: 0 2px 0 0;
}

.ds-icon-sql {
  width: 14px;
  height: 14px;
  color: #faaa39;
  margin: 0 2px 0 0;
}

.ds-icon-excel {
  width: 14px;
  height: 14px;
  color: #13cd66;
  margin: 0 2px 0 0;
}

.ds-icon-custom {
  width: 14px;
  height: 14px;
  color: #23beef;
  margin: 0 2px 0 0;
}

.ds-icon-union {
  width: 14px;
  height: 14px;
  color: #a479e7;
  margin: 0 2px 0 0;
}

.ds-icon-api {
  width: 14px;
  height: 14px;
  color: #13227a;
  margin: 0 2px 0 0;
}


.showRightPanel {
  .el-popper {
    position: fixed !important;
  }
}

.login-logo-icon {
  width: auto;
  height: 60px;
}

.top-nav-logo-icon {
  width: 140px;
  height: 45px;
  padding-top: 10px;
}

.m-colorPicker .box {
  bottom: 20px;
}


.tox-tinymce-aux {
  z-index: 10000 !important;
}



::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background: #d7d9e3;
  border-radius: 4px;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* .el-color-dropdown__link-btn {
  display: none !important;
} */

.el-table {
  background-color: var(--TableBG) !important;

  tr {
    background-color: var(--TableBG) !important;
  }

  th {
    background-color: var(--TableBG) !important;
  }
}

.blackTheme .el-textarea__inner {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
}

.blackTheme .el-textarea__inner:not(:focus) {
  color: var(--TableColor) !important;
  border-color: var(--border-color-input) !important;
}

.blackTheme .el-input__inner {
  background-color: var(--MainBG) !important;
  color: var(--TableColor) !important;
}

.blackTheme .el-input__inner:not(:focus) {
  color: var(--TableColor) !important;
  border-color: var(--border-color-input) !important;
}

.blackTheme .el-input-number__decrease {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
  border: none !important;
}

.blackTheme .el-input-number__increase {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
  border: none !important;
}

.blackTheme .el-picker-panel__footer {
  background-color: var(--MainBG) !important;
}


.el-pagination {
  button:disabled {
    color: var(--TableColor) !important;
    background-color: var(--MainBG) !important;
  }
}

/* .blackTheme .el-pager li {
    color: var(--TableColor) !important;
    background-color: var(--MainBG) !important;
} */

/* .blackTheme .el-select-dropdown {
    background-color: var(--MainBG) !important;
} */

.fu-search-bar-button {
  background-color: var(--Main) !important;
}

.blackTheme .fu-quick-search input {
  color: var(--TableColor) !important;
  background-color: var(--MainBG) !important;
}

.blackTheme .vue-treeselect__single-value {
  color: var(--TableColor) !important;
}

.blackTheme .el-tag.el-tag--info {
  background-color: var(--ContentBG);
  border-color: var(--TableBorderColor);
  color: var(--TableColor) !important;
  ;
}

.blackTheme .vue-treeselect__control {
  background-color: var(--MainBG) !important;
  color: var(--TableColor) !important;
  border-color: var(--border-color-input) !important;
}

/* .blackTheme .el-popover {
    background-color: var(--MainBG);
} */

.blackTheme .main-area-input {
  input.el-input__inner {
    color: var(--TableColor) !important;
    background-color: var(--ContentBG) !important;
  }

  .el-input-group__append {
    background-color: var(--ContentBG) !important;
    border-color: var(--ContentBG) !important;
  }
}

.blackTheme .el-tree {
  background-color: var(--SiderBG) !important;
}

.blackTheme .el-tree-node__content:hover {
  background-color: var(--MenuHovorBG) !important;
}

.blackTheme .is-current>.el-tree-node__content {
  background-color: var(--MenuActiveBG, #ecf5ff) !important;
}

.blackTheme .el-collapse-item__header {
  background-color: var(--ContentBG) !important;
  color: var(--TextPrimary) !important;
  border: none !important;
}

.blackTheme .el-collapse-item__wrap {
  background-color: var(--ContentBG) !important;
  border: none !important;
}

.blackTheme .content-container__header {
  color: var(--TextPrimary);
}


.blackTheme .title-text {
  color: var(--TextPrimary) !important;
}

.blackTheme .el-tabs__item:not(.is-active) {
  color: var(--TextPrimary);
}

.blackTheme .el-tabs__item:hover {
  color: var(--Main);
}

.blackTheme:not(.in-panel) .elx-table--main-wrapper {

  .body--wrapper {
    background-color: var(--TableBG) !important;
  }
}

.blackTheme:not(.in-panel) .elx-table {
  color: var(--TableColor) !important;
}

.blackTheme:not(.in-panel) .elx-body--column {
  background-image: linear-gradient(var(--TableBorderColor), var(--TableBorderColor)), linear-gradient(var(--TableBorderColor), var(--TableBorderColor)) !important;
}

.blackTheme:not(.in-panel) .elx-header--column {
  background-image: linear-gradient(--TableBorderColor, --TableBorderColor), linear-gradient(--TableBorderColor, --TableBorderColor) !important;
}

.blackTheme:not(.in-panel) tr.row--current {
  background-color: var(--MainBG) !important;
}

.blackTheme:not(.in-panel) tr.elx-body--row:hover {
  background-color: var(--TableBG) !important;
}

.blackTheme:not(.in-panel) .elx-table--header-border-line {
  border-color: var(--TableBorderColor) !important;
}

.el-collapse-item__content {
  padding-bottom: 0 !important;
}

.blackTheme .el-submenu__title {
  color: var(--TextPrimary);
}

.blackTheme .el-drawer__body {
  background-color: var(--ContentBG);
}

.blackTheme .el-card__header {
  border-color: var(--TableBorderColor) !important;
}

.blackTheme .CodeMirror {
  background-color: #000000;
  color: #ffffff;
}

.blackTheme .CodeMirror-code {
  background-color: transparent;
}

.blackTheme .CodeMirror-gutters {
  background-color: #000000;
}

.blackTheme .CodeMirror-line {
  background-color: #000000 !important;
}

.blackTheme .el-radio-button__inner {
  background-color: var(--TableBG);
  color: var(--TableColor);
  border-color: var(--TableBorderColor);
}

.blackTheme .el-loading-mask {
  background-color: rgb(135 131 131 / 70%);
}

.blackTheme ::v-deep ::-webkit-scrollbar-thumb {
  background: #38393a !important;
}


.blackTheme .vue-treeselect__menu {
  border: 1px solid var(--TableBorderColor, #cfcfcf);
  background: var(--MainBG, #fff);
}

.blackTheme .vue-treeselect__option:not(.vue-treeselect__option--highlight) {
  color: #606266;
}

.blackTheme .vue-treeselect__option--highlight {
  color: #2681ff;
  background-color: #000000;
}

.blackTheme .el-table__body tr.current-row>td {
  background-color: #324f62;
}

.blue-color {
  color: var(--Main, #0000ff);
}

.link-date-picker-class>.el-picker-panel__footer>.el-button--text:first-child {
  display: none;
}

.tablepanel-i {
  margin-right: 4px;
}


.el-color-svpanel__black {
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0)) !important;
}

.el-color-svpanel__white {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0)) !important;
}


.rate-date-class>.el-picker-panel__footer>.el-button--text:first-child {
  display: none;
}

.rate-date-class>.el-picker-panel__body-wrapper>.el-picker-panel__body {
  >.el-date-picker__header {
    display: none;
  }

  >.el-picker-panel__content {
    >table>tbody {
      >tr:first-child {
        display: none;
      }

      >tr>td.prev-month,
      td.next-month {
        display: none;
      }
    }
  }
}

.rate-day-class>.el-picker-panel__footer>.el-button--text:first-child {
  display: none;
}

.rate-day-class>.el-picker-panel__body-wrapper>.el-picker-panel__body {
  >.el-date-picker__header {
    display: none;
  }

  >.el-picker-panel__content {
    >table>tbody {
      >tr:not(:nth-child(3)) {
        display: none;
      }
    }
  }
}

.chart-type .el-radio__input {
  display: none !important;
}

.chart-type .el-radio__label {
  padding-left: 0 !important;
}

.chart-type .radio-row .radio-style {
  width: 80px;
  height: 60px;
  padding: 0;
}

.el-color-predefine__color-selector {
  border: 1px solid #999999 !important;
  margin: 0 0 6px 6px !important;
}

.de-checkbox {
  width: 100%;
  margin-left: 0px !important;

  .el-checkbox__input {
    padding: 0 0 8px 0 !important;
  }
}

.no-label-item {
  .el-form-item__content {
    margin-left: 5px !important;
  }
}

.picker-color-div {
  height: 32px;
  margin-top: 32px;
}



.theme-input {
  >input {
    padding-left: 40px !important;
  }

  >span.el-input__prefix {
    padding-top: 0px;
  }
}

.pwd-tips>span {

  font-weight: 800;
  color: #F56C6C;
}

.amap-container {
  // position: inherit !important;
  right: 0px;
}

.l7-scene {
  // position: relative !important;
  right: 0px;
}

.fu-operator-component__operator {
  display: none !important;
}

.fu-operator-component__label {
  width: 100px !important;
}

.view-select-option {
  display: none !important;
}

.de-select-option {
  display: none !important;
}


.el-checkbox__input.is-checked:not(.is-disabled)+.el-checkbox__label {
  color: #1F2329 !important;
}

.el-radio__input.is-checked:not(.is-disabled)+.el-radio__label {
  color: var(--deTextPrimary, #1F2329) !important;
}

.de-select-grid-class{
  .el-checkbox__input.is-checked:not(.is-disabled)+.el-checkbox__label, .el-radio__input.is-checked:not(.is-disabled)+.el-radio__label {
    color: #3370ff !important;
  }
}

.el-dialog__title {
  font-weight: 500;
}

.el-tabs__nav-wrap::after {
  height: 1px !important;
  background-color: rgba(31, 35, 41, 0.15) !important;
}

.de-tabs {
  .el-tabs__header {
    margin: 0 0 12px !important;
  }

  .el-tabs__item {
    height: 24px !important;
    line-height: 24px !important;
    margin-bottom: 9px !important;
    font-size: 16px !important;
  }
}

.el-tabs__item:not(.is-active) {
  font-weight: 400 !important;
}

.de-confirm-fail-cancel:hover {
  background: #F5F6F7 !important;
}

.de-confirm-fail-confirm:hover {
  background: #F76964 !important;
}

.el-table__header-wrapper {
  background-color: var(--TableBG, #f5f6f7) !important;
}

.el-table__fixed-header-wrapper {
  th {
    background-color: var(--TableBG, #f5f6f7) !important;
  }
}

.el-tabs {
  .el-tabs__item.is-active {
    box-shadow: none !important;
  }
}

.de-message {
  min-width: 20px !important;
  padding: 16px 20px !important;
  flex-direction: row;
  box-shadow: 0px 4px 8px 0px #1f23291a;

  span {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #1f2329;
  }

  i {
    height: 14.666666984558105px;
    width: 14.666669845581055px;
    margin-right: 8.67px;
  }
}

.de-message-error {
  border: 1px solid var(--deDanger, #f54a45) !important;
  background: var(--deWhitemsgDeDanger, #fef1f1) !important;

  i {
    color: var(--deDanger, #f54a45);
  }
}

.de-message-success {
  border: 1px solid var(--deSuccess, #34c724) !important;
  background: var(--deWhitemsgDeSuccess, #f0fbef) !important;

  i {
    color: var(--deSuccess, #34c724);
  }
}

.pagination-cont {
  text-align: right;
  margin-top: 10px;

  .el-pager li {
    background-color: #fff !important;
    border: 1px solid #bbbfc4 !important;
    border-radius: 4px !important;
    color: #1f2329 !important;
    box-sizing: border-box;
    line-height: 26px;
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 400;
  }

  .btn-prev,
  .btn-next {
    background-color: #fff !important;
    border: 1px solid #bbbfc4 !important;
    border-radius: 4px !important;
    color: #bbbfc4 !important;
  }

  .el-pagination__total {
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #1f2329 !important;
    line-height: 28px;
  }

  .number.active,
  .el-input__inner:hover {
    border-color: #3370ff !important;
    color: #3370ff !important;
    background-color: #fff !important;
  }

  .el-icon-more {
    border: none !important;
  }
}

.user-import-class>.el-dialog__body {
  padding-bottom: 1px;
}



.de-form-item {
  .el-form-item__label {
    width: 100% !important;
    text-align: left;
    margin-bottom: 8px;
    height: 22px;
    line-height: 22px !important;
    position: relative;
  }

  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
    display: none;
  }

  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label::after {
    content: "*";
    color: #f54a45;
    margin-left: 2px;
  }

  .el-form-item__content {
    margin-left: 0 !important;
  }

  .el-form-item {
    margin-bottom: 28px !important;
  }

  .tips-not-absolute {
    z-index: 10;
    position: relative;
  }

  textarea {
    height: 92px;
    width: 552px;
  }

  .el-textarea .el-input__count {
    font-family: PingFang SC;
    font-size: 12px;
    font-weight: 400;
    color: #8F959E;
    line-height: 20px;
    padding: 0 12px 6px 0;
    right: 1px;
    bottom: 1px;
    border-bottom-right-radius: 4px;
  }

  .de-select {
    width: 100%;
  }
}

.de-dialog-form {

  .el-dialog__close {
    font-size: 20px;
  }

  .el-dialog__body {
    padding: 0 24px 24px 24px;
  }

  .el-dialog__header {
    padding: 24px;
  }

  .el-dialog__footer {
    padding-top: 0;
  }
}

.de-confirm {
  border: none;

  .el-message-box__header {
    display: none;
  }

  .el-message-box__content {
    padding: 24px;
  }

  .el-message-box__container {
    display: flex;
    align-items: center;
  }

  .el-message-box__status {
    height: 22px;
    width: 22px;
    font-size: 22px !important;
    margin-right: 17px;
  }

  .el-message-box__message {
    //styleName: 中文/桌面端/四级标题 16 24 Medium;
    font-family: PingFang SC;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1f2329;
  }

  .el-message-box__btns {
    padding: 0;
  }

  .de-confirm-btn {
    height: 32px;
    width: 80px;
    border-radius: 4px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 0;
  }
}

.de-confirm-fail {
  padding: 0 24px 24px 0 !important;

  .el-message-box__status {
    color: #ff8800 !important;
  }
}

.de-use-html {
  min-width: 420px;
  width: auto !important;

  .el-message-box__container {
    position: relative;

    .use-html {
      //styleName: 中文/桌面端/正文 14 22 Regular;
      font-family: PingFang SC;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      color: #1f2329;
      display: inline-block;
      margin-top: 8px;
    }
  }

  .el-message-box__status {
    position: absolute;
    top: 1px;
    transform: translateY(0);
  }
}

.de-confirm-primary-btn {
  background: var(--primary, #3370ff) !important;
  border: none !important;
  color: #ffffff !important;

  &:hover {
    background: var(--primaryHover, #3370ff) !important;
  }

  &:active {
    background: var(--primaryActive, #3370ff) !important;
  }
}

.de-confirm-plain-cancel {
  background: #ffffff !important;
  border: 1px solid #bbbfc4 !important;
  color: #1f2329 !important;
}

.de-confirm-danger-btn {
  background: var(--deDanger, #f54a45) !important;
  border: none !important;
  color: #ffffff !important;

  &:hover {
    background: var(--deDangerHover, #f54a45) !important;
  }

  &:active {
    background: var(--deDangerActive, #f54a45) !important;
  }
}

.el-switch__label.is-active {
  color: var(--deTextPrimary, #1F2329) !important;
}


.date-filter-poper>.el-scrollbar>.el-select-dropdown__wrap {
  max-height: 230px !important;
}

.tox {
  border-radius: 4px !important;
}

.de-date-picker {
  .el-input__inner {
    padding: 12px;
  }

  .el-input__prefix {
    display: none;
  }

  .el-icon-circle-close {
    margin-right: 20px;
  }
}

.icon-calendar-outlined {
  position: absolute;
  right: 12px;
  bottom: 12px;
}


.de-input-search {
  .el-input__inner {
    padding-left: 36px;
  }

  .el-input__prefix {
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 16px;
    }
  }
}

.de-user-drawer {

  .el-drawer__header {
    padding: 16px 24px;
    margin: 0;
    font-family: PingFang SC;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--deTextPrimary, #1f2329);
    position: relative;
    box-sizing: border-box;
    height: 57px;
    mix-blend-mode: normal;
    border-bottom: 1px solid var(--deComBorderColor50, rgba(187, 191, 196, 0.5));

    .text-overflow {
      max-width: 300px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: none;
    }

    .el-drawer__close-btn {
      position: absolute;
      right: 24px;
      top: 16px;
      padding: 4px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center
    }

    .el-drawer__close-btn:hover {
      background: #e9e9ea;
    }
  }

  .el-drawer__body {
    padding: 16px 24px;
    position: unset;
    overflow-y: auto;
    padding-bottom: 80px;
  }

  .filter {
    display: flex;
    min-height: 46px;

    > :nth-child(1) {
      color: var(--deTextSecondary, #1f2329);
      font-family: "PingFang SC";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      white-space: nowrap;
      width: 116px;
    }

    .filter-item {
      flex: 1;

      .item,
      .more {
        font-family: PingFang SC;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-right: 12px;
        text-align: center;
        padding: 1px 6px;
        background: var(--deTextPrimary5, #f5f6f7);
        color: var(--deTextPrimary, #1f2329);
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 12px;
      }

      .active,
      .more:hover {
        background: var(--primary10, rgba(51, 112, 255, 0.1));
        color: var(--primaryselect, #0c296e);
      }

      .more {
        white-space: nowrap;
      }
    }
  }
}

.user-popper {
  padding: 0 !important;
  background: #fff !important;

  .popper__arrow {
    display: none !important;
  }
}

.tree-select {

  .el-select-dropdown__empty,
  .el-scrollbar__wrap,
  .popper__arrow {
    display: none !important;
  }
}

.user-popper.dept {
  height: 400px;
  overflow: auto;

}

.upload-user {
  margin-bottom: 5px;

  .el-upload {
    width: 100%;
  }
}

.de-row-rules {
  display: flex;
  align-items: center;
  position: relative;
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding-left: 10px;
  margin: 24px 0 16px 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 2px;
    background: #3370ff;
  }

  .explain {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 8px;
    color: var(--deTextSecondary, #646a73);
  }
}

.de-foot {
  position: absolute;
  height: 80px;
  width: 100%;
  padding: 24px;
  right: 0;
  z-index: 1;
  bottom: 0;
  text-align: right;
  background-color: #fff;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.05);
}

.de-card-dropdown {
  margin-top: 0 !important;

  .popper__arrow {
    display: none !important;
  }
}

.de-card-dropdown-right {
  margin: 0px !important;
}

.de-search-table {
  .top-operate {
    margin-bottom: 16px;

    .right-user {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .de-button {
        margin-left: 12px;
      }

      .el-input--medium .el-input__icon {
        line-height: 32px;
      }
    }

    .name-email-search {
      width: 240px;
    }
  }
}

.w100-textarea {
  textarea {
    width: 100%;
  }
}

.schema-label {
  .el-form-item__label {
    display: flex;
    padding: 0 !important;
    justify-content: space-between;

    .el-button--text {
      z-index: 2;
    }
  }
}

.de-tree {
  .el-tree-node.is-current.is-focusable {
    &>.el-tree-node__content {
      background-color: var(--deWhiteHover, #e0eaff);
      color: var(--primary, #3370ff);
    }
  }

  .el-tree-node__content, .de-el-tree-node__content {

    .el-icon-more,
    .el-icon-plus {
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 12px;
      color: #646a73;
      cursor: pointer;
    }

    .el-icon-more:hover,
    .el-icon-plus:hover {
      background: rgba(31, 35, 41, 0.1);
      border-radius: 4px;
    }

    .el-icon-more:active,
    .el-icon-plus:active {
      background: rgba(31, 35, 41, 0.2);
      border-radius: 4px;
    }
  }
  .el-tree-node__content {
    height: 40px;
    border-radius: 4px;

    &:hover {
      background: rgba(31, 35, 41, 0.1);
    }
  }

  .de-el-tree-node__content {
    .el-button--text {
      padding: 0 !important;
    }
    .el-icon-more {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }
}

.de-text-btn {
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  padding: 2px 4px !important;

  &:hover {
    background: rgba(51, 112, 255, 0.1) !important;
  }
}

.de-status {
  position: relative;
  margin-left: 15px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
}

.de-Pending-result,
.de-Underway-result {
  &::before {
    background: var(--deTextPlaceholder, #8f959e);
  }
}

.de-Exec-result,
.de-Underway-pre {
  &::before {
    background: var(--primary, #3370ff);
  }
}

.de-Stopped-result,
.de-Completed-pre {
  &::before {
    background: var(--deSuccess, #34C724);
  }
}

.de-Error-pre {
  &::before {
    background: var(--deDanger, #F54A45);
  }

  .el-icon-s-order {
    color: var(--primary, #3370ff);
    cursor: pointer;
  }
}

.de-icon-sense {
  margin-right: 9px;
  width: 16px !important;
  height: 12px !important;
}

.filter-texts {
  display: flex;
  align-items: center;
  margin: 17px 0;
  font-family: "PingFang SC";
  font-weight: 400;

  .sum {
    color: #1f2329;
  }

  .title {
    color: #999999;
    margin-left: 8px;
  }

  .text {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px 22px 1px 6px;
    display: inline-block;
    align-items: center;
    color: #0c296e;
    font-size: 14px;
    line-height: 22px;
    background: rgba(51, 112, 255, 0.1);
    border-radius: 2px;
    margin: 0;
    margin-right: 8px;
    position: relative;

    i {
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .clear-btn {
    color: #646a73;
  }

  .clear-btn:hover {
    color: #3370ff;
  }

  .filter-texts-container::-webkit-scrollbar {
    display: none;
  }

  .arrow-filter {
    font-size: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #646a73;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-filter:hover {
    background: rgba(31, 35, 41, 0.1);
    border-radius: 4px;
  }

  .el-icon-arrow-right.arrow-filter {
    margin-left: 5px;
  }

  .el-icon-arrow-left.arrow-filter {
    margin-right: 5px;
  }

  .filter-texts-container {
    flex: 1;
    overflow-x: auto;
    white-space: nowrap;
    height: 24px;
  }
}

.db-multiple-select-pop {
  .selected::after {
    content: '';
    width: 6px;
    height: 12px;
    position: absolute;
    right: 12px;
    top: 9px;
    border: 2px solid #3370ff;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.role-add-name {
  .el-select-dropdown__item.selected::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 9px;
  }
}

.de-center-dialog {
  .el-dialog {
    margin: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.calcu-field {
  .calcu-cont {
    display: flex;
    justify-content: space-between;
  }

  .codemirror {
    height: 250px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #bbbfc4;
    border-radius: 4px;
  }

  .codemirror .CodeMirror-scroll {
    height: 250px;
    overflow-y: auto;
  }

  .mb8 {
    margin-bottom: 8px;
    display: inline-block;
  }
}

.operator-bar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 15;
  .title {
    font-family: PingFang SC;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1f2329;
  }
}

.el-table-column--selection {
  .cell {
    padding: 0 14px !important;
  }
}

.dept-popper {
  .el-tree-node__label {
    color: var(--deTextPrimary, #1F2329) !important;
  }
}

.el-pagination__editor.el-input .el-input__inner {
  line-height: 28px !important;
}

.el-table__fixed-right::before {
  display: none;
}