#app {

  .main-container {
    height: $contentHeight;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    margin-top: $topBarHeight;
    position: relative;
  }

  .sidebarHide {
    margin-left: 0 !important;
  }

  .sidebar-container {
    transition: width 0.28s;
    height: $contentHeight;
    position: fixed;
    font-size: 0px;
    top: $topBarHeight;
    bottom: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;

    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: var(--SiderBG, #ffffff);
    }



    .submenu-title-noDropdown:not(.is-active), .el-submenu__title {
      color: var(--SiderTextColor, #1e212a);
      &:hover {
        background-color: var(--MenuHovorBG, rgba(158,158,158,.2)) !important;
        color: var(--TextActive, #3370ff);
      }
      &:focus {
        background-color: var(--MenuActiveBG, #ecf5ff) !important;
        color: var(--TextActive, #3370ff);
      }
    }
    .submenu-title-noDropdown.is-active {
        background-color: var(--MenuActiveBG, #ecf5ff) !important;
        color: var(--TextActive, #3370ff);
    }

    .is-active > .el-submenu__title {
        background-color: var(--MenuActiveBG, #ecf5ff) !important;
        color: var(--TextActive, #3370ff);
    }



    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: var(--SiderBG) !important;
      color: var(--SiderTextColor);
      &:hover {
        background-color: var(--MenuHovorBG, rgba(158,158,158,.2)) !important;
        color: var(--TextActive) !important;
      }
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .is-active.el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: var(--SiderBG) !important;
      color: var(--TextActive, #3370ff);

    }


  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;

          }
        }
      }
    }
  }



  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }



  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // background-color: $leftMenuHovor !important;
      background-color: var(--SiderBG) !important;
    }
  }

  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
