.top-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  border-bottom: 1px solid $--color-primary;

  .log {
    padding: 0 16px;
    line-height: 56px;
    height: 56px;
    font-size: 24px;
    font-weight: bold;

    float: left;

    img {
      width: auto;
      max-height: 45px;
    }
  }

  .el-menu {
    float: left;
    border: none !important;

    .nav-item {
      display: inline-block;

      .el-menu-item:not(.is-active) {

        &:hover {
          background-color: var(--ContentBG, #ecf5ff) !important;
        }

        &:focus {
          background-color: var(--ContentBG, #ecf5ff) !important;
        }

      }
      .el-menu-item.is-active {
        background-color: var(--ContentBG, #ecf5ff) ;
        color: var(--TextActive) !important;
      }

    }
  }
/* .blackTheme .el-menu {
    
    .nav-item {
      

      .el-menu-item:not(.is-active) {

        &:hover {
          background-color: var(--ContentBG) !important;
        }

        &:focus {
          background-color: var(--ContentBG) !important;
        }

      }
      .blackTheme .el-menu-item.is-active {
        background-color: var(--ContentBG) !important;
        color: var(--TextActive) !important;
      }

    }
} */

  .right-menu {
    float: right;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 10px 8px;
      height: 100%;
      font-size: 18px;
      
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background-color: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .de-user-avatar {
          cursor: pointer;
          height: 40px;
          border-radius: 10px;

          span {
            color: #ffffff;
          }
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
