/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/



/* theme color */

/* $--color-primary: #0a7be0;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C; */
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid #dfe6ec;

$--font-path: "~element-ui/lib/theme-chalk/fonts";
$--color-primary: #3370ff;

@import "~element-ui/packages/theme-chalk/src/index";
// topBar
$topBarBg: #f1f3f8;
$topBarMenuHovor: rgba(158,158,158,.2);
$topBarMenuActive: $--color-primary;
$topBarMenuText: #1e212a;
$topBarMenuTextActive: #f4f4f5;
// sidebar
$leftMenuBg: #ffffff;
$leftMenuActive: #ebf4fd;
$leftMenuHovor: rgba(158,158,158,.2);
$leftMenuText: #1e212a;
$leftMenuTextActive: $--color-primary;


$colorBg: rgba(10, 123, 224, .1); 
$sideBarWidth: 210px;
$topBarHeight: 56px;
$contentHeight: calc(100vh - 56px);


:export {
  theme: $--color-primary;

  sideBarWidth: $sideBarWidth;


  topBarBg: $topBarBg;
  topBarMenuHovor: $topBarMenuHovor;
  topBarMenuActive: $topBarMenuActive;
  topBarMenuText: $topBarMenuText;
  topBarMenuTextActive: $topBarMenuTextActive;
  leftMenuBg: $leftMenuBg;
  leftMenuActive: $leftMenuActive;
  leftMenuHovor: $leftMenuHovor;
  leftMenuText: $leftMenuText;
  leftMenuTextActive: $leftMenuTextActive;
}
