<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.datains.base.mapper.ext.DEVersionMapper">

    <select id="lastSuccessDataInsVersion" resultType="Integer">
		select installed_rank from datains_version where success = 1  order by installed_rank desc limit 1
    </select>

    <select id="lastDataInsCodeVersion" resultType="Integer">
		select installed_rank from datains_code_version  order by installed_rank desc limit 1
    </select>
</mapper>
