.#{$theme-name} {
  .esriPrint {
    border-color: transparent;
    @include calcite-box-shadow-base;
  }
  .esriPrintButton {
    .dijitButtonNode {
      border-width: 0;
    }
    .dijitArrowButton {
      border-width: 0 0 0 1px;
    }
  }
}

