<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.datains.base.mapper.FilePictureMapper">

    <insert id="insert" parameterType="io.datains.base.domain.FilePicture">
        INSERT INTO file_picture
	(   url
        <if test="imgDetailed != null and imgDetailed != ''">
            ,img_detailed
        </if>
        <if test="type != null and type != ''">
        ,type
        </if>
	)
	VALUES
	(  #{url}
        <if test="imgDetailed != null and imgDetailed != ''">
            ,#{imgDetailed}
        </if>
        <if test="type != null and type != ''">
            ,#{type}
        </if>
	);
    </insert>

    <select id="getList" resultType="io.datains.base.domain.FilePicture">
        select * from file_picture
        where 1=1
        <if test="type != null and type != ''">
        and type = #{type}
        </if>
    </select>

</mapper>
