<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.datains.base.mapper.FilePictureMapper">

    <insert id="insert" parameterType="io.datains.base.domain.FilePicture">
        INSERT INTO file_picture
	(   url,name
        <if test="imgDetailed != null and imgDetailed != ''">
            ,img_detailed
        </if>
        <if test="type != null and type != ''">
        ,type
        </if>
	)
	VALUES
	(  #{url},#{name}
        <if test="imgDetailed != null and imgDetailed != ''">
            ,#{imgDetailed}
        </if>
        <if test="type != null and type != ''">
            ,#{type}
        </if>
	);
    </insert>

    <select id="getList" resultType="io.datains.base.domain.FilePicture">
        select * from file_picture
        where 1=1
        <if test="type != null and type != ''">
        and type = #{type}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
    </select>

    <select id="getListByName" resultType="io.datains.base.domain.FilePicture">
        select name from file_picture
       group by name
    </select>

    <delete id="del">
      DELETE FROM file_picture WHERE id = #{id}
    </delete>

    <delete id="delName">
      DELETE FROM file_picture WHERE name = #{name}
    </delete>

    <select id="getNull" resultType="io.datains.base.domain.FilePicture">
        SELECT * FROM `file_picture` WHERE NAME IS NULL
    </select>

    <update id="update" parameterType="io.datains.base.domain.FilePicture">
        update file_picture
        <set>
            <if test="name != null and name != ''">
                 name = #{name},
            </if>
            <if test="url != null and url != ''">
                 url = #{url},
            </if>
            <if test="imgDetailed != null and imgDetailed != ''">
                 img_detailed = #{imgDetailed},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateName">
         update file_picture set name = #{newName} where name =#{oldName}
    </update>


</mapper>
