@import url("../common/domButtons/DomButtonColorButtons.css");
@import url("../common/domButtons/DomButtonBlackCircleCross.css");
@import url("../common/IconContainer_keyframes.css");

@import "variables.less";
@import "../common/IconContainer.less";

.mblIconItemPaneHeading {
	display: -ms-flexbox;
	-ms-flex-direction: column-reverse;
	text-shadow: none;
	background-image: none;
	border: none;
	position: relative;
	height: auto;
	padding: 0px;
}

.mblIconContainer {
	margin: 0px;
}

.mblIconItemPane {
	background-color: @win-dialog-color;
	color: white !important;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
	padding-left: @default-padding-left;
	padding-right: @default-padding-right;
	margin-left: -@default-padding-left;
	display: -ms-flexbox;
	-ms-flex-direction: column-reverse;
}

.mblContent {
	padding: 8px 0px;
}

.mblIconItemPaneIcon {
	position: relative;
	.default-vertical-margin;
	&:not([title='']) .mblDomButton {
		display: none;
	}
}

.mblCloseButton {
	display: inline !important;
}
