@import url("../common/domButtons/DomButtonGrayArrow.css");
@import url("../common/domButtons/DomButtonDarkBlueCheck.css");

@import "variables.less";
@import "../common/ListItem.less";

.mblListItem {
	.default-vertical-margin;

	& .mblListItemLabel {
		&:active {
			color: @win-accent-color;
		}

		&:first-child {
			margin-left: @mbl-list-item-height + 10px;
			overflow: visible;

			&:before {
				content: '';
				width: @mbl-list-item-height;
				height: @mbl-list-item-height;
				background-color: @win-app-bar-color;
				position: absolute;
				margin-left: -@mbl-list-item-height - 10px;
		  }
		}
	}

	& .mblListItemIcon {
		height: @mbl-list-item-height;
		width: @mbl-list-item-height;
		margin: 0 10px 0 0;
	}

	& .mblListItemEmptyIcon {
		padding-top: @mbl-list-item-height;
		background-color: @win-app-bar-color;
	}
}
