@import "variables.less";
@import "../common/RoundRectList.less";

.mblRoundRectList {
	padding: 0;
	border: none;
	background-color: transparent;
	margin: 0px;

	& .mblListItem {
		border-radius: 0px !important;
	}
}
