<div>
<div data-dojo-attach-point="chartsParent" class="dojoxCalcChartHolder"></div>
<div data-dojo-attach-point="outerDiv">
<div data-dojo-type="dijit.form.DropDownButton" data-dojo-attach-point="windowOptions" class="dojoxCalcDropDownForWindowOptions" title="Window Options">
	<div>Window Options</div>
	<div data-dojo-type="dijit.TooltipDialog" data-dojo-attach-point="windowOptionsInside" class="dojoxCalcTooltipDialogForWindowOptions" title="">
		<table class="dojoxCalcGraphOptionTable">
			<tr>
				<td>
					Width:
				</td>
				<td>
					<input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="graphWidth" class="dojoxCalcGraphWidth" value="500" />
				</td>
				<td>
					Height:
				</td>
				<td>
					<input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="graphHeight" class="dojoxCalcGraphHeight" value="500" />
				</td>
			</tr>
			<tr>
				<td>
					X >=
				</td>
				<td>
					<input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="graphMinX" class="dojoxCalcGraphMinX" value="-10" />
				</td>

				<td>
					X <=
				</td>
				<td>
					<input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="graphMaxX" class="dojoxCalcGraphMaxX" value="10" />
				</td>
			</tr>
			<tr>
				<td>
					Y >=
				</td>
				<td>
					<input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="graphMinY" class="dojoxCalcGraphMinY" value="-10" />
				</td>

				<td>
					Y <=
				</td>
				<td>
					<input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="graphMaxY" class="dojoxCalcGraphMaxY" value="10" />
				</td>
			</tr>
		</table>
	</div>
</div>

<BR>

<div class="dojoxCalcGrapherFuncOuterDiv">
	<table class="dojoxCalcGrapherFuncTable" data-dojo-attach-point="graphTable">
	</table>
</div>

<div data-dojo-type="dijit.form.DropDownButton" data-dojo-attach-point='addFuncButton' class="dojoxCalcDropDownAddingFunction">
	<div>Add Function</div>
	<div data-dojo-type="dijit.TooltipDialog" data-dojo-attach-point="addFuncInside" class="dojoxCalcTooltipDialogAddingFunction" title="">
		<table class="dojoxCalcGrapherModeTable">
			<tr>
				<td>
					Mode:
				</td>
				<td>
					<select data-dojo-type="dijit.form.Select" data-dojo-attach-point="funcMode" class="dojoxCalcFunctionModeSelector">
						<option value="y=" selected="selected">y=</option>
						<option value="x=">x=</option>
					</select>
				</td>
				<td>
			</tr>
	
			<tr>
				<td>
					<input data-dojo-type="dijit.form.Button" data-dojo-attach-point="createFunc" class="dojoxCalcAddFunctionButton" label="Create" />
				</td>
			</tr>
		</table>
	</div>
</div>
<BR>
<BR>
<table class="dijitInline dojoxCalcGrapherLayout">
	<tr>
		<td class="dojoxCalcGrapherButtonContainer">
			<input data-dojo-type="dijit.form.Button" class="dojoxCalcGrapherButton" data-dojo-attach-point='selectAllButton' label="Select All" />
		</td>
		<td class="dojoxCalcGrapherButtonContainer">
			<input data-dojo-type="dijit.form.Button" class="dojoxCalcGrapherButton" data-dojo-attach-point='deselectAllButton' label="Deselect All" />
		</td>
	</tr>
	<tr>
		<td class="dojoxCalcGrapherButtonContainer">
			<input data-dojo-type="dijit.form.Button" class="dojoxCalcGrapherButton" data-dojo-attach-point='drawButton'label="Draw Selected" />
		</td>
		<td class="dojoxCalcGrapherButtonContainer">
			<input data-dojo-type="dijit.form.Button" class="dojoxCalcGrapherButton" data-dojo-attach-point='eraseButton' label="Erase Selected" />
		</td>
	</tr>
	<tr>
		<td class="dojoxCalcGrapherButtonContainer">
			<input data-dojo-type="dijit.form.Button" class="dojoxCalcGrapherButton" data-dojo-attach-point='deleteButton' label="Delete Selected" />
		</td>
		<td class="dojoxCalcGrapherButtonContainer">
			<input data-dojo-type="dijit.form.Button" class="dojoxCalcGrapherButton" data-dojo-attach-point='closeButton' label="Close" />
		</td>
	</tr>
</table>
</div>
</div>
