@import "variables.less";
@import "../common/Slider.less";

.mblSlider {
  border-style: none;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  .mblSlider-styles;
}
.mblSliderH {
  width: 200px;
  height: 3px;
  background-color: @ios7-grey2;
  border-style: none;
}

.mblSliderV {
  height: 200px;
  width: 3px;
  background-color: @ios7-grey2;
  border-style: none;
}

.mblSliderProgressBar {
  border:radius: 0;
  background-image: none;
  background-color: @ios7-base-color;
}

.mblSliderHandle {
  .ios7-slider-background-image();
  .mblSliderHandle-styles;
}

.mblSliderHandle:after {
  border-style: solid;
  background-image: none;
  .mblSliderHandle-styles;
}


