@import "variables.less";
@import "../common/SpinWheel.less";

.mblSpinWheel {
  background-image: none;
  border: none;
}

.mblSpinWheelBar {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-top: solid 1px @ios7-grey2;
  border-bottom: solid 1px @ios7-grey2;
}

.mblSpinWheelSlot {
  border: none;
  color: @ios7-grey2;
}