@import "../common/css3.less";

@ios7-color: black;
@ios7-base-color: #007AFF;
@ios7-grey1: #F7F7F7;
@ios7-grey2: #929292;
@ios7-grey3: #EEEEEE;
@ios7-grey4: #A7A7AA;
@ios7-checkbox-border-color: #5C5C5C;
@ios7-checkbox-selected-color: #99BBCA;
@ios7-checkbox-tick-color: @ios7-base-color;
@ios7-checkbox-checked-color: #1F5366;
@ios7-switch-on-color: #0C86AF;
@ios7-switch-off-color: @ios7-base-color;
@ios7-switch-knob-color: #606060;
@ios7-slider-thumb-color: rgba(31, 83, 102, 0.8);
@ios7-slider-background-image-gecko: -moz-linear-gradient(top, @ios7-grey4 0%, @ios7-slider-thumb-color 100%);
@ios7-slider-track-color: #292929;
@default-blue-button-color: white;
@default-blue-button-background-color: #366edf;
@default-blue-button-background-image-gecko: none;

@mbl-color-blue-45-gecko: none;
@mbl-color-default-45-gecko: @ios7-base-color;
@mbl-color-default-sel-45-gecko: @ios7-grey4;

@default-button-color: @ios7-base-color;

@default-button-background-color: rgba(0, 0, 0, 0);
.default-button-background-image() {background-image: none};
@default-button-background-image-gecko: none;
@default-button-border-radius: 2px;

@default-button-selected-color: @ios7-grey3;
@default-button-selected-background-color: rgba(0, 0, 0, 0);
.default-button-selected-background-image () {background-image: none;}
@default-button-selected-background-image-gecko: none;

@default-selected-color: white;
@default-selected-background-color: #3578b1;
@default-selected-background-image: none;
@default-selected-background-image-gecko: none;

@heading-background-color: #F7F7F7;
.heading-background-image () { background-image: none; }
@heading-background-image-gecko: none;
@heading-border-top-color: #cdd5df;
@heading-border-bottom-color: @ios7-base-color;


.default-blue-button-background-image () {
	background-image: none;
}
.mbl-color-blue-45 () {
	background-image: none;
}
.mbl-color-default-45 () { background-color: @ios7-base-color; }
.mbl-color-default-sel-45 () {background-color: @ios7-grey4; }


.default-button-border-styles () {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
	border-style: none;
}

.mblToolBarButtonBodyInLeftArrow-styles () {
	border-left-width: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: none;
}

.mblToolBarButtonBodyInRightArrow-styles () {
	border-right-width: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

// background styles of form controls
.mbl-button-background-image () { .default-button-border-styles; }

.mbl-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-blue-button-background-image () { .default-blue-button-background-image(); }
.mbl-blue-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-red-button-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#fa9d58, #ee4115, 0.5, #ff4d25, 0.5, #ed4d15);}

.mbl-red-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-button-checked-background-image () { background-color: transparent; }

// background styles of form controls (for gecko)
@mbl-button-background-image-gecko: none;
@mbl-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@mbl-blue-button-background-image-gecko: @default-blue-button-background-image-gecko;
@mbl-blue-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@mbl-red-button-background-image-gecko: none;
@mbl-red-button-selected-background-image-gecko: none;
@mbl-button-checked-background-image-gecko: none;

// common.less
.mobile-body-styles () {
	font-family: Helvetica;
	font-size: 17px;
	color: @ios7-color;
}

.mblBackground-styles () {
	background-color: white;
}

.mblView-styles () {
	color: @ios7-color;
}

.mblColorBlue-styles () {
	color: @default-blue-button-color;
	background-color: @default-blue-button-background-color;
	.default-blue-button-background-image();
}

.mblColorDefault-styles () {
	color: @ios7-color;
	background-color: @default-button-background-color;
	.default-button-background-image();
}

.mblColorDefaultSel-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color;
	.default-button-selected-background-image();
}

// Heading.less
.mblHeading-styles () {
	color: @ios7-color;
	background-color: @heading-background-color;
	border-bottom-color: @ios7-grey4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 18px;
	font-weight: bold;
}

// ToolBarButton.less
@mbl-tool-bar-button-body-border-radius: 0;

.mblToolBarButton-styles () {
	text-shadow: none;
}

.mblToolBarButtonArrow-styles () {
	border: 5px solid #007AFF;
	border-top: none;
	border-right: none;
}

.mblToolBarButtonArrowInHeading-styles () {
}
.mblToolBarButtonHasLeftArrowInHeading-styles () {
}
.mblToolBarButtonHasLeftArrowInHeading-compat-gecko () {
}
.mblToolBarButtonHasRightArrowInHeading-styles () {
}
.mblToolBarButtonHasRightArrowInHeading-compat-gecko () {
}
.mblToolBarButtonArrowInLeftArrow-styles () {
	left: -1px;
}
.mblToolBarButtonArrowInRightArrow-styles () {
	right: -1px;
}
.mblToolBarButtonBody-styles () {
	border: none;
}
.mblToolBarButtonBodyInHeading-styles () {
}
.mblToolBarButtonBodyInHeading-compat-gecko () {
}

// RoundRect.less & RoundRectList.less
@mbl-round-rect-border-color: @ios7-grey1;
@mbl-round-rect-border-radius: 14px;
@mbl-round-rect-background-color: transparent;
@mbl-round-rect-box-shadow: none;

.mblRoundRect-styles () {
	color: @ios7-color;
	border: 1px solid #C8C7CC;
}

// EdgeToEdgeCategory.less
.mblEdgeToEdgeCategory-styles () {
	height: 35px;
	background-color: rgba(0,0,0,0);
	color: #6D6D72;
	line-height: 35px;
	margin-right:7px;
	margin-left:7px;
	margin-top: 10px;
	text-transform: uppercase;
}

// RoundRectCategory.less
@mbl-value-picker-slot-margin: 0 5px;
.mblRoundRectCategory-styles () {
	color: #6D6D72;
}

// EdgeToEdgeList.less
.mblEdgeToEdgeList-styles () {
	background-color: white;
	border-top: 1px solid #C8C7CC;
	border-bottom: 1px solid #C8C7CC;
}

.mblEdgeToEdgeList-LastListItem-styles () {
	border: none;
}

// ListItem.less
@mbl-list-item-height: 50px;

.mblListItem-styles () {
	border-bottom: 1px solid #C8C7CC;
	margin-left: 0px;
	margin-right: 0px;
	background-color: white;
	font-size: 18px;
	color: @ios7-color;
	padding: 0 16px;
}

.mblListItemSelected-styles () {
	color: @default-selected-color;
	background-color: @default-selected-background-color;
}

.mblListItemLabelSelected-styles () {
	background-color: red;
}

.mblListItemChecked-styles () {
}

.mblListItemRightText-styles () {
	color: @ios7-color;
	margin-top: 14px;
}

.mblListItemSubText-styles () {
	font-size: 14px;
	color: gray;
}

// Switch.less
@mbl-switch-bg-left-background-color: #00a200;
.mbl-switch-bg-left-background-image () {background-image: none; }
@mbl-switch-bg-right-background-color: #bdbebd;
.mbl-switch-bg-right-background-image () {.background-image-linear-gradient-top-bottom(#bdbebd, #f7f3f7); }
.mbl-switch-knob-background-image () {.background-image-linear-gradient-top-bottom(#9c9a9c, #848284); }

@mbl-switch-bg-left-background-image-gecko: none;
@mbl-switch-bg-right-background-image-gecko: -none;
@mbl-switch-knob-background-image-gecko: none;
@mbl-switch-square-border-radius: 0px;

.mblSwitchBg-styles () {
	border: rgba(176,176,176,0.5) 1px inset;
}
.mblSwitchKnob-styles () {
	border: rgba(157,157,157,0.5) 1px outset;
}

// Button.less
.mblButton-styles () {
	.default-button-border-styles;
	height: 40px;
	color: @ios7-color;
}

.mblButtonSelected-styles () {
	color: @ios7-color;
	border-color: transparent;
	background-image: none;
	background-color: #2C94BB;
	box-shadow: 0px 0px 1px 4px #1F5366;
}

.mblButton-mblBlueButton-styles () {
	color: @ios7-color;
	.default-button-border-styles;
	background-color: #0099CC;
}

.mblButton-mblRedButton-styles () {
	color: @ios7-color;
	.default-button-border-styles;
	background-color: #CC0000;
}

// CheckBox.less
.mblCheckBox-styles () {
	border-color: @ios7-checkbox-border-color;
	border-width: 1px;
	background-color: transparent;
	background-image: none;
	border-style: solid;
}

.mblCheckBoxChecked-after-styles () {
	border-color: white;
	background-color: transparent;
	background-image: none;
}

.mblCheckBoxChecked-mblCheckBoxSelected-after-styles () {
	background-color: transparent;
	background-image: none;
}

// ComboBox.less
@mbl-combo-box-popup-box-shadow: 0 0 50px @ios7-color;

.dijitPopup-styles () {
	border-radius: 0;
}

.mblComboBoxMenu-styles () {
	border-radius: 0;
	background-color: white;
	color: @ios7-color;
}

.mblComboBoxMenuItem-styles () {
	border-color: @ios7-grey3;
	border-top: none;
	border-bottom: none;
	height: 35px;
	padding-top: 17px;
}

.mblComboBoxMenuItemSelected-styles () {
	background-color: red;
	color: white;
}

// IconContainer.less
.mblIconItemSub-styles () {
	background-color: white;
	color: @ios7-color;
}

.mblIconArea-styles () {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 74px;
	color: @ios7-color;
}

.mblIconItemDeleteIcon-styles () {
	top: -4px;
	left: -2px;
}

// RadioButton.less
.mblRadioButton-styles () {
	border-color: @ios7-checkbox-border-color;
}

.mblRadioButtonChecked-after-styles () {
	border-color: @ios7-checkbox-tick-color;
}

.mblRadioButtonChecked-Selected-after-styles () {
	border-color: @ios7-checkbox-tick-color;
}

// Slider.less
@mbl-slider-bar-border-radius: 10em;
@mbl-slider-knob-border-radius: 10em;

.mblSlider-styles () {
}

.mblSliderHandle-styles () {
	border-color: transparent;
}

.ios7-slider-background-image () {
	background-image: none;
	background-color: white;
	box-shadow: 0px 0px 3px #888;;
}

// TabBar.less
.ios7TabBarBackground-styles () {
	background-color: @ios7-grey3;
	border: none;
}

.mblTabBar-styles () {
}

// barType="tabBar"
.mblTabBarTabBar-styles () {
	.ios7TabBarBackground-styles;
	line-height: 0.5em;
}

.mblTabBarTabBar-compat () {
	line-height: 0.5em;
}

.mblTabBarTabBarButton-styles () {
	height:47px;
}

.mblTabBarTabBarButtonIconArea-styles () {
}

.mblTabBarTabBarButtonLabel-styles () {
}

.mblTabBarTabBarButtonSelected-styles () {
	color: @ios7-base-color;
}

.mblTabBarTabBarButtonLabelSelected-styles () {
}

// barType="segmentedControl"
@mbl-tab-bar-segmented-control-border-radius: 0px;

.mblTabBarSegmentedControl-styles () {
	.ios7TabBarBackground-styles;
}

.mblTabBarSegmentedControlButton-styles () {
	color: @ios7-base-color;
	height:28px;
	font-weight: normal;
}

.mblTabBarSegmentedControlButton-compat-gecko () {
}

.mblTabBarSegmentedControlButtonSelected-styles () {
	height:28px;
	background-color: @ios7-base-color;
	color: white;
	font-weight: normal;
}

// barType="standardTab"
.mblTabBarStandardTab-styles () {
	.ios7TabBarBackground-styles;
	font-weight: normal;
}

.mblTabBarStandardTabButton-styles () {
}

.mblTabBarStandardTabButtonIconArea-styles () {
}

.mblTabBarStandardTabButtonLabel-styles () {
	font-weight: normal;
}

.mblTabBarStandardTabButtonSelected-styles () {
	color: white;
	background-color: @ios7-base-color;
}

.mblTabBarStandardTabButtonLabelSelected-styles () {
}

// barType="tallTab"
.mblTabBarTallTab-styles () {
	.ios7TabBarBackground-styles;
}

.mblTabBarTallTabButton-styles () {
}

.mblTabBarTallTabButton-FirstChild-styles () {
}

.mblTabBarTallTabButton-LastChild-styles () {
}

.mblTabBarTallTabButtonIconArea-styles () {
}

.mblTabBarTallTabButtonLabel-styles () {
}

.mblTabBarTallTabButtonSelected-styles () {

}

.mblTabBarTallTabButtonLabelSelected-styles () {
}

// TextArea.less
.mblTextArea-styles () {
	.default-button-border-styles;
	color: @ios7-color;
	border-radius: 0;
	border: solid 1px @ios7-base-color;
	font-size: 17px;
}

// TextBox.less
.mblTextBox-styles () {
	border: solid 1px @ios7-base-color;
	font-size: 17px;
	color: @ios7-color;
}

// ToggleButton.less
.mblToggleButton-styles () {
	.default-button-border-styles;
	font-size: 13px;
	color: @ios7-color;
}

.mblToggleButtonSelected-styles () {
	color: white;
}

.mblToggleButtonChecked-styles () {
	color: white;
}

.mblToggleButtonChecked-after-styles () {
	border-color: white;
}

.mblToggleButtonCheckedSelected-styles () {
	color: white;
}

.mblToggleButtonCheckedSelected-after-styles () {
}

// Overlay.less
.mblOverlay-styles () {
	background-color: white;
	background-image: none;
}

.mblOverlay-compat () {
}

.mblOverlay-compat-gecko () {
}

// Tooltip.less
@mbl-tooltip-border-radius: 3px;

.mblTooltip-styles () {
	border-color: #adaaad;
	border-radius: @mbl-tooltip-border-radius;
	background-color: white;
	background-image: none;
}

.mblTooltipBubble-styles () {
	background-color: #306ea1;
	background-image: none;
	color: white;
}

.mblTooltipInnerArrow-Bubble-Above-styles () {
	border-bottom-color: #306ea1;
}

.mblTooltipInnerArrow-Bubble-Below-styles () {
	border-top-color: #306ea1;
}

.mblTooltipInnerArrow-Bubble-After-styles () {
	border-left-color: #306ea1;
}

.mblTooltipInnerArrow-Bubble-Before-styles () {
	border-right-color: #306ea1;
}

.mblTooltipArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #adaaad;
}

.mblTooltipArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #adaaad;
}

.mblTooltipArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #adaaad;
}

.mblTooltipArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #adaaad;
}

.mblTooltipInnerArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #848284;
}

.mblTooltipInnerArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #848284;
}

.mblTooltipInnerArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #9c9e9c;
}

.mblTooltipInnerArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #848284;
}

.mblTooltip-Heading-styles () {
	padding-bottom: 3px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	background-image: none;
}

.mblTooltip-Heading-compat () {
}

.mblTooltip-Heading-ToolbarButton-styles () {
}

.mblTooltip-Heading-ToolbarButton-compat () {
}

// Accordion.less
.mblAccordion-styles () {
	border-style:none;
}

.mblAccordionTitle-styles () {
	.mbl-button-background-image();
}

.mblAccordionTitle-compat () {
}

.mblAccordionTitle-compat-gecko () {
	.mbl-button-background-image();
}

.mblAccordionTitleSelected-styles () {
	background-color: @ios7-grey4;
}

.mblAccordionTitleSelected-compat () {
	background-color: @ios7-grey4;
}

.mblAccordionTitleSelected-compat-gecko () {
	background-color: @ios7-grey4;
}

.mblAccordionTitleAnchor-styles () {
	color: @ios7-color;
}

.mblAccordionTitleAnchorSelected-styles () {
	color: @ios7-color;
}

// SimpleDialog.less
@mbl-simple-dialog-border-radius: 2px;

.mblSimpleDialog-styles () {
	padding: 5px;
	width: 262px;
}

.mblSimpleDialogDecoration-styles () {
	background-color: rgba(64,64,64,0.85);
	border: 2px solid #eeeeee;
	color: @ios7-color;

	background-image: none;
	background-color: @ios7-grey1;
	border-style: none;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: rgba(255,255,255,0.6);
	border-radius: 2px;
}

.mblSimpleDialogDecoration-compat () {
	background-color: #404040;
}

.mblSimpleDialogDecoration-compat-gecko () {
	background-color: rgba(64,64,64,0.85);
}

.mblSimpleDialogTitle-styles () {
	margin: 14px 0 7px -5px;
	padding: 0 14px 14px;
	width: 244px;
	border-bottom: 1px solid @ios7-grey4;
	font-size: 17px;
	text-align: left;
}

.mblSimpleDialogText-styles () {
	margin: 14px 9px;
	width: 244px;
	font-size: 17px;
	text-align: left;
}

// IconMenu.less
@mbl-icon-menu-border-radius: 6px;
@mbl-icon-menu-item-border-radius: 6px;

.mblIconMenu-styles () {
	padding: 0;
	background-color: rgba(200, 200, 200, 0.45);
	border: 1px solid @ios7-base-color;
}

.mblIconMenu-compat () {
	background-color: #404040;
}

.mblIconMenu-compat-gecko () {
	background-color: rgba(64, 64, 64, 0.85);
}

.mblIconMenuItem-styles () {
}

.mblIconMenuItemAnchor-styles () {
	font-size: 13px;
	color: @ios7-color;
}

.mblIconMenuItemSel-styles () {
	background-color: @default-selected-background-color;
	color: white;
}

.mblIconMenuItemSel-compat () {
	background-color: @default-selected-background-color;
}

.mblIconMenuItemSel-compat-gecko () {
	background-color: @default-selected-background-color;
}

// dijit.Calendar
.dijitCalendar-styles () {
	border: none 0 transparent;
	background-color: white;
}

.dijitCalendar-thead-styles () {
	background-color: @ios7-base-color;

}

.dijitCalendar-thead-compat () {
	background-color: @ios7-base-color;
}

.dijitCalendar-thead-compat-gecko () {
	background-color: @ios7-base-color;
}

.dijitCalendarMonthLabel-styles () {
	color: white;
	font-size: 16px;
}

.dijitCalendarMonthMenu-styles () {
}

.dijitCalendarMonthMenu-compat-ff3 () {
}

.dijitCalendarMonthMenu-Label-styles () {
	color: @ios7-color;
}

.dijitCalendarDecrease-styles () {
	border-right: 6px solid white !important;
}

.dijitCalendarIncrease-styles () {
	border-left: 6px solid white !important;
}

.dijitCalendarDayLabelTemplate-styles () {
	background-color: white;
	font-size: 12px;
	color: black;
}

.dijitCalendarDateTemplate-styles () {
	border-right: 1px solid lightGrey;
	background-color: white;
	color: @ios7-color;
}

.dijitCalendarDateTemplate-LastChild-styles () {
	border-right: none;
}

.dijitCalendarDateLabel-DateTemplate-styles () {
	border: none;
}

.dijitCalendarDateLabel-PrevMonth-styles () {
	color: lightGrey;
}

.dijitCalendarDateLabel-Hovered-styles () {
	color: @ios7-grey4;
}

.dijitCalendarDateLabel-Selected-styles () {
	color: @ios7-grey4;

}

.dijitCalendarDateLabel-Selected-compat () {
	color: @ios7-grey4;
}

.dijitCalendarDateLabel-Selected-compat-gecko () {
	color: @ios7-grey4;
}

.dijitCalendarDateLabel-Active-styles () {

}

.dijitCalendarDateLabel-Active-compat () {

}

.dijitCalendarDateLabel-Active-compat-gecko () {

}

.dijitCalendarYearLabel-styles () {
	padding: 0;
	background-color: @ios7-base-color;
}

.dijitCalendarYearLabel-compat () {
	background-color: @ios7-base-color;
}

.dijitCalendarYearLabel-compat-gecko () {
	background-color: @ios7-base-color;
}

.dijitCalendarSelectedYear-styles () {
	color: white;
	font-size: 16px;
}

.dijitCalendarNextYear-styles () {
	padding: 1px 6px 3px 6px;
	color: white;
	font-size: 12px;
}

// SearchBox.less
@mbl-searchbox-cancel-button-color: @ios7-color;
@mbl-searchbox-cancel-button-bg-color: transparent;
.mblSearchBox-Cancel-Button-styles () {
	border-radius: 0;
}
@mbl-searchbox-results-decoration-color: @ios7-color;

// ProgressBar.less
.mblProgressBar-styles () {
	border-radius: 0px;
	height: 2px;
	background-image: none;
	background-color: @ios7-grey4;
}

.mblProgressBarProgress-styles () {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background-image: none;
	background-color: @ios7-base-color;
	height: 2px;
}

.mblProgressBarComplete-styles () {
	border-radius: 0px;
}

.mblProgressBarNotStarted-styles () {
}

.mblProgressBarMsg-styles () {
	top: 3px;
}

.mblProgressBar-compat () {
	background-color: @ios7-base-color;
}

.mblProgressBarProgress-compat () {
	background-color: @ios7-grey4;
}

.mblProgressBar-compat-gecko () {
	background-image: none;
	background-color: @ios7-base-color;
}

.mblProgressBarProgress-compat-gecko () {
	background-image: none;
	background-color: @ios7-grey4;
}

// ValuePicker.less
.mbl-value-picker-slot-button-background-image () {background-image: none;}
@mbl-value-picker-slot-button-background-image-gecko: none;
@mbl-value-picker-slot-button-radius: 0px;
.mbl-value-picker-slot-input-area-background-image () {background-image: none;}
@mbl-value-picker-slot-input-area-background-image-gecko: none;

.mblValuePickerSlot-style () {
	margin: 0 5px;
}

.mblValuePickerSlot-input-style () {
	font-size: 28px;
	color: @ios7-color;
}

