@font-face {
  font-family: "iconfont"; /* Project id 2459092 */
  src: url('iconfont.woff2?t=1625127498350') format('woff2'),
       url('iconfont.woff?t=1625127498350') format('woff'),
       url('iconfont.ttf?t=1625127498350') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-solid_line:before {
  content: "\e64a";
}

.icon-huabi:before {
  content: "\e640";
}

.icon-dianxian:before {
  content: "\e614";
}

.icon-xuxian:before {
  content: "\e617";
}

.icon-beijingse1:before {
  content: "\e600";
}

.icon-juxing:before {
  content: "\e648";
}

.icon-text:before {
  content: "\e959";
}

.icon-picture:before {
  content: "\e643";
}

.icon-shuru:before {
  content: "\e6ab";
}

.icon-tree:before {
  content: "\e628";
}

.icon-chaxunsousuo:before {
  content: "\e615";
}

.icon-jidu:before {
  content: "\e624";
}

.icon-shuzishunxu:before {
  content: "\e7de";
}

.icon-Group-:before {
  content: "\e6a6";
}

.icon-riqi:before {
  content: "\e639";
}

.icon-zuoce-qujian:before {
  content: "\e6dd";
}

.icon-liebiao:before {
  content: "\e66f";
}

.icon-xialakuang:before {
  content: "\e8ca";
}

.icon-xialashu:before {
  content: "\e8d0";
}

.icon-zhongzhi:before {
  content: "\e611";
}

.icon-ri:before {
  content: "\e691";
}

.icon-nian:before {
  content: "\e692";
}

.icon-yue:before {
  content: "\e695";
}

