@font-face {
  font-family: "iconfont"; /* Project id 2459092 */
  src: url('iconfont.woff2?t=1627282547459') format('woff2'),
  url('iconfont.woff?t=1627282547459') format('woff'),
  url('iconfont.ttf?t=1627282547459') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e612";
}

.icon-xiangqing1:before {
  content: "\e706";
}

.icon-weibiaoti-1:before {
  content: "\e603";
}

.icon-weibiaoti-:before {
  content: "\e602";
}

.icon-touming:before {
  content: "\e642";
}

.icon-fangxing-:before {
  content: "\e61a";
}

.icon-fangda:before {
  content: "\e62d";
}

.icon-shezhi:before {
  content: "\e696";
}

.icon-quanping1:before {
  content: "\e655";
}

.icon-font-weight-bold:before {
  content: "\e659";
}

.icon-letter_spacing:before {
  content: "\e601";
}

.icon-letter-spacing:before {
  content: "\e679";
}

.icon-zimua:before {
  content: "\e60e";
}

.icon-format_letter_spacing_:before {
  content: "\e6c3";
}

.icon-font_size:before {
  content: "\e710";
}

.icon-align-center:before {
  content: "\e972";
}

.icon-juyou:before {
  content: "\e608";
}

.icon-juzuo:before {
  content: "\e688";
}

.icon-solid_line:before {
  content: "\e64a";
}

.icon-huabi:before {
  content: "\e640";
}

.icon-dianxian:before {
  content: "\e614";
}

.icon-xuxian:before {
  content: "\e617";
}

.icon-beijingse1:before {
  content: "\e600";
}

.icon-juxing:before {
  content: "\e648";
}

.icon-text:before {
  content: "\e959";
}

.icon-picture:before {
  content: "\e643";
}

.icon-shuru:before {
  content: "\e6ab";
}

.icon-tree:before {
  content: "\e628";
}

.icon-chaxunsousuo:before {
  content: "\e615";
}

.icon-jidu:before {
  content: "\e624";
}

.icon-shuzishunxu:before {
  content: "\e7de";
}

.icon-Group-:before {
  content: "\e6a6";
}

.icon-riqi:before {
  content: "\e639";
}

.icon-zuoce-qujian:before {
  content: "\e6dd";
}

.icon-liebiao:before {
  content: "\e66f";
}

.icon-xialakuang:before {
  content: "\e8ca";
}

.icon-xialashu:before {
  content: "\e8d0";
}

.icon-zhongzhi:before {
  content: "\e611";
}

.icon-ri:before {
  content: "\e691";
}

.icon-nian:before {
  content: "\e692";
}

.icon-yue:before {
  content: "\e695";
}

