<div dojoAttachPoint="paginatorBar"
	><table cellpadding="0" cellspacing="0"  class="dojoxGridPaginator"
		><tr
			><td dojoAttachPoint="descriptionTd" class="dojoxGridDescriptionTd"
				><div dojoAttachPoint="descriptionDiv" class="dojoxGridDescription"></div
			></div></td
			><td dojoAttachPoint="sizeSwitchTd"></td
			><td dojoAttachPoint="pageStepperTd" class="dojoxGridPaginatorFastStep"
				><div dojoAttachPoint="pageStepperDiv" class="dojoxGridPaginatorStep"></div
			></td
			><td dojoAttachPoint="gotoPageTd" class="dojoxGridPaginatorGotoTd"
				><div dojoAttachPoint="gotoPageDiv" class="dojoxGridPaginatorGotoDiv" dojoAttachEvent="onclick:_openGotopageDialog, onkeydown:_openGotopageDialog"
					><span class="dojoxGridWardButtonInner">&#8869;</span
				></div
			></td
		></tr
	></table
></div>
