<div class="esriGEComparisonTableInfographic">
    <div data-dojo-attach-point="noDataPlaceHolder" class="esriGENoDataPlaceHolder">
        <div class="esriGENoDataPlaceHolderLabel">${nls.noComparisonData}</div>
    </div>
    <div data-dojo-attach-point="titleDiv" class="comparisonTableInfographic_titleDiv"></div>
    <div data-dojo-attach-point="dataDiv" class="comparisonTableInfographic_dataDiv">
        <div data-dojo-attach-point="dataSectionDiv" class="esriGEAbsoluteStretched"></div>
        <div data-dojo-attach-point="chartDiv" class="esriGEAbsoluteStretched"></div>
    </div>
</div>


