<div class="esriGEMinMaxLegend">
    <div class="esriGEMinMaxLegend_variableBlock">
        <div class="esriGEMinMaxLegend_titleRow" data-dojo-attach-point="largestGroupTitleDiv">${nls.largestGroup}</div>
        <div class="esriGEMinMaxLegend_valueRow" data-dojo-attach-point="largestGroupDiv"></div>
    </div>
    <div class="esriGEMinMaxLegend_variableBlock">
        <div class="esriGEMinMaxLegend_titleRow" data-dojo-attach-point="smallestGroupTitleDiv">${nls.smallestGroup}</div>
        <div class="esriGEMinMaxLegend_valueRow" data-dojo-attach-point="smallestGroupDiv"></div>
    </div>
</div>