<div class="esriGEPaginatableTableInfographic">
    <div data-dojo-attach-point="noDataPlaceHolder" class="esriGENoDataPlaceHolder">
        <div class="paginatableTableInfographic_noDataPlaceHolderImage"></div>
        <div data-dojo-attach-point="noDataPlaceHolderLabel" class="esriGENoDataPlaceHolderLabel"></div>
    </div>
    <div data-dojo-attach-point="dataDiv">
        <div data-dojo-attach-point="titleDiv" class="paginatableTableInfographic_titleDiv"></div>
        <div data-dojo-attach-point="paginationDiv" class="esriGEAbsoluteStretched"></div>
        <div data-dojo-attach-point="pageNavigatorDiv" class="paginatableTableInfographic_pageNavigatorDiv"></div>
        <div data-dojo-attach-point="footnoteDiv" class="paginatableTableInfographic_footNoteDiv"></div>
    </div>
</div>


