<div class="esriGEReportPlayer_reportContainerGrid esriGENonSelectable">
    <div data-dojo-attach-point="mainContainer" class="reportContainerGrid_mainContainer">
        <div data-dojo-attach-point="fillerContainer" class="reportContainerGrid_gridZoomFillerContainer">
            <div data-dojo-attach-point="scalableContainer" class="reportContainerGrid_gridZoomScalableContainer">
                <div data-dojo-attach-point="stackContainer" class="reportContainerGrid_gridStackContainer"></div>
            </div>
        </div>
    </div>
</div>