<div class="esriGEReportPlayer_reportContainerStackAll">
    <div data-dojo-attach-point="waitingNode"></div>
    <div data-dojo-attach-point="emptyPlaceholder" class="reportContainerStackAll_emptyPlaceholder">${nls.infographicEmpty}</div>
    <div data-dojo-attach-point="fillerContainer" class="reportContainerStackAll_zoomFillerContainer">
        <div data-dojo-attach-point="scalableContainer" class="reportContainerStackAll_zoomScalableContainer">
            <div data-dojo-attach-point="groupLabelsContainerFiller" class="reportContainerStackAll_groupLabelsContainerFiller"></div>
            <div data-dojo-attach-point="innerContainersDiv" class="reportContainerStackAll_innerContainersDiv"></div>
        </div>
    </div>
    <div data-dojo-attach-point="groupLabelsContainer" class="reportContainerStackAll_groupLabelsContainer"></div>
</div>