<div class="esriGESimpleInfographic">
    
    <div data-dojo-attach-point="mainViewDiv" class="esriGEAbsoluteStretched"></div>

    <div data-dojo-attach-point="dataDrillingViewDiv" class="simpleInfographic_dataDrillingViewDiv esriGEReportPlayer">
        <div data-dojo-attach-point="drilledDataViewDiv" class="simpleInfographic_drilledDataViewDiv esriGEAbsoluteStretched">
            <div data-dojo-attach-point="drilledDataViewDivScaler"></div>
        </div>
        <div data-dojo-attach-point="topToolbar" class="simpleInfographic_topToolbar">
            <div data-dojo-attach-point="dynamicSettingsToolbarRoot" class="dijitInline simpleInfographic_dynamicSettingsToolbarRoot"></div>
            <div data-dojo-attach-point="drillingOptionsButton" class="dijitInline simpleInfographic_drillingOptionsButton"></div>
            <div data-dojo-attach-point="exportButton" class="dijitInline simpleInfographic_exportButton"></div>
            <div data-dojo-attach-point="printButton" class="dijitInline simpleInfographic_printButton"></div>
            <div data-dojo-attach-point="backToMainViewButton" class="dijitInline simpleInfographic_backToMainViewButton"></div>
        </div>
    </div>

</div>


