<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.chart.dao.ext.mapper.ExtChartViewMapper">

  <select id="selectListCustom" resultType="io.dataease.chart.dao.auto.entity.CoreChartView">
        select * from
    <choose>
            <when test="resourceTable == 'snapshot'">
                snapshot_core_chart_view
            </when>
            <otherwise>
                core_chart_view
            </otherwise>
    </choose>
        where scene_id = #{sceneId}
    </select>
    <delete id="deleteViewsBySceneId">
          delete from
    <choose>
            <when test="resourceTable == 'snapshot'">
                snapshot_core_chart_view
            </when>
            <otherwise>
                core_chart_view
            </otherwise>
    </choose>
          where scene_id = #{sceneId}
      </delete>
</mapper>
