<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.visualization.dao.ext.mapper.ExtDataVisualizationMapper">
    <insert id="viewCopyWithDv">
        INSERT INTO `core_chart_view` (`id`,
                                       `title`,
                                       `scene_id`,
                                       `table_id`,
                                       `type`,
                                       `render`,
                                       `result_count`,
                                       `result_mode`,
                                       `x_axis`,
                                       `x_axis_ext`,
                                       `y_axis`,
                                       `y_axis_ext`,
                                       `ext_stack`,
                                       `ext_bubble`,
                                       `ext_label`,
                                       `ext_tooltip`,
                                       `custom_attr`,
                                       `custom_style`,
                                       `custom_filter`,
                                       `drill_fields`,
                                       `senior`,
                                       `create_by`,
                                       `create_time`,
                                       `update_time`,
                                       `snapshot`,
                                       `style_priority`,
                                       `chart_type`,
                                       `is_plugin`,
                                       `data_from`,
                                       `view_fields`,
                                       `refresh_view_enable`,
                                       `refresh_unit`,
                                       `refresh_time`,
                                       `linkage_active`,
                                       `jump_active`,
                                       `copy_from`,
                                       `copy_id`)
        SELECT core_chart_view.`id` + #{copyId} as id,
               `title`,
               #{newDvId} as 'scene_id', `table_id`,
               `type`,
               `render`,
               `result_count`,
               `result_mode`,
               `x_axis`,
               `x_axis_ext`,
               `y_axis`,
               `y_axis_ext`,
               `ext_stack`,
               `ext_bubble`,
               `ext_label`,
               `ext_tooltip`,
               `custom_attr`,
               `custom_style`,
               `custom_filter`,
               `drill_fields`,
               `senior`,
               `create_by`,
               `create_time`,
               `update_time`,
               `snapshot`,
               `style_priority`,
               `chart_type`,
               `is_plugin`,
               `data_from`,
               `view_fields`,
               `refresh_view_enable`,
               `refresh_unit`,
               `refresh_time`,
               `linkage_active`,
               `jump_active`,
               core_chart_view.`id` as 'copy_from',
                #{copyId} as 'copy_id'
        FROM core_chart_view
        WHERE core_chart_view.scene_id = #{sourceDvId}
    </insert>
    <insert id="dvCopy">
        INSERT INTO `data_visualization_info` (
            `id`,
            `name`,
            `pid`,
            `org_id`,
            `level`,
            `node_type`,
            `type`,
            `canvas_style_data`,
            `component_data`,
            `mobile_layout`,
            `status`,
            `self_watermark_status`,
            `sort`,
            `create_time`,
            `create_by`,
            `update_time`,
            `update_by`,
            `remark`,
            `source`,
            `delete_flag`,
            `delete_time`,
            `delete_by`
        )
        select  #{newDvId},
               `name`,
               `pid`,
               `org_id`,
               `level`,
               `node_type`,
               `type`,
               `canvas_style_data`,
               `component_data`,
               `mobile_layout`,
               `status`,
               `self_watermark_status`,
               `sort`,
               `create_time`,
               `create_by`,
               `update_time`,
               `update_by`,
               `remark`,
               `source`,
               `delete_flag`,
               `delete_time`,
               `delete_by`  from data_visualization_info dvInfo where dvInfo.id = #{sourceDvId}
    </insert>
    <select id="findViewInfoByCopyId" resultType="io.dataease.chart.dao.auto.entity.CoreChartView">
        select id, copy_from from core_chart_view where copy_id = #{copyId}
    </select>

</mapper>
