<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.AuthMapper">

    <resultMap id="baseMap" type="io.dataease.auth.entity.SysUserEntity">
        <id column="user_id" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="dept_id" property="deptId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="enabled" property="enabled"/>
        <result column="is_admin" jdbcType="BIT" property="isAdmin"/>
        <result column="from" property="from"/>
        <result column="dept_name" property="deptName"/>
    </resultMap>

    <resultMap id="roleMap" type="io.dataease.auth.api.dto.CurrentRoleDto">
        <id column="role_id" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>


    <select id="findUser" resultMap="baseMap">
        select sys_user.user_id,
               sys_user.username,
               sys_user.nick_name,
               sys_user.dept_id,
               sys_user.password,
               sys_user.enabled,
               sys_user.email,
               sys_user.phone,
               sys_user.language,
               sys_user.is_admin,
               sys_user.`from`,
               sys_dept.name as dept_name
        from sys_user
                 left join sys_dept on sys_user.dept_id = sys_dept.dept_id
        where user_id = #{userId}
    </select>

    <select id="findUserByName" resultMap="baseMap">
        select user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from sys_user
        where username = #{username}
    </select>

    <select id="findLdapUserByName" resultMap="baseMap">
        select user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from sys_user a
        where username = #{username} and a.from = 1
    </select>


    <select id="findCasUserByName" resultMap="baseMap">
        select user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from sys_user a
        where username = #{username} and a.from = 3
    </select>

    <select id="findUserBySub" resultMap="baseMap">
        select user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from sys_user
        where sub = #{sub}
          and `from` = #{userFrom}
    </select>

    <select id="roleCodes" resultType="String">
        select r.role_id
        from sys_role r
                 left join sys_users_roles sur on sur.role_id = r.role_id
        where sur.user_id = #{userId}
    </select>

    <select id="permissions" resultType="String">
        SELECT sys_menu.permission
        FROM (SELECT GET_V_AUTH_MODEL_ID_P_USE(#{userId}, 'menu') cids) t,
             sys_menu
        WHERE FIND_IN_SET(sys_menu.menu_id, cids)
        UNION ALL
        SELECT plugin_sys_menu.permission
        FROM (SELECT GET_V_AUTH_MODEL_ID_P_USE(#{userId}, 'menu') cids) t,
             plugin_sys_menu
        WHERE FIND_IN_SET(plugin_sys_menu.menu_id, cids)
    </select>

    <select id="userMenuIds" resultType="Long">
        select srm.menu_id
        from sys_roles_menus srm
                 left join sys_users_roles sur on sur.role_id = srm.role_id
        where sur.user_id = #{userId}
    </select>

    <select id="roles" resultMap="roleMap">
        select r.role_id, r.name
        from sys_role r
                 left join sys_users_roles sur on sur.role_id = r.role_id
        where sur.user_id = #{userId}
    </select>


    <select id="permissionsAll" resultType="String">
        SELECT sys_menu.permission
        FROM sys_menu
        UNION ALL
        SELECT plugin_sys_menu.permission
        FROM plugin_sys_menu
    </select>

    <select id="findWecomUser" resultMap="baseMap">
        select u.user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from
            sys_user_assist a
            left join
            sys_user u
        on u.user_id = a.user_id
        where a.wecom_id = #{wecomId}
    </select>

    <select id="findDingtalkUser" resultMap="baseMap">
        select u.user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from
            sys_user_assist a
            left join
            sys_user u
        on u.user_id = a.user_id
        where a.dingtalk_id = #{dingtalkId}
    </select>

    <select id="findLarkUser" resultMap="baseMap">
        select u.user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from
            sys_user_assist a
            left join
            sys_user u
        on u.user_id = a.user_id
        where a.lark_id = #{larkId}
    </select>

    <select id="findLarksuiteUser" resultMap="baseMap">
        select u.user_id,
               username,
               nick_name,
               dept_id,
               password,
               enabled,
               email,
               phone, language, is_admin, `from`
        from
            sys_user_assist a
            left join
            sys_user u
        on u.user_id = a.user_id
        where a.larksuite_id = #{larksuiteId}
    </select>

</mapper>
