<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.ExtAppLogMapper">
    <resultMap id="BaseResultMapDTO" type="io.dataease.dto.appTemplateMarket.AppLogGridDTO"
               extends="io.dataease.plugins.common.base.mapper.PanelAppTemplateLogMapper.BaseResultMap">
        <result column="app_name" property="appName"/>
        <result column="panel_name" property="panelName"/>
        <result column="dataset_group_name" property="datasetGroupName"/>
        <result column="datasource_name" property="datasourceName"/>
        <result column="panel_group_pid" property="panelGroupPid"/>
        <result column="dataset_group_pid" property="datasetGroupPid"/>
        <result column="datasource_type" property="datasourceType"/>
        <result column="dataset_privileges" property="datasetPrivileges"/>
        <result column="panel_privileges" property="panelPrivileges"/>
        <result column="datasource_privileges" property="datasourcePrivileges"/>
    </resultMap>
    <select id="query" parameterType="io.dataease.service.panel.applog.AppLogQueryParam" resultMap="BaseResultMapDTO">
        select
        logInfo.*,
        get_auths(logInfo.dataset_group_id,'dataset',#{userId}) as `dataset_privileges`,
        get_auths(logInfo.panel_id,'panel',#{userId}) as `panel_privileges`,
        get_auths(logInfo.datasource_id,'link',#{userId}) as `datasource_privileges`
        from
        (select * from
        (SELECT
        panel_app_template_log.id,
        panel_app_template_log.app_template_id,
        panel_app_template_log.app_template_name,
        datasource.id as datasource_id,
        panel_app_template_log.source_datasource_name,
        panel_app_template_log.datasource_from,
        dataset_group.id as dataset_group_id,
        panel_app_template_log.source_dataset_group_name,
        panel_group.id as panel_id,
        panel_app_template_log.source_panel_name,
        panel_app_template_log.apply_time,
        panel_app_template_log.apply_persion,
        panel_app_template_log.is_success,
        panel_app_template_log.remark,
        panel_group.pid as panel_group_pid,
        datasource.type as datasource_type,
        dataset_group.pid as dataset_group_pid,
        IFNULL(panel_app_template.name,CONCAT(panel_app_template_log.app_template_name,'(Deleted)')) as app_name,
        IFNULL(panel_group.name,CONCAT(panel_app_template_log.source_panel_name,'(Deleted)')) as panel_name,
        IFNULL(dataset_group.name,CONCAT(panel_app_template_log.source_dataset_group_name,'(Deleted)')) as
        dataset_group_name,
        IFNULL(datasource.`name`,CONCAT(panel_app_template_log.source_datasource_name,'(Deleted)')) as datasource_name
        FROM
        panel_app_template_log
        LEFT JOIN panel_group ON panel_app_template_log.panel_id = panel_group.id
        left join dataset_group on panel_app_template_log.dataset_group_id = dataset_group.id
        left join datasource on panel_app_template_log.datasource_id = datasource.id
        left join panel_app_template on panel_app_template_log.app_template_id = panel_app_template.id
        ) t
        where 1=1
        <if test="extendCondition != null">
            and
            (
            t.app_name like concat('%', #{extendCondition} , '%')
            or
            t.panel_name like concat('%', #{extendCondition} , '%')
            or
            t.dataset_group_name like concat('%', #{extendCondition} , '%')
            or
            t.datasource_name like concat('%', #{extendCondition} , '%')
            )
        </if>
        ) logInfo
        <if test="_parameter != null">
            <include refid="io.dataease.ext.query.GridSql.gridCondition"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="orderByClause == null">
            order by apply_time desc
        </if>
    </select>
</mapper>
