<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.ExtDeptMapper">

    <resultMap id="simpleNode" type="io.dataease.controller.sys.request.SimpleTreeNode">
        <id property="id" column="id" javaType="java.lang.Long" />
        <result property="pid" column="pid" javaType="java.lang.Long"/>
    </resultMap>

    <select id="allNodes" resultMap="simpleNode">
        select dept_id as id, pid from sys_dept
    </select>


    <select id="nodesByExample" parameterType="io.dataease.ext.query.GridExample" resultMap="simpleNode">
        select dept_id as id, pid from sys_dept
        <include refid="io.dataease.ext.query.GridSql.gridCondition" />
    </select>


</mapper>
