<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.ExtSysMenuMapper">

    <resultMap id="simpleNode" type="io.dataease.controller.sys.request.SimpleTreeNode">
        <id property="id" column="id" javaType="java.lang.Long" />
        <result property="pid" column="pid" javaType="java.lang.Long"/>
    </resultMap>

    <resultMap id="ExtBaseResultMap"  type="io.dataease.plugins.common.base.domain.SysMenu" extends="io.dataease.plugins.common.base.mapper.SysMenuMapper.BaseResultMap"></resultMap>

    <select id="allNodes" resultMap="simpleNode">
        select menu_id as id, pid from sys_menu where hidden != 1
    </select>


    <select id="nodesByExample" parameterType="io.dataease.ext.query.GridExample" resultMap="simpleNode">
        select menu_id as id, pid from sys_menu
        <include refid="io.dataease.ext.query.GridSql.gridCondition" />
        and hidden != 1
    </select>


    <select id="querySysMenu" resultMap="ExtBaseResultMap">
        SELECT
        *
        FROM
        sys_menu
        WHERE
        type &lt;= 1
        AND (
        sys_menu.menu_id != 100
        OR EXISTS (
        SELECT
        1
        FROM
        system_parameter
        WHERE
        param_key = 'ui.openHomePage'
        AND param_value = 'true'
        )
        )
        AND (
            sys_menu.menu_id != 202
        OR EXISTS (
        SELECT
        1
        FROM
        system_parameter
        WHERE
        param_key = 'ui.openMarketPage'
        AND param_value = 'true'
        )
        )
        ORDER BY
        menu_sort
    </select>

</mapper>
