<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.ExtTaskMapper">

    <select id="runningCount"  resultType="java.lang.Integer">
        select count(*) as count from sys_task_instance where task_id = #{taskId} and status = 0
    </select>

    <update id="resetRunnings">
        update sys_task_instance set status = -1, info = 'System Interrupt Error' where task_id = #{taskId} and status = 0
    </update>

</mapper>
