<div data-dojo-attach-event='ondijitclick:_onTitleClick' class='dijitAccordionTitle' role="presentation">
	<div data-dojo-attach-point='titleNode,focusNode' data-dojo-attach-event='onkeydown:_onTitleKeyDown'
			class='dijitAccordionTitleFocus' role="tab" aria-expanded="false"
		><span class='dijitInline dijitAccordionArrow' role="presentation"></span
		><span class='arrowTextUp' role="presentation">+</span
		><span class='arrowTextDown' role="presentation">-</span
		><span role="presentation" class="dijitInline dijitIcon" data-dojo-attach-point="iconNode"></span>
		<span role="presentation" data-dojo-attach-point='titleTextNode, textDirNode' class='dijitAccordionText'></span>
	</div>
</div>
