<div class="esriGEPageOptionsDialog">

    <div data-dojo-attach-point="exportOptionsBlock" class="pageOptionsDialog_section">
        <div class="esriGERowHigh">${nls.exportAs}</div>
        <div data-dojo-attach-point="exportSelectDiv" class="esriGESpaceBeforeBig"></div>
    </div>
    <div data-dojo-attach-point="staticOutputSettingsBlock">
        <div data-dojo-attach-point="autoScaleBlock" class="esriGERow20 pageOptionsDialog_section">
            <div class="esriGERowHigh">${nls.autoAdjustSections}</div>
            <div class="esriGESpaceBeforeBig">
                <div class="dijitInline esriGESpaceAfterBig"><label data-dojo-attach-point="autoScaleLabel">&nbsp;${nls.autoScaleRowsLabel}</label></div>
                <div class="dijitInline esriGEInfoIcon pageOptionsDialog_infoIcon" data-dojo-attach-point="autoScaleInfoIcon"></div>
            </div>
        </div>

        <div data-dojo-attach-point="staticExportSettings">
            <div data-dojo-attach-point="layoutBlock" class="esriGERow20 pageOptionsDialog_section">
                <div class="esriGERowHigh">${nls.pageSize}</div>
                <div data-dojo-attach-point="optionsBlock" class="esriGESpaceBeforeBig">
                    <div class="esriGERowHigh" data-dojo-attach-point="sizeListDiv"></div>
                    <div data-dojo-attach-point="landscapePortraitBlock">
                        <div class="esriGERowHigh esriGESpaceBeforeBig" data-dojo-attach-point="portraitRadioButtonDiv"></div>
                        <div class="esriGERowHigh esriGESpaceBeforeBig" data-dojo-attach-point="landscapeRadioButtonDiv"></div>
                    </div>
                    <div class="esriGERow20 esriGESpaceBeforeBig" data-dojo-attach-point="splitPagesBlock">
                        <label data-dojo-attach-point="splitPagesLabel">&nbsp;${nls.splitPages}</label>
                    </div>
                </div>
            </div>

            <div data-dojo-attach-point="headerFooterBlock" class="esriGERow20 pageOptionsDialog_section">
                <div class="esriGERowHigh">${nls.headerAndFooter}</div>
                <div class="esriGERowHigh esriGESpaceBeforeBig">
                    <label data-dojo-attach-point="headerLabel">&nbsp;${nls.headerLabel}</label>
                </div>
                <div data-dojo-attach-point="reportTitleBlock">
                    <div class="esriGERowHigh esriGESpaceBefore30">
                        <div class="dijitInline esriGESpaceAfterBig reportTitleBlock_label">${nls.title}</div>
                        <div class="dijitInline" data-dojo-attach-point="reportTitleTextBoxDiv"></div>
                    </div>
                    <div class="esriGERowHigh esriGESpaceBefore30">
                        <div class="dijitInline esriGESpaceAfterBig reportTitleBlock_label">${nls.subtitle}</div>
                        <div class="dijitInline" data-dojo-attach-point="reportSubtitleTextBoxDiv"></div>
                    </div>
                </div>
                <div class="esriGERowHigh esriGESpaceBeforeBig" data-dojo-attach-point="dataSourceBlock">
                    <label data-dojo-attach-point="dataSourceLabel">&nbsp;${nls.dataSourceLabel}</label>
                </div>
                <div class="esriGERowHigh esriGESpaceBeforeBig">
                    <label data-dojo-attach-point="footerLabel">&nbsp;${nls.footerLabel}</label>
                </div>
            </div>
        </div>

        <div data-dojo-attach-point="dynamicExportSettings" class="pageOptionsDialog_section">
            <div class="esriGERow20">
                <label data-dojo-attach-point="dataDrillingLabel">&nbsp;${nls.enableDataDrilling}</label>
            </div>
            <div class="esriGERow20">
                <label data-dojo-attach-point="fallbackMapsLabel">&nbsp;${nls.enableFallbackMaps}</label>
            </div>
        </div>
    </div>
    <div class="pageOptionsDialog_actionButtonsBlock">
        <div class="pageOptionsDialog_actionButton dijitInline" data-dojo-attach-point="exportButton"></div>
        <div class="pageOptionsDialog_actionButton dijitInline" data-dojo-attach-point="cancelButton">${nls.cancel}</div>
    </div>
</div>
