<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
    data-dojo-props="target:'srv:couplingType',
      label:'${i18nIso.SV_ServiceIdentification.couplingType}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
      data-dojo-props="target:'srv:SV_CouplingType'">
  
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
        data-dojo-props="value:'http://schemas.opengis.net/iso19119/couplingType'"></div>
  
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'',value:''"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nIso.SV_CouplingType.loose}',value:'loose'"></div>  
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nIso.SV_CouplingType.mixed}',value:'mixed'"></div>  
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nIso.SV_CouplingType.tight}',value:'tight',selected:true"></div>  
          </div>
        </div>
      </div>
  
    </div>      
  </div>  
      
</div>