<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'srv:operatesOn',minOccurs:0,maxOccurs:'unbounded',
      preferOpen:true,label:'${i18nIso.SV_ServiceIdentification.operatesOn}'">
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'xlink:href',label:'${i18nIso.ObjectReference.xlinkref}'">
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'uuidref',label:'${i18nIso.ObjectReference.uuidref}'">
    </div>
  </div>  
      
</div>