<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'srv:serviceType',
      label:'${i18nIso.SV_ServiceIdentification.serviceType}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
      data-dojo-props="target:'gco:LocalName'">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
          
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nBase.serviceTypes.mapService}',value:'Map Service'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nBase.serviceTypes.featureService}',value:'Feature Service'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nBase.serviceTypes.imageService}',value:'Image Service'"></div>  

          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nBase.serviceTypes.wms}',value:'WMS'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nBase.serviceTypes.wfs}',value:'WFS'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nBase.serviceTypes.wcs}',value:'WCS'"></div>  
                        
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nBase.general.other}',value:'_other_',isOther:true"></div>  
        </div>
      </div>      
    </div>
  </div>  
      
</div>