<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'attribSet',minOccurs:0,label:'${i18nArcGIS.maintenance.upScpDesc.attribSet}'">
  </div>  
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'attribIntSet',minOccurs:0,label:'${i18nArcGIS.maintenance.upScpDesc.attribIntSet}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'featSet',minOccurs:0,label:'${i18nArcGIS.maintenance.upScpDesc.featSet}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'featIntSet',minOccurs:0,label:'${i18nArcGIS.maintenance.upScpDesc.featIntSet}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'datasetSet',minOccurs:0,label:'${i18nArcGIS.maintenance.upScpDesc.datasetSet}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'other',minOccurs:0,label:'${i18nArcGIS.maintenance.upScpDesc.other}'">
  </div>
</div>