<div data-dojo-attach-point="containerNode">
  <!-- specific for Gemini -->
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmd:LanguageCode'">
    <!-- <div data-dojo-type="gxe/form/iso/CodeSpaceAttribute"></div> -->
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${inspireCodeListPrefix}LanguageCode'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGemini.LanguageCode.eng}',value:'eng',selected:true"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGemini.LanguageCode.cym}',value:'cym'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGemini.LanguageCode.gle}',value:'gle'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGemini.LanguageCode.gla}',value:'gla'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGemini.LanguageCode.cor}',value:'cor'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nGemini.LanguageCode.sco}',value:'sco'"></div>
        </div>
      </div>
    </div>
  </div>
</div>