<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'gmd:metadataStandardName',
      label:'${i18nIso.MD_Metadata.metadataStandardName}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
      data-dojo-props="target:'gco:CharacterString',fixed:true,value:'ISO 19139/19115 Metadata for Datasets'">
      <div data-dojo-type="esri/dijit/metadata/form/InputText" data-dojo-props="size:90,readOnly:true"></div>
    </div>
  </div>
  
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'gmd:metadataStandardVersion',
      label:'${i18nIso.MD_Metadata.metadataStandardVersion}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
      data-dojo-props="target:'gco:CharacterString',fixed:true,value:'2003'">
      <div data-dojo-type="esri/dijit/metadata/form/InputText" data-dojo-props="size:90,readOnly:true"></div>
    </div>
  </div>
    
</div>