<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'attracc',minOccurs:0,
      label:'${i18nFgdc.dataqual.attracc.caption}'">
      
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'attraccr',
        label:'${i18nFgdc.dataqual.attracc.attraccr}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'qattracc',minOccurs:0,maxOccurs:'unbounded',
        label:'${i18nFgdc.dataqual.attracc.qattracc.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'attraccv',alternateValues:['Unknown'],
            label:'${i18nFgdc.dataqual.attracc.qattracc.attraccv}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText" >
            <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
              data-dojo-props="value:'Unknown',label:'${i18nFgdc.alternates.unknown}'"></div>  
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'attracce',
            label:'${i18nFgdc.dataqual.attracc.qattracc.attracce}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
    </div>

  </div>
  
</div>