<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'lineage',label:'${i18nFgdc.dataqual.lineage.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
      <div data-dojo-type="esri/dijit/metadata/types/fgdc/dataqual/srcinfo"
        data-dojo-props="label:'${i18nFgdc.dataqual.srcinfo.caption}'"></div>  

      <div data-dojo-type="esri/dijit/metadata/types/fgdc/dataqual/procstep"
        data-dojo-props="label:'${i18nFgdc.dataqual.procstep.caption}'"></div>  
                
    </div>
  </div>
  
</div>