<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'procstep',maxOccurs:'unbounded',
      label:'${i18nFgdc.dataqual.procstep.caption}'">
      
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'procdesc',
        label:'${i18nFgdc.dataqual.procstep.procdesc}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'srcused',minOccurs:0,maxOccurs:'unbounded',
        label:'${i18nFgdc.dataqual.procstep.srcused}'">
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'procdate',
        label:'${i18nFgdc.dataqual.procstep.procdate}',
        alternateValues:['Unknown','Not complete']">
      <div data-dojo-type="esri/dijit/metadata/form/fgdc/InputDate">
        <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
          data-dojo-props="value:'Unknown',label:'${i18nFgdc.alternates.unknown}'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/tools/ClickableValueTool"
          data-dojo-props="value:'Not complete',label:'${i18nFgdc.alternates.notComplete}'"></div>  
      </div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'proctime',minOccurs:0,
        label:'${i18nFgdc.dataqual.procstep.proctime}'">
      <div data-dojo-type="esri/dijit/metadata/form/fgdc/InputTime"></div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'srcprod',minOccurs:0,maxOccurs:'unbounded',
        label:'${i18nFgdc.dataqual.procstep.srcprod}'">
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'proccont',minOccurs:0,
        label:'${i18nFgdc.dataqual.procstep.proccont}'">
      <div data-dojo-type="esri/dijit/metadata/types/fgdc/cntinfo/cntinfo"></div>
    </div>

  </div>
  
</div>