<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
  
    <!-- titles and dates -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.citation.section.titlesAndDates}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'resTitle',minOccurs:1,label:'${i18nArcGIS.citation.resTitle}'">
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'resAltTitle',minOccurs:0,label:'${i18nArcGIS.citation.resAltTitle}'">
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'collTitle',minOccurs:0,label:'${i18nArcGIS.citation.collTitle}'">
      </div>  
      
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'date',minOccurs:1,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'createDate',minOccurs:0,label:'${i18nArcGIS.citation.date.createDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>  
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'pubDate',minOccurs:0,label:'${i18nArcGIS.citation.date.pubDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>  
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'reviseDate',minOccurs:0,label:'${i18nArcGIS.citation.date.reviseDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>  
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'notavailDate',minOccurs:0,label:'${i18nArcGIS.citation.date.notavailDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>  
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'inforceDate',minOccurs:0,label:'${i18nArcGIS.citation.date.inforceDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>  
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'adoptDate',minOccurs:0,label:'${i18nArcGIS.citation.date.adoptDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>  
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'deprecDate',minOccurs:0,label:'${i18nArcGIS.citation.date.deprecDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/CitationDateElement"
          data-dojo-props="target:'supersDate',minOccurs:0,label:'${i18nArcGIS.citation.date.supersDate}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCitationDate"></div>
        </div>      
      </div>  
      
    </div>
    
    <!-- online resource -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.citation.section.links}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'citOnlineRes',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.cntOnlineRes.caption}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/OnlineResourceElements"></div>
      </div>
    </div>
    
    <!-- identifiers -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.citation.section.identifiers}'">
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'isbn',minOccurs:0,label:'${i18nArcGIS.citation.isbn}'">
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'issn',minOccurs:0,label:'${i18nArcGIS.citation.issn}'">
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'citId',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.citation.citId.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'identCode',minOccurs:1,label:'${i18nArcGIS.citation.citId.identCode}'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'identAuth',minOccurs:0,label:'${i18nArcGIS.citation.citId.identAuth}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'resTitle',minOccurs:1,label:'${i18nArcGIS.citation.resTitle}'">
          </div>  
          <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
            data-dojo-props="target:'date',minOccurs:1,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
              data-dojo-props="target:'pubDate',minOccurs:1,label:'${i18nArcGIS.citation.date.pubDate}'">
              <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:true"></div>
            </div>
          </div>
        </div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'resEd',minOccurs:0,label:'${i18nArcGIS.citation.resEd}'">
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'resEdDate',minOccurs:0,label:'${i18nArcGIS.citation.resEdDate}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:false"></div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'datasetSeries',minOccurs:0,label:'${i18nArcGIS.citation.section.series}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'seriesName',minOccurs:0,label:'${i18nArcGIS.citation.datasetSeries.seriesName}'">
        </div>  
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'issId',minOccurs:0,label:'${i18nArcGIS.citation.datasetSeries.issId}'">
        </div>  
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'artPage',minOccurs:0,label:'${i18nArcGIS.citation.datasetSeries.artPage}'">
        </div>  
      </div>  
    </div>
  
    <!-- presentation form -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.citation.section.presentation}'">
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'presForm',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.citation.section.presentation}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'PresFormCd',minOccurs:0,label:'${i18nArcGIS.codelist.CI_PresentationFormCode}'">
          <div data-dojo-type="esri/dijit/metadata/form/Attribute"
            data-dojo-props="target:'value',minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
              data-dojo-props="codelistType:'CI_PresentationFormCode'">
            </div>  
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'fgdcGeoform',minOccurs:0,label:'${i18nArcGIS.codelist.PresentationForm}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
            data-dojo-props="codelistType:'PresentationForm'">
          </div>          
        </div>
      </div>        
    </div>  

    <!-- other details -->    
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.citation.section.other}'">
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'otherCitDet',minOccurs:0,label:'${i18nArcGIS.citation.otherCitDet}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
      </div>
    </div>  
    
    <!-- citation contact -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.contact.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'citRespParty',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.citation.contactCaption}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/ContactElements"></div>
      </div>
    </div>    
  
  </div>
</div>