<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'rpCntInfo',minOccurs:0,label:'${i18nArcGIS.contact.rpCntInfo}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
      <!-- address -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'cntAddress',minOccurs:0,label:'${i18nArcGIS.cntAddress.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'eMailAdd',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.cntAddress.eMailAdd}'">
        </div>  
        <div style="margin-top:8px;"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Attribute"
          data-dojo-props="target:'addressType',minOccurs:0,label:'${i18nArcGIS.cntAddress.addressType.caption}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
            data-dojo-props="codelistType:'AddressType'">
          </div>  
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'delPoint',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.cntAddress.delPoint}'">
        </div>  
        <div style="margin-top:8px;"></div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'city',minOccurs:0,label:'${i18nArcGIS.cntAddress.city}'">
        </div>  
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'adminArea',minOccurs:0,label:'${i18nArcGIS.cntAddress.adminArea}'">
        </div>  
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'postCode',minOccurs:0,label:'${i18nArcGIS.cntAddress.postCode}'">
        </div>  
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'country',minOccurs:0,label:'${i18nArcGIS.cntAddress.country}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
            data-dojo-props="codelistType:'CountryCode'">
          </div>
        </div>  
      </div>  
      
      <!-- phone -->
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'cntPhone',minOccurs:0,label:'${i18nArcGIS.cntPhone.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'voiceNum',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.cntPhone.voiceNum}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
          <div style="margin-top:8px"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Attribute"
            data-dojo-props="target:'tddtty',minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCheckBox"
              data-dojo-props="label:'${i18nArcGIS.cntPhone.tddtty}'"></div>
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'faxNum',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.cntPhone.faxNum}'">
        </div>
      </div>
      

      <!-- online resource -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'cntOnlineRes',minOccurs:0,label:'${i18nArcGIS.cntOnlineRes.caption}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/OnlineResourceElements"></div>
      </div>
      
      <!-- hours and instructions -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.contact.section.hoursAndInstructions}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'cntHours',minOccurs:0,label:'${i18nArcGIS.contact.cntHours}'">
        </div>  
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'cntInstr',minOccurs:0,label:'${i18nArcGIS.contact.cntInstr}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>  
      </div>

    </div>
  </div>  
</div>