<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.contact.section.name}'">
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/ContactNameElement"
        data-dojo-props="target:'rpIndName',minOccurs:0,preferOpen:true,label:'${i18nArcGIS.contact.rpIndName}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputContactName"></div>
      </div>  
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/ContactNameElement"
        data-dojo-props="target:'rpOrgName',minOccurs:0,preferOpen:true,label:'${i18nArcGIS.contact.rpOrgName}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputContactName"></div>
      </div>  
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/ContactNameElement"
        data-dojo-props="target:'rpPosName',minOccurs:0,preferOpen:true,label:'${i18nArcGIS.contact.rpPosName}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputContactName"></div>
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'role',minOccurs:1,label:'${i18nArcGIS.codelist.CI_RoleCode}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'RoleCd',minOccurs:1,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/form/Attribute"
            data-dojo-props="target:'value',minOccurs:1,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
              data-dojo-props="codelistType:'CI_RoleCode'">
            </div>            
          </div>
        </div>
      </div>
    </div>
    
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.contact.section.info}'">
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/ContactInfo"></div>
    </div>
     
  </div>
</div>