<div data-dojo-attach-point="containerNode">
    
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'linkage',minOccurs:1,label:'${i18nArcGIS.cntOnlineRes.linkage}'">
  </div>  
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'protocol',minOccurs:0,label:'${i18nArcGIS.cntOnlineRes.protocol}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'appProfile',minOccurs:0,label:'${i18nArcGIS.cntOnlineRes.appProfile}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'orName',minOccurs:0,label:'${i18nArcGIS.cntOnlineRes.orName}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'orDesc',minOccurs:0,label:'${i18nArcGIS.cntOnlineRes.orDesc}'">
  </div>
  
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'orFunct',minOccurs:0,label:'${i18nArcGIS.codelist.CI_OnLineFunctionCode}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'OnFunctCd',minOccurs:0,showHeader:false">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute"
        data-dojo-props="target:'value',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
          data-dojo-props="codelistType:'CI_OnLineFunctionCode'">
        </div>
      </div>
    </div>
  </div>
  
</div>