$btn-default-color:              $Calcite_Gray_650 !default;
$btn-default-bg:                 $Calcite_Gray_050 !default;
$btn-default-border:             $Calcite_Gray_300 !default;

$btn-primary-color:              $Calcite_Gray_050 !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              $Calcite_Gray_050 !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 $Calcite_Gray_650 !default;
$btn-info-bg:                    $Calcite_Blue_150 !default;
$btn-info-border:                $Calcite_Blue_a200 !default;

$btn-warning-color:              $Calcite_Gray_650 !default;
$btn-warning-bg:                 $Calcite_Yellow_150 !default;
$btn-warning-border:             $Calcite_Yellow_a150 !default;

$btn-danger-color:               $Calcite_Gray_050 !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-color:                 $link-color !default;
$btn-link-bg:                    transparent !default;
$btn-link-border:                transparent !default;