$brand-primary:    $Calcite_Blue_a250 !default;
$brand-success:    $Calcite_Green_a200 !default;
$brand-info:       $Calcite_Blue_250 !default;
$brand-warning:    $Calcite_Yellow_200 !default;
$brand-danger:     $Calcite_Red_a150 !default;

$gray-darker:      $Calcite_Gray_550 !default;
$gray-dark:        $Calcite_Gray_500 !default;
$gray:             $Calcite_Gray_450 !default;
$gray-light:       $Calcite_Gray_400 !default;
$gray-lighter:     $Calcite_Gray_350 !default;
$gray-base:        $Calcite_Gray_700 !default;

$disabled-opacity: 0.65 !default;
$close-color:      $Calcite_Gray_700 !default;