$dropdown-bg:                    $Calcite_Gray_050 !default;
$dropdown-border:                rgba(0,0,0,.15) !default;
$dropdown-fallback-border:       $Calcite_Gray_350 !default;
$dropdown-divider-bg:            $divider-bg !default;
$dropdown-link-color:            $Calcite_Gray_650 !default;
$dropdown-link-hover-color:      darken($Calcite_Gray_650, 5%) !default;
$dropdown-link-disabled-color:   $gray-light !default;