$navbar-height:                            40px !default;
$navbar-padding-vertical:                  (($navbar-height - $line-height-computed) / 2) !default;
$navbar-link-padding:                      $navbar-padding-vertical 15px !default;

$navbar-default-color:                     $Calcite_Gray_650 !default;
$navbar-default-bg:                        $Calcite_Gray_050 !default;
$navbar-default-border:                    $Calcite_Gray_200 !default;

$navbar-default-link-color:                $Calcite_Gray_650 !default;
$navbar-default-link-hover-color:          $link-color !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $Calcite_Gray_650 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 3.5%) !default;
$navbar-default-link-disabled-color:       $Calcite_Gray_350 !default;
$navbar-default-link-disabled-bg:          transparent !default;