//** Background color for `<body>`
$body-bg:               $Calcite_Gray_100 !default;
//** Global text color on `<body>`
$text-color:            $Calcite_Gray_650 !default;
//** Global textual link color
$link-color:            $brand-primary !default;
//** Global textual link hover decoration
$link-hover-decoration: underline !default;