$state-success-text:             $brand-success !default;
$state-success-bg:               $Calcite_Green_100 !default;
$state-success-border:           $Calcite_Green_150 !default;

$state-danger-text:              $brand-danger !default;
$state-danger-bg:                $Calcite_Red_100 !default;
$state-danger-border:            $Calcite_Red_150 !default;