$tooltip-max-width:           200px !default;
$tooltip-color:               $Calcite_Gray_050 !default;
$tooltip-bg:                  $Calcite_Gray_700 !default;
$tooltip-opacity:             .85 !default;
$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;
