$font-family-sans-serif:        'Avenir Next W01', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif:             Georgia, serif !default;
$font-family-base:              $font-family-sans-serif !default;

$font-size-base:                12px !default;
$font-size-small:               10px !default;
$font-size-large:               16px !default;

$icon-size-base:                12px !default;
$icon-size-small:               10px !default;
$icon-size-large:               16px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:              20/12 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:          floor(($font-size-base * $line-height-base)) !default; // ~20px
