.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
.automator/
# Editor directories and files
.hbuilderx
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
