@import "../css3.less";
.mblFade {
	.transition-property(none);
	.transition-duration(0s);
}
.mblFade.mblTransition {
	.transition-property(opacity);
	.transition-duration(.6s);
}
.mblFade.mblOut {
	opacity: 1;
}
.mblFade.mblOut.mblTransition {
	.transition-timing-function(ease-out);
	opacity: 0;
}
.mblFade.mblIn {
	opacity: 0;
}
.mblFade.mblIn.mblTransition {
	.transition-timing-function(ease-in);
	opacity: 1;
}
