<div data-dojo-attach-point="containerNode">
  <!-- ArcGIS root metadata element -->
  <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/MetadataElement"
    data-dojo-props="target:'metadata',noIndent:true,showHeader:false,label:'${i18nArcGIS.documentTypes.arcgis.editorCaption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs" data-dojo-props="noIndent:true">

      <div data-dojo-type="esri/dijit/metadata/types/arcgis/resource/Resource"
        data-dojo-props="label:'${i18nArcGIS.sections.resource}'">
      </div>  
    
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/quality/Quality"
        data-dojo-props="isQualitySection:true,label:'${i18nArcGIS.sections.quality}'">
      </div>
  
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/distribution/Distribution"
        data-dojo-props="label:'${i18nArcGIS.sections.distribution}'">
      </div>    

      <div data-dojo-type="esri/dijit/metadata/types/arcgis/reference/SpatialRepresentation"
        data-dojo-props="label:'${i18nArcGIS.sections.representation}'">
      </div>
                  
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/content/Content"
        data-dojo-props="label:'${i18nArcGIS.sections.content}'">
      </div>
        
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/eainfo/EAInfo"
        data-dojo-props="label:'${i18nArcGIS.sections.eainfo}'">
      </div>
            
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/reference/Reference"
        data-dojo-props="label:'${i18nArcGIS.sections.reference}'">
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/metadata/Metadata"
        data-dojo-props="label:'${i18nArcGIS.sections.metadata}'">
      </div>  
                  
    </div>
  </div>
</div>