@font-face {
  font-family: "iconfont"; /* Project id 4566310 */
  src: url('iconfont.woff2?t=1716966170729') format('woff2'),
       url('iconfont.woff?t=1716966170729') format('woff'),
       url('iconfont.ttf?t=1716966170729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu-jiangxu:before {
  content: "\e61d";
}

