<tr data-dojo-attach-point="_componentWidget">
  <td colspan="3">
    <div class="esriLeadingMargin1 explanatoryDiv longInput">
      <table class="one-width">
          <thead>
            <tr>
              <td></td>
              <td>${i18n.fields}</td>
              <td>${i18n.categorical}
                <div class="warningIcon hide" data-dojo-attach-point="_warningIcon" tabindex="0"></div>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="formBorderBottom"></td>
            </tr>
          </thead>
          <!-- Rows will be added below -->
          <tbody>
            <tr data-dojo-attach-point="_emptyRow"></tr>
          </tbody>
        </table>
    </div>
  </td>
</tr>