<div class="${_css.container}" data-dojo-attach-point="_containerNode">
  <div class="${_css.topLabelNode} ${_css.topLabelNodeHover}" data-dojo-attach-point="_topNode">
    <span data-dojo-attach-point="_topNodeSpan"></span> 
  </div>
  <div class="${_css.slidernode}" data-dojo-attach-point="_sliderNode">
    <div class="${_css.sliderarea}" data-dojo-attach-point="_sliderArea"></div>
    <div class="${_css.sliderarearight}" data-dojo-attach-point="_sliderAreaRight"></div>
  </div>
  <div class="${_css.bottomLabelNode} ${_css.bottomLabelNodeHover}" data-dojo-attach-point="_botNode">
    <span  data-dojo-attach-point="_bottomNodeSpan"></span>
  </div>
</div>