@import "Common.less";

@column-header-height: 30px;
@sub-column-header-height: 20px;
@row-header-width: 70px;
@secondary-sheet-height: 39px;
@sheet-top: @column-header-height + 3px;
@sheet-top-secondary-sheet: @secondary-sheet-height + @column-header-height + 3px;
@sheet-top-subcolumns: @sub-column-header-height + @column-header-height + 3px;
@sheet-top-subcolumns-secondary-sheet: @secondary-sheet-height + @sub-column-header-height + @column-header-height + 3px;

