$checkbox-default-bg:            $input-bg !default;
$checkbox-default-border:        $input-border !default;
$checkbox-width:                 16px !default;
$checkbox-height:                16px !default;
$checkbox-active-bg:             $component-active-bg !default; 
$checkbox-active-border:         $component-active-bg !default; 
$checkbox-active-color:          $component-active-color !default;