$radio-default-bg:                      $input-bg !default;
$radio-default-border:                  $input-border !default;
$radio-width:                           16px !default;
$radio-height:                          16px !default;
$radio-active-bg:                       $component-active-bg !default; 
$radio-active-border:                   $component-active-bg !default; 
$radio-alternative-bg:                  transparent !default; // background color of radios inside alternative buttons
$radio-alternative-border-fallback:     $Calcite_Gray_050 !default; // border color of radios inside alternative buttons (fallback)
$radio-alternative-border:              rgba($Calcite_Gray_050, 0.5) !default; // border color of radios inside alternative buttons