$slider-default-bg:               $Calcite_Gray_400 !default;
$slider-height:                   20px !default;
$slider-bar-width:                8px !default;
$slider-bar-spacing:              $padding-base-horizontal !default;
$slider-padding:                  ($slider-height - $slider-bar-width) * 0.5 !default;
$slider-thumb-default-color:      $Calcite_Gray_700 !default;
$slider-primary-bg:               $Calcite_Blue_a150 !default;
$slider-thumb-primary-color:      $Calcite_Blue_a250 !default;
$slider-success-bg:               $Calcite_Green_a100 !default;
$slider-thumb-success-color:      $Calcite_Green_a250 !default;
$slider-info-bg:                  $Calcite_Blue_150 !default;
$slider-thumb-info-color:         $Calcite_Blue_a200 !default;
$slider-warning-bg:               $Calcite_Yellow_150 !default;
$slider-thumb-warning-color:      $Calcite_Yellow_a200 !default;
$slider-danger-bg:                $Calcite_Red_a100 !default;
$slider-thumb-danger-color:       $Calcite_Red_a250 !default;
$slider-progressbar-bg:           $slider-default-bg !default;
$slider-remainingbar-bg:          $Calcite_Gray_300 !default;
$slider-thumb-bg:                 $slider-thumb-default-color !default;
$slider-button-width:             20px !default;
$slider-button-height:            20px !default;
$slider-button-icon-size:         $icon-size-small !default;
$slider-ruler-height:             5px !default;
$slider-ruler-color:              $Calcite_Gray_400 !default;
$slider-ruler-padding:            2px !default;
$slider-label-color:              $Calcite_Gray_650 !default;
$slider-label-font-size:          $font-size-small !default;