$colorpalette-bg:                          $Calcite_Gray_050 !default;
$colorpalette-border:                      $Calcite_Gray_350 !default;
$colorpalette-color-width:                 16px !default;
$colorpalette-color-height:                16px !default;
$colorpalette-color-spacing:               3px !default;
$colorpalette-color-border:                rgba(black, 0.15) !default;
$colorpalette-color-border-fallback:       $Calcite_Gray_350 !default;