$dnd-hover-bg:                      $Calcite_Highlight_Blue_100 !default;
$dnd-drop-indicator-color:          $brand-primary !default;
$dnd-anchor-hover-bg:               $Calcite_Highlight_Blue_150 !default;
$dnd-anchor-selected-bg:            $Calcite_Highlight_Blue_150 !default;
//** Avatar, the container that wraps the items to be dropped
$dnd-avatar-default-bg:             $Calcite_Gray_050 !default;
//** Default state: CANNOT drop
$dnd-avatar-default-border:         $state-danger-border !default;
$dnd-avatar-header-default-bg:      $state-danger-bg !default;
$dnd-avatar-header-default-border:  $state-danger-border !default;
$dnd-avatar-header-default-color:   $state-danger-text !default;
//** Can drop
$dnd-avatar-can-drop-border:        $state-success-border !default;
$dnd-avatar-header-can-drop-bg:     $state-success-bg !default;
$dnd-avatar-header-can-drop-border: $state-success-border !default;
$dnd-avatar-header-can-drop-color:  $state-success-text !default;

$dnd-avatar-item-default-bg:        $Calcite_Gray_050 !default;