$modal-inner-padding:         15px !default;
$modal-title-padding:         15px !default;
$modal-title-font-size:       $font-size-large !default; // 16px
$modal-title-line-height:     $line-height-base !default;
$modal-content-bg:            $Calcite_Gray_050 !default;
$modal-content-border-color:  $Calcite_Gray_450 !default;
$modal-content-fallback-border-color:          $Calcite_Gray_450 !default;
$modal-backdrop-bg:           $Calcite_Gray_700 !default;
$modal-backdrop-opacity:      .75 !default;
$modal-header-border-color:   $Calcite_Gray_250 !default;
$modal-footer-border-color:   $modal-header-border-color !default;