$toolbar-bg:                              $Calcite_Gray_100 !default;
$toolbar-border:                          $Calcite_Gray_350 !default;
$toolbar-btn-height-computed:             30px !default;
$toolbar-btn-bg:                          transparent !default;
$toolbar-btn-padding-vertical:            3px !default;
$toolbar-btn-padding-horizontal:          3px !default;
$toolbar-input-height-computed:           24px !default;
$toolbar-separator-bg:                    $Calcite_Gray_350 !default;