<div data-dojo-attach-point="containerNode">

  <!-- browse graphic -->
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'graphOver',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.graphOver.caption}'">
    
    <!-- file -->
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'bgFileName',minOccurs:1,label:'${i18nArcGIS.graphOver.bgFileName}'">
    </div>
    
    <!-- description -->
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'bgFileDesc',minOccurs:0,label:'${i18nArcGIS.graphOver.bgFileDesc}'">
    </div>
    
    <!-- type -->
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'bgFileType',minOccurs:0,label:'${i18nArcGIS.graphOver.bgFileType}'">
    </div>
    
  </div>
</div>