<div data-dojo-attach-point="containerNode">

  <!-- abstract -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'idAbs',minOccurs:1,label:'${i18nArcGIS.resource.idAbs}'">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputHtmlArea"></div>
  </div>
  
  <!-- purpose -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'idPurp',minOccurs:0,label:'${i18nArcGIS.resource.idPurp}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
  </div>
  
  <!-- supplemental -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'suppInfo',minOccurs:0,label:'${i18nArcGIS.resource.suppInfo}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
  </div>
  
  <!-- credits -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'idCredit',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.resource.idCredit}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
  </div>
  
  <!-- processing environment -->
  <div style="margin-top:8px"></div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'envirDesc',minOccurs:0,label:'${i18nArcGIS.resource.envirDesc}'">
  </div>
  
</div>