<div data-dojo-attach-point="containerNode">
  
  <!-- language and country -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'dataLang',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.resource.dataLang}'">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/common/LanguageCode"></div>
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/common/CountryCode"></div>
  </div>
  
  <!-- character set -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'dataChar',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.codelist.MD_CharacterSetCode}'">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/common/CharSetCd"></div>
  </div>
  
</div>