<div data-dojo-attach-point="containerNode">

  <!-- resolution -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'dataScale',minOccurs:0,showHeader:false">
    
    <!-- scale resolution -->
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'equScale',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.resource.dataScale.equScale}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'rfDenom',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
          data-dojo-props="minValue:0.0,minValueIsExclusive:true,hint:'${i18nBase.hints.numberGreaterThanZero}'">
        </div>
      </div>
    </div>
    
    <!-- distance resolution -->
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'scaleDist',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.resource.dataScale.scaleDist}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'value',minOccurs:1,label:'${i18nArcGIS.resource.dataScale.scaleDist_value}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
        <div style="margin-top: 8px;"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Attribute"
          data-dojo-props="target:'uom',minOccurs:1,noIndent:true,label:'${i18nArcGIS.codelist.UCUM_Length}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
            data-dojo-props="codelistType:'UCUM_Length'">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>