<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'svType',minOccurs:0,label:'${i18nArcGIS.service.svType}'">
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'genericName',minOccurs:0,label:'${i18nArcGIS.service.svType_Name}'">
      <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
      <div style="margin-top: 8px;"></div>
      <div data-dojo-type="esri/dijit/metadata/form/Attribute"
        data-dojo-props="target:'codeSpace',minOccurs:0,noIndent:true,label:'${i18nArcGIS.codeRef.idCodeSpace}'">
      </div>
    </div>
  </div>
  
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'svTypeVer',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.codeRef.idVersion}'">
  </div>
  
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'svCouplRes',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.service.svCouplRes.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'svOpName',minOccurs:0,label:'${i18nArcGIS.service.svCouplRes.svOpName}'">
    </div>
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'svResCitId',minOccurs:0,label:'${i18nArcGIS.service.svCouplRes.svResCitId}'">
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'identCode',minOccurs:0,showHeader:false">
      </div>
    </div>  
  </div>
  
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'svCouplType',minOccurs:0,label:'${i18nArcGIS.codelist.SV_CouplingType}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'CouplTypCd',minOccurs:0,showHeader:false">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute"
        data-dojo-props="target:'value',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
          data-dojo-props="codelistType:'SV_CouplingType'">
        </div>      
      </div>
    </div>    
  </div>
  
   <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'svAccProps',minOccurs:0,label:'${i18nArcGIS.service.svAccProps}'">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/distribution/OrderingProcessElements"></div>
  </div>
  
</div>