<div data-dojo-attach-point="containerNode">

  <!-- status -->
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'idStatus',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.codelist.MD_ProgressCode}'">
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'ProgCd',minOccurs:0,showHeader:false">
      <div data-dojo-type="esri/dijit/metadata/form/Attribute"
        data-dojo-props="target:'value',minOccurs:0,showHeader:false">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
          data-dojo-props="codelistType:'MD_ProgressCode'">
        </div>        
      </div>
    </div>    
  </div>
  
</div>