<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'horizsys',minOccurs:0,
      label:'${i18nFgdc.spref.horizsys.caption}'">
      
    <div data-dojo-type="esri/dijit/metadata/form/ElementChoice">
    
      <!-- Geographic -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'geograph',showHeader:false,
          label:'${i18nFgdc.spref.horizsys.geograph.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'latres',
            label:'${i18nFgdc.spref.horizsys.geograph.latres}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
            data-dojo-props="minValue:0.0,minValueIsExclusive:true,
              hint:'${i18nBase.hints.numberGreaterThanZero}'"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'longres',
            label:'${i18nFgdc.spref.horizsys.geograph.longres}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
            data-dojo-props="minValue:0.0,minValueIsExclusive:true,
              hint:'${i18nBase.hints.numberGreaterThanZero}'"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'geogunit',
            label:'${i18nFgdc.spref.horizsys.geograph.geogunit.caption}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
            <div data-dojo-type="esri/dijit/metadata/form/Options">
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.spref.horizsys.geograph.geogunit.decimalDegrees}',value:'Decimal degrees'"></div>          
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.spref.horizsys.geograph.geogunit.decimalMinutes}',value:'Decimal minutes'"></div>
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.spref.horizsys.geograph.geogunit.decimalSeconds}',value:'Decimal seconds'"></div>                
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.spref.horizsys.geograph.geogunit.degreesAndDecimalMinutes}',value:'Degrees and decimal minutes'"></div>                
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.spref.horizsys.geograph.geogunit.degreesMinutesAndDecimalSeconds}',value:'Degrees, minutes, and decimal seconds'"></div>                
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.spref.horizsys.geograph.geogunit.radians}',value:'Radians'"></div>
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.spref.horizsys.geograph.geogunit.grads}',value:'Grads'"></div>  
            </div>
          </div>
        </div>        
      </div>
      
      <!-- Local -->
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'local',showHeader:false,
          label:'${i18nFgdc.spref.horizsys.local.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'localdes',
            label:'${i18nFgdc.spref.horizsys.local.localdes}'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'localgeo',
            label:'${i18nFgdc.spref.horizsys.local.localgeo}'">
        </div>
      </div>
    
    </div>
    
    <!-- Geodetic Model -->
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'geodetic',minOccurs:0,
        label:'${i18nFgdc.spref.horizsys.geodetic.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'horizdn',
          label:'${i18nFgdc.spref.horizsys.geodetic.horizdn.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.horizsys.geodetic.horizdn.nad83}',value:'North American Datum of 1983'"></div>  
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.horizsys.geodetic.horizdn.nad27}',value:'North American Datum of 1927'"></div>        
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
            </div>
        </div>
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'ellips',
          label:'${i18nFgdc.spref.horizsys.geodetic.ellips.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.horizsys.geodetic.ellips.grs80}',value:'Geodetic Reference System 80'"></div>          
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.horizsys.geodetic.ellips.clarke1866}',value:'Clarke 1866'"></div>            
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
            </div>
        </div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'semiaxis',
          label:'${i18nFgdc.spref.horizsys.geodetic.semiaxis}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
          data-dojo-props="minValue:0.0,minValueIsExclusive:true,
            hint:'${i18nBase.hints.numberGreaterThanZero}'"></div>
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'denflat',
          label:'${i18nFgdc.spref.horizsys.geodetic.denflat}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
          data-dojo-props="minValue:0.0,minValueIsExclusive:true,
            hint:'${i18nBase.hints.numberGreaterThanZero}'"></div>
      </div>  
    </div>
      
  </div>
  
</div>