<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'spref',minOccurs:0,
      label:'${i18nFgdc.spref.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
      <div data-dojo-type="esri/dijit/metadata/types/fgdc/spref/horizsys"
          data-dojo-props="label:'${i18nFgdc.spref.horizsys.caption}'"></div>
      
      <div data-dojo-type="esri/dijit/metadata/types/fgdc/spref/vertdef"
        data-dojo-props="label:'${i18nFgdc.spref.vertdef.caption}'"></div>
        
    </div>
  </div>
  
</div>