<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'vertdef',minOccurs:0,
      label:'${i18nFgdc.spref.vertdef.caption}'">
      
    <!-- Altitude System  -->
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'altsys',minOccurs:0,
        label:'${i18nFgdc.spref.vertdef.altsys.caption}'">
        
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'altdatum',
          label:'${i18nFgdc.spref.vertdef.altsys.altdatum.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.altsys.altdatum.navd88}',value:'North American Vertical Datum of 1988'"></div>          
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.altsys.altdatum.ngvd29}',value:'National Geodetic Vertical Datum of 1929'"></div>            
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
            </div>
        </div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'altres',maxOccurs:'unbounded',
          label:'${i18nFgdc.spref.vertdef.altsys.altres}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
          data-dojo-props="minValue:0.0,minValueIsExclusive:true,
            hint:'${i18nBase.hints.numberGreaterThanZero}'"></div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'altunits',
          label:'${i18nFgdc.spref.vertdef.altsys.altunits.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.altsys.altunits.meters}',value:'meters'"></div>          
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.altsys.altunits.feet}',value:'feet'"></div>            
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
            </div>
        </div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'altenc',
          label:'${i18nFgdc.spref.vertdef.altsys.altenc.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.altsys.altenc.explicit}',value:'Explicit elevation coordinate included with horizontal coordinates'"></div>          
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.altsys.altenc.implicit}',value:'Implicit coordinate'"></div>  
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.altsys.altenc.attribute}',value:'Attribute values'"></div>            
            </div>
        </div>
      </div>

    </div>
    
    <!-- Depth System  -->
    <div data-dojo-type="esri/dijit/metadata/form/Element"
      data-dojo-props="target:'depthsys',minOccurs:0,
        label:'${i18nFgdc.spref.vertdef.depthsys.caption}'">

      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'altdatum',
          label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option1}',value:'Local surface'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option2}',value:'Chart datum; datum for sounding reduction'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option3}',value:'Lowest astronomical tide'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option4}',value:'Highest astronomical tide'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option5}',value:'Mean low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option6}',value:'Mean high water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option7}',value:'Mean sea level'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option8}',value:'Land survey datum'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option9}',value:'Mean low water springs'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option10}',value:'Mean high water springs'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option11}',value:'Mean low water neap'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option12}',value:'Mean high water neap'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option13}',value:'Mean lower low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option14}',value:'Mean lower low water springs'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option15}',value:'Mean higher high water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option16}',value:'Mean higher low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option17}',value:'Mean lower high water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option18}',value:'Spring tide'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option19}',value:'Tropic lower low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option20}',value:'Neap tide'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option21}',value:'High water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option22}',value:'Higher high water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option23}',value:'Low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option24}',value:'Low-water datum'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option25}',value:'Lowest low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option26}',value:'Lower low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option27}',value:'Lowest normal low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option28}',value:'Mean tide level'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option29}',value:'Indian spring low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option30}',value:'High-water full and charge'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option31}',value:'Low-water full and charge'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option32}',value:'Columbia River datum'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option33}',value:'Gulf Coast low water datum'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option34}',value:'Equatorial springs low water'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option35}',value:'Approximate lowest astronomical tide'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdn.option36}',value:'No correction'"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
            </div>
        </div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'depthres',maxOccurs:'unbounded',
          label:'${i18nFgdc.spref.vertdef.depthsys.depthres}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
          data-dojo-props="minValue:0.0,minValueIsExclusive:true,
            hint:'${i18nBase.hints.numberGreaterThanZero}'"></div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'depthdu',
          label:'${i18nFgdc.spref.vertdef.depthsys.depthdu.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdu.meters}',value:'meters'"></div>          
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthdu.feet}',value:'feet'"></div>            
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
            </div>
        </div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'depthem',
          label:'${i18nFgdc.spref.vertdef.depthsys.depthem.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
          <div data-dojo-type="esri/dijit/metadata/form/Options">
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthem.explicit}',value:'Explicit depth coordinate included with horizontal coordinates'"></div>          
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthem.implicit}',value:'Implicit coordinate'"></div>  
            <div data-dojo-type="esri/dijit/metadata/form/Option"
              data-dojo-props="label:'${i18nFgdc.spref.vertdef.depthsys.depthem.attribute}',value:'Attribute values'"></div>            
            </div>
        </div>
      </div>

    </div>
    
  </div>
  
</div>