@import "../css3.less";
/* === Silver Circle Down Arrow ==*/
.mblDomButtonSilverCircleDownArrow {
	position: relative;
	width: 30px;
	height: 30px;
}
.mblDomButtonSilverCircleDownArrow > div {
	position: relative;
	top: 0px;
	left: 0px;
	width: 26px;
	height: 26px;
	border: 1px solid #b5b6b5;
	border-radius: 13px;
	.box-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
	.background-linear-gradient-top-bottom(#efefef, #c2c2c2);
}
.mblDomButtonSilverCircleDownArrow > div > div {
	position: relative;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	.background-linear-gradient-top-bottom(#979797, #616161);
}
.mblDomButtonSilverCircleDownArrow > div > div > div {
	position: absolute;
	left: 0px;
	clip: rect(6px 50px 40px 0px);
}
.mblDomButtonSilverCircleDownArrow > div > div > div > div {
	position: absolute;
	top: -5px;
	left: 1px;
	width: 18px;
	height: 18px;
	margin: 0px;
	font-size: 1px;
	background-color: #d1d1d1;
	border-top: 1px solid #4a5a71;
	.transform(scaleX(0.7) rotate(45deg));
}
