@import "../css3.less";
/* === White Cross Button ==*/
.mblDomButtonWhiteCross {
	position: relative;
	width: 29px;
	height: 29px;
}
.mblDomButtonWhiteCross > div {
	position: absolute;
	top: 12px;
	left: 7px;
	width: 14px;
	height: 2px;
	margin: 0px;
	font-size: 1px;
	border: 1px solid #808080;
	background-color: #ffffff;
	.transform(rotate(45deg));
	-moz-transform: rotate(45deg);
	border-radius: 2px;
}
.mblDomButtonWhiteCross > div > div {
	position: absolute;
	top: -7px;
	left: 5px;
	width: 2px;
	height: 14px;
	margin: 0px;
	font-size: 1px;
	border: 1px solid #808080;
	background-color: #ffffff;
	border-radius: 2px;
}
