@import "../css3.less";
/* === Gray Round Rectangle Button ==*/
.mblDomButtonGrayRoundRect {
	position: relative;
	width: 29px;
	height: 29px;
	text-align: right;
}
.mblDomButtonGrayRoundRect > div {
	position: absolute;
	right: 0px;
	display: inline;
	padding: 0px 5px;
	top: 7px;
	color: white;
	font-family: Helvetica;
	font-size: 12px;
	border-radius: 4px;
	background-color: #949ba5;
	text-align: center;
}
.mblDomButtonGrayRoundRect > div > div {
	display: none;
}
