@import "../css3.less";
/* === Minus Button ==*/
.mblDomButtonGrayMinus {
	position: relative;
	width: 29px;
	height: 29px;
}
.mblDomButtonGrayMinus > div { /* horiz line */
	position: absolute;
	top: 12px;
	left: 6px;
	width: 18px;
	height: 3px;
	margin: 0px;
	font-size: 1px;
	background-color: #848684;
	border-top: 1px solid #525152;
	border-radius: 2px;
}
