@import "../css3.less";
/* === Check Button ==*/
.mblDomButtonDarkBlueCheck, .mblDomButtonCheck {
	position: relative;
	width: 20px;
	height: 29px;
}
.mblDomButtonDarkBlueCheck > div, .mblDomButtonCheck > div {
	position: absolute;
	left: 0px;
	top: 8px;
	width: 16px;
	height: 6px;
	font-size: 1px;
	.transform(scaleX(0.7) rotate(135deg));
	border-width: 3px 4px 0px 0px;
	border-style: solid;
	border-color: #314e84;
}
