@import "../css3.less";
/* === Arrow ==*/
.mblDomButtonWhiteArrow, .mblDomButtonArrow {
	position: relative;
	width: 20px;
	height: 29px;
}
.mblDomButtonWhiteArrow > div, .mblDomButtonArrow > div {
	position: absolute;
	top: 10px;
	left: 6px;
	width: 6px;
	height: 6px;
	font-size: 1px;
	.transform(rotate(45deg));
	border-width: 3px 3px 0px 0px;
	border-style: solid;
	border-color: white;
}
