@import "../css3.less";
.mblFlip {
	.transition-property(none);
	.transition-duration(0s);
}
.mblFlip.mblTransition {
	.transition-property(all);
	.transition-duration(.2s);
	.transition-timing-function(linear);
}
.mblFlip.mblOut {
	opacity: 1;
	.transform(scale(1,1) skew(0,0) ) !important;
}
.mblFlip.mblOut.mblTransition {
	opacity: 0;
	.transform(scale(0,0.8) skew(0,30deg) ) !important;
}
.mblFlip.mblIn {
	opacity: 0;
	.transform(scale(0,0.8) skew(0,-30deg) ) !important;
}
.mblFlip.mblIn.mblTransition {
	.transition-delay(.2s);
	opacity: 1;
	.transform(scale(1,1) skew(0,0) ) !important;
}
.dj_android.dj_tablet .mblFlip.mblTransition {
	.transition-duration(.4s);
}
.dj_android.dj_tablet .mblFlip.mblIn.mblTransition {
	.transition-delay(.4s);
}
