@import "variables.less";
@import "../common/common.less";
/* iOS 6 specific */
.dj_ios6 {
	.mblColorBlue {
		.background-image-linear-gradient-top-bottom(#89abec, #2057c1);
	}
	.mblColorBlue45 {
		.background-image-linear-gradient-top-left-bottom-right(#89abec, #2057c1);
	}
}
.dj_ios6.dj_phone {

	body {
		background-color: #d7dce5;
		&.mblIOS6Stripes {
			/* Vertical stripes on webkit */
			background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#d4d9e3), color-stop(0.70, transparent), color-stop(0.70, #d4d9e3));
			background-size: 8px 8px;
		}
	}
	
	.mblColorDefault {
		.background-image-linear-gradient-top-bottom(#99aac2, #41618d);
	}
	.mblColorDefault45 {
		.background-image-linear-gradient-top-left-bottom-right(#99aac2, #41618d);
	}
	.mblColorDefaultSel {
		.background-image-linear-gradient-top-bottom(#8b97af, #273e6b);
	}
	.mblColorDefaultSel45 {
		.background-image-linear-gradient-top-left-bottom-right(#8b97af, #273e6b);
	}
	/* mblColorBlue also defined here to correctly show up in openers */
	.mblColorBlue {
		.background-image-linear-gradient-top-bottom(#89abec, #2057c1);
	}
	.mblColorBlue45 {
		.background-image-linear-gradient-top-left-bottom-right(#89abec, #2057c1);
	}
}
