/* if you link this style sheet, dijit/themes/dijit.css must be imported. */

/* dijit.Calendar */
.dijitCalendar {
	padding: 0;
	width: 320px;
	border-radius: 0;
	text-align: center;
	.dijitCalendar-styles;
}
.dijitCalendar thead {
	border-color: inherit;
	vertical-align: middle;
	.dijitCalendar-thead-styles;
}
.dijitCalendarMonthLabel {
	padding: 0 4px;
	font-family: Helvetica;
	text-shadow: rgba(247,247,247,0.6) 0 1px 0px;
	.dijitCalendarMonthLabel-styles;
}
.dijitCalendarMonthMenu {
	.dijitCalendarMonthMenu-styles;
}
.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
	.dijitCalendarMonthMenu-Label-styles;
}
.dijitCalendar .dijitDropDownButton .dijitButtonNode {
	padding: 0 3px 0 2px;
	border: none;
	background-color: transparent;
	background-image: none;
	.box-shadow(0 0 0 transparent);
}
.dijitArrowButtonInner {
	display: none;
}
.dijitCalendarMonthContainer th {
	border-right: 1px solid transparent;
}
.dijitCalendarIncrementControl {
	width: 0;
	height: 0;
 	border: 6px solid transparent !important;
}
.dijitCalendarDecrease {
	border-left-width: 0 !important;
	.dijitCalendarDecrease-styles;
}
.dijitCalendarIncrease {
	border-right-width: 0 !important;
	.dijitCalendarIncrease-styles;
}
.dijitA11ySideArrow {
    display: none;
}
.dijitCalendarDayLabelTemplate {
	border-right: 1px solid transparent;
	text-align: center;
	text-shadow: rgba(247,247,247,0.6) 0px 1px 0px;
	.dijitCalendarDayLabelTemplate-styles;
}
.dijitCalendarDateTemplate {
	border-bottom: 1px solid lightGrey;
	font-family: Helvetica;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	.dijitCalendarDateTemplate-styles;
}
.dijitCalendarDateTemplate:last-child {
	.dijitCalendarDateTemplate-LastChild-styles;
}
.dijitCalendarDateTemplate .dijitCalendarDateLabel {
	padding: 3px 5px 3px 4px;
	display: block;
	text-decoration: none;
	.dijitCalendarDateLabel-DateTemplate-styles;
}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel, 
.dijitCalendarNextMonth .dijitCalendarDateLabel {
	.dijitCalendarDateLabel-PrevMonth-styles;
}
.dijitCalendarHoveredDate .dijitCalendarDateLabel {
	.dijitCalendarDateLabel-Hovered-styles;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
	.dijitCalendarDateLabel-Selected-styles;
}
.dijitCalendarActiveDate .dijitCalendarDateLabel {
	.dijitCalendarDateLabel-Active-styles;
}
.dijitCalendarYearLabel {
	margin: 0;
	.dijitCalendarYearLabel-styles;
}
.dijitCalendarSelectedYear {
	font-family: Helvetica;
	text-shadow: rgba(247,247,247,0.6) 0px 1px 0px;
	.dijitCalendarSelectedYear-styles;
}
.dijitCalendarNextYear, 
.dijitCalendarPreviousYear {
	text-shadow: rgba(247,247,247,0.6) 0px 1px 0px;
	.dijitCalendarNextYear-styles;
}
