<div style="border:1px solid black;">
	<select data-dojo-type="dijit.form.ComboBox" placeholder="functionName" data-dojo-attach-point='combo' style="width:45%;" class="dojoxCalcFuncGenNameBox" data-dojo-attach-event='onChange:onSelect'></select>
	<input data-dojo-type="dijit.form.TextBox" placeholder="arguments" class="dojoxCalcFuncGenTextBox" style="width:50%;" data-dojo-attach-point='args' />
	<BR>
	<TEXTAREA data-dojo-type="dijit.form.SimpleTextarea" placeholder="function body" class="dojoxCalcFuncGenTextArea" style="text-align:left;width:95%;" rows=10 data-dojo-attach-point='textarea' value="" data-dojo-attach-event='onClick:readyStatus'></TEXTAREA>
	<BR>
	<input data-dojo-type="dijit.form.Button" class="dojoxCalcFuncGenSave" data-dojo-attach-point='saveButton' label="Save" data-dojo-attach-event='onClick:onSaved' />
	<input data-dojo-type="dijit.form.Button" class="dojoxCalcFuncGenReset" data-dojo-attach-point='resetButton' label="Reset" data-dojo-attach-event='onClick:onReset' />
	<input data-dojo-type="dijit.form.Button" class="dojoxCalcFuncGenClear" data-dojo-attach-point='clearButton' label="Clear" data-dojo-attach-event='onClick:onClear' />
	<input data-dojo-type="dijit.form.Button" class="dojoxCalcFuncGenClose" data-dojo-attach-point='closeButton' label="Close" />
	<BR><BR>
	<input data-dojo-type="dijit.form.Button" class="dojoxCalcFuncGenDelete" data-dojo-attach-point='deleteButton' label="Delete" data-dojo-attach-event='onClick:onDelete' />
	<BR>
	<input data-dojo-type="dijit.form.TextBox" style="width:45%;" data-dojo-attach-point='status' class="dojoxCalcFuncGenStatusTextBox" readonly value="Ready" />
</div>
