@import "variables.less";
@import "../common/Heading.less";
/* iOS 6 specific */
.dj_ios6.dj_phone {
	.mblHeading {
		border-top: 1px solid #eff2f7;
		border-bottom: 1px solid #3f5c80;
		.background-image-linear-gradient-top-bottom-2-stops(#d0d9e6, #587397, 0.025, #d0d9e6, 0.025, #beccdd);
	}
	.mblHeading.mblFixedBottomBar {
		border-top: 1px solid #5e748c;
		border-bottom: 1px solid #577296;
		.background-image-linear-gradient-top-bottom-4-stops(#dee4ec, #577296, 0.025, #dee4ec, 0.025, #c1cddd, 0.05, #c1cddd, 0.05, #b0bfd3);
	}
}
