@import "variables.less";
@import "../common/SimpleDialog.less";
/* iOS 6 specific */
.dj_ios6 {
	.mblSimpleDialogDecoration {
		.background-image-linear-gradient-top-bottom-2-stops(rgba(179,184,199,0.85), rgba(35,50,90,0.85), 0.2, rgba(109,120,148,0.85), 0.2, rgba(33,48,88,0.85));
		text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	}
	.mblSimpleDialogButton {
		.background-image-linear-gradient-top-bottom-2-stops(#b3b8c7, #6c7692, 0.5, #6d7894, 0.5, #586484);
		border-color: rgb(39, 58, 82);
		font-weight: bold;
		color: white;
		text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	}
	.mblSimpleDialogButtonSelected {
		.background-image-linear-gradient-top-bottom-2-stops(#4f5157, #4f5157, 0.5, #6d6f74, 0.5, #61656f);
		border-color: rgb(39, 58, 82);
		font-weight: bold;
		color: white;
		text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
	}
}
