* {
  padding: 0;
  margin: 0;
}

// 滚动条
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
  border-radius: 10px;
  background: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
  background: #141414;
}

// 文字对齐
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// 首页
#app {
  display: flex;
  flex-direction: row;

}

#menu {
  width: 275px;
  min-width: 200px;
  max-width: 500px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  .el-menu {
    border: none;

    .el-submenu__title {
      height: 40px;
      line-height: 40px;
    }

    .el-menu-item {
      height: 28px;
      line-height: 28px;
    }
  }
}

#view {
  flex: 1;
  min-width: 500px;
  padding: 10px 35px 0 35px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}


.drag-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5px;
  z-index: 99;
  border-left: 1px solid #ccc;
  cursor: ew-resize
}

.view-box {
  width: 100%;
}

#toolbar {
  left: 0;
  top: 0;
  height: 24px;
  padding: 5px;
  border: 1px solid #999;
  border-bottom: none;
  background-color: #CCC;
  z-index: 999;
}

.container {
  width: 100%;
  height: 600px;
  border: 1px solid #000;

  position: relative;
  box-sizing: border-box
}

.vdr {
  border: 1px dashed;
}

.vdrr {
  border: 1px dashed;
}
