<div class="dijitCalendarContainer dijitInline" role="presentation" aria-labelledby="${id}_mddb ${id}_year">
	<div class="dijitReset dijitCalendarMonthContainer" role="presentation">
		<div class='dijitReset dijitCalendarArrow dijitCalendarDecrementArrow' data-dojo-attach-point="decrementMonth">
			<img src="${_blankGif}" alt="" class="dijitCalendarIncrementControl dijitCalendarDecrease" role="presentation"/>
			<span data-dojo-attach-point="decreaseArrowNode" class="dijitA11ySideArrow">-</span>
		</div>
		<div class='dijitReset dijitCalendarArrow dijitCalendarIncrementArrow' data-dojo-attach-point="incrementMonth">
			<img src="${_blankGif}" alt="" class="dijitCalendarIncrementControl dijitCalendarIncrease" role="presentation"/>
			<span data-dojo-attach-point="increaseArrowNode" class="dijitA11ySideArrow">+</span>
		</div>
		<div data-dojo-attach-point="monthNode" class="dijitInline"></div>
	</div>
	<table cellspacing="0" cellpadding="0" role="grid" data-dojo-attach-point="gridNode">
		<thead>
			<tr role="row">
				${!dayCellsHtml}
			</tr>
		</thead>
		<tbody data-dojo-attach-point="dateRowsNode" data-dojo-attach-event="ondijitclick: _onDayClick" class="dijitReset dijitCalendarBodyContainer">
				${!dateRowsHtml}
		</tbody>
	</table>
	<div class="dijitReset dijitCalendarYearContainer" role="presentation">
		<div class="dijitCalendarYearLabel">
			<span data-dojo-attach-point="previousYearLabelNode" class="dijitInline dijitCalendarPreviousYear" role="button"></span>
			<span data-dojo-attach-point="currentYearLabelNode" class="dijitInline dijitCalendarSelectedYear" role="button" id="${id}_year"></span>
			<span data-dojo-attach-point="nextYearLabelNode" class="dijitInline dijitCalendarNextYear" role="button"></span>
		</div>
	</div>
</div>
