<span data-dojo-attach-point="editNode" role="presentation" class="dijitReset dijitInline dijitOffScreen"
	><span data-dojo-attach-point="editorPlaceholder"></span
	><span data-dojo-attach-point="buttonContainer"
		><button data-dojo-type="./form/Button" data-dojo-props="label: '${buttonSave}', 'class': 'saveButton'"
			data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick:save"></button
		><button data-dojo-type="./form/Button"  data-dojo-props="label: '${buttonCancel}', 'class': 'cancelButton'"
			data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:cancel"></button
	></span
></span>
