<tr class="dijitReset" data-dojo-attach-point="focusNode" role="menuitem" tabIndex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<span role="presentation" class="dijitInline dijitIcon dijitMenuItemIcon" data-dojo-attach-point="iconNode"></span>
	</td>
	<td class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode,textDirNode"
		role="presentation"></td>
	<td class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<span data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<span class="dijitInline dijitIcon dijitMenuExpand"></span>
			<span class="dijitMenuExpandA11y">+</span>
		</span>
	</td>
</tr>
