<div role="presentation" data-dojo-attach-point="titleNode,innerDiv,tabContent" class="dijitTabInner dijitTabContent">
	<span role="presentation" class="dijitInline dijitIcon dijitTabButtonIcon" data-dojo-attach-point="iconNode"></span>
	<span data-dojo-attach-point='containerNode,focusNode' class='tabLabel'></span>
	<span class="dijitInline dijitTabCloseButton dijitTabCloseIcon" data-dojo-attach-point='closeNode'
		  role="presentation">
		<span data-dojo-attach-point='closeText' class='dijitTabCloseText'>[x]</span
				></span>
</div>
