.#{$theme-name} {
  .dijitDialogRtl,
  .dijitTooltipDialogRtl {
    .dijitDialogCloseIcon {
      float: left;
    }
    .dijitDialogPaneActionBar {
      text-align: left;
      .dijitButton + .dijitButton {
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
  .dijitTooltip {
    &.dijitTooltipBelow,
    &.dijitTooltipAbove {
      &.dijitTooltipABRight {
        .dijitTooltipConnector {
          left: auto;
          right: 15px;
        }
      }
    }
  }
}

