// InlineEditBox
// 
// Styling InlineEditBox mainly includes:
// 
// 1. Normal state
//    .dijitInlineEditBoxDisplayMode  - for border
// 
// 2. Hover state
//    .dijitInlineEditBoxDisplayModeHover - for border and background color
//
.#{$theme-name} {
  .dijitInlineEditBoxDisplayMode {
    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    border: 1px solid transparent;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    line-height: $line-height-base;
    @include transition(border-color ease-in-out .15s);
  }
  .dijitInlineEditBoxDisplayModeHover {
    border: 1px solid $input-border;
    background-color: $input-bg;
  }
}

