.#{$theme-name} {
  .dijitToolbarRtl {
    .dijitButtonNode {
      .dijitIcon {
        margin: 0;
      }
    }
    .dijitTextBox {
      margin-left: $padding-base-horizontal;
      margin-right: inherit;
    }
  }
}

