// ┌──────────────────────────────────────────┐
// │          Variables and Mixins            │
// └──────────────────────────────────────────┘
// Variables
// --------------------------------------------------
// Common
@import "../variables/colors-default";
@import "../variables/colors";
@import "../variables/fonts-avenir";
@import "../variables/scaffolding";
@import "../variables/typography";
@import "../variables/components";
@import "../variables/states";
@import "../variables/buttons";
@import "../variables/forms";
@import "../variables/dropdowns";
@import "../variables/popovers";
@import "../variables/tooltips";
@import "../variables/navbar";
// Dijits
// dijit/form/*
@import "variables/form/checkbox";
@import "variables/form/radiobutton";
@import "variables/form/sliders";
// dijit/layout/*
@import "variables/layout/common";
@import "variables/layout/accordion";
@import "variables/layout/border-container";
@import "variables/layout/tabs";
// dijit/*
@import "variables/calendar";
@import "variables/color-palette";
@import "variables/dnd";
@import "variables/editor";
@import "variables/modals";
@import "variables/progressbars";
@import "variables/time-picker";
@import "variables/title-pane";
@import "variables/toolbar";
@import "variables/tree";
// Mixins
// --------------------------------------------------
// Utilities
@import "compass/css3";
@import "compass/utilities/general/clearfix";
// Components
@import "../mixins/common";
@import "../mixins/buttons";
@import "../mixins/dropdowns";
@import "../mixins/forms";
@import "../mixins/iconfonts";
@import "../mixins/progressbar";
@import "../mixins/slider";
// Theme name
$theme-name: "calcite" !default;
// Icon images directory
$iconUrl: "icons/images/" !default;
// Loading Images
$image-loading-circular: "../images/loadingIndicator/LoadingAnimation16_Trans.gif";

