// Dijit Editor icons
//
//editorIcons.css contains references to the dijit editor widget icons. There are 46 icons used to map to the related editor functionality in the editor's toolbar.
//
.dijitEditorIcon {
  background-image: url($iconUrl + 'editorIconsEnabled.png'); // editor icons sprite image for the enabled state
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}

.dijitDisabled .dijitEditorIcon {
  background-image: url($iconUrl + 'editorIconsDisabled.png'); // editor icons sprite image for the disabled state
}

.dijitEditorIconSep {
  background-position: 0;
}

.dijitEditorIconSave {
  background-position: -18px;
}

.dijitEditorIconPrint {
  background-position: -36px;
}

.dijitEditorIconCut {
  background-position: -54px;
}

.dijitEditorIconCopy {
  background-position: -72px;
}

.dijitEditorIconPaste {
  background-position: -90px;
}

.dijitEditorIconDelete {
  background-position: -108px;
}

.dijitEditorIconCancel {
  background-position: -126px;
}

.dijitEditorIconUndo {
  background-position: -144px;
}

.dijitEditorIconRedo {
  background-position: -162px;
}

.dijitEditorIconSelectAll {
  background-position: -180px;
}

.dijitEditorIconBold {
  background-position: -198px;
}

.dijitEditorIconItalic {
  background-position: -216px;
}

.dijitEditorIconUnderline {
  background-position: -234px;
}

.dijitEditorIconStrikethrough {
  background-position: -252px;
}

.dijitEditorIconSuperscript {
  background-position: -270px;
}

.dijitEditorIconSubscript {
  background-position: -288px;
}

.dijitEditorIconJustifyCenter {
  background-position: -306px;
}

.dijitEditorIconJustifyFull {
  background-position: -324px;
}

.dijitEditorIconJustifyLeft {
  background-position: -342px;
}

.dijitEditorIconJustifyRight {
  background-position: -360px;
}

.dijitEditorIconIndent {
  background-position: -378px;
}

.dijitEditorIconOutdent {
  background-position: -396px;
}

.dijitEditorIconListBulletIndent {
  background-position: -414px;
}

.dijitEditorIconListBulletOutdent {
  background-position: -432px;
}

.dijitEditorIconListNumIndent {
  background-position: -450px;
}

.dijitEditorIconListNumOutdent {
  background-position: -468px;
}

.dijitEditorIconTabIndent {
  background-position: -486px;
}

.dijitEditorIconLeftToRight {
  background-position: -504px;
}

.dijitEditorIconRightToLeft,
.dijitEditorIconToggleDir {
  background-position: -522px;
}

.dijitEditorIconBackColor {
  background-position: -540px;
}

.dijitEditorIconForeColor {
  background-position: -558px;
}

.dijitEditorIconHiliteColor {
  background-position: -576px;
}

.dijitEditorIconNewPage {
  background-position: -594px;
}

.dijitEditorIconInsertImage {
  background-position: -612px;
}

.dijitEditorIconInsertTable {
  background-position: -630px;
}

.dijitEditorIconSpace {
  background-position: -648px;
}

.dijitEditorIconInsertHorizontalRule {
  background-position: -666px;
}

.dijitEditorIconInsertOrderedList {
  background-position: -684px;
}

.dijitEditorIconInsertUnorderedList {
  background-position: -702px;
}

.dijitEditorIconCreateLink {
  background-position: -720px;
}

.dijitEditorIconUnlink {
  background-position: -738px;
}

.dijitEditorIconViewSource {
  background-position: -756px;
}

.dijitEditorIconRemoveFormat {
  background-position: -774px;
}

.dijitEditorIconFullScreen {
  background-position: -792px;
}

.dijitEditorIconWikiword {
  background-position: -810px;
}

