<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'cntinfo',minOccurs:0,
      label:'${i18nFgdc.cntinfo.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nFgdc.cntinfo.section.primary}'">
        <div data-dojo-type="esri/dijit/metadata/form/ElementChoice">
        
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'cntorgp',showHeader:false,
              label:'${i18nFgdc.cntinfo.cntorgp.caption}'">
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'cntorg',label:'${i18nFgdc.cntinfo.cntorgp.cntorg}'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'cntper',minOccurs:0,label:'${i18nFgdc.cntinfo.cntorgp.cntper}'">
            </div>
          </div>
          
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'cntperp',showHeader:false,
              label:'${i18nFgdc.cntinfo.cntperp.caption}'">
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'cntper',label:'${i18nFgdc.cntinfo.cntperp.cntper}'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'cntorg',minOccurs:0,label:'${i18nFgdc.cntinfo.cntperp.cntorg}'">
            </div>
          </div>
          
        </div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'cntpos',minOccurs:0,label:'${i18nFgdc.cntinfo.cntpos}'">
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'cntaddr',maxOccurs:'unbounded',
          label:'${i18nFgdc.cntinfo.cntaddr.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'addrtype',
            label:'${i18nFgdc.cntinfo.cntaddr.addrtype.caption}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
            <div data-dojo-type="esri/dijit/metadata/form/Options">
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.cntinfo.cntaddr.addrtype.mailing}',value:'mailing',selected:true"></div>  
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.cntinfo.cntaddr.addrtype.physical}',value:'physical'"></div>  
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.cntinfo.cntaddr.addrtype.mailingAndPhysical}',value:'mailing and physical'"></div>  
              <div data-dojo-type="esri/dijit/metadata/form/Option"
                data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
            </div>            
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'address',minOccurs:0,maxOccurs:'unbounded',
            label:'${i18nFgdc.cntinfo.cntaddr.address}'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'city',
            label:'${i18nFgdc.cntinfo.cntaddr.city}'"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'state',
            label:'${i18nFgdc.cntinfo.cntaddr.state}'"></div>    
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'postal',
            label:'${i18nFgdc.cntinfo.cntaddr.postal}'"></div>    
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'country',minOccurs:0,
            label:'${i18nFgdc.cntinfo.cntaddr.country}'"></div>              
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,
          label:'${i18nFgdc.cntinfo.section.phoneAndEmail}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'cntvoice',maxOccurs:'unbounded',
            label:'${i18nFgdc.cntinfo.cntvoice}'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'cnttdd',minOccurs:0,maxOccurs:'unbounded',
            label:'${i18nFgdc.cntinfo.cnttdd}'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'cntfax',minOccurs:0,maxOccurs:'unbounded',
            label:'${i18nFgdc.cntinfo.cntfax}'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'cntemail',minOccurs:0,maxOccurs:'unbounded',preferOpen:true,
            label:'${i18nFgdc.cntinfo.cntemail}'">
        </div>
      </div>
      
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,
          label:'${i18nFgdc.cntinfo.section.hoursAndInstructions}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'hours',minOccurs:0,
            label:'${i18nFgdc.cntinfo.hours}'"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'cntinst',minOccurs:0,
            label:'${i18nFgdc.cntinfo.cntinst}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
      </div>  
      
    </div>  
  </div>
  
</div>