<div data-dojo-attach-point="containerNode">

  <!-- gmd:resourceConstraints/gmd:MD_Constraints -->
  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:resourceConstraints',
      label:'${i18nIso.MD_Constraints.caption}',
      matchTopNode: [
        {
           qPath: 'gmd:MD_Constraints',
          qValue: null,
          qMode: 'must'
        }  
      ]">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:MD_Constraints',minOccurs:0">
      
      <div data-dojo-type="esri/dijit/metadata/types/inspire/gmd/constraints/UseLimitation"></div>
      
    </div>
  </div>
  
   <!-- gmd:resourceConstraints/gmd:MD_LegalConstraints -->
  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:resourceConstraints',
      label:'${i18nIso.MD_LegalConstraints.caption}',
      matchTopNode: [
        {
           qPath: 'gmd:MD_LegalConstraints',
          qValue: null,
          qMode: 'must'
        }  
      ]">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:MD_LegalConstraints',minOccurs:0">
      
      <!-- fixed accessConstraints -->
      <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
        data-dojo-props="target:'gmd:accessConstraints',
          label:'${i18nIso.MD_LegalConstraints.accessConstraints}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
          data-dojo-props="target:'gmd:MD_RestrictionCode'">
          <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
          <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
            data-dojo-props="value:'${codeListPrefix}MD_RestrictionCode'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
            <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
              <div data-dojo-type="esri/dijit/metadata/form/Options">
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nIso.MD_RestrictionCode.otherRestrictions}',
                    value:'otherRestrictions'"></div>                                                        
              </div>
            </div>
          </div>
        </div>
      </div>  
      
      <div data-dojo-type="esri/dijit/metadata/types/inspire/gmd/constraints/OtherConstraints"></div>
      
    </div>
  </div>

</div>