<div data-dojo-attach-events="keydown:_onKeyDown">
	<div  class="dojoxCalendarYearColumnHeader" data-dojo-attach-point="yearColumnHeader">
		<table><tr><td><span data-dojo-attach-point="yearColumnHeaderContent"></span></td></tr></table>		
	</div>	
	<div data-dojo-attach-point="columnHeader" class="dojoxCalendarColumnHeader">
		<table data-dojo-attach-point="columnHeaderTable" class="dojoxCalendarColumnHeaderTable" cellpadding="0" cellspacing="0"></table>
	</div>		
	<div dojoAttachPoint="rowHeader" class="dojoxCalendarRowHeader">
		<table data-dojo-attach-point="rowHeaderTable" class="dojoxCalendarRowHeaderTable" cellpadding="0" cellspacing="0"></table>
	</div>	
	<div dojoAttachPoint="grid" class="dojoxCalendarGrid">
		<table data-dojo-attach-point="gridTable" class="dojoxCalendarGridTable" cellpadding="0" cellspacing="0"></table>
	</div>	
	<div data-dojo-attach-point="itemContainer" class="dojoxCalendarContainer" data-dojo-attach-event="mousedown:_onGridMouseDown,mouseup:_onGridMouseUp,ondblclick:_onGridDoubleClick,touchstart:_onGridTouchStart,touchmove:_onGridTouchMove,touchend:_onGridTouchEnd">
		<table data-dojo-attach-point="itemContainerTable" class="dojoxCalendarContainerTable" cellpadding="0" cellspacing="0" style="width:100%"></table>
	</div>	
</div>
