<div>
	<div data-dojo-attach-point="viewContainer" class="viewContainer"></div>
	<div data-dojo-attach-point="buttonContainer" class="buttonContainer">
			<button data-dojo-attach-point="previousButton" data-dojo-type="dojox.mobile.Button" >◄</button>
			<button data-dojo-attach-point="todayButton" data-dojo-type="dojox.mobile.Button" >Today</button>
			<button data-dojo-attach-point="dayButton" data-dojo-type="dojox.mobile.Button" >Day</button>
			<button data-dojo-attach-point="weekButton" data-dojo-type="dojox.mobile.Button" >Week</button>			
			<button data-dojo-attach-point="monthButton" data-dojo-type="dojox.mobile.Button" >Month</button>
		<button data-dojo-attach-point="nextButton" data-dojo-type="dojox.mobile.Button" >►</button>
	</div>
</div>
