<div class="dojoxCalendarEvent dojoxCalendarHorizontal" onselectstart="return false;">
	<div class="bg" ></div>
	<div style="position:absolute;left:2px;bottom:2px"><span data-dojo-attach-point="beforeIcon" class="beforeIcon">◄</span></div>	
	<div data-dojo-attach-point="labelContainer" class="labels">		
		<span data-dojo-attach-point="startTimeLabel" class="startTime"></span>
		<span data-dojo-attach-point="summaryLabel" class="summary"></span>
		<span  data-dojo-attach-point="endTimeLabel" class="endTime"></span>
	</div>
	<div style="position:absolute;right:2px;bottom:2px"><span data-dojo-attach-point="afterIcon" class="afterIcon">►</span></div>
	<div data-dojo-attach-point="moveHandle" class="moveHandle" ></div>	
	<div data-dojo-attach-point="resizeStartHandle" class="resizeHandle resizeStartHandle"><div></div></div>	
	<div data-dojo-attach-point="resizeEndHandle" class="resizeHandle resizeEndHandle"><div></div></div>	
</div>
