<div class="dojoxCalendarEvent dojoxCalendarVertical">
	<div class="bg"></div>	
	<div data-dojo-attach-point="resizeStartHandle" class="resizeStartHandle resizeHandle"><div></div></div>
	<dl style="width:100%;">				
		<dd data-dojo-attach-point="beforeIcon" class="beforeIcon">▲</dd>
		<dd data-dojo-attach-point="startTimeLabel" class="startTime"></dd>
		<dd data-dojo-attach-point="summaryLabel" class="summary"></dd>
	</dl>
	<span data-dojo-attach-point="afterIcon" class="afterIcon">▼</span>	
	<div data-dojo-attach-point="resizeEndHandle" class="resizeEndHandle resizeHandle"><div></div></div>
	<span data-dojo-attach-point="endTimeLabel" class="endTime"></span>
</div>
