<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target:'gmd:CI_Contact',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
        data-dojo-props="target:'gmd:phone',minOccurs:0,
          label:'${i18nIso.CI_Contact.phone}'">
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/CI_Telephone"></div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
        data-dojo-props="target:'gmd:address',minOccurs:0,
          label:'${i18nIso.CI_Contact.address}'">
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/CI_Address"></div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
        data-dojo-props="target:'gmd:onlineResource',minOccurs:0,
          label:'${i18nIso.CI_Contact.onlineResource}'">
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/CI_OnlineResource"></div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'gmd:hoursOfService',minOccurs:0,
          label:'${i18nIso.CI_Contact.hoursOfService}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'"></div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'gmd:contactInstructions',minOccurs:0,
          label:'${i18nIso.CI_Contact.contactInstructions}'">
        <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
      </div>
    </div>
  </div>
</div>