$basemaptoggle-width:           65px !default;
$basemaptoggle-height:          65px !default;
$basemaptoggle-bg-fallback:     $Calcite_Gray_050 !default;
$basemaptoggle-bg:              rgba($basemaptoggle-bg-fallback, 0.7) !default;
$basemaptoggle-color:           $Calcite_Gray_650 !default;
$basemaptoggle-font-size:       $font-size-small !default;
$basemaptoggle-line-height:     1.2 !default;
$basemaptoggle-title-height:    20px !default;
$basemaptoggle-title-bg:        $Calcite_Gray_050 !default;
$basemaptoggle-title-padding:   ($basemaptoggle-title-height - $basemaptoggle-line-height * $basemaptoggle-font-size) * 0.5 !default;
