$basemapgallery-item-width:        100px !default;
$basemapgallery-item-height:       65px !default;
$basemapgallery-item-padding:      $padding-xs-horizontal !default;
$basemapgallery-item-spacing:      $padding-small-horizontal !default;
$basemapgallery-item-selected-bg:  $Calcite_Highlight_Blue_200 !default;
$basemapgallery-label-height:      3em !default;