$bookmarks-width:                      100% !default;
$bookmarks-label-margin-left:          0 !default;
$bookmarks-item-padding:               $padding-xs-horizontal !default;
$bookmarks-item-active-bg:             $Calcite_Highlight_Blue_100 !default;
//** The color of "Add Bookmark" button
$bookmarks-btn-add-color:              $Calcite_Gray_550 !default;
//** width of "Edit" and "Remove" buttons
$bookmarks-btn-icon-width:             30px !default;
//** Width of input box in edit mode
$bookmarks-input-width:                160px !default;
//** Border color of input box in edit mode
$bookmarks-input-border:               $Brand_Blue_200 !default;
$bookmarks-drag-icon-color:            $Calcite_Gray_300 !default;
$bookmarks-drag-icon-active-color:     $Calcite_Gray_400 !default;
//** Background when hovering over an anchor or selected node in the DND mode 
$bookmarks-dnd-anchor-active-hover-bg: $Calcite_Highlight_Blue_150 !default;