$directions-stop-row-height:                    36px !default;
$directions-stop-icon-button-size:              20px !default; // drag handle, locate button, remove button, etc.
$directions-stop-icon-width:                    18px !default;
$directions-stop-icon-height:                   18px !default;
$directions-stop-icon-font-size:                11px !default;
$directions-stop-icon-color:                    $Calcite_Gray_650 !default;
$directions-stop-end-icon-color:                $Calcite_Gray_050 !default;
$directions-route-icon-width:                   24px !default;
$directions-route-icon-height:                  $directions-route-icon-width !default;
$directions-route-divider-bg:                   $Calcite_Gray_350 !default;
$directions-dnd-drop-indicator-color:           $brand-primary !default;
$directions-print-bar-height:                   50px !default;
$directions-print-content-width:                760px !default;
$directions-print-content-padding-vertical:     15px !default;
$directions-print-content-padding-honrizontal:  15px !default;