$layerswipe-width:         11px !default;
$layerswipe-handle-width:  20px !default;
$layerswipe-handle-height: 24px !default;
$layerswipe-scope-width:   260px !default;
$layerswipe-scope-height:  260px !default;