$legend-service-layer-color:                    $Calcite_Gray_650 !default;
$legend-service-spacing:                        $padding-base-vertical * 2 !default;
$legend-service-indent:                         $padding-base-horizontal !default;
$legend-layer-spacing:                          0 !default;
$legend-layer-indent:                           $padding-base-horizontal !default;
$legend-color-ramp-width:                       16px !default;
$legend-color-ramp-height:                      120px !default;
$legend-color-ramp-tick-color:                  $Calcite_Gray_400 !default;
$legend-color-ramp-labels-height:               90px !default;
$legend-color-ramp-label-padding:               $padding-small-horizontal !default;
$legend-color-ramp-label-line-height-computed:  30px !default;
