$measurement-icon-height:                     16px !default;
$measurement-icon-width:                      16px !default;
//** Space between rows, for example: the space between button group and unit dropdown button
$measurement-row-spacing:                     $padding-base-vertical * 2 !default;
$measurement-result-label-border:             $divider-bg !default;
$measurement-result-label-color:              $Calcite_Gray_400 !default;
$measurement-result-label-padding-vertical:   $padding-base-horizontal !default; // vertical and horizontal paddings are the same
$measurement-result-label-padding-horizontal: $padding-base-horizontal !default;
$measurement-result-padding-vertical:         $padding-base-horizontal !default; // vertical and horizontal paddings are the same
$measurement-result-padding-horizontal:       $padding-base-horizontal !default;
$measurement-result-font-size:                13px !default;