$overviewmap-bg:                   $Calcite_Gray_050 !default;
$overviewmap-map-bg:               $Calcite_Gray_050 !default;
$overviewmap-padding:              $padding-xs-horizontal !default;

// Buttons: visibility toggle and maximizer
$overviewmap-btn-bg:               $Calcite_Gray_100 !default;
$overviewmap-btn-padding:          $padding-xs-horizontal !default;
$overviewmap-icon-size:            $font-size-small !default;