$scale-ruler-height:         6px !default;
$scale-ruler-bg:             $Calcite_Gray_050 !default;
$scale-ruler-block-bg:       $Calcite_Gray_550 !default;

$scale-line-height:          6px !default;
$scale-line-border:          $Calcite_Gray_550 !default;

$scale-label-color:          $Calcite_Gray_550 !default;
$scale-label-font-size:      10px !default;
