$search-height:                      $esri-btn-height !default;
$search-line-height-computed:        $search-height - $padding-base-vertical * 2 !default;
$search-line-height:                 $search-line-height-computed/$font-size-base !default;
$search-input-width:                 200px !default;
$search-input-icon-width:            24px !default;
$search-divider-bg:                  $divider-bg !default;
$search-menu-max-height:             300px !default;
$search-menu-header-height:          25px !default;
$search-menu-header-color:           $Calcite_Gray_100 !default;
$search-menu-header-bg:              $Calcite_Gray_550 !default;
$search-more-result-name-font-size:  13px !default;