$timeslider-margin:                     5px !default;
$timeslider-btn-height:                 30px !default;
$timeslider-btn-width:                  30px !default;
$timeslider-btn-margin:                 1px !default;
$timeslider-ruler-label-font-size:      0.7em !default;