<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'dataLineage',minOccurs:1,showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">  
    
      <!-- statement -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dataLineage.section.statement}'">          
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'statement',minOccurs:0,label:'${i18nArcGIS.dqInfo.dataLineage.statement}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
      </div>
      
      <!-- process step -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dataLineage.section.prcStep}'">          
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'prcStep',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.caption}'">
          <div data-dojo-type="esri/dijit/metadata/form/Tabs">
          
            <!-- description -->
            <div data-dojo-type="esri/dijit/metadata/form/Section"
              data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.section.description}'">          
              <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
                data-dojo-props="target:'stepDesc',minOccurs:1,label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.stepDesc}'">
                <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
              </div>
              <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
                data-dojo-props="target:'stepDateTm',minOccurs:0,label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.stepDateTm}'">
                <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:true"></div>
              </div>
              <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
                data-dojo-props="target:'stepRat',minOccurs:0,label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.stepRat}'">
                <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
              </div>
            </div>  
            
            <!-- processor -->
            <div data-dojo-type="esri/dijit/metadata/form/Section"
              data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.section.stepProc}'">
              <div data-dojo-type="esri/dijit/metadata/form/Element"
                data-dojo-props="target:'stepProc',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.stepProc}'">
                <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/ContactElements"></div>
              </div>
            </div>  
            
            <!-- data source -->
            <div data-dojo-type="esri/dijit/metadata/form/Section"
              data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.section.stepSrc}'">
              <div data-dojo-type="esri/dijit/metadata/form/Element"
                data-dojo-props="target:'stepSrc',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.dataLineage.prcStep.stepSrc}'">
                <div data-dojo-type="esri/dijit/metadata/form/Attribute"
                  data-dojo-props="target:'type',minOccurs:0,label:'${i18nArcGIS.codelist.LI_SourceType}'">
                  <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
                    data-dojo-props="codelistType:'LI_SourceType'">
                  </div>
                </div>                
                <div data-dojo-type="esri/dijit/metadata/types/arcgis/quality/DataSourceElements"></div>
              </div>
            </div>      
                  
          </div>
        </div>
      </div>
      
      <!-- data source -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dataLineage.section.dataSource}'">          
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'dataSource',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.dataLineage.dataSource.caption}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/quality/DataSourceElements"></div>
        </div>
      </div>
      
    </div>
  </div>
</div>