<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'dqInfo',minOccurs:0,label:'${i18nArcGIS.dqInfo.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      
      <!-- scope -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.section.scope}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/quality/Scope"></div>
      </div>
      
      <!-- lineage -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,isLineageSection:true,label:'${i18nArcGIS.dqInfo.section.lineage}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/quality/Lineage"></div>
      </div>
      
      <!-- report -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,isReportSection:true,label:'${i18nArcGIS.dqInfo.section.report}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/quality/Report"></div>
      </div>
          
    </div>
  </div>
</div>