<div data-dojo-attach-point="containerNode">
   <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'report',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.section.report}'">

    <!-- type -->
    <div data-dojo-type="esri/dijit/metadata/form/Attribute"
      data-dojo-props="target:'type',minOccurs:1,label:'${i18nArcGIS.codelist.DQ_ElementType}'">
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputReportType"
        data-dojo-props="codelistType:'DQ_ElementType'">
      </div>
    </div>    
    
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">

      <!-- measure -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.report.section.measure}'">
        <div data-dojo-type="esri/dijit/metadata/form/Attribute"
          data-dojo-props="target:'dimension',minOccurs:0,label:'${i18nArcGIS.codelist.DQ_ElementDimension}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
            data-dojo-props="codelistType:'DQ_ElementDimension'">
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'measDesc',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.measDesc}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'measName',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.report.measName}'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'measDateTm',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.report.measDateTm}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:true"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'measId',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.measId}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'identCode',minOccurs:1,label:'${i18nArcGIS.codeRef.identCode}'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'identAuth',minOccurs:0,label:'${i18nArcGIS.codeRef.identAuth}'">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/CitationElements"></div>    
          </div>
        </div>
      </div>
      
      <!-- evaluation -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.report.section.evaluation}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'evalMethDesc',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.evalMethDesc}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'evalMethType',minOccurs:0,label:'${i18nArcGIS.codelist.DQ_EvaluationMethodTypeCode}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'EvalMethTypeCd',minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
              data-dojo-props="target:'value',minOccurs:0,showHeader:false">
              <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
                data-dojo-props="codelistType:'DQ_EvaluationMethodTypeCode'">
              </div>  
            </div>
          </div>
        </div>              
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'evalProc',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.evalProc}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/CitationElements"></div>    
        </div>
      </div>

      <!-- result -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,isResultSection:true,label:'${i18nArcGIS.dqInfo.report.section.result}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'measResult',minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/form/Tabs">
          
            <!-- conformance result -->
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'ConResult',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.ConResult.caption}'">
              <div data-dojo-type="esri/dijit/metadata/form/Element"
                data-dojo-props="target:'conExpl',minOccurs:1,label:'${i18nArcGIS.dqInfo.report.ConResult.conExpl}'">
                <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
              </div>
              <div data-dojo-type="esri/dijit/metadata/form/Element"
                data-dojo-props="target:'conPass',minOccurs:1,label:'${i18nArcGIS.dqInfo.report.ConResult.conPass.caption}'">
                <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputConformanceDegree"></div>
              </div>
              <div data-dojo-type="esri/dijit/metadata/form/Element"
                data-dojo-props="target:'conSpec',minOccurs:1,label:'${i18nArcGIS.dqInfo.report.ConResult.conSpec}'">
                <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/CitationElements"></div>    
              </div>
            </div>
            
            <!-- quantitative result -->
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'QuanResult',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.QuanResult.caption}'">
              <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
                data-dojo-props="target:'quanVal',minOccurs:1,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.report.QuanResult.quanVal}'">  
              </div>
              <div data-dojo-type="esri/dijit/metadata/form/Element"
                data-dojo-props="target:'quanValUnit',minOccurs:1,showHeader:false">
                <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
                  data-dojo-props="target:'UOM',minOccurs:1,label:'${i18nArcGIS.dqInfo.report.QuanResult.quanValUnit}'">
                  <div data-dojo-type="esri/dijit/metadata/types/arcgis/common/UnitSymbol"></div>
                </div>
              </div>
              <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
                data-dojo-props="target:'quanValType',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.QuanResult.quanValType}'">  
              </div>
              <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
                data-dojo-props="target:'errStat',minOccurs:0,label:'${i18nArcGIS.dqInfo.report.QuanResult.errStat}'">  
              </div>
            </div>
          
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>