<div data-dojo-attach-point="containerNode">
   <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'dqScope',showHeader:false,minOccurs:1,label:'${i18nArcGIS.dqInfo.section.scope}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
    
      <!-- level -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dqScope.section.level}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'scpLvl',minOccurs:1,label:'${i18nArcGIS.dqInfo.dqScope.scpLvl}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/maintenance/ScopeCd"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'scpLvlDesc',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.dqScope.scpLvlDesc}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/maintenance/ScopeDscElements"></div>
        </div>
      </div>
      
      <!-- extent -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.dqInfo.dqScope.section.extent}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/ExtentElement"
          data-dojo-props="target:'scpExt',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.dqInfo.dqScope.scpExt}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/extent/ExtentElements"></div>
        </div>
      </div>  
      
    </div>
  </div>
</div>