// Carousel_rtl
@mbl-carousel-margin-rtl: ~"2px 4px 2px 0px";

// IconContainer_rtl
@mbl-icon-container-right-rtl: -2px;

// IconMenu_rtl-compat
@mbl-border-radius-rtl: 3px;

// TabBar_rtl-compat
@mbl-moz-border-radius-rtl: 5px;

// TabBar_rtl
@mbl-border-width-rtl: ~"1px 0px 1px 1px !important";
@mbl-tb-border-radius-rtl: 5px;

// ThemeID
@theme-id: custom;

// Switch_rtl-compat
@mbl-bg-image-r-rtl: ~"url(compat/switch-square-r.gif)";
@mbl-bg-image-l-rtl: ~"url(compat/switch-square-l.gif)";

// Switch_rtl
@mbl-switchOn-left-rtl: -53px;
@mbl-switchBg-left-rtl: 53px;
@mbl-switch-knob-rtl: 53px;
@mbl-switch-text-right-rtl: -40px;

// ToolBarButton_rtl
@mbl-toolbar-right-arrow-rtl: 1px;
@mbl-toolbar-left-arrow-rtl: 0px;

// ProgressIndicator_rtl
@mbl-progress-center-left-rtl: 0px;
