<table class="dijit dijitReset dijitInline dijitLeft"
	cellspacing='0' cellpadding='0' role="presentation"
	><tbody role="presentation"><tr role="presentation"
		><td class="dijitReset dijitStretch dijitButtonNode" data-dojo-attach-point="buttonNode" data-dojo-attach-event="ondijitclick:__onClick,onkeydown:_onButtonKeyDown"
		><div id="${id}_button" class="dijitReset dijitButtonContents"
			data-dojo-attach-point="titleNode"
			role="button" aria-labelledby="${id}_label"
			><div class="dijitReset dijitInline dijitIcon" data-dojo-attach-point="iconNode" role="presentation"></div
			><div class="dijitReset dijitInline dijitButtonText" id="${id}_label" data-dojo-attach-point="containerNode" role="presentation"></div
		></div
		></td
		><td id="${id}_arrow" class='dijitReset dijitRight dijitButtonNode dijitArrowButton'
			data-dojo-attach-point="_popupStateNode,focusNode,_buttonNode"
			data-dojo-attach-event="onkeydown:_onArrowKeyDown"
			title="${optionsTitle}"
			role="button" aria-haspopup="true"
			><div class="dijitReset dijitArrowButtonInner" role="presentation"></div
			><div class="dijitReset dijitArrowButtonChar" role="presentation">&#9660;</div
		></td
		><td style="display:none !important;"
			><input ${!nameAttrSetting} type="${type}" value="${value}" data-dojo-attach-point="valueNode"
				class="dijitOffScreen" aria-hidden="true" data-dojo-attach-event="onclick:_onClick"
		/></td></tr></tbody
></table>
