<table class="dijit dijitReset dijitSlider dijitSliderH" cellspacing="0" cellpadding="0" border="0" rules="none" data-dojo-attach-event="onkeydown:_onKeyDown, onkeyup:_onKeyUp"
	role="presentation"
	><tr class="dijitReset"
		><td class="dijitReset" colspan="2"></td
		><td data-dojo-attach-point="topDecoration" class="dijitReset dijitSliderDecoration dijitSliderDecorationT dijitSliderDecorationH"></td
		><td class="dijitReset" colspan="2"></td
	></tr
	><tr class="dijitReset"
		><td class="dijitReset dijitSliderButtonContainer dijitSliderButtonContainerH"
			><div class="dijitSliderDecrementIconH" style="display:none" data-dojo-attach-point="decrementButton"><span class="dijitSliderButtonInner">-</span></div
		></td
		><td class="dijitReset"
			><div class="dijitSliderBar dijitSliderBumper dijitSliderBumperH dijitSliderLeftBumper" data-dojo-attach-event="press:_onClkDecBumper"></div
		></td
		><td class="dijitReset"
			><input data-dojo-attach-point="valueNode" type="hidden" ${!nameAttrSetting}
			/><div class="dijitReset dijitSliderBarContainerH" role="presentation" data-dojo-attach-point="sliderBarContainer"
				><div role="presentation" data-dojo-attach-point="progressBar" class="dijitSliderBar dijitSliderBarH dijitSliderProgressBar dijitSliderProgressBarH" data-dojo-attach-event="press:_onBarClick"
					><div class="dijitSliderMoveable dijitSliderMoveableH"
						><div data-dojo-attach-point="sliderHandle,focusNode" class="dijitSliderImageHandle dijitSliderImageHandleH" data-dojo-attach-event="press:_onHandleClick" role="slider"></div
					></div
				></div
				><div role="presentation" data-dojo-attach-point="remainingBar" class="dijitSliderBar dijitSliderBarH dijitSliderRemainingBar dijitSliderRemainingBarH" data-dojo-attach-event="press:_onBarClick"></div
			></div
		></td
		><td class="dijitReset"
			><div class="dijitSliderBar dijitSliderBumper dijitSliderBumperH dijitSliderRightBumper" data-dojo-attach-event="press:_onClkIncBumper"></div
		></td
		><td class="dijitReset dijitSliderButtonContainer dijitSliderButtonContainerH"
			><div class="dijitSliderIncrementIconH" style="display:none" data-dojo-attach-point="incrementButton"><span class="dijitSliderButtonInner">+</span></div
		></td
	></tr
	><tr class="dijitReset"
		><td class="dijitReset" colspan="2"></td
		><td data-dojo-attach-point="containerNode,bottomDecoration" class="dijitReset dijitSliderDecoration dijitSliderDecorationB dijitSliderDecorationH"></td
		><td class="dijitReset" colspan="2"></td
	></tr
></table>
