<table class="dijit dijitReset dijitInline dijitLeft"
	data-dojo-attach-point="_buttonNode,tableNode,focusNode,_popupStateNode" cellspacing='0' cellpadding='0'
	role="listbox" aria-haspopup="true"
	><tbody role="presentation"><tr role="presentation"
		><td class="dijitReset dijitStretch dijitButtonContents" role="presentation"
			><div class="dijitReset dijitInputField dijitButtonText"  data-dojo-attach-point="containerNode,textDirNode" role="presentation"></div
			><div class="dijitReset dijitValidationContainer"
				><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
			/></div
			><input type="hidden" ${!nameAttrSetting} data-dojo-attach-point="valueNode" value="${value}" aria-hidden="true"
		/></td
		><td class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer"
			data-dojo-attach-point="titleNode" role="presentation"
			><input class="dijitReset dijitInputField dijitArrowButtonInner" value="&#9660; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
				${_buttonInputDisabled}
		/></td
	></tr></tbody
></table>
