<div class="dijit dijitReset dijitInline dijitLeft"
	id="widget_${id}" role="presentation"
	><div class='dijitReset dijitValidationContainer'
		><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
	/></div
	><div class="dijitReset dijitInputField dijitInputContainer"
		><input class="dijitReset dijitInputInner" data-dojo-attach-point='textbox,focusNode' autocomplete="off"
			${!nameAttrSetting} type='${type}'
	/></div
></div>
