.#{$theme-name} {
  // Base styles
  // --------------------------------------------------
  .dijitToggleButtonRtl .dijitButtonNode {
    .dijitIcon {
      margin-left: 6px;
      margin-right: 0;
    }
  }
  // Combo button
  // --------------------------------------------------
  .dijitComboButtonRtl {
    .dijitStretch {
      border-left-width: 0;
      border-right-width: 1px;
    }
  }
  // Dropdown button
  // --------------------------------------------------
  .dijitDropDownButtonRtl {
    .dijitButtonContents {
      padding-left: 0;
      padding-right: $padding-base-horizontal;
    }
  }
}

