<div data-dojo-attach-point="containerNode">

  <!-- 
    http://www.isotc211.org/2005/gmi/acquisitionInformation.xsd
    <xs:sequence>
      <xs:element name="acquisitionRequirement" type="gmi:MI_Requirement_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="objective" type="gmi:MI_Objective_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="instrument" type="gmi:MI_Instrument_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="acquisitionPlan" type="gmi:MI_Plan_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="operation" type="gmi:MI_Operation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="platform" type="gmi:MI_Platform_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="environmentalConditions" type="gmi:MI_EnvironmentalRecord_PropertyType" minOccurs="0"/>
    </xs:sequence>
  -->

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmi:acquisitionInformation',minOccurs:0,maxOccurs:'unbounded',
      label:'${i18nIso.MI_Metadata.acquisitionInformation}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmi:MI_AcquisitionInformation',minOccurs:0">  
      
      <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      
        <!-- acquisitionRequirement - the user requirements used to derive the acquisition plan -->
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/AcquisitionRequirement"
          data-dojo-props="label:'${i18nIso.acquisitionSection.requirement}'"></div>
          
        <!-- objective - the characteristics and geometry of the intended object to be observed-->
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/Objective"
          data-dojo-props="label:'${i18nIso.acquisitionSection.objective}'"></div>
                  
        <!-- instrument - designations of the measuring instruments used to acquire the data -->
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/Instrument"
          data-dojo-props="label:'${i18nIso.acquisitionSection.instrument}'"></div>

        <!-- acquisitionPlan - the acquisition plan that was implemented to acquire the data -->
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/AcquisitionPlan"
          data-dojo-props="label:'${i18nIso.acquisitionSection.plan}'"></div>
        
        <!-- operation - designations of the overall data gathering program to which the data contribute -->
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/Operation"
          data-dojo-props="label:'${i18nIso.acquisitionSection.operation}'"></div>
          
        <!-- platform - designations of the platform from which the data were taken -->  
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/Platform"
          data-dojo-props="label:'${i18nIso.acquisitionSection.platform}'"></div>
        
         <!-- environmentalConditions - information about the environmental conditions during the acquisition -->
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/EnvironmentalConditions"
          data-dojo-props="label:'${i18nIso.acquisitionSection.environment}'"></div>
                    
      </div>  
      
    </div>
  </div>

</div>