<div data-dojo-attach-point="containerNode">
  <!-- environmentalConditions - information about the environmental conditions during the acquisition
         type="gmi:MI_EnvironmentalRecord_PropertyType" minOccurs="0" -->
  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmi:environmentalConditions',minOccurs:0,
      label:'${i18nIso.MI_EnvironmentalRecord.caption}'">
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/MI_EnvironmentalRecord"></div>
  </div>
</div>