<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target:'gmi:MI_EnvironmentalRecord',minOccurs:0">

    <!-- 
      http://www.isotc211.org/2005/gmi/acquisitionInformation.xsd
      <xs:sequence>
        <xs:element name="averageAirTemperature" type="gco:Real_PropertyType"/>
        <xs:element name="maxRelativeHumidity" type="gco:Real_PropertyType"/>
        <xs:element name="maxAltitude" type="gco:Real_PropertyType"/>
        <xs:element name="meterologicalConditions" type="gco:CharacterString_PropertyType"/>
      </xs:sequence>
     -->

    <!-- averageAirTemperature -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmi:averageAirTemperature',
      label:'${i18nIso.MI_EnvironmentalRecord.averageAirTemperature}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Real'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
      </div>
    </div>
    
    <!-- maxRelativeHumidity -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmi:maxRelativeHumidity',
      label:'${i18nIso.MI_EnvironmentalRecord.maxRelativeHumidity}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Real'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
      </div>
    </div>
    
    <!-- maxAltitude -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmi:maxAltitude',
      label:'${i18nIso.MI_EnvironmentalRecord.maxAltitude}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:Real'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
      </div>
    </div>
    
    <!-- meterologicalConditions -->
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmi:meterologicalConditions',
      label:'${i18nIso.MI_EnvironmentalRecord.meterologicalConditions}'">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
        <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
      </div>
    </div>
            
  </div>
</div>