<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmi:MI_GeometryTypeCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"
      data-dojo-props="value:'ISOTC211/19115-2'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'http://www.isotc211.org/2005/resources/Codelist/gmiCodelists.xml#MI_GeometryTypeCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
            
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_GeometryTypeCode.point}',value:'point'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_GeometryTypeCode.linear}',value:'linear'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_GeometryTypeCode.areal}',value:'areal'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_GeometryTypeCode.strip}',value:'strip'"></div>                        
        </div>
      </div>
    </div>

  </div>
</div>