<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmi:MI_OperationTypeCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"
      data-dojo-props="value:'ISOTC211/19115-2'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'http://www.isotc211.org/2005/resources/Codelist/gmiCodelists.xml#MI_OperationTypeCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
            
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_OperationTypeCode.real}',value:'real'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_OperationTypeCode.simulated}',value:'simulated'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_OperationTypeCode.synthesized}',value:'Synthesized'"></div>              
        </div>
      </div>
    </div>

  </div>
</div>