<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmi:MI_ObjectiveTypeCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"
      data-dojo-props="value:'ISOTC211/19115-2'"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'http://www.isotc211.org/2005/resources/Codelist/gmiCodelists.xml#MI_ObjectiveTypeCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
            
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_ObjectiveTypeCode.instantaneousCollection}',value:'instantaneousCollection'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_ObjectiveTypeCode.persistentView}',value:'persistentView'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MI_ObjectiveTypeCode.survey}',value:'survey'"></div>              
        </div>
      </div>
    </div>

  </div>
</div>