<div data-dojo-attach-point="containerNode">
  <!-- objective - the characteristics and geometry of the intended object to be observed  
         type="gmi:MI_Objective_PropertyType" minOccurs="0" maxOccurs="unbounded" -->
  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmi:objective',minOccurs:0,maxOccurs:'unbounded',
      label:'${i18nIso.acquisitionSection.objective}'">
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmi/acquisitionInformation/MI_Objective"></div>
  </div>
</div>