<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'formatName',minOccurs:1,label:'${i18nArcGIS.distInfo.distFormat.formatName}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'formatVer',minOccurs:1,label:'${i18nArcGIS.distInfo.distFormat.formatVer}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'formatAmdNum',minOccurs:0,label:'${i18nArcGIS.distInfo.distFormat.formatAmdNum}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'formatSpec',minOccurs:0,label:'${i18nArcGIS.distInfo.distFormat.formatSpec}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'fileDecmTech',minOccurs:0,label:'${i18nArcGIS.distInfo.distFormat.fileDecmTech}'">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'formatInfo',minOccurs:0,label:'${i18nArcGIS.distInfo.distFormat.formatInfo}'">
  </div>
</div>