<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
  
    <!-- online -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.cntOnlineRes.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'onLineSrc',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.cntOnlineRes.caption}'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/OnlineResourceElements"></div>
      </div>
    </div>
    
    <!-- units and size -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.distInfo.distTranOps.section.unitsAndSize}'">  
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'unitsODist',minOccurs:0,label:'${i18nArcGIS.distInfo.distTranOps.unitsODist}'">
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
        data-dojo-props="target:'transSize',minOccurs:0,label:'${i18nArcGIS.distInfo.distTranOps.transSize}'">
        <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
          data-dojo-props="minValue:0.0,minValueIsExclusive:true,hint:'${i18nBase.hints.numberGreaterThanZero}'">
        </div>
      </div>
    </div>
  
    <!-- offline -->
    <div data-dojo-type="esri/dijit/metadata/form/Section"
      data-dojo-props="showHeader:false,label:'${i18nArcGIS.distInfo.distTranOps.offLineMed.caption}'">
      <div data-dojo-type="esri/dijit/metadata/form/Element"
        data-dojo-props="target:'offLineMed',minOccurs:0,label:'${i18nArcGIS.distInfo.distTranOps.offLineMed.caption}'">
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'medName',minOccurs:0,label:'${i18nArcGIS.codelist.MD_MediumNameCode}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'MedNameCd',minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
              data-dojo-props="target:'value',minOccurs:0,showHeader:false">
              <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
                data-dojo-props="codelistType:'MD_MediumNameCode'">
              </div>
            </div>
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'medFormat',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.codelist.MD_MediumFormatCode}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'MedFormCd',minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
              data-dojo-props="target:'value',minOccurs:0,showHeader:false">
              <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
                data-dojo-props="codelistType:'MD_MediumFormatCode'">
              </div>
            </div>
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'medDensity',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.distInfo.distTranOps.offLineMed.medDensity}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputMedDensity"
            data-dojo-props="minValue:0.0,minValueIsExclusive:true,hint:'${i18nBase.hints.numberGreaterThanZero}'">
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/MedDenUnitsElement"
          data-dojo-props="target:'medDenUnits',minOccurs:0,label:'${i18nArcGIS.distInfo.distTranOps.offLineMed.medDenUnits}'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'medVol',minOccurs:0,label:'${i18nArcGIS.distInfo.distTranOps.offLineMed.medVol}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber"
            data-dojo-props="minValue:0,minValueIsExclusive:true,integerOnly:true,hint:'${i18nArcGIS.hints.integerGreaterThanZero}'">
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'medNote',minOccurs:0,label:'${i18nArcGIS.distInfo.distTranOps.offLineMed.medNote}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>    
      </div>
    </div>
      
  </div>
</div>