@import "~@/styles/common/variables.scss";

.header-menu {
  min-width: 150px;
  color: #3E3E3D;

  &.el-menu {
    background-color: transparent;

    &.el-menu--horizontal {
      border: none;

      .el-submenu__title {
        border: none;
        min-width: 150px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

.header-menu-popper {
  color: #3E3E3D;

  .el-menu--popup {
    min-width: 150px;
  }

  .el-menu-item {
    &.is-active {
      color: $--color-primary;
    }

    &:hover {
      background-color: #D5D5D5;
    }
  }
}
