<table>
    <tr data-dojo-attach-point="studyAreaTr">
        <td class="BufferOptions_StudyAreaLabel">${nls.studyArea}</td>
        <td>
            <select data-dojo-type="dijit/form/Select"
                data-dojo-attach-point="typeSelect"
                data-dojo-attach-event="onChange: _typeChange"
                class="BufferOptions_TypeSelect">
                <option value="Ring">${nls.ring}</option>
                <option value="DriveTime">${nls.driveTime}</option>
                <option value="DriveDistance">${nls.driveDistance}</option>
            </select>
        </td>
    </tr>
    <tr data-dojo-attach-point="radiusTr">
        <td class="BufferOptions_RadiusLabel" data-dojo-attach-point="radiusLabel">${nls.radius}</td>
        <td class="BufferOptions_RadiusTd">
            <input data-dojo-type="esri/dijit/geoenrichment/NumberSpinner"
                data-dojo-attach-point="radiusSpinner"
                data-dojo-props="intermediateChanges:true"
                class="BufferOptions_RadiusSpinner"
                data-dojo-attach-event="onChange: _radiusChange" />
            <select data-dojo-type="dijit/form/Select"
                data-dojo-attach-point="unitsSelect"
                data-dojo-attach-event="onChange: _unitsChange"
                class="BufferOptions_UnitsSelect">
            </select>
            <span data-dojo-attach-point="minutesSpan" style="display: none;">${nls.units.esriDriveTimeUnitsMinutes}</span>
        </td>
    </tr>
</table>
