<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="row: 0" style="padding-bottom: 0;">
    <div class="EnrichOptionsPage_Stacking EnrichOptionsPage_TrimWithEllipsis">
        ${nls.selectedVariables}
        <span data-dojo-attach-point="dataCollectionNames"></span>
    </div>
    <div data-dojo-attach-point="bufferDiv" class="EnrichOptionsPage_Stacking">
        ${nls.bufferOptions}
        <span data-dojo-attach-point="bufferString"></span>
        <span data-dojo-attach-point="bufferEdit">(<span class="Wizard_Link" data-dojo-attach-event="click: _editBuffer">${nls.edit}</span>)</span>
    </div>
    <div data-dojo-attach-point="bufferEditDiv" class="Wizard_AltRow EnrichOptionsPage_Stacking" style="display: none;"></div>
    <div data-dojo-attach-point="totalVars" class="EnrichOptionsPage_Stacking">&nbsp;</div>
</div>
<div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="fieldsPane" data-dojo-props="row: 1" style="padding-top: 0; padding-bottom: 0;">
    <div data-dojo-attach-point="fieldsDiv" class="EnrichOptionsPage_Fields"></div>
</div>
<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="row: 2" style="padding-top: 0;">
    <div data-dojo-attach-point="overwriteExisting" class="EnrichOptionsPage_OverwriteExisting EnrichOptionsPage_Stacking">${nls.overwriteExisting}</div>
    <div class="Wizard_Buttons">
        <button class="Wizard_Button" data-dojo-attach-point="backButton" data-dojo-attach-event="click: _back">${nls.back}</button>
        <button class="Wizard_Button" data-dojo-attach-point="finishButton" data-dojo-attach-event="click: _finish" disabled="disabled">${nls.finish}</button>
    </div>
</div>
