<div class="esriGEImageNavigator esriGENonSelectable">
    <div data-dojo-attach-point="singleImageView">
        <div data-dojo-attach-point="imageContainerOuter" class="imageNavigator_imageContainerOuter">
            <div data-dojo-attach-point="imageContainer" class="imageNavigator_imageContainer">
                <div data-dojo-attach-point="imagePaginationDiv" class="esriGEAbsoluteStretched"></div>
                <div data-dojo-attach-point="imageNoteContainerDiv" class="imageNavigator_imageNoteContainerDiv">
                    <div data-dojo-attach-point="imageNoteLabel" class="imageNavigator_imageNoteLabel"></div>
                </div>
            </div>
            <div data-dojo-attach-point="prevImageButton" class="imageNavigator_prevImageButton esriGEImageNavigatorPaginationLeftButton"></div>
            <div data-dojo-attach-point="nextImageButton" class="imageNavigator_nextImageButton esriGEImageNavigatorPaginationRightButton"></div>
            <div data-dojo-attach-point="thumbnailListDiv" class="imageNavigator_thumbnailContainerDiv"></div>
            <div data-dojo-attach-point="navigatorLabel" class="imageNavigator_navigatorLabel"></div>
        </div>
        <div data-dojo-attach-point="noImagePlaceHolder" class="imageNavigator_noImagePlaceHolder">
            <div class="imageNavigator_noImagePlaceHolderImage noImage"></div>
            <div class="imageNavigator_noImagePlaceHolderLabel">${nls.noImage}</div>
        </div>
        <div data-dojo-attach-point="showAllImagesButton" class="imageNavigator_showAllImagesButton"></div>
    </div>
    <div data-dojo-attach-point="allImagesView" class="imageNavigator_allImagesView">
        <div data-dojo-attach-point="allImagesListDiv"></div>
    </div>
</div>
