<div class="dijit dijitReset dijitInline dijitLeft NumberSpinner" id="widget_${id}" role="presentation">
    <div class='dijitReset dijitValidationContainer'>
        <input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation" />
    </div>
    <div class="dijitReset dijitInputField dijitInputContainer">
        <input class='dijitReset dijitInputInner' data-dojo-attach-point="textbox,focusNode" type="${type}" data-dojo-attach-event="onkeydown:_onKeyDown"
			role="spinbutton" autocomplete="off" ${!nameAttrSetting}/>
    </div>
    <div data-dojo-attach-point="upArrowNode" class="NumberSpinner_RadiusButton NumberSpinner_RadiusPlus">+</div>
    <div data-dojo-attach-point="downArrowNode" class="NumberSpinner_RadiusButton NumberSpinner_RadiusMinus">&ndash;</div>
</div>