<div class="esriGENumericalSlider esriGENonSelectable">
    <div data-dojo-attach-point="divLabel" class="esriGENumericalSliderLabel"></div>
    <div data-dojo-attach-point="divChartContainer" class="esriGENumericalSliderContent">
        <div class="esriGENumericalSliderMinValueTextBox" data-dojo-attach-point="divMinValue"></div>
        <div  class="esriGENumericalSliderContainer">
            <div class="esriGEAbsoluteStretched numericalSlider_statisticsContainer" data-dojo-attach-point="statisticsContainer"></div>
            <div data-dojo-attach-point="hLineDiv" class="numericalSlider_hLineDiv"></div>
            <div data-dojo-attach-point="minThumbDiv" class="numericalSlider_minThumbDiv"></div>
            <div data-dojo-attach-point="maxThumbDiv" class="numericalSlider_maxThumbDiv"></div>
        </div> 
        <div class="esriGENumericalSliderMaxValueTextBox" data-dojo-attach-point="divMaxValue"></div>
    </div>
</div>