<div class="esriGEPageNavigator">
    <div data-dojo-attach-point="textBlock">
        <div class="dijitInline esriGESpaceAfter20 esriGEPaginationArrowLeft" data-dojo-attach-point="prevPageButton"></div>
        <div class="dijitInline esriGEClickable" data-dojo-attach-point="currentPageLabel"></div>
        <div class="dijitInline esriGESpaceBefore20 esriGEPaginationArrowRight" data-dojo-attach-point="nextPageButton"></div>
    </div>
    <div data-dojo-attach-point="bulletsBlock"></div>
</div>