<div class="gxeInput gxeInputSelectOne">
  <select class="gxeEditOnly" data-dojo-attach-point="focusNode"
    data-dojo-attach-event="onchange: _onChange"></select>
  <input class="gxeEditOnly" type="text" style="display:none;"
    data-dojo-attach-point="otherNode"
    data-dojo-attach-event="onchange: _onOtherChange, onkeyup: _onOtherKeyup"/>
  <div class="gxeViewOnlyText gxeViewOnly" data-dojo-attach-point="viewOnlyNode"></div>
  <div data-dojo-attach-point="containerNode" style="display:none;"></div>
</div>