<div data-dojo-attach-point="containerNode">
      
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.boundaries}',
      value:'boundaries'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.farming}',
      value:'farming'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.climatologyMeteorologyAtmosphere}',
      value:'climatologyMeteorologyAtmosphere'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.biota}',
      value:'biota'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.economy}',
      value:'economy'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.planningCadastre}',
      value:'planningCadastre'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.society}',
      value:'society'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.elevation}',
      value:'elevation'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.environment}',
      value:'environment'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.structure}',
      value:'structure'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.geoscientificInformation}',
      value:'geoscientificInformation'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.health}',value:'health'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.imageryBaseMapsEarthCover}',
      value:'imageryBaseMapsEarthCover'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.inlandWaters}',
      value:'inlandWaters'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.location}',
      value:'location'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.intelligenceMilitary}',
      value:'intelligenceMilitary'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.oceans}',
      value:'oceans'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.transportation}',
      value:'transportation'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.isoTopicCategoryCode.utilitiesCommunication}',
      value:'utilitiesCommunication'"></div>  

</div>