/* dojox.mobile.Button */
.mblButton {
	padding: 0 10px;
	height: 29px;
	border-style: outset;
	border-width: 1px;
	.mbl-button-background-image();
	font-family: Helvetica;
	line-height: 29px;
	cursor: pointer;
	.tap-highlight-color(rgba(255,255,255,0));
	.mblButton-styles;
}
.mblButtonSelected {
	.mbl-button-selected-background-image();
	.mblButtonSelected-styles;
}
.mblButtonDisabled,
.mblButton:disabled {
	border-color: grey;
	background-image: none;
	color: grey;
	cursor: default;
}
.mblBlueButton {
	.mbl-blue-button-background-image();
	.mblButton-mblBlueButton-styles;
}
.mblBlueButtonSelected {
	.mbl-blue-button-selected-background-image();
}
.mblRedButton {
	.mbl-red-button-background-image();
	.mblButton-mblRedButton-styles;
}
.mblRedButtonSelected {
	.mbl-red-button-selected-background-image();
}
