/* dojox.mobile.Button */
.mblButton {
	background-image: url(compat/button-bg.png);
	background-repeat: repeat-x;
}
.mblButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
.mblBlueButton {
	background-image: url(compat/blue-button-bg.png);
}
.mblBlueButtonSelected {
	background-image: url(compat/blue-button-sel-bg.png);
}
.mblRedButton {
	background-image: url(compat/red-button-bg.png);
}
.mblRedButtonSelected {
	background-image: url(compat/red-button-sel-bg.png);
}

.dj_gecko {
	.mblButton {
		background-image: @mbl-button-background-image-gecko;
	}
	.mblButtonSelected {
		background-image: @mbl-button-selected-background-image-gecko;
	}
	.mblBlueButton {
		background-image: @mbl-blue-button-background-image-gecko;
	}
	.mblBlueButtonSelected {
		background-image: @mbl-blue-button-selected-background-image-gecko;
	}
	.mblRedButton {
		background-image: @mbl-red-button-background-image-gecko;
	}
	.mblRedButtonSelected {
		background-image: @mbl-red-button-selected-background-image-gecko;
	}
}
.dj_ff3 {
	.mblButton {
		-moz-border-radius: @default-button-border-radius;
	}
}
