.dj_gecko {
	.mblColorBlue {
		background-image: @default-blue-button-background-image-gecko;
	}
	.mblColorBlue45 {
    background-image: @mbl-color-blue-45-gecko;
  }
	.mblColorDefault {
		background-image: @default-button-background-image-gecko;
	}
	.mblColorDefault45 {
    background-image: @mbl-color-default-45-gecko;
  }
	.mblColorDefaultSel {
		background-image: @default-button-selected-background-image-gecko;
	}
	.mblColorDefaultSel45 {
    background-image: @mbl-color-default-sel-45-gecko;
  }
}
