html.mobile, .mobile body {
	width: 100%;
	margin: 0;
	padding: 0;
}
.mobile body {
	overflow-x: hidden;
	.text-size-adjust(none);
	.mobile-body-styles;
}

.mblBackground {
	.mblBackground-styles;
}

/* Button Colors */
.mblColorBlue {
	.mblColorBlue-styles;
}

.mblColorBlue45 {
  .mbl-color-blue-45();
}

/* Default Button Colors */
.mblColorDefault {
	.mblColorDefault-styles;
}

.mblColorDefault45 {
  .mbl-color-default-45();
}

.mblColorDefaultSel {
	.mblColorDefaultSel-styles;
}

.mblColorDefaultSel45 {
  .mbl-color-default-sel-45();
}

.mblSpriteIcon {
	position: absolute;
}
.mblSpriteIconParent {
	position: relative;
	font-size: 1px;
}
.mblImageIcon {
	vertical-align: top;
}

.unselectable {
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

