.transform (@v) {
	-webkit-transform: @v;
	transform: @v;
}
.transform-origin (@v) {
	-webkit-transform-origin: @v;
	transform-origin: @v;
}
.transform-style (@v) {
	-webkit-transform-style: @v;
// not supported in IE10
}
.transition-property (@v) {
	-webkit-transition-property: @v;
	transition-property: @v;
}
.transition-property-2 (@v1, @v2) {
	-webkit-transition-property: @v1, @v2;
	transition-property: @v1, @v2;
}
.transition-property-transform () {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.transition-duration (@v) {
	-webkit-transition-duration: @v;
	transition-duration: @v;
}
.transition-delay (@v) {
	-webkit-transition-delay: @v;
	transition-delay: @v;
}
.transition-timing-function (@v) {
	-webkit-transition-timing-function: @v;
	transition-timing-function: @v;
}
.animation-name (@v) {
	-webkit-animation-name: @v;
	animation-name: @v;
}
.animation-duration (@v) {
	-webkit-animation-duration: @v;
	animation-duration: @v;
}
.animation-timing-function (@v) {
	-webkit-animation-timing-function: @v;
	animation-timing-function: @v;
}
.animation-iteration-count (@v) {
	-webkit-animation-iteration-count: @v;
	animation-iteration-count: @v;
}
.box-shadow (@v) {
	-webkit-box-shadow: @v;
	box-shadow: @v;
}
.box-sizing (@v) {
	-webkit-box-sizing: @v;
	box-sizing: @v;
}
.appearance (@v) {
	-webkit-appearance: @v;
}
.tap-highlight-color (@v) {
	-webkit-tap-highlight-color: @v;
}
.text-size-adjust (@v) {
	-webkit-text-size-adjust: @v;
}
.user-select (@v) {
	-webkit-user-select: @v;
	-ms-user-select: @v;
}

.background-image-linear-gradient-top-bottom (@from, @to) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: linear-gradient(to bottom, @from 0%, @to 100%);
}
.background-linear-gradient-top-bottom (@from, @to) {
	background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background: linear-gradient(to bottom, @from 0%, @to 100%);
}
.background-image-linear-gradient-top-bottom-2-stops (@from, @to, @pos1, @color1, @pos2, @color2) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to), color-stop(@pos1, @color1), color-stop(@pos2, @color2));
	background-image: linear-gradient(to bottom, @from 0%, @color1 percentage(@pos1), @color2 percentage(@pos2), @to 100%);
}
.background-linear-gradient-top-bottom-2-stops (@from, @to, @pos1, @color1, @pos2, @color2) {
	background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to), color-stop(@pos1, @color1), color-stop(@pos2, @color2));
	background: linear-gradient(to bottom, @from 0%, @color1 percentage(@pos1), @color2 percentage(@pos2), @to 100%);
}
.background-image-linear-gradient-top-bottom-1-stop (@from, @to, @pos1, @color1) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to), color-stop(@pos1, @color1));
	background-image: linear-gradient(to bottom, @from 0%, @color1 percentage(@pos1), @to 100%);
}
.background-image-linear-gradient-top-bottom-3-stops (@from, @to, @pos1, @color1, @pos2, @color2, @pos3, @color3) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to), color-stop(@pos1, @color1), color-stop(@pos2, @color2), color-stop(@pos3, @color3));
	background-image: linear-gradient(to bottom, @from 0%, @color1 percentage(@pos1), @color2 percentage(@pos2), @color3 percentage(@pos3), @to 100%);
}
.background-image-linear-gradient-top-bottom-4-stops (@from, @to, @pos1, @color1, @pos2, @color2, @pos3, @color3, @pos4, @color4) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to), color-stop(@pos1, @color1), color-stop(@pos2, @color2), color-stop(@pos3, @color3), color-stop(@pos4, @color4));
	background-image: linear-gradient(to bottom, @from 0%, @color1 percentage(@pos1), @color2 percentage(@pos2), @color3 percentage(@pos3), @color4 percentage(@pos4), @to 100%);
}
.background-image-linear-gradient-top-bottom-4-stops-no-from-to (@pos1, @color1, @pos2, @color2, @pos3, @color3, @pos4, @color4) {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@pos1, @color1), color-stop(@pos2, @color2), color-stop(@pos3, @color3), color-stop(@pos4, @color4));
	background-image: linear-gradient(to bottom, @color1 percentage(@pos1), @color2 percentage(@pos2), @color3 percentage(@pos3), @color4 percentage(@pos4));
}

.background-image-linear-gradient-top-left-bottom-right (@from, @to) {
	background-image: -webkit-gradient(linear, left top, right bottom, from(@from), to(@to));
	background-image: linear-gradient(to right bottom, @from 0%, @to 100%);
}
.background-image-linear-gradient-top-left-bottom-right-1-stop (@from, @to, @pos1, @color1) {
	background-image: -webkit-gradient(linear, left top, right bottom, from(@from), to(@to), color-stop(@pos1, @color1));
	background-image: linear-gradient(to right bottom, @from 0%, @color1 percentage(@pos1), @to 100%);
}
.background-image-linear-gradient-top-left-bottom-right-2-stops (@from, @to, @pos1, @color1, @pos2, @color2) {
	background-image: -webkit-gradient(linear, left top, right bottom, from(@from), to(@to), color-stop(@pos1, @color1), color-stop(@pos2, @color2));
	background-image: linear-gradient(to right bottom, @from 0%, @color1 percentage(@pos1), @color2 percentage(@pos2), @to 100%);
}
.background-image-linear-gradient-top-left-bottom-right-3-stops (@from, @to, @pos1, @color1, @pos2, @color2, @pos3, @color3) {
	background-image: -webkit-gradient(linear, left top, right bottom, from(@from), to(@to), color-stop(@pos1, @color1), color-stop(@pos2, @color2), color-stop(@pos3, @color3));
	background-image: linear-gradient(to right bottom, @from 0%, @color1 percentage(@pos1), @color2 percentage(@pos2), @color3 percentage(@pos3), @to 100%);
}

.background-radial-gradient-center (@r, @from, @to) {
	background: -webkit-gradient(radial, center center, 0, center center, @r, from(@from), to(@to));
	background: radial-gradient(@r+0px at center, @from 0%, @to 100%);
}

.background-spinwheel () {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #313137), color-stop(0.05, #73747d), color-stop(0.07, #92939b), color-stop(0.09, #ababb5), color-stop(0.12, #c5c6ce), color-stop(0.16, #dfe0e4), color-stop(0.22, #f4f5f6), color-stop(0.35, #fbfcfc), color-stop(0.5, #fbfcfc), color-stop(0.61, #fbfcfc), color-stop(0.61, #b4c1c7), color-stop(0.65, #fbfcfc), color-stop(0.78, #f4f5f6), color-stop(0.84, #dfe0e4), color-stop(0.88, #c5c6ce), color-stop(0.91, #ababb5), color-stop(0.93, #92939b), color-stop(0.95, #73747d), color-stop(1, #313137));
	background: linear-gradient(to bottom, #313137 0%, #73747d 5%, #92939b 7%, #ababb5 9%, #c5c6ce 12%, #dfe0e4 16%, #f4f5f6 22%, #fbfcfc 35%, #fbfcfc 50%, #fbfcfc 61%, #b4c1c7 61%, #fbfcfc 65%, #f4f5f6 78%, #dfe0e4 84%, #c5c6ce 88%, #ababb5 91%, #92939b 93%, #73747d 95%, #313137 100%);
}

.background-spinwheelbar () {
	background: -webkit-gradient(linear, left top, left bottom, from(#edeef2), to(#a7adca), color-stop(0, #edeef2), color-stop(0.25, #c8cadd), color-stop(0.49, #bbbfd4), color-stop(0.51, #9fa8c6), color-stop(0.81, #a2a9c7), color-stop(0.82, #a6abc9), color-stop(1, #a7adca));
	background: linear-gradient(to bottom, #edeef2 0%, #c8cadd 25%, #bbbfd4 49%, #9fa8c6 51%, #a2a9c7 81%, #a6abc9 82%, #a7adca 100%);
}



.keyframes-transform-from-to-webkit(@t1, @t2) {
	from {
		-webkit-transform: @t1;
	}
	to {
		-webkit-transform: @t2;
	}
}

.keyframes-transform-from-to(@t1, @t2) {
	from {
		transform: @t1;
	}
	to {
		transform: @t2;
	}
}

.keyframes-opacity-from-to(@o1, @o2) {
	from {
		opacity: @o1;
	}
	to {
		opacity: @o2;
	}
}

.keyframes-transform-opacity-from-to-webkit(@t1, @o1, @t2, @o2) {
	from {
		-webkit-transform: @t1;
		opacity: @o1;
	}
	to {
		-webkit-transform: @t2;
		opacity: @o2;
	}
}

.keyframes-transform-opacity-from-to(@t1, @o1, @t2, @o2) {
	from {
		transform: @t1;
		opacity: @o1;
	}
	to {
		transform: @t2;
		opacity: @o2;
	}
}

.keyframes-transform-0-50-100-webkit(@t1, @t2, @t3) {
	0% {
		-webkit-transform: @t1;
	}
	50% {
		-webkit-transform: @t2;
	}
	100% {
		-webkit-transform: @t3;
	}
}

.keyframes-transform-0-50-100(@t1, @t2, @t3) {
	0% {
		transform: @t1;
	}
	50% {
		transform: @t2;
	}
	100% {
		transform: @t3;
	}
}

.keyframes-z-index-transform-opacity-0-50-100-webkit(@i1, @t1, @o1, @i2, @t2, @o2, @i3, @t3, @o3) {
	0% {
		z-index: @i1;
		-webkit-transform: @t1;
		opacity: @o1;
	}
	50% {
		z-index: @i2;
		-webkit-transform: @t2;
		opacity: @o2;
	}
	100% {
		z-index: @i3;
		-webkit-transform: @t3;
		opacity: @o3;
	}
}

.keyframes-z-index-transform-opacity-0-50-100(@i1, @t1, @o1, @i2, @t2, @o2, @i3, @t3, @o3) {
	0% {
		z-index: @i1;
		transform: @t1;
		opacity: @o1;
	}
	50% {
		z-index: @i2;
		transform: @t2;
		opacity: @o2;
	}
	100% {
		z-index: @i3;
		transform: @t3;
		opacity: @o3;
	}
}

.keyframes-vibrate-webkit() {
	0%{
		-webkit-transform: rotate(-2deg);
		bottom: -1px;
		left: -1px;
	}
	25% {
		-webkit-transform: rotate(1deg);
		bottom: 2px;
		left: 1px;
	}
	50% {
		-webkit-transform: rotate(-1deg);
		bottom: -2px;
		left: -1px;
	}
	75% {
		-webkit-transform: rotate(2deg);
		bottom: 2px;
		left: 1px;
	}
	100% {
		-webkit-transform: rotate(-2deg);
		bottom: -1px;
		left: -1px;
	}
}

.keyframes-vibrate() {
	0%{
		transform: rotate(-2deg);
		bottom: -1px;
		left: -1px;
	}
	25% {
		transform: rotate(1deg);
		bottom: 2px;
		left: 1px;
	}
	50% {
		transform: rotate(-1deg);
		bottom: -2px;
		left: -1px;
	}
	75% {
		transform: rotate(2deg);
		bottom: 2px;
		left: 1px;
	}
	100% {
		transform: rotate(-2deg);
		bottom: -1px;
		left: -1px;
	}
}
