/* dojox.mobile.IconMenu Rtl */

.dj_ff3 .mblIconMenuItemRtl.mblIconMenuItemFirstRow.mblIconMenuItemFirstColumn {
  -moz-border-top-right-radius: @mbl-border-radius-rtl;
  -moz-border-top-left-radius: 0px;
}
.dj_ff3 .mblIconMenuItemRtl.mblIconMenuItemFirstRow.mblIconMenuItemLastColumn {
  -moz-border-top-left-radius: @mbl-border-radius-rtl;
  -moz-border-top-right-radius: 0px;
}
.dj_ff3 .mblIconMenuItemRtl.mblIconMenuItemLastRow.mblIconMenuItemFirstColumn {
  -moz-border-bottom-right-radius: @mbl-border-radius-rtl;
  -moz-border-bottom-left-radius: 0px;
}
.dj_ff3 .mblIconMenuItemRtl.mblIconMenuItemLastRow.mblIconMenuItemLastColumn {
  -moz-border-bottom-left-radius: @mbl-border-radius-rtl;
  -moz-border-bottom-right-radius: 0px;
}

