/* dojox.mobile.ListItem */
.mblListItem {
	position: relative;
	overflow: hidden; /* for focus frame */
	padding: 0 8px;
	height: @mbl-list-item-height;
	list-style-type: none;
	line-height: @mbl-list-item-height;
	.tap-highlight-color(rgba(255,255,255,0));
	.mblListItem-styles;
	&.mblVariableHeight {
		padding: 11px 8px;
		height: auto;
		line-height: normal;
	}
}
.mblListItemSelected {
	.mblListItemSelected-styles;
	.mblDomButton {
		div {
			border-color: white;
		}
	}
}
.mblListItemLabelSelected {
	.mblListItemLabelSelected-styles;
}
.mblListItemChecked {
	.mblListItemChecked-styles;
}

.mblListItemChecked .mblListItemRightIcon {
	visibility: visible;
}
.mblListItemChecked .mblListItemUncheckIcon {
	position: absolute;
	visibility: hidden;
}

.mblListItemUnchecked .mblListItemRightIcon {
	visibility: hidden;
}
.mblListItemUnchecked .mblListItemUncheckIcon {
	visibility: visible;
}

.mblListItemDeleteIcon {
	position: relative;
	float: left;
	line-height: normal;
	margin-top: (@mbl-list-item-height - 29) / 2; // '29': Icon's height.
	margin-bottom: -(@mbl-list-item-height - 29) / 2;
	margin-right: 11px;
}
.mblListItemIcon {
	position: relative;
	float: left;
	line-height: normal;
	margin-top: (@mbl-list-item-height - 29) / 2;
	margin-bottom: -(@mbl-list-item-height - 29) / 2;
	margin-right: 11px;
}
.mblListItemRightIcon,
.mblListItemRightIcon2,
.mblListItemUncheckIcon {
	position: relative;
	float: right;
	line-height: normal;
	margin-top: (@mbl-list-item-height - 29) / 2;
	margin-bottom: -(@mbl-list-item-height - 29) / 2;
}

.mblListItemRightText {
	position: relative;
	float: right;
	line-height: normal;
	margin-right: 4px;
	.mblListItemRightText-styles;
}
.mblListItemLabel {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 100%;
}
.mblVariableHeight .mblListItemLabel {
	white-space: normal;
}
.mblListItemSubText {
	.mblListItemSubText-styles;
}

.mblListItemLayoutLeft {
	position: relative;
	float: left;
	margin-right: 11px;
}
.mblListItemLayoutCenter {
	position: absolute;
	width: 100%;
	text-align: center;
}
.mblListItemLayoutRight {
	position: relative;
	float: right;
}

/* dojox.mobile._EditableListMixin */
.mblListItemFloat {
	position: absolute;
	border: 1px solid gray;
	opacity: 0.5;
	.box-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}
