/* dojox.mobile.ListItem Rtl*/
.mblListItemRtl .mblListItemDeleteIcon {
  float: right;
  margin-left: 11px;
}
.mblListItemRtl .mblListItemIcon {
  float: right;
  margin-left: 11px;
  margin-right: 0px;
}
.mblListItemRtl .mblListItemRightIcon,
.mblListItemRtl .mblListItemRightIcon2,
.mblListItemRtl .mblListItemUncheckIcon {
  float: left;
}
.mblListItemRtl .mblListItemRightText {
  float: left;
  margin-left: 4px;
}
.mblListItemRtl .mblListItemLayoutLeft {
  float: right;
  margin-left: 11px;
}
.mblListItemRtl .mblListItemLayoutRight {
  float: left;
}

