/* dojox.mobile.Overlay */
.mblOverlay {
	text-align: center;
	.mblOverlay-compat;
}
.dj_gecko {
	.mblOverlay {
		text-align: -moz-center;
		.mblOverlay-compat-gecko;
	}
}
.dj_ie9, .dj_ie8 {
	.mblOverlay > *
	{
		margin: 0 auto;
	}
}
.dj_ie6 {
	.mblOverlay {
		*position: absolute;
	}
}
