/* dojox.mobile.ProgressIndicator Rtl */
.mblHeading .mblProgressIndicatorRtl {
  float: right;
}
.mblProgContainerRtl {
  left: 0;
}
.mblProgressIndicatorCenterRtl {
  left: @mbl-progress-center-left-rtl;
  display: inline-block;
}
.mblProgressIndicatorCenterRtl .mblProgContainerRtl {
  left: -@mbl-progress-center-left-rtl;
}
