/* dojox.mobile.SearchBox */
@import url("TextBox-compat.css");

.mblSearchBox {
  height: auto;
}

/* CSS class for the parent DIV of the dojox/mobile/SearchBox used for filtering a 
  dojox/mobile/RoundRectList or subclass. This class is set by dojox/mobile/FilteredListMixin 
  only if the mixin creates the SearchBox by itself. */
.mblFilteredRoundRectListSearchBox {
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  -moz-box-sizing: border-box;
}

.mblFilteredRoundRectListSearchBox > input {
  width: 100%;
}

/* CSS class for the parent DIV of the dojox/mobile/SearchBox used for filtering a 
  dojox/mobile/EdgeToEdgeList or subclass. This class is set by dojox/mobile/FilteredListMixin 
  only if the mixin creates the SearchBox by itself. */
.mblFilteredEdgeToEdgeListSearchBox {
  width: 100%;
}

.mblFilteredEdgeToEdgeListSearchBox > input {
  width: 100%;
}
