.mblSpinWheel {
	background-image: url(../common/compat/spinwheel-bg.png);
}
.mblSpinWheelBar {
	background-image: url(../common/compat/spinwheel-bar.png);
}
.mblSpinWheelSlotTouch, .mblSpinWheelSlotPanel {
	left: 0;
}

.dj_gecko {
	.mblSpinWheel {
		background-image: -moz-linear-gradient(top, #313137 0%, #73747d 5%, #92939b 7%, #ababb5 9%, #c5c6ce 12%, #dfe0e4 16%, #f4f5f6 22%, #fbfcfc 35%, #fbfcfc 50%, #fbfcfc 61%, #b4c1c7 61%, #fbfcfc 65%, #f4f5f6 78%, #dfe0e4 84%, #c5c6ce 88%, #ababb5 91%, #92939b 93%, #73747d 95%, #313137 100%);
	}
	.mblSpinWheelBar {
		background-image: -moz-linear-gradient(top, #edeef2 0%, #c8cadd 25%, #bbbfd4 49%, #9fa8c6 51%, #a2a9c7 81%, #a6abc9 82%, #a7adca 1%);
	}
}
.dj_ff3 {
	.mblSpinWheel {
		-moz-border-radius: 3px;
	}
}

.dj_ie {
	.mblSpinWheelBar {
		filter: ~"progid:DXImageTransform.Microsoft.alpha(opacity=60)";
	}
}
.dj_ie6, .dj_ie7 {
	.mblSpinWheelBar {
		z-index: -1;
	}
}
.dj_ie7 {
	.mblSpinWheelSlotTouch {
		background: white;
		filter: ~"alpha(opacity=0)";
		height: 200px;
	}
}
.dj_ie6 {
	.mblSpinWheelSlotTouch {
		background: white;
		filter: ~"alpha(opacity=0)";
		height: 200px;
	}
}
