/* dojox.mobile.Switch Rtl */
/* Square Shape Rtl */
.mblSwSquareShape .mblSwitchBgLeftRtl {
  background-image: url(compat/switch-square-r.gif);
}
.mblSwSquareShape .mblSwitchBgRightRtl {
  background-image: url(compat/switch-square-l.gif);
}
/* Round Shape1 Rtl */
.mblSwRoundShape1 .mblSwitchBgLeftRtl {
  background-image: url(compat/switch-round1-r.gif);
}
.mblSwRoundShape1 .mblSwitchBgRightRtl {
  background-image: url(compat/switch-round1-l.gif);
}
/* Round Shape2 Rtl */
.mblSwRoundShape2 .mblSwitchBgLeftRtl {
  background-image: url(compat/switch-round2-r.gif);
}
.mblSwRoundShape2 .mblSwitchBgRightRtl {
  background-image: url(compat/switch-round2-l.gif);
}
/* Arc Shape1 Rtl */
.mblSwArcShape1 .mblSwitchBgLeftRtl {
  background-image: url(compat/switch-arc1-r.gif);
}
.mblSwArcShape1 .mblSwitchBgRightRtl {
  background-image: url(compat/switch-arc1-l.gif);
}
/* Switch - Arc Shape2 Rtl */
.mblSwArcShape2 .mblSwitchBgLeftRtl {
  background-image: url(compat/switch-arc2-r.gif);
}
.mblSwArcShape2 .mblSwitchBgRightRtl {
  background-image: url(compat/switch-arc2-l.gif);
}
/* Default Shape Rtl */
.mblSwDefaultShape .mblSwitchBgLeftRtl {
  background-image: @mbl-bg-image-r-rtl;
}
.mblSwDefaultShape .mblSwitchBgRightRtl {
  background-image: @mbl-bg-image-l-rtl;
}
