/* dojox.mobile.TextArea */
.mblTextArea {
	padding: 4px 1px;
	border-width: 1px;
	border-style: inset;
	font-family: Helvetica;
	font-size: 13px;
	.mblTextArea-styles;
}

/* dojox.mobile.ExpandingTextArea */
.mblExpandingTextArea {
	margin: 2px;
}
