/* dojox.mobile.ToggleButton */
.mblToggleButton {
	background-image: url(compat/button-bg.png);
}
.mblToggleButtonSelected {
	background-image: url(compat/button-sel-bg.png);
}
.mblToggleButtonChecked {
	background-image: url(compat/button-chk-bg.png);
	&.mblToggleButtonSelected {
		background-image: url(compat/button-unsel-bg.png);
	}
}
.dj_gecko {
	.mblToggleButton {
		background-image: @mbl-button-background-image-gecko;
	}
	.mblToggleButtonSelected {
		background-image: @mbl-button-selected-background-image-gecko;
	}
	.mblToggleButtonChecked {
		background-image: @mbl-button-checked-background-image-gecko;
		&:after {
			-moz-transform: rotate(45deg) skew(10deg);
			-moz-transform-origin: 50% 50%;
		}
		&.mblToggleButtonSelected {
			background-image: @mbl-blue-button-selected-background-image-gecko;
		}
	}
}
.dj_ff3 {
	.mblToggleButton {
		-moz-border-radius: @default-button-border-radius;
	}
	.mblToggleButton.mblToggleButtonChecked::after {
		-moz-transform: translate(-25px,-6px) rotate(45deg) skew(10deg);
	}
}
.dj_ie {
	.mblToggleButtonChecked {
		&:after {
			top: 9px;
			left: 5px;
			width: 12px;
			border: none;
			background-image: url(compat/togglebutton-chk-mark-bg.png);
		}
	}
}
