/* dojox.mobile.ValuePicker */

.mblValuePickerSlotButton {
	background-image: url(compat/valuepicker-button-bg.png);
}
.mblValuePickerSlotButtonSelected {
	background-color: @default-button-selected-background-color;
}
.mblValuePickerSlotInputArea {
	background-color: #f7f7f7;
}

.dj_gecko {
	.mblValuePickerSlotButton {
		background-image: @mbl-value-picker-slot-button-background-image-gecko;
	}
	.mblValuePickerSlotButtonSelected {
		background-image: @default-button-selected-background-image-gecko;
	}
	.mblValuePickerSlotInputArea {
		background-image: @mbl-value-picker-slot-input-area-background-image-gecko;
	}
}
