<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.plugins.common.base.mapper.DatasetTableTaskMapper">
  <resultMap id="BaseResultMap" type="io.dataease.plugins.common.base.domain.DatasetTableTask">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="table_id" jdbcType="VARCHAR" property="tableId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="start_time" jdbcType="BIGINT" property="startTime" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="end" jdbcType="VARCHAR" property="end" />
    <result column="end_time" jdbcType="BIGINT" property="endTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_exec_time" jdbcType="BIGINT" property="lastExecTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="last_exec_status" jdbcType="VARCHAR" property="lastExecStatus" />
    <result column="extra_data" jdbcType="VARCHAR" property="extraData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, table_id, `name`, `type`, start_time, rate, cron, `end`, end_time, create_time, 
    last_exec_time, `status`, last_exec_status, extra_data
  </sql>
  <select id="selectByExample" parameterType="io.dataease.plugins.common.base.domain.DatasetTableTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dataset_table_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dataset_table_task
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dataset_table_task
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.plugins.common.base.domain.DatasetTableTaskExample">
    delete from dataset_table_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.plugins.common.base.domain.DatasetTableTask">
    insert into dataset_table_task (id, table_id, `name`, 
      `type`, start_time, rate, 
      cron, `end`, end_time, 
      create_time, last_exec_time, `status`, 
      last_exec_status, extra_data)
    values (#{id,jdbcType=VARCHAR}, #{tableId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{startTime,jdbcType=BIGINT}, #{rate,jdbcType=VARCHAR}, 
      #{cron,jdbcType=VARCHAR}, #{end,jdbcType=VARCHAR}, #{endTime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{lastExecTime,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, 
      #{lastExecStatus,jdbcType=VARCHAR}, #{extraData,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.plugins.common.base.domain.DatasetTableTask">
    insert into dataset_table_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tableId != null">
        table_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="cron != null">
        cron,
      </if>
      <if test="end != null">
        `end`,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastExecTime != null">
        last_exec_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="lastExecStatus != null">
        last_exec_status,
      </if>
      <if test="extraData != null">
        extra_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=BIGINT},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="cron != null">
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="end != null">
        #{end,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastExecTime != null">
        #{lastExecTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastExecStatus != null">
        #{lastExecStatus,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null">
        #{extraData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.plugins.common.base.domain.DatasetTableTaskExample" resultType="java.lang.Long">
    select count(*) from dataset_table_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dataset_table_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.tableId != null">
        table_id = #{record.tableId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=BIGINT},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=VARCHAR},
      </if>
      <if test="record.cron != null">
        cron = #{record.cron,jdbcType=VARCHAR},
      </if>
      <if test="record.end != null">
        `end` = #{record.end,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.lastExecTime != null">
        last_exec_time = #{record.lastExecTime,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.lastExecStatus != null">
        last_exec_status = #{record.lastExecStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.extraData != null">
        extra_data = #{record.extraData,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dataset_table_task
    set id = #{record.id,jdbcType=VARCHAR},
      table_id = #{record.tableId,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=BIGINT},
      rate = #{record.rate,jdbcType=VARCHAR},
      cron = #{record.cron,jdbcType=VARCHAR},
      `end` = #{record.end,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      last_exec_time = #{record.lastExecTime,jdbcType=BIGINT},
      `status` = #{record.status,jdbcType=VARCHAR},
      last_exec_status = #{record.lastExecStatus,jdbcType=VARCHAR},
      extra_data = #{record.extraData,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.plugins.common.base.domain.DatasetTableTask">
    update dataset_table_task
    <set>
      <if test="tableId != null">
        table_id = #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=BIGINT},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="cron != null">
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="end != null">
        `end` = #{end,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastExecTime != null">
        last_exec_time = #{lastExecTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastExecStatus != null">
        last_exec_status = #{lastExecStatus,jdbcType=VARCHAR},
      </if>
      <if test="extraData != null">
        extra_data = #{extraData,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.plugins.common.base.domain.DatasetTableTask">
    update dataset_table_task
    set table_id = #{tableId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=BIGINT},
      rate = #{rate,jdbcType=VARCHAR},
      cron = #{cron,jdbcType=VARCHAR},
      `end` = #{end,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      last_exec_time = #{lastExecTime,jdbcType=BIGINT},
      `status` = #{status,jdbcType=VARCHAR},
      last_exec_status = #{lastExecStatus,jdbcType=VARCHAR},
      extra_data = #{extraData,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>