<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.plugins.common.base.mapper.MyPluginMapper">
  <resultMap id="BaseResultMap" type="io.dataease.plugins.common.base.domain.MyPlugin">
    <id column="plugin_id" jdbcType="BIGINT" property="pluginId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="store" jdbcType="VARCHAR" property="store" />
    <result column="free" jdbcType="BIT" property="free" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="descript" jdbcType="VARCHAR" property="descript" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="install_type" jdbcType="INTEGER" property="installType" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="load_mybatis" jdbcType="BIT" property="loadMybatis" />
    <result column="release_time" jdbcType="BIGINT" property="releaseTime" />
    <result column="install_time" jdbcType="BIGINT" property="installTime" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="ds_type" jdbcType="VARCHAR" property="dsType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    plugin_id, `name`, store, `free`, cost, category, descript, version, install_type, 
    creator, load_mybatis, release_time, install_time, module_name, icon, ds_type
  </sql>
  <select id="selectByExample" parameterType="io.dataease.plugins.common.base.domain.MyPluginExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from my_plugin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from my_plugin
    where plugin_id = #{pluginId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from my_plugin
    where plugin_id = #{pluginId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.plugins.common.base.domain.MyPluginExample">
    delete from my_plugin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.plugins.common.base.domain.MyPlugin">
    insert into my_plugin (plugin_id, `name`, store, 
      `free`, cost, category, descript, 
      version, install_type, creator, 
      load_mybatis, release_time, install_time, 
      module_name, icon, ds_type
      )
    values (#{pluginId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{store,jdbcType=VARCHAR}, 
      #{free,jdbcType=BIT}, #{cost,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{descript,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{installType,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{loadMybatis,jdbcType=BIT}, #{releaseTime,jdbcType=BIGINT}, #{installTime,jdbcType=BIGINT}, 
      #{moduleName,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{dsType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.plugins.common.base.domain.MyPlugin">
    insert into my_plugin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pluginId != null">
        plugin_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="store != null">
        store,
      </if>
      <if test="free != null">
        `free`,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="installType != null">
        install_type,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="loadMybatis != null">
        load_mybatis,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="installTime != null">
        install_time,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="dsType != null">
        ds_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pluginId != null">
        #{pluginId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="store != null">
        #{store,jdbcType=VARCHAR},
      </if>
      <if test="free != null">
        #{free,jdbcType=BIT},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="installType != null">
        #{installType,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="loadMybatis != null">
        #{loadMybatis,jdbcType=BIT},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=BIGINT},
      </if>
      <if test="installTime != null">
        #{installTime,jdbcType=BIGINT},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="dsType != null">
        #{dsType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.plugins.common.base.domain.MyPluginExample" resultType="java.lang.Long">
    select count(*) from my_plugin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update my_plugin
    <set>
      <if test="record.pluginId != null">
        plugin_id = #{record.pluginId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.store != null">
        store = #{record.store,jdbcType=VARCHAR},
      </if>
      <if test="record.free != null">
        `free` = #{record.free,jdbcType=BIT},
      </if>
      <if test="record.cost != null">
        cost = #{record.cost,jdbcType=INTEGER},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.descript != null">
        descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.installType != null">
        install_type = #{record.installType,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.loadMybatis != null">
        load_mybatis = #{record.loadMybatis,jdbcType=BIT},
      </if>
      <if test="record.releaseTime != null">
        release_time = #{record.releaseTime,jdbcType=BIGINT},
      </if>
      <if test="record.installTime != null">
        install_time = #{record.installTime,jdbcType=BIGINT},
      </if>
      <if test="record.moduleName != null">
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.dsType != null">
        ds_type = #{record.dsType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update my_plugin
    set plugin_id = #{record.pluginId,jdbcType=BIGINT},
      `name` = #{record.name,jdbcType=VARCHAR},
      store = #{record.store,jdbcType=VARCHAR},
      `free` = #{record.free,jdbcType=BIT},
      cost = #{record.cost,jdbcType=INTEGER},
      category = #{record.category,jdbcType=VARCHAR},
      descript = #{record.descript,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      install_type = #{record.installType,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      load_mybatis = #{record.loadMybatis,jdbcType=BIT},
      release_time = #{record.releaseTime,jdbcType=BIGINT},
      install_time = #{record.installTime,jdbcType=BIGINT},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      ds_type = #{record.dsType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.plugins.common.base.domain.MyPlugin">
    update my_plugin
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="store != null">
        store = #{store,jdbcType=VARCHAR},
      </if>
      <if test="free != null">
        `free` = #{free,jdbcType=BIT},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="installType != null">
        install_type = #{installType,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="loadMybatis != null">
        load_mybatis = #{loadMybatis,jdbcType=BIT},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=BIGINT},
      </if>
      <if test="installTime != null">
        install_time = #{installTime,jdbcType=BIGINT},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="dsType != null">
        ds_type = #{dsType,jdbcType=VARCHAR},
      </if>
    </set>
    where plugin_id = #{pluginId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.plugins.common.base.domain.MyPlugin">
    update my_plugin
    set `name` = #{name,jdbcType=VARCHAR},
      store = #{store,jdbcType=VARCHAR},
      `free` = #{free,jdbcType=BIT},
      cost = #{cost,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      descript = #{descript,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      install_type = #{installType,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      load_mybatis = #{loadMybatis,jdbcType=BIT},
      release_time = #{releaseTime,jdbcType=BIGINT},
      install_time = #{installTime,jdbcType=BIGINT},
      module_name = #{moduleName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      ds_type = #{dsType,jdbcType=VARCHAR}
    where plugin_id = #{pluginId,jdbcType=BIGINT}
  </update>
</mapper>