<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.plugins.common.base.mapper.PanelLinkJumpMapper">
  <resultMap id="BaseResultMap" type="io.dataease.plugins.common.base.domain.PanelLinkJump">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="source_panel_id" jdbcType="VARCHAR" property="sourcePanelId" />
    <result column="source_view_id" jdbcType="VARCHAR" property="sourceViewId" />
    <result column="link_jump_info" jdbcType="VARCHAR" property="linkJumpInfo" />
    <result column="checked" jdbcType="BIT" property="checked" />
    <result column="copy_from" jdbcType="VARCHAR" property="copyFrom" />
    <result column="copy_id" jdbcType="VARCHAR" property="copyId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, source_panel_id, source_view_id, link_jump_info, `checked`, copy_from, copy_id
  </sql>
  <select id="selectByExample" parameterType="io.dataease.plugins.common.base.domain.PanelLinkJumpExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from panel_link_jump
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from panel_link_jump
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from panel_link_jump
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.plugins.common.base.domain.PanelLinkJumpExample">
    delete from panel_link_jump
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.plugins.common.base.domain.PanelLinkJump">
    insert into panel_link_jump (id, source_panel_id, source_view_id, 
      link_jump_info, `checked`, copy_from, 
      copy_id)
    values (#{id,jdbcType=VARCHAR}, #{sourcePanelId,jdbcType=VARCHAR}, #{sourceViewId,jdbcType=VARCHAR}, 
      #{linkJumpInfo,jdbcType=VARCHAR}, #{checked,jdbcType=BIT}, #{copyFrom,jdbcType=VARCHAR}, 
      #{copyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.plugins.common.base.domain.PanelLinkJump">
    insert into panel_link_jump
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sourcePanelId != null">
        source_panel_id,
      </if>
      <if test="sourceViewId != null">
        source_view_id,
      </if>
      <if test="linkJumpInfo != null">
        link_jump_info,
      </if>
      <if test="checked != null">
        `checked`,
      </if>
      <if test="copyFrom != null">
        copy_from,
      </if>
      <if test="copyId != null">
        copy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sourcePanelId != null">
        #{sourcePanelId,jdbcType=VARCHAR},
      </if>
      <if test="sourceViewId != null">
        #{sourceViewId,jdbcType=VARCHAR},
      </if>
      <if test="linkJumpInfo != null">
        #{linkJumpInfo,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=BIT},
      </if>
      <if test="copyFrom != null">
        #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        #{copyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.plugins.common.base.domain.PanelLinkJumpExample" resultType="java.lang.Long">
    select count(*) from panel_link_jump
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update panel_link_jump
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sourcePanelId != null">
        source_panel_id = #{record.sourcePanelId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceViewId != null">
        source_view_id = #{record.sourceViewId,jdbcType=VARCHAR},
      </if>
      <if test="record.linkJumpInfo != null">
        link_jump_info = #{record.linkJumpInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.checked != null">
        `checked` = #{record.checked,jdbcType=BIT},
      </if>
      <if test="record.copyFrom != null">
        copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.copyId != null">
        copy_id = #{record.copyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update panel_link_jump
    set id = #{record.id,jdbcType=VARCHAR},
      source_panel_id = #{record.sourcePanelId,jdbcType=VARCHAR},
      source_view_id = #{record.sourceViewId,jdbcType=VARCHAR},
      link_jump_info = #{record.linkJumpInfo,jdbcType=VARCHAR},
      `checked` = #{record.checked,jdbcType=BIT},
      copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      copy_id = #{record.copyId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.plugins.common.base.domain.PanelLinkJump">
    update panel_link_jump
    <set>
      <if test="sourcePanelId != null">
        source_panel_id = #{sourcePanelId,jdbcType=VARCHAR},
      </if>
      <if test="sourceViewId != null">
        source_view_id = #{sourceViewId,jdbcType=VARCHAR},
      </if>
      <if test="linkJumpInfo != null">
        link_jump_info = #{linkJumpInfo,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        `checked` = #{checked,jdbcType=BIT},
      </if>
      <if test="copyFrom != null">
        copy_from = #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        copy_id = #{copyId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.plugins.common.base.domain.PanelLinkJump">
    update panel_link_jump
    set source_panel_id = #{sourcePanelId,jdbcType=VARCHAR},
      source_view_id = #{sourceViewId,jdbcType=VARCHAR},
      link_jump_info = #{linkJumpInfo,jdbcType=VARCHAR},
      `checked` = #{checked,jdbcType=BIT},
      copy_from = #{copyFrom,jdbcType=VARCHAR},
      copy_id = #{copyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>