<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.plugins.common.base.mapper.PanelViewMapper">
  <resultMap id="BaseResultMap" type="io.dataease.plugins.common.base.domain.PanelView">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="panel_id" jdbcType="VARCHAR" property="panelId" />
    <result column="chart_view_id" jdbcType="VARCHAR" property="chartViewId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="copy_from_panel" jdbcType="VARCHAR" property="copyFromPanel" />
    <result column="copy_from_view" jdbcType="VARCHAR" property="copyFromView" />
    <result column="copy_from" jdbcType="VARCHAR" property="copyFrom" />
    <result column="copy_id" jdbcType="VARCHAR" property="copyId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="io.dataease.plugins.common.base.domain.PanelView">
    <result column="content" jdbcType="LONGVARBINARY" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, panel_id, chart_view_id, create_by, create_time, update_by, update_time, `position`, 
    copy_from_panel, copy_from_view, copy_from, copy_id
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="io.dataease.plugins.common.base.domain.PanelViewExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from panel_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="io.dataease.plugins.common.base.domain.PanelViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from panel_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from panel_view
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from panel_view
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.plugins.common.base.domain.PanelViewExample">
    delete from panel_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.plugins.common.base.domain.PanelView">
    insert into panel_view (id, panel_id, chart_view_id, 
      create_by, create_time, update_by, 
      update_time, `position`, copy_from_panel, 
      copy_from_view, copy_from, copy_id, 
      content)
    values (#{id,jdbcType=VARCHAR}, #{panelId,jdbcType=VARCHAR}, #{chartViewId,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=BIGINT}, #{position,jdbcType=VARCHAR}, #{copyFromPanel,jdbcType=VARCHAR}, 
      #{copyFromView,jdbcType=VARCHAR}, #{copyFrom,jdbcType=VARCHAR}, #{copyId,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.plugins.common.base.domain.PanelView">
    insert into panel_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="panelId != null">
        panel_id,
      </if>
      <if test="chartViewId != null">
        chart_view_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="copyFromPanel != null">
        copy_from_panel,
      </if>
      <if test="copyFromView != null">
        copy_from_view,
      </if>
      <if test="copyFrom != null">
        copy_from,
      </if>
      <if test="copyId != null">
        copy_id,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="panelId != null">
        #{panelId,jdbcType=VARCHAR},
      </if>
      <if test="chartViewId != null">
        #{chartViewId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="copyFromPanel != null">
        #{copyFromPanel,jdbcType=VARCHAR},
      </if>
      <if test="copyFromView != null">
        #{copyFromView,jdbcType=VARCHAR},
      </if>
      <if test="copyFrom != null">
        #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        #{copyId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.plugins.common.base.domain.PanelViewExample" resultType="java.lang.Long">
    select count(*) from panel_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update panel_view
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.panelId != null">
        panel_id = #{record.panelId,jdbcType=VARCHAR},
      </if>
      <if test="record.chartViewId != null">
        chart_view_id = #{record.chartViewId,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.position != null">
        `position` = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.copyFromPanel != null">
        copy_from_panel = #{record.copyFromPanel,jdbcType=VARCHAR},
      </if>
      <if test="record.copyFromView != null">
        copy_from_view = #{record.copyFromView,jdbcType=VARCHAR},
      </if>
      <if test="record.copyFrom != null">
        copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.copyId != null">
        copy_id = #{record.copyId,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update panel_view
    set id = #{record.id,jdbcType=VARCHAR},
      panel_id = #{record.panelId,jdbcType=VARCHAR},
      chart_view_id = #{record.chartViewId,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      `position` = #{record.position,jdbcType=VARCHAR},
      copy_from_panel = #{record.copyFromPanel,jdbcType=VARCHAR},
      copy_from_view = #{record.copyFromView,jdbcType=VARCHAR},
      copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      copy_id = #{record.copyId,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update panel_view
    set id = #{record.id,jdbcType=VARCHAR},
      panel_id = #{record.panelId,jdbcType=VARCHAR},
      chart_view_id = #{record.chartViewId,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      `position` = #{record.position,jdbcType=VARCHAR},
      copy_from_panel = #{record.copyFromPanel,jdbcType=VARCHAR},
      copy_from_view = #{record.copyFromView,jdbcType=VARCHAR},
      copy_from = #{record.copyFrom,jdbcType=VARCHAR},
      copy_id = #{record.copyId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.plugins.common.base.domain.PanelView">
    update panel_view
    <set>
      <if test="panelId != null">
        panel_id = #{panelId,jdbcType=VARCHAR},
      </if>
      <if test="chartViewId != null">
        chart_view_id = #{chartViewId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="copyFromPanel != null">
        copy_from_panel = #{copyFromPanel,jdbcType=VARCHAR},
      </if>
      <if test="copyFromView != null">
        copy_from_view = #{copyFromView,jdbcType=VARCHAR},
      </if>
      <if test="copyFrom != null">
        copy_from = #{copyFrom,jdbcType=VARCHAR},
      </if>
      <if test="copyId != null">
        copy_id = #{copyId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="io.dataease.plugins.common.base.domain.PanelView">
    update panel_view
    set panel_id = #{panelId,jdbcType=VARCHAR},
      chart_view_id = #{chartViewId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=BIGINT},
      `position` = #{position,jdbcType=VARCHAR},
      copy_from_panel = #{copyFromPanel,jdbcType=VARCHAR},
      copy_from_view = #{copyFromView,jdbcType=VARCHAR},
      copy_from = #{copyFrom,jdbcType=VARCHAR},
      copy_id = #{copyId,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.plugins.common.base.domain.PanelView">
    update panel_view
    set panel_id = #{panelId,jdbcType=VARCHAR},
      chart_view_id = #{chartViewId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=BIGINT},
      `position` = #{position,jdbcType=VARCHAR},
      copy_from_panel = #{copyFromPanel,jdbcType=VARCHAR},
      copy_from_view = #{copyFromView,jdbcType=VARCHAR},
      copy_from = #{copyFrom,jdbcType=VARCHAR},
      copy_id = #{copyId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>