<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.plugins.common.base.mapper.PanelAppTemplateLogMapper">
  <resultMap id="BaseResultMap" type="io.dataease.plugins.common.base.domain.PanelAppTemplateLog">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_template_id" jdbcType="VARCHAR" property="appTemplateId" />
    <result column="app_template_name" jdbcType="VARCHAR" property="appTemplateName" />
    <result column="datasource_id" jdbcType="VARCHAR" property="datasourceId" />
    <result column="datasource_from" jdbcType="VARCHAR" property="datasourceFrom" />
    <result column="source_datasource_name" jdbcType="VARCHAR" property="sourceDatasourceName" />
    <result column="dataset_group_id" jdbcType="VARCHAR" property="datasetGroupId" />
    <result column="source_dataset_group_name" jdbcType="VARCHAR" property="sourceDatasetGroupName" />
    <result column="panel_id" jdbcType="VARCHAR" property="panelId" />
    <result column="source_panel_name" jdbcType="VARCHAR" property="sourcePanelName" />
    <result column="apply_time" jdbcType="BIGINT" property="applyTime" />
    <result column="apply_persion" jdbcType="VARCHAR" property="applyPersion" />
    <result column="is_success" jdbcType="BIT" property="isSuccess" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_template_id, app_template_name, datasource_id, datasource_from, source_datasource_name, 
    dataset_group_id, source_dataset_group_name, panel_id, source_panel_name, apply_time, 
    apply_persion, is_success, remark
  </sql>
  <select id="selectByExample" parameterType="io.dataease.plugins.common.base.domain.PanelAppTemplateLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from panel_app_template_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from panel_app_template_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from panel_app_template_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.plugins.common.base.domain.PanelAppTemplateLogExample">
    delete from panel_app_template_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.plugins.common.base.domain.PanelAppTemplateLog">
    insert into panel_app_template_log (id, app_template_id, app_template_name, 
      datasource_id, datasource_from, source_datasource_name, 
      dataset_group_id, source_dataset_group_name, 
      panel_id, source_panel_name, apply_time, 
      apply_persion, is_success, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{appTemplateId,jdbcType=VARCHAR}, #{appTemplateName,jdbcType=VARCHAR}, 
      #{datasourceId,jdbcType=VARCHAR}, #{datasourceFrom,jdbcType=VARCHAR}, #{sourceDatasourceName,jdbcType=VARCHAR}, 
      #{datasetGroupId,jdbcType=VARCHAR}, #{sourceDatasetGroupName,jdbcType=VARCHAR}, 
      #{panelId,jdbcType=VARCHAR}, #{sourcePanelName,jdbcType=VARCHAR}, #{applyTime,jdbcType=BIGINT}, 
      #{applyPersion,jdbcType=VARCHAR}, #{isSuccess,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.plugins.common.base.domain.PanelAppTemplateLog">
    insert into panel_app_template_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appTemplateId != null">
        app_template_id,
      </if>
      <if test="appTemplateName != null">
        app_template_name,
      </if>
      <if test="datasourceId != null">
        datasource_id,
      </if>
      <if test="datasourceFrom != null">
        datasource_from,
      </if>
      <if test="sourceDatasourceName != null">
        source_datasource_name,
      </if>
      <if test="datasetGroupId != null">
        dataset_group_id,
      </if>
      <if test="sourceDatasetGroupName != null">
        source_dataset_group_name,
      </if>
      <if test="panelId != null">
        panel_id,
      </if>
      <if test="sourcePanelName != null">
        source_panel_name,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="applyPersion != null">
        apply_persion,
      </if>
      <if test="isSuccess != null">
        is_success,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appTemplateId != null">
        #{appTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="appTemplateName != null">
        #{appTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="datasourceId != null">
        #{datasourceId,jdbcType=VARCHAR},
      </if>
      <if test="datasourceFrom != null">
        #{datasourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="sourceDatasourceName != null">
        #{sourceDatasourceName,jdbcType=VARCHAR},
      </if>
      <if test="datasetGroupId != null">
        #{datasetGroupId,jdbcType=VARCHAR},
      </if>
      <if test="sourceDatasetGroupName != null">
        #{sourceDatasetGroupName,jdbcType=VARCHAR},
      </if>
      <if test="panelId != null">
        #{panelId,jdbcType=VARCHAR},
      </if>
      <if test="sourcePanelName != null">
        #{sourcePanelName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=BIGINT},
      </if>
      <if test="applyPersion != null">
        #{applyPersion,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null">
        #{isSuccess,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.plugins.common.base.domain.PanelAppTemplateLogExample" resultType="java.lang.Long">
    select count(*) from panel_app_template_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update panel_app_template_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.appTemplateId != null">
        app_template_id = #{record.appTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="record.appTemplateName != null">
        app_template_name = #{record.appTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="record.datasourceId != null">
        datasource_id = #{record.datasourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.datasourceFrom != null">
        datasource_from = #{record.datasourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceDatasourceName != null">
        source_datasource_name = #{record.sourceDatasourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.datasetGroupId != null">
        dataset_group_id = #{record.datasetGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceDatasetGroupName != null">
        source_dataset_group_name = #{record.sourceDatasetGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.panelId != null">
        panel_id = #{record.panelId,jdbcType=VARCHAR},
      </if>
      <if test="record.sourcePanelName != null">
        source_panel_name = #{record.sourcePanelName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null">
        apply_time = #{record.applyTime,jdbcType=BIGINT},
      </if>
      <if test="record.applyPersion != null">
        apply_persion = #{record.applyPersion,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuccess != null">
        is_success = #{record.isSuccess,jdbcType=BIT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update panel_app_template_log
    set id = #{record.id,jdbcType=VARCHAR},
      app_template_id = #{record.appTemplateId,jdbcType=VARCHAR},
      app_template_name = #{record.appTemplateName,jdbcType=VARCHAR},
      datasource_id = #{record.datasourceId,jdbcType=VARCHAR},
      datasource_from = #{record.datasourceFrom,jdbcType=VARCHAR},
      source_datasource_name = #{record.sourceDatasourceName,jdbcType=VARCHAR},
      dataset_group_id = #{record.datasetGroupId,jdbcType=VARCHAR},
      source_dataset_group_name = #{record.sourceDatasetGroupName,jdbcType=VARCHAR},
      panel_id = #{record.panelId,jdbcType=VARCHAR},
      source_panel_name = #{record.sourcePanelName,jdbcType=VARCHAR},
      apply_time = #{record.applyTime,jdbcType=BIGINT},
      apply_persion = #{record.applyPersion,jdbcType=VARCHAR},
      is_success = #{record.isSuccess,jdbcType=BIT},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.plugins.common.base.domain.PanelAppTemplateLog">
    update panel_app_template_log
    <set>
      <if test="appTemplateId != null">
        app_template_id = #{appTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="appTemplateName != null">
        app_template_name = #{appTemplateName,jdbcType=VARCHAR},
      </if>
      <if test="datasourceId != null">
        datasource_id = #{datasourceId,jdbcType=VARCHAR},
      </if>
      <if test="datasourceFrom != null">
        datasource_from = #{datasourceFrom,jdbcType=VARCHAR},
      </if>
      <if test="sourceDatasourceName != null">
        source_datasource_name = #{sourceDatasourceName,jdbcType=VARCHAR},
      </if>
      <if test="datasetGroupId != null">
        dataset_group_id = #{datasetGroupId,jdbcType=VARCHAR},
      </if>
      <if test="sourceDatasetGroupName != null">
        source_dataset_group_name = #{sourceDatasetGroupName,jdbcType=VARCHAR},
      </if>
      <if test="panelId != null">
        panel_id = #{panelId,jdbcType=VARCHAR},
      </if>
      <if test="sourcePanelName != null">
        source_panel_name = #{sourcePanelName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=BIGINT},
      </if>
      <if test="applyPersion != null">
        apply_persion = #{applyPersion,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null">
        is_success = #{isSuccess,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.plugins.common.base.domain.PanelAppTemplateLog">
    update panel_app_template_log
    set app_template_id = #{appTemplateId,jdbcType=VARCHAR},
      app_template_name = #{appTemplateName,jdbcType=VARCHAR},
      datasource_id = #{datasourceId,jdbcType=VARCHAR},
      datasource_from = #{datasourceFrom,jdbcType=VARCHAR},
      source_datasource_name = #{sourceDatasourceName,jdbcType=VARCHAR},
      dataset_group_id = #{datasetGroupId,jdbcType=VARCHAR},
      source_dataset_group_name = #{sourceDatasetGroupName,jdbcType=VARCHAR},
      panel_id = #{panelId,jdbcType=VARCHAR},
      source_panel_name = #{sourcePanelName,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=BIGINT},
      apply_persion = #{applyPersion,jdbcType=VARCHAR},
      is_success = #{isSuccess,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>