<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.dataease.plugins.common.base.mapper.SysUserAssistMapper">
  <resultMap id="BaseResultMap" type="io.dataease.plugins.common.base.domain.SysUserAssist">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="need_first_noti" jdbcType="BIT" property="needFirstNoti" />
    <result column="wecom_id" jdbcType="VARCHAR" property="wecomId" />
    <result column="dingtalk_id" jdbcType="VARCHAR" property="dingtalkId" />
    <result column="lark_id" jdbcType="VARCHAR" property="larkId" />
    <result column="larksuite_id" jdbcType="VARCHAR" property="larksuiteId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, need_first_noti, wecom_id, dingtalk_id, lark_id, larksuite_id
  </sql>
  <select id="selectByExample" parameterType="io.dataease.plugins.common.base.domain.SysUserAssistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_assist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_assist
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user_assist
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="io.dataease.plugins.common.base.domain.SysUserAssistExample">
    delete from sys_user_assist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="io.dataease.plugins.common.base.domain.SysUserAssist">
    insert into sys_user_assist (user_id, need_first_noti, wecom_id, 
      dingtalk_id, lark_id, larksuite_id
      )
    values (#{userId,jdbcType=BIGINT}, #{needFirstNoti,jdbcType=BIT}, #{wecomId,jdbcType=VARCHAR}, 
      #{dingtalkId,jdbcType=VARCHAR}, #{larkId,jdbcType=VARCHAR}, #{larksuiteId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.dataease.plugins.common.base.domain.SysUserAssist">
    insert into sys_user_assist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="needFirstNoti != null">
        need_first_noti,
      </if>
      <if test="wecomId != null">
        wecom_id,
      </if>
      <if test="dingtalkId != null">
        dingtalk_id,
      </if>
      <if test="larkId != null">
        lark_id,
      </if>
      <if test="larksuiteId != null">
        larksuite_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="needFirstNoti != null">
        #{needFirstNoti,jdbcType=BIT},
      </if>
      <if test="wecomId != null">
        #{wecomId,jdbcType=VARCHAR},
      </if>
      <if test="dingtalkId != null">
        #{dingtalkId,jdbcType=VARCHAR},
      </if>
      <if test="larkId != null">
        #{larkId,jdbcType=VARCHAR},
      </if>
      <if test="larksuiteId != null">
        #{larksuiteId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.dataease.plugins.common.base.domain.SysUserAssistExample" resultType="java.lang.Long">
    select count(*) from sys_user_assist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_user_assist
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.needFirstNoti != null">
        need_first_noti = #{record.needFirstNoti,jdbcType=BIT},
      </if>
      <if test="record.wecomId != null">
        wecom_id = #{record.wecomId,jdbcType=VARCHAR},
      </if>
      <if test="record.dingtalkId != null">
        dingtalk_id = #{record.dingtalkId,jdbcType=VARCHAR},
      </if>
      <if test="record.larkId != null">
        lark_id = #{record.larkId,jdbcType=VARCHAR},
      </if>
      <if test="record.larksuiteId != null">
        larksuite_id = #{record.larksuiteId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_user_assist
    set user_id = #{record.userId,jdbcType=BIGINT},
      need_first_noti = #{record.needFirstNoti,jdbcType=BIT},
      wecom_id = #{record.wecomId,jdbcType=VARCHAR},
      dingtalk_id = #{record.dingtalkId,jdbcType=VARCHAR},
      lark_id = #{record.larkId,jdbcType=VARCHAR},
      larksuite_id = #{record.larksuiteId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.dataease.plugins.common.base.domain.SysUserAssist">
    update sys_user_assist
    <set>
      <if test="needFirstNoti != null">
        need_first_noti = #{needFirstNoti,jdbcType=BIT},
      </if>
      <if test="wecomId != null">
        wecom_id = #{wecomId,jdbcType=VARCHAR},
      </if>
      <if test="dingtalkId != null">
        dingtalk_id = #{dingtalkId,jdbcType=VARCHAR},
      </if>
      <if test="larkId != null">
        lark_id = #{larkId,jdbcType=VARCHAR},
      </if>
      <if test="larksuiteId != null">
        larksuite_id = #{larksuiteId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.dataease.plugins.common.base.domain.SysUserAssist">
    update sys_user_assist
    set need_first_noti = #{needFirstNoti,jdbcType=BIT},
      wecom_id = #{wecomId,jdbcType=VARCHAR},
      dingtalk_id = #{dingtalkId,jdbcType=VARCHAR},
      lark_id = #{larkId,jdbcType=VARCHAR},
      larksuite_id = #{larksuiteId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>