<div>   
  <div class="gxeDialogActionBar">
    <div class="gxeRight gxeFloatRight gxeButtons">
      <div class="gxeMessage" data-dojo-attach-point="workingNode"></div>
      <button class="gxeButton prominent" data-dojo-attach-point="okButton"
        data-dojo-attach-event="onclick: onOkClick">${okLabel}</button>
      <button class="gxeButton" data-dojo-attach-point="cancelButton"
        data-dojo-attach-event="onclick: onCancelClick">${cancelLabel}</button>
    </div>
    <div class="gxeClear"></div>
   </div>
</div>