<div class="gxePrimaryPane gxeSaveDocumentPane">

  <div class="gxeDialogActionBar" data-dojo-attach-point="bottomNode">
    <div class="gxeRight gxeFloatRight gxeButtons">
      <button class="gxeButton prominent" data-dojo-attach-point="saveButton"
        data-dojo-attach-event="onclick: _onSaveClick">${i18nBase.editor.save.caption}</button>
      <button class="gxeButton" data-dojo-attach-point="saveAndCloseButton"
        data-dojo-attach-event="onclick: _onSaveAndCloseClick">${i18nBase.editor.saveAndClose.caption}</button>
      <button class="gxeButton" data-dojo-attach-point="cancelButton"
        data-dojo-attach-event="onclick: _onCancelClick">${i18nBase.general.cancel}</button>
    </div>
    <div class="gxeClear"></div>
  </div>
</div>