<div>
	<div data-dojo-attach-point="buttonContainer" class="buttonContainer">
		<div data-dojo-attach-point="toolbar" data-dojo-type="dijit.Toolbar" >
			<button data-dojo-attach-point="previousButton" data-dojo-type="dijit.form.Button" >&#x25C0;</button>
			<button data-dojo-attach-point="nextButton" data-dojo-type="dijit.form.Button" >&#x25B6;</button>
			<span data-dojo-type="dijit.ToolbarSeparator"></span>
			<button data-dojo-attach-point="todayButton" data-dojo-type="dijit.form.Button" >Today</button>
			<span data-dojo-type="dijit.ToolbarSeparator"></span>
			<button data-dojo-attach-point="dayButton" data-dojo-type="dijit.form.Button" >Day</button>
			<button data-dojo-attach-point="fourDaysButton" data-dojo-type="dijit.form.Button" >4 Days</button>
			<button data-dojo-attach-point="weekButton" data-dojo-type="dijit.form.Button" >Week</button>			
			<button data-dojo-attach-point="monthButton" data-dojo-type="dijit.form.Button" >Month</button>
		</div>
	</div>
	<div data-dojo-attach-point="viewContainer" class="viewContainer"></div>
</div>
