<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListReference"
    data-dojo-props="target:'gmd:spatialRepresentationType',minOccurs:0,maxOccurs:'unbounded',
      label:'${i18nIso.MD_DataIdentification.spatialRepresentationType}'">
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/MD_SpatialRepresentationTypeCode"></div>
  </div>  
  
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'gmd:spatialResolution',minOccurs:0,maxOccurs:'unbounded',
      label:'${i18nIso.MD_DataIdentification.spatialResolution}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:MD_Resolution'">
      <div data-dojo-type="esri/dijit/metadata/form/ElementChoice">
        <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
          data-dojo-props="target:'gmd:equivalentScale',
            label:'${i18nIso.MD_Resolution.equivalentScale}'">
          <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
            data-dojo-props="target:'gmd:MD_RepresentativeFraction'">
            <div data-dojo-type="esri/dijit/metadata/form/Element"
              data-dojo-props="target:'gmd:denominator',
                label:'${i18nIso.MD_RepresentativeFraction.denominator}'">
              <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
                data-dojo-props="target:'gco:Integer'">
                <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
              </div>
            </div>
          </div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'gmd:distance',label:'${i18nIso.MD_Resolution.distance}'">
          <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement"
            data-dojo-props="target:'gco:Distance',label:'${i18nIso.MD_Resolution.distance}'">
            <div data-dojo-type="esri/dijit/metadata/form/InputNumber"></div>
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
              data-dojo-props="target:'uom',minOccurs:1,label:'${i18nIso.Length.uom}'">
              <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
                <div data-dojo-type="esri/dijit/metadata/form/Options">
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'',value:''"></div>
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.Length.km}',value:'km'"></div>    
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.Length.m}',value:'m'"></div>    
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.Length.mi}',value:'mi'"></div>    
                  <div data-dojo-type="esri/dijit/metadata/form/Option"
                    data-dojo-props="label:'${i18nIso.Length.ft}',value:'ft'"></div>                                                                                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
</div>