<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/iso/ObjectReference"
    data-dojo-props="target:'gmd:identificationInfo',
      label:'${i18nIso.MD_Metadata.identificationInfo}'">
    <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject"
      data-dojo-props="target:'gmd:MD_DataIdentification',minOccurs:0">
      
      <div data-dojo-type="esri/dijit/metadata/form/Tabs">
          
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/ResourceCitation"
          data-dojo-props="label:'${i18nIso.identificationSection.citation}'"></div>
          
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceDescription"
          data-dojo-props="label:'${i18nIso.identificationSection.description}'"></div>
          
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/citation/ResourceContact"
          data-dojo-props="label:'${i18nIso.identificationSection.contact}'"></div>
          
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceThumbnail"
          data-dojo-props="label:'${i18nIso.identificationSection.thumbnail}'"></div>
          
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/ResourceKeywords"
          data-dojo-props="label:'${i18nIso.identificationSection.keywords}'"></div>
          
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/constraints/ResourceConstraints"
          data-dojo-props="label:'${i18nIso.identificationSection.constraints}'"></div>
          
        <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/identification/DataResourceTab"
          data-dojo-props="label:'${i18nIso.identificationSection.resource}'"></div>
                          
      </div>
      
    </div>
  </div>
  
</div>