<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmd:MD_ProgressCode'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}MD_ProgressCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
            
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_ProgressCode.completed}',value:'completed'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_ProgressCode.historicalArchive}',value:'historicalArchive'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_ProgressCode.obsolete}',value:'obsolete'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_ProgressCode.onGoing}',value:'onGoing'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_ProgressCode.planned}',value:'planned'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_ProgressCode.required}',value:'required'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.MD_ProgressCode.underDevelopment}',value:'underDevelopment'"></div>
                                                                                                          
        </div>
      </div>
    </div>
    
  </div>
</div>