<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/AbstractObject" data-dojo-props="target:'gmd:MD_Identifier',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'gmd:code',showHeader:false">
      <div data-dojo-type="esri/dijit/metadata/form/iso/GcoElement" data-dojo-props="target:'gco:CharacterString'">
        <div data-dojo-type="esri/dijit/metadata/form/InputText" data-dojo-props="useUniqueId:true"></div>
      </div>
    </div>
  </div>
</div>