//** Space between accordions
$accordion-spacing:                    -1px !default;
$accordion-bg:                         $panel-bg !default;
$accordion-border:                     $panel-default-border !default;

$accordion-title-default-bg:           $panel-default-heading-bg !default;
$accordion-title-default-color:        $panel-default-text !default;
$accordion-title-padding:              $panel-heading-padding !default;
$accordion-title-font-size:            $font-size-large !default;
$accordion-title-line-height:          1 !default;
$accordion-title-hover-bg:             $Calcite_Gray_150 !default;
