$panel-bg:                    $Calcite_Gray_050 !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-default-text:          $Calcite_Gray_600 !default;
$panel-default-border:        $Calcite_Gray_350 !default;
$panel-default-heading-bg:    $Calcite_Gray_100 !default;