$tabs-padding:                     6px 15px !default;
//** Space between tabs
$tabs-spacing:                     -1px !default;
$tabs-default-bg:                  $Calcite_Gray_100 !default;
$tabs-default-border:              $Calcite_Gray_350 !default;
$tabs-default-color:               $Calcite_Highlight_Blue_350 !default;
$tabs-hover-bg:                    $Calcite_Highlight_Blue_100 !default;
$tabs-active-hover-bg:             $Calcite_Gray_050 !default;
$tabs-active-hover-color:          $Calcite_Gray_700 !default;
$tabs-active-hover-border-color:   $Calcite_Gray_350 !default;
$tabs-content-bg:                  $Calcite_Gray_050 !default;

$tabs-nested-spacing:              $padding-xs-horizontal !default;
$tabs-nested-default-bg:           transparent !default;
$tabs-nested-active-hover-color:   $component-active-color !default;
$tabs-nested-active-hover-bg:      $component-active-bg !default;

$tabs-strip-btn-default-bg:        transparent !default;
$tabs-strip-btn-default-color:     $link-color !default;
$tabs-strip-btn-default-border:    transparent !default;