<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'metainfo',label:'${i18nFgdc.metainfo.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      
      <!-- Dates -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nFgdc.metainfo.section.dates}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metd',
            label:'${i18nFgdc.metainfo.metd}'">
          <div data-dojo-type="esri/dijit/metadata/form/fgdc/InputDate"
            data-dojo-props="useNow:true"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metrd',minOccurs:0,
            label:'${i18nFgdc.metainfo.metrd}'">
          <div data-dojo-type="esri/dijit/metadata/form/fgdc/InputDate"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metfrd',minOccurs:0,
            label:'${i18nFgdc.metainfo.metfrd}'">
          <div data-dojo-type="esri/dijit/metadata/form/fgdc/InputDate"></div>
        </div>
      </div>
      
      <!-- Contact -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nFgdc.metainfo.section.contact}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metc',showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/types/fgdc/cntinfo/cntinfo"></div>
        </div>
      </div>  
      
      <!-- Standard -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nFgdc.metainfo.section.standard}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metstdn',fixed:true,value:'FGDC Content Standard for Digital Geospatial Metadata',
          label:'${i18nFgdc.metainfo.metstdn}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText" data-dojo-props="size:90,readOnly:true"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metstdv',fixed:true,value:'FGDC-STD-001-1998',
          label:'${i18nFgdc.metainfo.metstdv}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputText" data-dojo-props="size:90,readOnly:true"></div>
        </div>
      </div>  
      
      <!-- Additional -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nFgdc.metainfo.section.additional}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metac',minOccurs:0,label:'${i18nFgdc.metainfo.metac}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metuc',minOccurs:0,label:'${i18nFgdc.metainfo.metuc}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'metsi',minOccurs:0,label:'${i18nFgdc.metainfo.metsi.caption}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'metscs',label:'${i18nFgdc.metainfo.metsi.metscs}'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'metsc',label:'${i18nFgdc.metainfo.metsi.metsc}'">
            <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
              <div data-dojo-type="esri/dijit/metadata/form/Options">
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'',value:''"></div>
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.topSecret}',value:'Top secret'"></div>  
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.secret}',value:'Secret'"></div>  
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.confidential}',value:'Confidential'"></div>  
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.restricted}',value:'Restricted'"></div>  
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.unclassified}',value:'Unclassified'"></div>  
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nFgdc.idinfo.secinfo.secclass.sensitive}',value:'Sensitive'"></div>              
                <div data-dojo-type="esri/dijit/metadata/form/Option"
                  data-dojo-props="label:'${i18nFgdc.alternates.other}',value:'_other',isOther:true"></div>  
              </div>            
            </div>
          </div>          
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'metshd',label:'${i18nFgdc.metainfo.metsi.metshd}'">
            <div data-dojo-type="esri/dijit/metadata/form/InputTextArea"></div>
          </div>
        </div>
      </div>      
      
    </div>
  </div>
  
</div>