<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'contInfo',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.contInfo.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/ElementChoice">
      
      <!-- coverage -->
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/content/CoverageDescription"
        data-dojo-props="label:'${i18nArcGIS.contInfo.section.CovDesc}'">
      </div>
      
      <!-- image -->
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/content/ImageDecsription"
        data-dojo-props="label:'${i18nArcGIS.contInfo.section.ImgDesc}'">
      </div>
      
      <!-- feature catalogue -->
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/content/FeatureCatalogue"
        data-dojo-props="label:'${i18nArcGIS.contInfo.section.FetCatDesc}'">
      </div>
      
    </div>    
  </div>
</div>