<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'ImgDesc',minOccurs:0,showHeader:false,label:'${i18nArcGIS.contInfo.ImgDesc.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">

      <!-- description -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.contInfo.ImgDesc.section.description}'">
        
        <!-- attribute description -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'attDesc',minOccurs:1,label:'${i18nArcGIS.contInfo.attDesc}'">
        </div>
    
        <!-- content type -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'contentTyp',minOccurs:1,label:'${i18nArcGIS.codelist.MD_CoverageContentTypeCode}'">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/content/ContentTypCd"></div>
        </div>
        
        <!-- illumination elevation angle -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'illElevAng',minOccurs:0,label:'${i18nArcGIS.contInfo.ImgDesc.illElevAng}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber" 
            data-dojo-props="minValue:-90.0,maxValue:90.0,hint:'${i18nArcGIS.hints.number90To90}'"></div>
        </div>
        
        <!-- illumination azimuth angle -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'illAziAng',minOccurs:0,label:'${i18nArcGIS.contInfo.ImgDesc.illAziAng}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber" 
            data-dojo-props="minValue:0.0,maxValue:360.0,hint:'${i18nArcGIS.hints.number0To360}'"></div>
        </div>
        
        <!-- imaging condition -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'imagCond',minOccurs:0,label:'${i18nArcGIS.codelist.MD_ImagingConditionCode}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'ImgCondCd',minOccurs:0,showHeader:false">
            <div data-dojo-type="esri/dijit/metadata/form/Attribute"
              data-dojo-props="target:'value',minOccurs:0,showHeader:false">
              <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSelectCode"
                data-dojo-props="codelistType:'MD_ImagingConditionCode'">
              </div>              
            </div>
          </div>
        </div>
        
        <!-- cloud cover -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'cloudCovPer',minOccurs:0,label:'${i18nArcGIS.contInfo.ImgDesc.cloudCovPer}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber" 
            data-dojo-props="minValue:0.0,maxValue:100.0,hint:'${i18nArcGIS.hints.number0To100}'"></div>
        </div>
        
        <!-- compression quality -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'cmpGenQuan',minOccurs:0,label:'${i18nArcGIS.contInfo.ImgDesc.cmpGenQuan}'">
          <div data-dojo-type="esri/dijit/metadata/form/InputNumber" 
            data-dojo-props="integerOnly:true"></div>
        </div>
    
        <!-- Triangulation Indicator -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'trianInd',minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCheckBox"
            data-dojo-props="label:'${i18nArcGIS.contInfo.ImgDesc.trianInd}'">
          </div>
        </div>
        
        <!-- Radiometric Calibration Data Availabilityr -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'radCalDatAv',minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCheckBox"
            data-dojo-props="label:'${i18nArcGIS.contInfo.ImgDesc.radCalDatAv}'">
          </div>
        </div>
        
        <!-- Camera Calibration Information Availability -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'camCalInAv',minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCheckBox"
            data-dojo-props="label:'${i18nArcGIS.contInfo.ImgDesc.camCalInAv}'">
          </div>
        </div>
        
        <!-- Film Distoration Information Availability -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'filmDistInAv',minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCheckBox"
            data-dojo-props="label:'${i18nArcGIS.contInfo.ImgDesc.filmDistInAv}'">
          </div>
        </div>
        
        <!-- Lens Distoration Information Availability -->
        <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
          data-dojo-props="target:'lensDistInAv',minOccurs:0,showHeader:false">
          <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputCheckBox"
            data-dojo-props="label:'${i18nArcGIS.contInfo.ImgDesc.lensDistInAv}'">
          </div>
        </div>
        
        <!-- Quality Code -->
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'imagQuCode',minOccurs:0,label:'${i18nArcGIS.contInfo.ImgDesc.imagQuCode}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'identCode',minOccurs:1,label:'${i18nArcGIS.codeRef.identCode}'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'identAuth',minOccurs:0,label:'${i18nArcGIS.codeRef.identAuth}'">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/CitationElements"></div>    
          </div>
        </div>
        
        <!-- Processing Level Code -->
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'prcTypCde',minOccurs:0,label:'${i18nArcGIS.contInfo.ImgDesc.prcTypCde}'">
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'identCode',minOccurs:1,label:'${i18nArcGIS.codeRef.identCode}'">
          </div>
          <div data-dojo-type="esri/dijit/metadata/form/Element"
            data-dojo-props="target:'identAuth',minOccurs:0,label:'${i18nArcGIS.codeRef.identAuth}'">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/citation/CitationElements"></div>    
          </div>
        </div>
      </div>
      
      <!-- range/band -->
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,label:'${i18nArcGIS.contInfo.ImgDesc.section.rangesAndBands}'">
        <div data-dojo-type="esri/dijit/metadata/form/Element"
          data-dojo-props="target:'covDim',minOccurs:0,maxOccurs:'unbounded',label:'${i18nArcGIS.contInfo.covDim.caption}'">
          <div data-dojo-type="esri/dijit/metadata/form/ElementChoice">
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/content/RangeDimension"
              data-dojo-props="label:'${i18nArcGIS.contInfo.RangeDim.caption}'">
            </div>
            <div data-dojo-type="esri/dijit/metadata/types/arcgis/content/Band"
              data-dojo-props="label:'${i18nArcGIS.contInfo.Band.caption}'">
            </div>
          </div>    
        </div>
      </div>

    </div>
  </div>
</div>