// Button variants
//
// Used in form/Button.scss and form/Selectto generate alternative styles for
// dijit.form.*Button widgets a dijit.form.Select.
@mixin button-variant($color, $background, $border: "", $isDefault: true) {
  color: $color;
  background-color: $background;
  @include transition(all .25s ease);
  @if $border !="" {
    border-color: $border;
  }
  @if $isDefault {
    &:hover {
      color: $color;
      background-color: $Calcite_Highlight_Blue_100;
    }
    &:active,
    &:focus {
      @include button-variant-default-active();
    }
  }
  @else {
    &:focus {
      color: $color;
      background-color: darken($background, 10%);
      @if $border !="" {
        border-color: darken($border, 25%);
      }
    }
    &:hover {
      color: $color;
      background-color: darken($background, 10%);
      @if $border !="" {
        border-color: darken($border, 12%);
      }
    }
    &:active {
      color: $color;
      background-color: darken($background, 10%);
      @if $border !="" {
        border-color: darken($border, 12%);
      }
      &:hover,
      &:focus {
        color: $color;
        background-color: darken($background, 17%);
        @if $border !="" {
          border-color: darken($border, 25%);
        }
      }
    }
  }
}

@mixin button-variant-default-active($color: $Calcite_Highlight_Blue_350, $background: $Calcite_Highlight_Blue_200) {
  color: $color;
  background-color: $background;
}

