// Progress bar
@mixin dijit-progress-bar-variant($color) {
  background-color: $color;
}

@mixin gradient-striped($color: rgba(255, 255, 255, .15), $angle: 45deg) {
  background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@mixin box-shadow-empty-bar() {
  @include box-shadow (inset 0 1px 2px rgba(0, 0, 0, .1));
}

@mixin box-shadow-progress-bar() {
  @include box-shadow (inset 0 -1px 0 rgba(0, 0, 0, .15));
}

