/* dojox.mobile.Accordion */
.mblAccordion {
	border-style: outset;
	border-width: 1px;
	.mblAccordion-styles;
}
.mblAccordionRoundRect {
	margin: 7px 9px 16px 9px;
	padding: 0;
	border: 1px solid @mbl-round-rect-border-color;
	border-radius: 8px;
	.mblAccordionTitle:first-child {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	.mblAccordionTitleLast, .mblAccordionPane:last-child {
		border-bottom-width: 0;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}
.mblAccordionTitle {
	position: relative;
	height: 30px;
	width: 100%;
	font-family: Helvetica;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	vertical-align: middle;
	white-space: nowrap;
	.mblAccordionTitle-styles;
	&:first-child {
		border-top: none;
	}
}
.mblAccordionTitleAnchor {
	display: block;
	height: 100%;
	text-decoration: none;
	white-space: nowrap;
	.mblAccordionTitleAnchor-styles;
  cursor: pointer;
}
.mblAccordionIconParent {
	float: left;
	margin: 6px 4px 0 6px;
	line-height: normal;
}
.mblAccordionIconParent1 {
	display: block;
}
.mblAccordionIconParent2 {
	display: none;
}
.mblAccordionTitleSelected {
	.mblAccordionTitleSelected-styles;
	.mblAccordionTitleAnchor {
		.mblAccordionTitleAnchorSelected-styles;
	}
	.mblAccordionIconParent1 {
		display: none;
	}
	.mblAccordionIconParent2 {
		display: block;
	}
}
