/* dojox.mobile.Carousel Rtl */
.mblCarouselItemRtl.mblCarouselSlot {
  float: right;
}
.mblCarouselRtl .mblCarouselBtnContainer {
  float: left;
}
.mblCarouselRtl .mblCarouselTitle{
  margin: @mbl-carousel-margin-rtl;
}
.mblCarouselRtl .mblCarouselHeaderBar .mblPageIndicator {
  float: left;
}
