/* dojox.mobile.GridLayout */
.mblGridLayout {
	width: 100%;
	height: 100%;
	padding: 0;
}

.mblGridLayout > div {
	margin: 0;
	border: 0;
	padding: 0;
	float: left;
	min-height:1px;
}

.mblGridItemFirstColumn {
	clear:left;
}

.mblGridItemTerminator {
	clear:both;
}

.mblGridItemLastItem:after {
	content: "";
	display: block;
	clear:both;
}
