/* dojox.mobile.IconItem Rtl */
.mblIconItemRtl {
  float: right;
}
.mblIconItemRtl .mblIconItemDeleteIcon {
  right: @mbl-icon-container-right-rtl;
}
/* dojox.mobile._IconItemPane Rtl*/
.mblIconItemPaneRtl .mblIconItemPaneHeading {
  padding-right: 40px;
}
.mblIconItemPaneRtl .mblIconItemPaneIcon {
  right: 1px;
}
