/* dojox.mobile.IconContainer */
.mblIconItemPaneHeading {
	background-image: url(compat/icon-content-heading-bg.png);
}

.dj_gecko {
	.mblIconItemPaneHeading {
		background-image: -moz-linear-gradient(top, #e0e4e7 0%, #c4ccd2 50%, #bfc8ce 50%, #b4bec6 100%);
	}
}

.dj_ie7 {
	.mblIconAreaInner {
		font-size: 60px;
	}
}