/* dojox.mobile.ListItem */
.mblListItemSelected {
	background-color: @default-selected-background-color;
}

.dj_gecko {
	.mblListItemSelected {
		background-image: @default-selected-background-image-gecko;
	}
}

.dj_ie6 {
	.mblListItem {
		vertical-align: bottom;
	}
}
