/* dojox.mobile.Overlay */
.mblOverlay {
	position: fixed;
	z-index: 2000;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	text-align: -webkit-center;
	.mblOverlay-styles;
}
.mblOverlayHidden *,
.mblOverlayHidden {
	visibility: hidden !important;
}
