/* dojox.mobile.ProgressBar */
.mblProgressBar {
	position: relative;
	.mblProgressBar-styles;
}
.mblProgressBarProgress {
	.transition-property(width);
	.transition-duration(0.25s);
	.mblProgressBarProgress-styles;
}
.mblProgressBarComplete {
	.mblProgressBarComplete-styles;
}
.mblProgressBarNotStarted {
	border-left: none;
	border-right: none;
	.mblProgressBarNotStarted-styles;
}
.mblProgressBarMsg {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 12px;
	.mblProgressBarMsg-styles;
}
