/* Progress Indicator */

.dj_ie {
	.mblProg {
		width: 4px;
		height: 36px;
	}
	.mblProg0 {
		left: 0px;
	}
	.mblProg1 {
		left: 8px;
	}
	.mblProg2 {
		left: 16px;
	}
	.mblProg3 {
		left: 24px;
	}
	.mblProg4 {
		left: 32px;
	}
	.mblProg5 {
		left: 40px;
	}
	.mblProg6 {
		left: 48px;
	}
	.mblProg7 {
		left: 56px;
	}
	.mblProg8 {
		left: 64px;
	}
	.mblProg9 {
		left: 72px;
	}
	.mblProg10 {
		left: 80px;
	}
	.mblProg11 {
		left: 80px;
	}
}

.dj_gecko {
	.mblProgressIndicatorCenter .mblProgContainer {
	  -moz-transform-origin: 50% 0;
	}
	.mblProg {
	  -moz-transform-origin: 0 2px;
	}
	.mblProg0 {
	  -moz-transform: translate(18px, 10px) rotate(-90.1deg);
	}
	.mblProg1 {
	  -moz-transform: translate(22px, 11px) rotate(-60deg);
	}
	.mblProg2 {
	  -moz-transform: translate(25px, 14px) rotate(-30deg);
	}
	.mblProg3 {
	  -moz-transform: translate(26px, 18px) rotate(0deg);
	}
	.mblProg4 {
	  -moz-transform: translate(25px, 22px) rotate(30deg);
	}
	.mblProg5 {
	  -moz-transform: translate(22px, 25px) rotate(60deg);
	}
	.mblProg6 {
	  -moz-transform: translate(18px, 26px) rotate(90.1deg);
	}
	.mblProg7 {
	  -moz-transform: translate(14px, 25px) rotate(120deg);
	}
	.mblProg8 {
	  -moz-transform: translate(11px, 22px) rotate(150deg);
	}
	.mblProg9 {
	  -moz-transform: translate(10px, 18px) rotate(180deg);
	}
	.mblProg10 {
	  -moz-transform: translate(11px, 14px) rotate(210deg);
	}
	.mblProg11 {
	  -moz-transform: translate(14px, 11px) rotate(240deg);
	}
}
