/* dojox.mobile.RadioButton */
.mblRadioButton {
	position: relative;
	margin: -0.5em 3px 0.3em 4px;
	width: 1em;
	height: 1em;
	border-style: outset;
	border-width: 1px;
	border-radius: 0.5em;
	.mbl-button-background-image();
	font: inherit;
	cursor: pointer;
	.appearance(none);
	.tap-highlight-color(rgba(255,255,255,0));
	.transform(translateY(0.45em));
	.mblRadioButton-styles;
}
.mblRadioButtonChecked,
.mblRadioButton:checked {
	.mbl-button-checked-background-image();
	&::after {
		position: absolute;
		content: "";
		width: 0.3em;
		height: 0.6em;
		top: 0;
		left: 0.25em;
		border-width: 0.15em;
		border-style: none solid solid none;
		.transform(rotate(45deg));
		.transform-origin(50% 50%);
		.mblRadioButtonChecked-after-styles;
	}
	&.mblRadioButtonSelected {
		.mbl-blue-button-selected-background-image();
		&::after {
			.mblRadioButtonChecked-Selected-after-styles;
		}
	}	
}
