/* dojox.mobile.RoundRect */
.mblRoundRect.mblShadow {
	box-shadow: @mbl-round-rect-box-shadow;
}

.dj_ff3 {
	.mblRoundRect {
		-moz-border-radius: @mbl-round-rect-border-radius;
	}
	.mblRoundRect.mblShadow {
		-moz-box-shadow: @mbl-round-rect-box-shadow;
	}
}

/* Round Corner */
.dj_ie {
	.mblRoundCorner {
		background-color: @mbl-round-rect-background-color;
		height: 1px;
		font-size: 1px;
		overflow: hidden;
		border-style: solid;
		border-color: @mbl-round-rect-border-color;
		border-width: 0 1px;
	}
	.mblRoundRectContainer {
		padding: 3px 8px;
		background-color: @mbl-round-rect-background-color;
		border-style: solid;
		border-color: @mbl-round-rect-border-color;
		border-width: 0 1px;
	}
	.mblRoundRectList .mblRoundRectContainer {
		margin: 0;
		padding: 0;
	}
	.mblRoundCorner0T {
		height: 0;
	}
	.mblRoundCorner1T {
		background-color: @mbl-round-rect-border-color;
		margin: 0 5px;
	}
	.mblRoundCorner2T {
		margin: 0 2px;
		border-width: 0 3px;
	}
	.mblRoundCorner3T {
		margin: 0 1px;
		border-width: 0 2px;
	}
	.mblRoundCorner4T {
		margin: 0 1px;
	}
	.mblRoundCorner5T {
		margin: 0 1px;
	}
	
	.mblRoundCorner0B {
		height: 0;
	}
	.mblRoundCorner1B {
		margin: 0 1px;
	}
	.mblRoundCorner2B {
		margin: 0 1px;
	}
	.mblRoundCorner3B {
		margin: 0 1px;
		border-width: 0 2px;
	}
	.mblRoundCorner4B {
		margin: 0 2px;
		border-width: 0 3px;
	}
	.mblRoundCorner5B {
		background-color: @mbl-round-rect-border-color;
		margin: 0 5px;
	}
}
