/* dojox.mobile.Slider */
.mblSlider {
	background-image: url(compat/slider-h-bg.png);
	background-repeat: repeat-x;
}
.mblSliderProgressBar {
	background-image: url(compat/slider-h-bar-bg.png);
	background-repeat: repeat-x;
}
.mblSliderHandle {
	background-image: url(compat/slider-handle-bg.png);
}
.mblSliderV {
	background-color: @mbl-switch-bg-right-background-color;
	background-image: none;
	.mblSliderProgressBar {
		background-color: @mbl-switch-bg-left-background-color;
		background-image: none;
	}
}

.dj_gecko {
	.mblSlider {
		background-image: @mbl-switch-bg-right-background-image-gecko;
		-moz-user-select: none; // prevent selection
		-moz-box-sizing: content-box; // make width and height consistent with a DIV
	}
	.mblSliderProgressBar {
		background-image: @mbl-switch-bg-left-background-image-gecko;
	}
	.mblSliderHandle {
		background-image: @mbl-switch-knob-background-image-gecko;
	}
}
.dj_ff3 {
	.mblSlider {
		-moz-border-radius: @mbl-slider-bar-border-radius;
	}
	.mblSliderProgressBar {
		-moz-border-radius: @mbl-slider-bar-border-radius;
	}
	.mblSliderHandle {
		-moz-border-radius: @mbl-slider-knob-border-radius;
	}
}
