/* dojox.mobile.ToolBarButton */
.mblToolBarButton {
	display:inline-block;
	position: relative;
	cursor: pointer;
	.tap-highlight-color(rgba(255,255,255,0));
	margin: 6px;
	padding: 0 10px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	.mblToolBarButton-styles;
}
.mblToolBarButtonHasIcon, .mblToolBarButtonLightIcon {
	padding: 0;
}
.mblHeading {
	.mblToolBarButton {
		float: left;
	}
	span.mblToolBarButtonLightIcon {
		padding: 0;
	}
}
.mblToolBarButtonHasLeftArrow {
	padding-right: 0;
	padding-left: 10px;
}
.mblToolBarButtonHasRightArrow {
	padding-left: 0;
	padding-right: 10px;
}
.mblToolBarButtonArrow {
	position: absolute;
	top: 5px;
	width: 20px;
	height: 19px;
	.mblToolBarButtonArrow-styles;
}
.mblToolBarButtonHasLeftArrow .mblToolBarButtonArrow {
  .mblToolBarButtonArrowInLeftArrow-styles;
}
.mblToolBarButtonHasRightArrow .mblToolBarButtonArrow {
  .mblToolBarButtonArrowInRightArrow-styles;
}
.mblHeading {
	.mblToolBarButtonArrow {
		.mblToolBarButtonArrowInHeading-styles;
	}
	.mblToolBarButtonHasLeftArrow .mblToolBarButtonArrow {
		.mblToolBarButtonHasLeftArrowInHeading-styles;
	}
	.mblToolBarButtonHasRightArrow .mblToolBarButtonArrow {
		.mblToolBarButtonHasRightArrowInHeading-styles;
	}
}

.mblToolBarButtonBody {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: @mbl-tool-bar-button-body-border-radius;
	.mblToolBarButtonBody-styles;
}
.mblToolBarButton .mblToolBarButtonBody {
	width: 100%;
}
.mblHeading .mblToolBarButtonBody {
	.mblToolBarButtonBodyInHeading-styles;
}
.mblToolBarButtonBody table {
	margin: 0 auto;
}
.mblToolBarButtonHasLeftArrow .mblToolBarButtonBody {
  .mblToolBarButtonBodyInLeftArrow-styles;
}
.mblToolBarButtonHasRightArrow .mblToolBarButtonBody {
  .mblToolBarButtonBodyInRightArrow-styles;
}
.mblToolBarButtonText .mblToolBarButtonIcon {
	padding-left: 10px;
}
.mblToolBarButtonText .mblToolBarButtonLabel {
	padding-right: 10px;
	height: 29px;
}
.mblToolBarButtonHasLeftArrow .mblToolBarButtonIcon {
	padding-left: 4px;
}
.mblToolBarButtonHasRightArrow .mblToolBarButtonLabel {
	padding-right: 4px;
}

.mblToolBarButtonIcon > div {
	height: 29px;
}
