@import "variables.less";
@import "../common/Button-compat.less";

.mblButton {
  background-image: none;
}
.mblButtonSelected {
  background-image: none;
}
.mblBlueButton {
  background-image: none;
}
.mblBlueButtonSelected {
  background-image: none;
}
.mblRedButton {
  background-image: none;
}
.mblRedButtonSelected {
  background-image: none;
}
