@import "variables.less";
@import "../common/TabBar.less";
@import "../common/domButtons/DomButtonWhiteCross.css";

@media (max-width:500px) {
  .mblTabBarTabBar {
  	/* Tab separator only for width < 500 (because TabBar._largeScreenWidth == 500)*/
  		.mblTabBarButton+.mblTabBarButton:before{
  			content:url('images/vseparator.png');
  			position:absolute;
  			top: 12px;
  			left:0px;
  		}
  }
}
/* when fill is activated, box-sizing is border-box */
.mblTabBarTabBar {
	&.mblTabBarFill {
		.mblTabBarButton {
			height: 48px;
		}
	}
}
.mblTabBarSegmentedControl {
	&.mblTabBarFill {
		.mblTabBarButton {
			height: 29px;
		}
	}	
}
.mblTabBarTallTab {
	&.mblTabBarFill {
		.mblTabBarButton {
			height: 62px;
		}
	}
}
