@import "variables.less";
@import "../common/TabBar-compat.less";
@import "../common/domButtons/DomButtonWhiteCross-compat.css";

.mblTabBarSegmentedControl, .mblTabBarStandardTab {
    background-image: none;
}

.mblTabBarSegmentedControl .mblTabBarButton, .mblTabBarStandardTab .mblTabBarButton {
    background-image: none;
}
/*
.mblTabBarSegmentedControl, .mblTabBarStandardTab {
  background-image: url(compat/heading-bg.png);
  .mblTabBarButton {
    background-image: none;
  }
  .mblTabBarButtonSelected {
    background-image: none;
  }
}
*/
