@import "variables.less";
@import "../common/TextBox.less";

.mblTextBox:disabled {
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: @holo-grey2;
  border-width: 1px;
  font-size: 17px;
  border-style: solid;  
}
