/* 改变主题色变量 */
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #C0C4CC;

$--border-color-base: #DCDFE6;
$--border-color-light: #E4E7ED;
$--border-color-lighter: #EBEEF5;
$--border-color-extra-light: #F2F6FC;

$--color-white: #FFFFFF;
$--color-black: #000000;


$--background-color-base: #F5F7FA;


// 与CSS原生变量映射
#app {
  --Main:#00B9AD;
  --test:#FF9227;
  --color-primary: #00B9AD;
  --MainBG: #FFFFFF;


  --border-color-input: #DCDFE6;
  --border-color-input-hovor: #C0C4CC;
}