@mixin direction-stop-icon() {
  width: $directions-stop-icon-width;
  height: $directions-stop-icon-height;
  background-color: $Calcite_Gray_050;
  border: 1px solid $Calcite_Blue_250;
  color: $directions-stop-icon-color;
  margin: 0 auto;
  text-align: center;
  font-size: $directions-stop-icon-font-size;
  line-height: $directions-stop-icon-height / $directions-stop-icon-font-size;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  @include border-radius(50%);
  position: relative;
  z-index: 1;
}

@mixin direction-stop-origin-icon() {
  background-color: $Calcite_Green_250;
  color: $directions-stop-end-icon-color;
  border-color: transparent;
}

@mixin direction-stop-destination-icon() {
  background-color: $Calcite_Red_250;
  color: $directions-stop-end-icon-color;
  border-color: transparent;
}

@mixin direction-stop-unreached-icon() {
  background-color: $Calcite_Gray_350;
  color: $Calcite_Gray_050;
  border-color: $Calcite_Gray_350;
}

