@import "../common/css3.less";

@default-blue-button-color: white;
@default-blue-button-background-color: #366edf;
.default-blue-button-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#7a9de9, #2362dd, 0.5, #366edf, 0.5, #215fdc); }
@default-blue-button-background-image-gecko: -moz-linear-gradient(top, #7a9de9 0%, #366edf 50%, #215fdc 50%, #2362dd 100%);

.mbl-color-blue-45 () { .background-image-linear-gradient-top-left-bottom-right-2-stops(#7a9de9, #2362dd, 0.5, #366edf, 0.5, #215fdc); }
.mbl-color-default-45 () { .background-image-linear-gradient-top-left-bottom-right(#dfdfdf, #a6a6a6); }
.mbl-color-default-sel-45 () { .background-image-linear-gradient-top-left-bottom-right-2-stops(#306ea1, #266093, 0.06, #4090d3, 0.5, #306ea1); }

@mbl-color-blue-45-gecko: -moz-linear-gradient(top left, #7a9de9 0%, #366edf 50%, #215fdc 50%, #2362dd 100%);
@mbl-color-default-45-gecko: -moz-linear-gradient(top left, #dfdfdf 0%, #a6a6a6 100%);
@mbl-color-default-sel-45-gecko: -moz-linear-gradient(top left, #306ea1 0%, #4090d3 6%, #306ea1 50%, #266093 100%);

@default-button-color: black;
@default-button-background-color: #c6c6c6;
.default-button-background-image () { .background-image-linear-gradient-top-bottom(#dfdfdf, #a6a6a6); }
@default-button-background-image-gecko: -moz-linear-gradient(top, #dfdfdf 0%, #a6a6a6 100%);
@default-button-border-radius: 3px;

@default-button-selected-color: white;
@default-button-selected-background-color: #3578b1;
.default-button-selected-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#306ea1, #266093, 0.06, #4090d3, 0.5, #306ea1); }
@default-button-selected-background-image-gecko: -moz-linear-gradient(top, #306ea1 0%, #4090d3 6%, #306ea1 50%, #266093 100%);

@default-selected-color: white;
@default-selected-background-color: #3578b1;
.default-selected-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#306ea1, #266093, 0.06, #4090d3, 0.5, #306ea1); }
@default-selected-background-image-gecko: -moz-linear-gradient(top, #306ea1 0%, #4090d3 6%, #306ea1 50%, #266093 100%);

@heading-background-color: #8c8a8c;
.heading-background-image () { .background-image-linear-gradient-top-bottom(#9c9e9c, #848284); }
@heading-background-image-gecko: -moz-linear-gradient(top, #9c9e9c 0%, #848284 100%);
@heading-border-top-color: #cdd5df;
@heading-border-bottom-color: #2d3642;

.default-button-border-styles () {
	border-color: #9cacc0;
	border-radius: @default-button-border-radius;
}

.mblToolBarButtonBodyInLeftArrow-styles () {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mblToolBarButtonBodyInRightArrow-styles () {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// background styles of form controls
.mbl-button-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#fdfdfd, #cecece, 0.5, #f8f8f8, 0.5, #eeeeee); }
.mbl-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-blue-button-background-image () { .default-blue-button-background-image(); }
.mbl-blue-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-red-button-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#fa9d58, #ee4115, 0.5, #ff4d25, 0.5, #ed4d15); }
.mbl-red-button-selected-background-image () { .default-button-selected-background-image(); }
.mbl-button-checked-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#00a200, #00d300, 0.2, #00ba00, 0.2, #00ba00); }

// background styles of form controls (for gecko)
@mbl-button-background-image-gecko: -moz-linear-gradient(top, #fdfdfd 0%, #f8f8f8 50%, #eeeeee 50%, #cecece 100%);
@mbl-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@mbl-blue-button-background-image-gecko: @default-blue-button-background-image-gecko;
@mbl-blue-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@mbl-red-button-background-image-gecko: -moz-linear-gradient(top, #fa9d58 0%, #ff4d25 50%, #ed4d15 50%, #ee4115 100%);
@mbl-red-button-selected-background-image-gecko: @default-button-selected-background-image-gecko;
@mbl-button-checked-background-image-gecko: -moz-linear-gradient(top, #00a200 0%, #00ba00 20%, #00ba00 20%, #00d300 100%);

// common.less
.mobile-body-styles () {
	font-family: Helvetica;
	font-size: 17px;
	color: white;
}

.mblBackground-styles () {
	background-color: black;
}

.mblView-styles () {
	color: white;
}

.mblColorBlue-styles () {
	color: @default-blue-button-color;
	background-color: @default-blue-button-background-color;
	.default-blue-button-background-image();
}
.mblColorDefault-styles () {
	color: @default-button-color;
	background-color: @default-button-background-color;
	.default-button-background-image();
}
.mblColorDefaultSel-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color;
	.default-button-selected-background-image();
}

// Heading.less
.mblHeading-styles () {
	.heading-background-image();
	border-top: 1px solid @heading-border-top-color;
	border-bottom: 1px solid @heading-border-bottom-color;
	color: white;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
}

// ToolBarButton.less
@mbl-tool-bar-button-body-border-radius: 0;
//
.mblToolBarButton-styles () {
	text-shadow: none;
}
.mblToolBarButtonArrow-styles () {
	border-radius: 1px;
  .transform(scale(0.7, 1.05) rotate(45deg));
	border: 1px solid #3a4655;
}
.mblToolBarButtonArrowInHeading-styles () {
}
.mblToolBarButtonHasLeftArrowInHeading-styles () {
}
.mblToolBarButtonHasLeftArrowInHeading-compat-gecko () {
}
.mblToolBarButtonHasRightArrowInHeading-styles () {
}
.mblToolBarButtonHasRightArrowInHeading-compat-gecko () {
}
.mblToolBarButtonArrowInLeftArrow-styles () {
  left: -1px;
}
.mblToolBarButtonArrowInRightArrow-styles () {
  right: -1px;
}
.mblToolBarButtonBody-styles () {
	border: 1px solid #555555;
}
.mblToolBarButtonBodyInHeading-styles () {
}
.mblToolBarButtonBodyInHeading-compat-gecko () {
}

// RoundRect.less & RoundRectList.less
@mbl-round-rect-border-color: #adaaad;
@mbl-round-rect-border-radius: 8px;
@mbl-round-rect-background-color: black;
@mbl-round-rect-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
//
.mblRoundRect-styles () {
	color: white;
}

// EdgeToEdgeCategory.less
.mblEdgeToEdgeCategory-styles () {
	height: 22px;
	border-bottom: 1px solid #393439;
	background-color: #212021;
	color: white;
	line-height: 22px;
	text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
}

// RoundRectCategory.less
@mbl-value-picker-slot-margin: 0 5px;
.mblRoundRectCategory-styles () {
	color: white;
}

// EdgeToEdgeList.less
.mblEdgeToEdgeList-styles () {
	background-color: black;
}
.mblEdgeToEdgeList-LastListItem-styles () {
	border-bottom-color: #313431;
}

// ListItem.less
@mbl-list-item-height: 64px;
//
.mblListItem-styles () {
	border-bottom: 1px solid #313431;
	background-color: black;
	font-size: 21px;
	color: white;
}
.mblListItemSelected-styles () {
	color: @default-selected-color;
	.default-selected-background-image();
}
.mblListItemLabelSelected-styles () {
	background-color: #048bf4;
}
.mblListItemChecked-styles () {
}
.mblListItemRightText-styles () {
	color: white;
	margin-top: 20px;
}
.mblListItemSubText-styles () {
	font-size: 14px;
	color: gray;
}

// Switch.less
@mbl-switch-bg-left-background-color: #00a200;
.mbl-switch-bg-left-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#00a200, #00d300, 0.2, #00ba00, 0.2, #00ba00); }
@mbl-switch-bg-right-background-color: #bdbebd;
.mbl-switch-bg-right-background-image () { .background-image-linear-gradient-top-bottom(#bdbebd, #f7f3f7); }
.mbl-switch-knob-background-image () { .background-image-linear-gradient-top-bottom(#9c9a9c, #848284); }
//
@mbl-switch-bg-left-background-image-gecko: -moz-linear-gradient(top, #00a200 0%, #00ba00 20%, #00ba00 20%, #00d300 100%);
@mbl-switch-bg-right-background-image-gecko: -moz-linear-gradient(top, #bdbebd 0%, #f7f3f7 100%);
@mbl-switch-knob-background-image-gecko: -moz-linear-gradient(top, #9c9a9c 0%, #848284 100%);
@mbl-switch-square-border-radius: 2px;
//
.mblSwitchBg-styles () {
	border: rgba(176,176,176,0.5) 1px inset;
}
.mblSwitchKnob-styles () {
	border: rgba(157,157,157,0.5) 1px outset;
}

// Button.less
.mblButton-styles () {
	.default-button-border-styles;
	color: black;
	font-size: 13px;
}
.mblButtonSelected-styles () {
	color: white;
}
.mblButton-mblBlueButton-styles () {
	color: white;
}
.mblButton-mblRedButton-styles () {
	color: white;
}

// CheckBox.less
.mblCheckBox-styles () {
	.default-button-border-styles;
}
.mblCheckBoxChecked-after-styles () {
	border-color: white;
}
.mblCheckBoxChecked-mblCheckBoxSelected-after-styles () {
}

// ComboBox.less
@mbl-combo-box-popup-box-shadow: 0 0 50px black;
//
.dijitPopup-styles () {
	border-radius: 0;
}
.mblComboBoxMenu-styles () {
	border-radius: 0;
	background-color: white;
	color: black;
}
.mblComboBoxMenuItem-styles () {
	border-color: #ffffff;
	color: inherit;
}
.mblComboBoxMenuItemSelected-styles () {
	.default-selected-background-image();
	color: white;
}

// IconContainer.less
.mblIconItemSub-styles () {
	background-color: white;
	color: black;
}
.mblIconArea-styles () {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 74px;
	color: white;
}
.mblIconItemDeleteIcon-styles () {
	top: -4px;
	left: -2px;
}

// RadioButton.less
.mblRadioButton-styles () {
	border-color: #9cacc0;
}
.mblRadioButtonChecked-after-styles () {
	border-color: white;
}
.mblRadioButtonChecked-Selected-after-styles () {
	border-color: white;
}

// Slider.less
@mbl-slider-bar-border-radius: 2px;
@mbl-slider-knob-border-radius: 2px;
//
.mblSlider-styles () {
	border-color: #b0b0b0;
}
.mblSliderHandle-styles () {
	border-color: #9d9d9d;
}

// TabBar.less
.mblTabBar-styles () {
	text-shadow: none;
}

// barType="tabBar"
.mblTabBarTabBar-styles () {
	.background-image-linear-gradient-top-bottom(#2d2d2d, #000000);
}
.mblTabBarTabBar-compat () {
	background-color: #000000;
}
.mblTabBarTabBarButton-styles () {
}
.mblTabBarTabBarButtonIconArea-styles () {
}
.mblTabBarTabBarButtonLabel-styles () {
	color: white;
}
.mblTabBarTabBarButtonSelected-styles () {
	background-color: #404040;
	.background-image-linear-gradient-top-bottom(#484848, #242424);
}
.mblTabBarTabBarButtonLabelSelected-styles () {
	color: white;
}

// barType="segmentedControl"
@mbl-tab-bar-segmented-control-border-radius: 5px;
//
.mblTabBarSegmentedControl-styles () {
}
.mblTabBarSegmentedControlButton-styles () {
	border-style: solid;
	border-color: #555555;
	color: @default-button-color;
	.default-button-background-image();
}
.mblTabBarSegmentedControlButton-compat-gecko () {
}
.mblTabBarSegmentedControlButtonSelected-styles () {
	color: @default-button-selected-color;
	.background-image-linear-gradient-top-bottom-2-stops(#313031, #959595, 0.5, #5a555a, 0.5, #616161);
}

// barType="standardTab"
.mblTabBarStandardTab-styles () {
}
.mblTabBarStandardTabButton-styles () {
	color: @default-button-color;
	background-color: @default-button-background-color; /* TODO: to compat */
	.default-button-background-image();
}
.mblTabBarStandardTabButtonIconArea-styles () {
}
.mblTabBarStandardTabButtonLabel-styles () {
}
.mblTabBarStandardTabButtonSelected-styles () {
	color: @default-button-selected-color;
	background-color: @default-button-selected-background-color; /* TODO: to compat */
	.background-image-linear-gradient-top-bottom-2-stops(#313031, #959595, 0.5, #5a555a, 0.5, #616161);
}
.mblTabBarStandardTabButtonLabelSelected-styles () {
}

// barType="tallTab"
.mblTabBarTallTab-styles () {
	.background-image-linear-gradient-top-bottom(#2d2d2d, #000000);
}
.mblTabBarTallTabButton-styles () {
}
.mblTabBarTallTabButton-FirstChild-styles () {
}
.mblTabBarTallTabButton-LastChild-styles () {
}
.mblTabBarTallTabButtonIconArea-styles () {
}
.mblTabBarTallTabButtonLabel-styles () {
}
.mblTabBarTallTabButtonSelected-styles () {
}
.mblTabBarTallTabButtonLabelSelected-styles () {
}

// TextArea.less
.mblTextArea-styles () {
	.default-button-border-styles;
}

// TextBox.less
.mblTextBox-styles () {
	.default-button-border-styles;
}

// ToggleButton.less
.mblToggleButton-styles () {
	.default-button-border-styles;
	font-size: 13px;
	color: black;
}
.mblToggleButtonSelected-styles () {
	color: white;
}
.mblToggleButtonChecked-styles () {
	color: white;
}
.mblToggleButtonChecked-after-styles () {
	border-color: white;
}
.mblToggleButtonCheckedSelected-styles () {
	color: white;
}
.mblToggleButtonCheckedSelected-after-styles () {
}

// Overlay.less
.mblOverlay-styles () {
	background-color: #333333;
	background-image: none;
}
.mblOverlay-compat () {
}
.mblOverlay-compat-gecko () {
}

// Tooltip.less
@mbl-tooltip-border-radius: 3px;
//
.mblTooltip-styles () {
	border-color: #adaaad;
	border-radius: @mbl-tooltip-border-radius;
	background-color: #8c8a8c;
	.background-image-linear-gradient-top-bottom(#9c9e9c, #848284);
}
.mblTooltipBubble-styles () {
	background-color: #306ea1;
	background-image: none;
	color: white;
}
.mblTooltipInnerArrow-Bubble-Above-styles () {
	border-bottom-color: #306ea1;
}
.mblTooltipInnerArrow-Bubble-Below-styles () {
	border-top-color: #306ea1;
}
.mblTooltipInnerArrow-Bubble-After-styles () {
	border-left-color: #306ea1;
}
.mblTooltipInnerArrow-Bubble-Before-styles () {
	border-right-color: #306ea1;
}
.mblTooltipArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #adaaad;
}
.mblTooltipArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #adaaad;
}
.mblTooltipArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #adaaad;
}
.mblTooltipArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #adaaad;
}
.mblTooltipInnerArrow-Before-styles () {
	border-left-width: 0;
	border-right-color: #848284;
}
.mblTooltipInnerArrow-After-styles () {
	border-right-width: 0;
	border-left-color: #848284;
}
.mblTooltipInnerArrow-Above-styles () {
	border-top-width: 0;
	border-bottom-color: #9c9e9c;
}
.mblTooltipInnerArrow-Below-styles () {
	border-bottom-width: 0;
	border-top-color: #848284;
}
.mblTooltip-Heading-styles () {
	padding-bottom: 3px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	background-image: none;
}
.mblTooltip-Heading-compat () {
}
.mblTooltip-Heading-ToolbarButton-styles () {
}
.mblTooltip-Heading-ToolbarButton-compat () {
}

// Accordion.less
.mblAccordion-styles () {
	border-color: #8c8f91;
}
.mblAccordionTitle-styles () {
	border-top: 1px solid #8c8f91;
	.mbl-button-background-image();
}
.mblAccordionTitle-compat () {
	background-color: #f8f8f8;
}
.mblAccordionTitle-compat-gecko () {
	background-image: @mbl-button-background-image-gecko;
}
.mblAccordionTitleSelected-styles () {
	border-bottom: 1px solid #8c8f91;
	.mbl-button-checked-background-image();
	color: white;
}
.mblAccordionTitleSelected-compat () {
	background-color: #00ba00;
}
.mblAccordionTitleSelected-compat-gecko () {
	background-image: @mbl-button-checked-background-image-gecko;
}
.mblAccordionTitleAnchor-styles () {
	color: black;
}
.mblAccordionTitleAnchorSelected-styles () {
	color: white;
}

// SimpleDialog.less
@mbl-simple-dialog-border-radius: 6px;
//
.mblSimpleDialog-styles () {
	padding: 5px;
	width: 262px;
}
.mblSimpleDialogDecoration-styles () {
	background-color: rgba(64,64,64,0.85);
	border: 2px solid #eeeeee;
	color: white;
}
.mblSimpleDialogDecoration-compat () {
	background-color: #404040;
}
.mblSimpleDialogDecoration-compat-gecko () {
	background-color: rgba(64,64,64,0.85);
}
.mblSimpleDialogTitle-styles () {
	margin: 14px 0 7px -5px;
	padding: 0 14px 14px;
	width: 244px;
	border-bottom: 1px solid rgba(96,96,96,0.85);
	font-size: 21px;
	text-align: left;
}
.mblSimpleDialogText-styles () {
	margin: 14px 9px;
	width: 244px;
	font-size: 18px;
	text-align: left;
}

// IconMenu.less
@mbl-icon-menu-border-radius: 6px;
@mbl-icon-menu-item-border-radius: 6px;
//
.mblIconMenu-styles () {
	padding: 0;
	background-color: rgba(64, 64, 64, 0.85);
	border: 2px solid #eeeeee;
}
.mblIconMenu-compat () {
	background-color: #404040;
}
.mblIconMenu-compat-gecko () {
	background-color: rgba(64, 64, 64, 0.85);
}
.mblIconMenuItem-styles () {
	border-left: 1px solid rgba(96, 96, 96, 0.85);
	border-bottom: 1px solid rgba(96, 96, 96, 0.85);
}
.mblIconMenuItemAnchor-styles () {
	font-size: 13px;
	color: white;
}
.mblIconMenuItemSel-styles () {
	.default-selected-background-image();
	color: white;
}
.mblIconMenuItemSel-compat () {
	background-color: @default-selected-background-color;
}
.mblIconMenuItemSel-compat-gecko () {
	background-image: @default-selected-background-image-gecko;
}

// dijit.Calendar
.dijitCalendar-styles () {
	border: none 0 transparent;
	background-color: white;
}
.dijitCalendar-thead-styles () {
	.background-image-linear-gradient-top-bottom-2-stops(#84868c, #000000, 0.5, #52555a, 0.5, #292929);
}
.dijitCalendar-thead-compat () {
	background-image: url(compat/calendar-month-bg.png);
}
.dijitCalendar-thead-compat-gecko () {
	background-image: -moz-linear-gradient(top, #84868c 0%, #52555a 50%, #292929 50%, #000000 100%);
}
.dijitCalendarMonthLabel-styles () {
	color: white;
	font-size: 16px;
}
.dijitCalendarMonthMenu-styles () {
}
.dijitCalendarMonthMenu-compat-ff3 () {
}
.dijitCalendarMonthMenu-Label-styles () {
	color: black;
}
.dijitCalendarDecrease-styles () {
	border-right: 6px solid white !important;
}
.dijitCalendarIncrease-styles () {
	border-left: 6px solid white !important;
}
.dijitCalendarDayLabelTemplate-styles () {
	background-color: #292c31;
	font-size: 12px;
	color: white;
}
.dijitCalendarDateTemplate-styles () {
	border-right: 1px solid lightGrey;
	background-color: white;
	color: black;
}
.dijitCalendarDateTemplate-LastChild-styles () {
	border-right: none;
}
.dijitCalendarDateLabel-DateTemplate-styles () {
	border: none;
}
.dijitCalendarDateLabel-PrevMonth-styles () {
	color: lightGrey;
}
.dijitCalendarDateLabel-Hovered-styles () {
	color: grey;
}
.dijitCalendarDateLabel-Selected-styles () {
	.mbl-button-checked-background-image();
	color: white;
	text-shadow: rgba(0,0,0,0.4) 0 1px 0;
}
.dijitCalendarDateLabel-Selected-compat () {
	background-image: url(compat/calendar-datelabel-sel-bg.png);
}
.dijitCalendarDateLabel-Selected-compat-gecko () {
	background-image: @mbl-button-checked-background-image-gecko;
}
.dijitCalendarDateLabel-Active-styles () {
	.default-selected-background-image();
}
.dijitCalendarDateLabel-Active-compat () {
	background-image: url(compat/calendar-datelabel-act-bg.png);
}
.dijitCalendarDateLabel-Active-compat-gecko () {
	background-image: @default-selected-background-image-gecko;
}
.dijitCalendarYearLabel-styles () {
	padding: 0;
	.background-image-linear-gradient-top-bottom-2-stops(#84868c, #000000, 0.5, #52555a, 0.5, #292929);
}
.dijitCalendarYearLabel-compat () {
	background-image: url(compat/calendar-year-bg.png);
}
.dijitCalendarYearLabel-compat-gecko () {
	background-image: -moz-linear-gradient(top, #84868c 0%, #52555a 50%, #292929 50%, #000000 100%);
}
.dijitCalendarSelectedYear-styles () {
	color: white;
	font-size: 16px;
}
.dijitCalendarNextYear-styles () {
	padding: 1px 6px 3px 6px;
	color: white;
	font-size: 12px;
}

// SearchBox.less
@mbl-searchbox-cancel-button-color: black;
@mbl-searchbox-cancel-button-bg-color: transparent;
.mblSearchBox-Cancel-Button-styles () {
	border-radius: 0;
}
@mbl-searchbox-results-decoration-color: black;

// ProgressBar.less
.mblProgressBar-styles () {
	border-radius: 6px;
	height: 22px;
	.background-image-linear-gradient-top-bottom-2-stops(#545454, #414141, 0.3, #313031, 0.85, #293031);
}
.mblProgressBarProgress-styles () {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	.background-image-linear-gradient-top-bottom-2-stops(#adf708, #5a8e00, 0.5, #7bbe08, 0.9, #63a600);
	height: 22px;
}
.mblProgressBarComplete-styles () {
	border-radius: 6px;
}
.mblProgressBarNotStarted-styles () {
}
.mblProgressBarMsg-styles () {
	top: 3px;
}
.mblProgressBar-compat () {
	background-color: #293031;
}
.mblProgressBarProgress-compat () {
	background-color: #7bc708;
}
.mblProgressBar-compat-gecko () {
	background-image: -moz-linear-gradient(top, #545454 0%, #313031 30%, #293031 85%, #414141 100%);
}
.mblProgressBarProgress-compat-gecko () {
	background-image: -moz-linear-gradient(top, #adf708 0%, #7bbe08 50%, #63a600 90%, #5a8e00 100%);
}

// ValuePicker.less
.mbl-value-picker-slot-button-background-image () { .background-image-linear-gradient-top-bottom-2-stops(#f7f7f7, #D6D7D6, 0.5, #d6d3d6, 0.9, #bdbebd); }
@mbl-value-picker-slot-button-background-image-gecko: -moz-linear-gradient(top, #f7f7f7 0%, #d6d3d6 50%, #bdbebd 90%, #d6d7d6 100%);
@mbl-value-picker-slot-button-radius: 5px;
.mbl-value-picker-slot-input-area-background-image () { .background-image-linear-gradient-top-bottom-3-stops(#adaead, #e7e3e7, 0.1, #d6d7d6, 0.5, #f7f7f7, 0.9, #f7f3f7); }
@mbl-value-picker-slot-input-area-background-image-gecko: -moz-linear-gradient(top, #adaead 0%, #d6d7d6 10%, #f7f7f7 50%, #f7f3f7 90%, #e7e3e7 100%);
.mblValuePickerSlot-style () {
  margin:  0 5px;
}
.mblValuePickerSlot-input-style () {
  font-size: 28px;  
}
