<div role="presentation" class="${baseClass}" data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="_chartNode" class="${baseClass}ChartNode"></div>
    <div data-dojo-attach-point="_sourceNode" class="${baseClass}SourceLabel ${baseClass}Label"></div>
	<div data-dojo-attach-point="_directionButton" class="${baseClass}DirectionButton">
		<span data-dojo-attach-point="_directionButtonLabel" class="${baseClass}DirectionForward"></span>
	</div>    
	<div data-dojo-attach-point="_elevationInfo" class="${baseClass}InfoNode">
		<span data-dojo-attach-point="_elevationInfoText" class="${baseClass}InfoText">Text</span>
	</div>
</div>