<div class="${theme}" role="presentation">
    <div class="${_css.GeocoderContainerClass}" role="presentation">
    	<div class="${_css.GeocoderClass}" data-dojo-attach-point="containerNode" role="presentation">
    		<div title="${_i18n.widgets.Geocoder.main.searchButtonTitle}" tabindex="0" class="${_css.searchButtonClass} ${_css.GeocoderIconClass}" data-dojo-attach-point="submitNode" role="button"></div>
    		<div aria-haspopup="true" id="${id}_menu_button" title="${_i18n.widgets.Geocoder.main.geocoderMenuButtonTitle}" tabindex="0" class="${_css.geocoderMenuArrowClass} ${_css.GeocoderIconClass}" data-dojo-attach-point="geocoderMenuArrowNode" role="button" aria-expanded="false"></div>
    		<input aria-haspopup="true" id="${id}_input" tabindex="0" placeholder="" value="${value}" autocomplete="off" type="text" data-dojo-attach-point="inputNode" role="textbox">
    		<div tabindex="0" class="${_css.clearButtonClass} ${_css.GeocoderIconClass}" data-dojo-attach-point="clearNode" role="button"></div>
    		<div class="${_css.GeocoderClearClass}" role="presentation"></div>
    	</div>
    	<div class="${_css.resultsContainerClass}" data-dojo-attach-point="resultsNode" aria-labelledby="${id}_input" role="menu" aria-hidden="true"></div>
    	<div class="${_css.geocoderMenuClass}" data-dojo-attach-point="geocoderMenuNode" role="presentation">
    		<div class="${_css.geocoderMenuHeaderClass}">
    			${_i18n.widgets.Geocoder.main.geocoderMenuHeader}
    			<div role="button" data-dojo-attach-point="geocoderMenuCloseNode" title="${_i18n.widgets.Geocoder.main.geocoderMenuCloseTitle}" tabindex="0" class="${_css.geocoderMenuCloseClass}"></div>
    			<div class="${_css.GeocoderClearClass}" role="presentation"></div>
    		</div>
    		<div data-dojo-attach-point="geocoderMenuInsertNode" aria-labelledby="${id}_menu_button" role="menu" aria-hidden="true"></div>
    	</div>
    </div>
</div>