<div id="${id}.infowindow" class="infowindow" dojoAttachPoint="_infowindow"
  ><div style="position:relative;"
    ><div class="window" dojoAttachPoint="_window"
      ><div class="top"
        ><div class="left" dojoAttachPoint="_topleft"><div class="sprite"></div></div
    		><div class="right" dojoAttachPoint="_topright"
    			><div class="sprite"></div
    			><div class="user" dojoAttachPoint="_user"
    			  ><div class="titlebar" dojoAttachPoint="_titlebar"
    			    ><a class="hide" dojoAttachPoint="_hide" dojoAttachEvent="onclick:hide"><div class="sprite"></div></a
              ><div class="title" dojoAttachPoint="_title">${title}</div
    			  ></div
            ><div class="border" dojoAttachPoint="_border"></div
    			  ><div class="layout content" dojoAttachPoint="_content, containerNode"
    			  ></div
    			></div
    		></div
        ><div class="bottom"
          ><div class="left" dojoAttachPoint="_bottomleft"><div class="sprite"></div></div
		      ><div class="right" dojoAttachPoint="_bottomright"><div class="sprite"></div></div
        ></div
      ></div
    ></div
    ><div class="pointer" dojoAttachPoint="_pointer"><div dojoAttachPoint="_sprite" class="sprite"></div></div
  ></div
></div>