<div data-dojo-attach-point="_mosaicRuleContainer" class="mosaicRuleContainer">
  <table class="mosaicRuleTable">
    <col class="mosaicRuleColumn1" />
    <col class="mosaicRuleColumn2" />
    <tr>
      <td colspan="2">
        <label data-dojo-attach-point="_mosaicRuleLabel">${_i18n.widgets.mosaicRule.mosaicMethodLabel}</label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <select data-dojo-attach-point="_mosaicRule" id="MosaicMethod" class="mosaicRuleSelectbox">
          <option>&lt;MosaicDefault&gt;</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="mosaicParams">
      <div class="mosaicParams">
        <table class="mosaicParamsTable" cellpadding="0" cellspacing="0" border="0">
          <tr data-dojo-attach-point="_orderFieldBlock">
            <td>
              <label>${_i18n.widgets.mosaicRule.orderFieldLabel}</label>
            </td>
            <td>
              <select data-dojo-attach-point="_orderField" class="mosaicRuleAttributeSelectbox">
                <option>&lt;MosaicDefault&gt;</option>
              </select>
            </td>
          </tr>
          <tr data-dojo-attach-point="_orderValueTextBlock">
            <td>
              <label>${_i18n.widgets.mosaicRule.orderValueLabel}</label>
            </td>
            <td>
              <input type="text" value="0" data-dojo-attach-point="_orderValueText" class="mosaicRuleOrderValueTextbox" />
              <input type="text" data-dojo-attach-point="_orderValueDate" data-dojo-type="dijit/form/DateTextBox" class="mosaicRuleOrderValueDate" />
            </td>
          </tr>
          <tr data-dojo-attach-point="_lockRasterBlock">
            <td>
              <label>${_i18n.widgets.mosaicRule.lockRasterIdLabel}</label>
            </td>
            <td>
              <input type="text" data-dojo-attach-point="_lockRaster" class="mosaicRuleLockRasterTextbox" />
              <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="_lockRasterIdSelect"
                iconclass="mosaicRuleThreedotsIcon" class="mosaicRuleDropdownIcon" showlabel='false'>
                <div data-dojo-type="dijit/TooltipDialog" data-dojo-attach-point="_lockRasterTooltip">
                  <div data-dojo-type="dijit/layout/ContentPane" class="mosaicRuleLayerlistTooltip">
                    <div data-dojo-attach-point="_layerList">
                    </div>
                  </div>
                  <center>
                    <input data-dojo-attach-point="_aoi" type="button" value="${_i18n.widgets.mosaicRule.refreshLockRasterIdsLabel}"></input></center>
                  </br>
                  <label data-dojo-attach-point="_lockRasterMsg" />
                </div>
              </div>
            </td>
          </tr>
          <tr data-dojo-attach-point="_descendingBlock">
            <td colspan="2">
              <input type="checkbox" data-dojo-attach-point="_descending" name="descending"/>
              <label class="mosaicRuleDescendingLabel" for="descending">${_i18n.widgets.mosaicRule.descendingLabel}</label>
            </td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td colspan="3">
        <p/>
      </td>
    </tr>
    <tr data-dojo-attach-point="_mosaicOperatorLabelBlock">
      <td colspan="2">
        <label>${_i18n.widgets.mosaicRule.mosaicOperatorLabel}</label>
      </td>
    </tr>
    <tr data-dojo-attach-point="_mosaicOperatorBlock">
      <td colspan="2">
        <select data-dojo-attach-point="_mosaicOperator" class="mosaicRuleSelectbox">
          <option>&lt;MosaicDefault&gt;</option>
          <option>First</option>
          <option>Blend</option>
          <option>Last</option>
          <option>Min</option>
          <option>Max</option>
          <option>Mean</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label data-dojo-attach-point="_whereLabel" for="where">
          ${_i18n.widgets.mosaicRule.queryLabel}</label>
      </td>
      <td>
        <input type="text" value="<where>" class="mosaicRuleQueryTextbox" data-dojo-attach-point="_where" />
        <div data-dojo-type="dijit/form/DropDownButton" iconclass="mosaicRuleQueryIcon" showlabel='false'
          data-dojo-attach-point="_queryBlock">
          <span>Query</span>
          <div data-dojo-type="dijit/TooltipDialog" data-dojo-attach-point="_queryTooltip">
            <table class="mosaicRuleQueryTable">
              <tr>
                <td>
                  <label>${_i18n.widgets.mosaicRule.queryFieldLabel}</label>
                </td>
                <td>
                  <select data-dojo-attach-point="_queryOrderField" class="mosaicRuleSelectbox">
                    <option>&lt;None&gt;</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label>${_i18n.widgets.mosaicRule.queryOperatorLabel}</label>
                </td>
                <td>
                  <select data-dojo-attach-point="_queryOperator" class="mosaicRuleSelectbox">
                    <option>&lt;None&gt;</option>
                    <option>=</option>
                    <option>&lt;&gt;</option>
                    <option>&gt;</option>
                    <option>&gt;=</option>
                    <option>&lt;</option>
                    <option>&lt;=</option>
                    <option>LIKE</option>
                    <option>AND</option>
                    <option>OR</option>
                    <option>NOT</option>
                    <option>IS</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label>${_i18n.widgets.mosaicRule.queryValueLabel}</label>
                </td>
                <td>
                  <input type="text" data-dojo-attach-point="_queryValue" class="mosaicRuleTextbox" />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <input type="button" data-dojo-attach-point="_apply" value="APPLY" size="15" class="mosaicRuleApplyButton" />
      </td>
    </tr>
  </table>
</div>
