<div class="esriMdSliderHorizontal">
  <table class="esriMdSliderTableHorizontal">
    <colgroup>
      <col class="esriMdSliderHorizontalCol1">
      <col>
    </colgroup>
    <tr>
      <td class="esriMdSliderDimensionInfoCellHorizontal" colspan="2">
        <div data-dojo-attach-point="dimensionInfo"></div>
      </td>
    </tr>
    <tr>
      <td align="right" valign="middle"><button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass: 'mdsButton mdsPlayButton'" data-dojo-attach-event="onClick:_onPlay" 
                                               data-dojo-attach-point="playPauseBtn" type="button" title="${_i18n.widgets.mdSlider.NLS_play}"></button></td>
      <td class="esriMdSliderCellHorizontal" data-dojo-attach-point="mdSliderCell">
      </td>
    </tr>
  </table>
</div>
