<table class="esriMultidimensionalFilterItemTable">
  <tbody>
  <col class="esriMultidimensionalFilterCol1"/>
  <col class="esriMultidimensionalFilterCol2"/>
  <col class="esriMultidimensionalFilterCol3"/>
  <tr>
    <td colspan="2">
      <input data-dojo-attach-point="dimensionCheckbox" name="dimensionCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:_onDimensionCheckboxChange" checked/> <label for="${dimension}" class="esriMultidimensionalFilterDimensionText" data-dojo-attach-point="dimensionAlias">${dimensionAlias}</label> 
      <span data-dojo-attach-point="dimensionUnit"></span>
      <div class="esriMultidimensionalFilterInfoDiv" id="${dimension}${id}Info">
        <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'${dimension}${id}Info',position:['after']">
          <div class="esriMultidimensionalFilterInfoTooltip">
            <b>${dimensionAlias}</b> 
            <span data-dojo-attach-point="tooltipUnit"></span>
            <br/>   <span class="esriMultidimensionalFilterTooltipLeftText">${_i18n.widgets.multidimensionalFilter.tooltipNumberFromValueText}</span> <span data-dojo-attach-point="tooltipFromValue"></span>
            <br/>   <span class="esriMultidimensionalFilterTooltipLeftText">${_i18n.widgets.multidimensionalFilter.tooltipNumberToValueText}</span> <span data-dojo-attach-point="tooltipToValue"></span>
            <br/>   <span class="esriMultidimensionalFilterTooltipLeftText">${_i18n.widgets.multidimensionalFilter.tooltipCountText}</span> <span data-dojo-attach-point="tooltipValueCount"></span>
            <span data-dojo-attach-point="disabledDimText" class="esriMultidimensionalFilterTooltipDisabledDimensionText"></span>
          </div>
        </div>
      </div>
    </td>
    <td><span data-dojo-attach-point="rangeSpan"><input data-dojo-attach-point="rangeCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:_onRangeCheckboxChange"/> <label for="${dimension}RangeCheckbox" class="rangeText">${_i18n.widgets.multidimensionalFilter.rangeText}</label>
        <div class="esriMultidimensionalFilterRangeInfoDiv" id="${dimension}${id}hasRangesInfo" data-dojo-attach-point="hasRangesInfo">
          <div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId:'${dimension}${id}hasRangesInfo',position:['after']">
            <div class="esriMultidimensionalFilterInfoTooltip">
              ${_i18n.widgets.multidimensionalFilter.hasRangesInfoText1}<br/>
              ${_i18n.widgets.multidimensionalFilter.hasRangesInfoText2}
            </div>
          </div>
        </div>
      </span>
    </td>
  </tr>
  <tr data-dojo-attach-point="minRow">
    <td><span data-dojo-attach-point="minValueText">${_i18n.widgets.multidimensionalFilter.sliceNumberText}</span></td>
    <td colspan="2">
      <span data-dojo-attach-point="minNumberSelector"></span>
    </td>
  </tr>
  <tr data-dojo-attach-point="maxRow" class="esriDomHide">
    <td>${toText}</td>
    <td colspan="2">
      <span data-dojo-attach-point="maxNumberSelector"></span>
    </td>
  </tr>
</tbody>
</table>