<div class="esriOverviewMap">
  <div class="ovwContainer" dojoattachpoint="_body" style="width: ${width}px; height: ${height}px;">
    <div id="${id}-map" style="width: 100%; height: 100%;">
      <div class="ovwHighlight" dojoattachpoint="_focusDiv" title="${NLS_drag}" style="border: 1px solid ${color}; background-color: ${color};"></div>
    </div>
  </div>
  <div class="ovwButton ovwController" title="${NLS_show}" dojoattachpoint="_controllerDiv" dojoattachevent="onclick: _visibilityHandler">
  </div>
  <div class="ovwButton ovwMaximizer" title="${NLS_maximize}" dojoattachpoint="_maximizerDiv" dojoattachevent="onclick: _maximizeHandler">
  </div>
</div>
