<div class="esriSingleFilterForm singleFilter" id="${id}.singleFilter">
  <div>
    <table id="${id}.exprTable" class="rowTable" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td valign="top" nowrap>
            <div id="${id}.column1">
            </div>
          </td>
          <td valign="top" nowrap>
            <div id="${id}.column2">
            </div>
          </td>
          <td valign="top" nowrap>
            <div id="${id}.column3">
            </div>
          </td>
          <td valign="top" nowrap>
            <div id="${id}.column4">
            </div>
          </td>
          <td valign="top" nowrap>
            <div id="${id}.column5">
            </div>
          </td>
          <td valign="top" nowrap>
            <div id="${id}.column6">
            </div>
          </td>
          <td valign="top" nowrap>
            <div id="${id}.column7">
            </div>
          </td>
          <td valign="top" nowrap>
            <a id="${id}.deleteExpression" href="JavaScript:void(0);" style="margin:0 5px;display:none;" class="esriAGOFilterRemoveIcon" title="${i18n.deleteExpression}"></a>
          </td>
        </tr>
        <tr data-dojo-attach-point="_interactiveFilterRow">
          <td colspan="8">
            <table cellpadding="0" cellspacing="0" class="interactiveFilter">
              <tbody>
                <tr>
                  <td nowrap="nowrap">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td nowrap="nowrap">
                            <input dojoAttachPoint="interactiveCheck" type="checkbox" class="promptCheckBox" title="${i18n.promptMsg}"/>
                          </td>
                          <td nowrap="nowrap">
                            <label class="labels" for="promptCheckBox">
                              &nbsp;&nbsp;${i18n.askForValues}
                            </label>
                          </td>
                          <td>
                            <span dojoAttachPoint="interactiveArrow" style="color:#cbcbcb;cursor:pointer;" class="showHidePromptDiv">&nbsp;&#9660;</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr dojoAttachPoint="interactiveSpace" style="display:none">
                  <td nowrap="nowrap">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td nowrap="nowrap">
                            ${i18n.prompt}
                          </td>
                          <td width="10">
                            &nbsp;
                          </td>
                          <td>
                            <div dojoAttachPoint="promptText" dojotype="dijit.form.TextBox" intermediateChanges="true" style="width:250px;">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td nowrap="nowrap">
                            ${i18n.hint}
                          </td>
                          <td width="10">
                            &nbsp;
                          </td>
                          <td>
                            <div dojoAttachPoint="hintText" dojotype="dijit.form.TextBox" intermediateChanges="true" style="width:250px;">
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="promptDiv" style="display:none;padding:10px 0px;">
    <label class="labels promptLabels" for="txtPrompt">
      ${i18n.prompt}
    </label>
    <input class="promptFields txtPrompt" type="text"/>
    <br/>
    <label class="labels promptLabels" for="txtHint">
      ${i18n.hint}
    </label>
    <input class="promptFields txtHint" type="text" />
  </div>
</div>