   <div class="esriTimeSlider">
   <table width="100%" cellspacing="0" cellpadding="0" border="0">
   <tr>
   <td align="right" valign="middle"><button dojoType="dijit.form.Button" showLabel="false" iconClass="tsButton tsPlayButton" dojoAttachEvent="onClick:_onPlay" dojoAttachPoint="playPauseBtn" type="button">${NLS_play}</button></td>
   <td align="center" valign="middle" width="80%" class="tsTmp"></td>
   <td align="left" valign="middle" width="30"><button dojoType="dijit.form.Button" showLabel="false" iconClass="tsButton tsPrevButton" dojoAttachEvent="onClick:_onPrev" dojoAttachPoint="previousBtn" type="button">${NLS_previous}</button></td>
   <td align="left" valign="middle"><button dojoType="dijit.form.Button" showLabel="false" iconClass="tsButton tsNextButton" dojoAttachEvent="onClick:_onNext" dojoAttachPoint="nextBtn" type="button">${NLS_next}</button></td>
   </tr>    
   </table>
   </div>