<div class="Breadcrumb BreadcrumbHeight">
    <div data-dojo-attach-point="connect" class="Breadcrumb_Line" style="display: none;"></div>
    <div data-dojo-attach-point="animatedConnect" class="Breadcrumb_Line Breadcrumb_AnimatedConnect" style="display: none;"></div>
    <div class="Breadcrumb_AllCategories DataCategoryImage_AllCategories" data-dojo-attach-event="click: _onCategoriesClick">&nbsp;</div>
    <div data-dojo-attach-point="dcIcon" data-dojo-attach-event="click: _onDCsClick" style="display: none;"></div>
    <div data-dojo-attach-point="varsNode" class="Breadcrumb_Variables DataCollectionButton TrimWithEllipses" style="display: none;">
        <span data-dojo-attach-point="varsLabel"></span>
    </div>
</div>