<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="row: 0">
    <div class="BreadcrumbHeight"></div>
    <div class="DataBrowserVarHeader DataVariablesPage_VarCount" data-dojo-attach-point="varCountNode"></div>
</div>
<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="row: 1">
    <div data-dojo-attach-point="divTree" class="DataVariablesPage_Container DataVariablesPage_Variables"></div>
    <div data-dojo-attach-point="progressDiv"></div>
</div>
<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="row: 2"></div>
