<div>
    <div class="VariableInfo_Header" data-dojo-attach-point="descriptionHeader">${nls.name}</div>
    <div class="VariableInfo_Value" data-dojo-attach-point="descriptionValue"></div>
    <div data-dojo-attach-point="fullNameGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="fullNameHeader">${nls.variable}</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="fullNameValue"></div>
    </div>
    <div data-dojo-attach-point="percentBaseGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="percentBaseHeader">Percent Base</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="percentBaseValue"></div>
    </div>
    <div data-dojo-attach-point="averageBaseGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="averageBaseHeader">Average Base</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="averageBaseValue"></div>
    </div>
    <div data-dojo-attach-point="sourceGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="sourceHeader">${nls.source}</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="sourceValue"></div>
    </div>
    <div data-dojo-attach-point="vintageGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="vintageHeader">${nls.vintage}</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="vintageValue"></div>
    </div>
    <div data-dojo-attach-point="definitionGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="definitionHeader">Definition</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="definitionValue"></div>
    </div>
    <div data-dojo-attach-point="indexBaseGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="indexBaseHeader">Index Base</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="indexBaseValue"></div>
    </div>
    <div data-dojo-attach-point="filteringTagsGroup">
        <div class="VariableInfo_Spacer">&nbsp;</div>
        <div class="VariableInfo_Header" data-dojo-attach-point="filteringTagsHeader">Filters</div>
        <div class="VariableInfo_Value" data-dojo-attach-point="filteringTagsValue"></div>
    </div>
</div>