<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.ExtDataSetTaskMapper">

    <resultMap id="BaseResult" type="io.dataease.dto.dataset.DataSetTaskLogDTO"
               extends="io.dataease.plugins.common.base.mapper.DatasetTableTaskLogMapper.BaseResultMap">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="dataset_name" jdbcType="VARCHAR" property="datasetName"/>
    </resultMap>

    <resultMap id="TaskResult" type="io.dataease.dto.dataset.DataSetTaskDTO"
               extends="io.dataease.plugins.common.base.mapper.DatasetTableTaskMapper.BaseResultMap">
        <result column="table_name" jdbcType="VARCHAR" property="datasetName"/>
        <result column="privileges" jdbcType="VARCHAR" property="privileges"/>
        <result column="NEXT_FIRE_TIME" jdbcType="BIGINT" property="nextExecTime"/>
    </resultMap>

    <select id="listTaskLog" resultMap="BaseResult"
            parameterType="io.dataease.plugins.common.base.domain.DatasetTableTaskLog">
        SELECT dataset_table_task_log.*, dataset_table_task.name, dataset_table.name as dataset_name
        FROM dataset_table_task_log
        LEFT JOIN dataset_table_task ON dataset_table_task_log.task_id = dataset_table_task.id
        LEFT JOIN dataset_table ON dataset_table_task_log.table_id = dataset_table.id

        where 1=1
        <if test="id != null">
            and dataset_table_task.id = #{id}
        </if>
        <if test="lastExecStatus != null and lastExecStatus.size() > 0">
            and dataset_table_task_log.status in
            <foreach collection="lastExecStatus" open="(" close=")" separator="," item="status">
                #{status}
            </foreach>
        </if>
        <if test="tableId != null and tableId.size() > 0">
            and dataset_table.id in
            <foreach collection="tableId" open="(" close=")" separator="," item="tid">
                #{tid}
            </foreach>
        </if>
        <if test="lastExecTime != null and lastExecTime.length > 1">
        and (dataset_table_task.last_exec_time between #{lastExecTime.[0]} and #{lastExecTime.[1]})
        </if>

        <if test="keyword != null">
            and dataset_table_task.name like concat('%', #{keyword}, '%')
        </if>

        ORDER BY dataset_table_task_log.create_time desc
    </select>

    <select id="listUserTaskLog" resultMap="BaseResult"
            parameterType="io.dataease.plugins.common.base.domain.DatasetTableTaskLog">
        SELECT dataset_table_task_log.*, dataset_table_task.name, dataset_table.name as dataset_name
        FROM dataset_table_task_log
        LEFT JOIN dataset_table_task ON dataset_table_task_log.task_id = dataset_table_task.id
        LEFT JOIN dataset_table ON dataset_table_task_log.table_id = dataset_table.id
        where 1=1
        <if test="id != null">
            and dataset_table_task.id = #{id}
        </if>
        <if test="lastExecStatus != null and lastExecStatus.size() > 0">
            and dataset_table_task_log.status in
            <foreach collection="lastExecStatus" open="(" close=")" separator="," item="status">
                #{status}
            </foreach>
        </if>
        <if test="tableId != null and tableId.size() > 0">
            and dataset_table.id in
            <foreach collection="tableId" open="(" close=")" separator="," item="tid">
                #{tid}
            </foreach>
        </if>
        <if test="lastExecTime != null and lastExecTime.length > 1">
            and (dataset_table_task.last_exec_time between #{lastExecTime.[0]} and #{lastExecTime.[1]})
        </if>

        <if test="keyword != null">
            and dataset_table_task.name like concat('%', #{keyword}, '%')
        </if>

        ORDER BY dataset_table_task_log.create_time desc
    </select>

    <select id="taskList" resultMap="TaskResult" parameterType="io.dataease.controller.dataset.request.DatasetTaskGridRequest">
        SELECT dataset_table.name as table_name, 'grant,manage,use' as `privileges`,dataset_table_task.* ,
        qrtz_triggers.NEXT_FIRE_TIME
        FROM dataset_table_task
        left join dataset_table on dataset_table.id=dataset_table_task.table_id
        left join qrtz_triggers on dataset_table_task.id=qrtz_triggers.TRIGGER_NAME and qrtz_triggers.TRIGGER_STATE != 'PAUSED'
        where 1=1
        <if test="rate != null and rate.size() > 0">
            and dataset_table_task.rate in
            <foreach collection="rate" open="(" close=")" item="rateItem" separator=",">
                #{rateItem}
            </foreach>
        </if>
        <if test="status != null and status.size() > 0">
            and dataset_table_task.status in
            <foreach collection="status" open="(" close=")" item="statusItem" separator=",">
                #{statusItem}
            </foreach>
        </if>
        <if test="lastExecStatus != null and lastExecStatus.size() > 0" >
            and dataset_table_task.last_exec_status in
            <foreach collection="lastExecStatus" open="(" close=")" item="lastExecStatusItem" separator=",">
                #{lastExecStatusItem}
            </foreach>
        </if>
        <if test="tableId != null and tableId.size() > 0">
            and dataset_table.id in
            <foreach collection="tableId" open="(" close=")" separator="," item="tid">
                #{tid}
            </foreach>
        </if>
        <if test="id != null">
            and dataset_table_task.id = #{id}
        </if>
        <if test="lastExecTime != null and lastExecTime.length > 1">
            and (dataset_table_task.last_exec_time between #{lastExecTime.[0]} and #{lastExecTime.[1]})
        </if>
        <if test="keyword != null">
            and dataset_table_task.name like concat('%', #{keyword}, '%')
        </if>
        <choose>
            <when test="orders!=null and orders.size > 0">
                order by
                <foreach collection="orders" item="item" open='' separator=',' close=''>
                    ${item}
                </foreach>
            </when>
            <otherwise>
                order by dataset_table_task.create_time desc
            </otherwise>
        </choose>

    </select>

    <select id="datasetPrivileges" resultType="String" parameterType="io.dataease.controller.dataset.request.DatasetTaskGridRequest">
        SELECT get_auths(#{datasetId}, 'dataset', #{userId})
    </select>

    <select id="userTaskList" resultMap="TaskResult" parameterType="io.dataease.controller.dataset.request.DatasetTaskGridRequest">
        SELECT dataset_table.name as table_name,dataset_table_task.* , qrtz_triggers.NEXT_FIRE_TIME
        FROM dataset_table_task
        left join dataset_table on dataset_table.id=dataset_table_task.table_id
        left join qrtz_triggers on dataset_table_task.id=qrtz_triggers.TRIGGER_NAME and qrtz_triggers.TRIGGER_STATE != 'PAUSED'
        where 1=1
        <if test="rate != null and rate.size() > 0">
            and dataset_table_task.rate in
            <foreach collection="rate" open="(" close=")" item="rateItem" separator=",">
                #{rateItem}
            </foreach>
        </if>
        <if test="status != null and status.size() > 0">
            and dataset_table_task.status in
            <foreach collection="status" open="(" close=")" item="statusItem" separator=",">
                #{statusItem}
            </foreach>
        </if>
        <if test="lastExecStatus != null and lastExecStatus.size() > 0">
            and dataset_table_task.last_exec_status in
            <foreach collection="lastExecStatus" open="(" close=")" item="lastExecStatusItem" separator=",">
                #{lastExecStatusItem}
            </foreach>
        </if>
        <if test="id != null">
            and dataset_table_task.id = #{id}
        </if>
        <if test="tableId != null and tableId.size() > 0">
            and dataset_table.id in
            <foreach collection="tableId" open="(" close=")" separator="," item="tid">
                #{tid}
            </foreach>
        </if>
        <if test="lastExecTime != null and lastExecTime.length > 1">
            and (dataset_table_task.last_exec_time between #{lastExecTime.[0]} and #{lastExecTime.[1]})
        </if>
        <if test="keyword != null">
            and dataset_table_task.name like concat('%', #{keyword}, '%')
        </if>
        <choose>
            <when test="orders!=null and orders.size > 0">
                order by
                <foreach collection="orders" item="item" open='' separator=',' close=''>
                    ${item}
                </foreach>
            </when>
            <otherwise>
                order by dataset_table_task.create_time desc
            </otherwise>
        </choose>
    </select>



    <select id="taskWithTriggers" resultMap="TaskResult" parameterType="io.dataease.controller.dataset.request.DatasetTaskGridRequest">
        SELECT dataset_table.name as table_name, get_auths(dataset_table_task.table_id,'dataset', #{userId}) as
        `privileges`,dataset_table_task.* , qrtz_triggers.NEXT_FIRE_TIME
        FROM dataset_table_task
        left join dataset_table on dataset_table.id=dataset_table_task.table_id
        left join qrtz_triggers on dataset_table_task.id=qrtz_triggers.TRIGGER_NAME
        <if test="id != null">
            and dataset_table_task.id = #{id}
        </if>
        order by dataset_table_task.create_time desc
    </select>

    <select id="findByPanelId" resultMap="TaskResult">
        select dataset_table_task.*
        from dataset_table_task
        where id in (SELECT table_id
                     FROM chart_view
                     WHERE id IN (SELECT chart_view_id
                                  FROM panel_view
                                  WHERE panel_id = #{panelId}))
    </select>

    <select id="findByTableIds" resultMap="TaskResult">
        select dataset_table_task.*
        from dataset_table_task
        where dataset_table_task.table_id in
        <foreach collection="tableIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>
