<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.ExtSysPluginMapper">


    <select id="query" parameterType="io.dataease.plugins.common.request.KeywordRequest" resultMap="io.dataease.plugins.common.base.mapper.MyPluginMapper.BaseResultMap">
        select *
        from my_plugin
        <if test="keyword != null">
            where name like concat('%', #{keyword} , '%')
        </if>
        order by install_time desc

    </select>

    <update id="updateVersion" parameterType="java.lang.String">
        update my_plugin set version = #{version} where store = 'default'
    </update>



</mapper>
