<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.dataease.ext.ExtSysRoleMapper">



    <resultMap id="roleItemMap" type="io.dataease.controller.sys.response.RoleUserItem">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="query" parameterType="io.dataease.plugins.common.request.KeywordRequest" resultMap="io.dataease.plugins.common.base.mapper.SysRoleMapper.BaseResultMap">
        select r.* from sys_role r
        <if test="keyword != null">
            where name like concat('%', #{keyword} , '%')
        </if>
        <choose>
            <when test="orders!=null and orders.size > 0">
                order by
                <foreach collection="orders" item="item" open='' separator=',' close=''>
                    ${item}
                </foreach>
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>

    </select>


    <delete id="deleteRoleMenu">
        delete from sys_roles_menus where role_id = #{roleId}
    </delete>

    <insert id="batchInsertRoleMenu">
        insert into sys_roles_menus (role_id, menu_id) values
        <foreach collection="maps" item="map" separator=",">
            (#{map.roleId},#{map.menuId})
        </foreach>
    </insert>

    <select id="queryAll" resultMap="roleItemMap">
        select role_id as id, name from sys_role
    </select>

    <select id="menuIds" resultType="java.lang.Long">
        select menu_id from sys_roles_menus where role_id =  #{roleId}
    </select>



</mapper>
