@import "Common.less";

@disabled-day-color: #F5F5F5;
@disabled-day-label-color: #999999;

@horizontal-color: #9F0000;
@horizontal-hover-color: #CC0000;
@horizontal-selected-bg-color: #660000;
@horizontal-border: 1px solid #260000;

@column-header-height: 30px;
@row-header-width: 50px;
