<div>
  <div data-dojo-attach-point= "_bcNode" class="esri-feature-table-wrapper-border-container" data-dojo-type="dijit.layout.BorderContainer" gutters="false">
    <div data-dojo-attach-point= "_cpLeadingNode" class="esri-feature-table-wrapper-content-pane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'leading', liveSplitters:true"  style= "width: 100%; height: 100%;">
      <div data-dojo-attach-point="_gridNode" style= "width: 100%; height: 100%;"></div>    
    </div>   
    <div data-dojo-attach-point= "_cpCenterNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center', liveSplitters:true" style= "height: 100%; display:none;"></div>
    <div data-dojo-attach-point= "_cpTrailingNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'trailing'" style= "height: 100%; display:none;"></div>
  </div>
</div>