<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'DataProperties',minOccurs:0">

    <!-- ArcGIS item properties -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'itemProps',minOccurs:0">
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" 
        data-dojo-props="target:'imsContentType',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'export',minOccurs:0">
        </div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"data-dojo-props="target:'itemName',minOccurs:0"></div>  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'itemSize',minOccurs:0"></div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'nativeExtBox',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'westBL',minOccurs:0"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'eastBL',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'southBL',minOccurs:0"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'northBL',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'exTypeCode',minOccurs:0"></div>  
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'relatedItems',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'item',minOccurs:0,maxOccurs:'unbounded'">      
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'itemName',minOccurs:0"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'itemType',minOccurs:0"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'objCount',minOccurs:0"></div>                          
        </div>            
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'itemLocation',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'linkage',minOccurs:0"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'protocol',minOccurs:0"></div>  
      </div>
    </div>
        
    <!-- Geoprocessing history -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'lineage',minOccurs:0,maxOccurs:'unbounded'">  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Process',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'Name',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'ToolSource',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'Date',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'Time',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'export',minOccurs:0"></div>                      
      </div>                      
    </div>
    
    <!-- Geostatistical Analyst output -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'GeoStats',minOccurs:0">  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'OutputType',minOccurs:0"></div>                      
    </div>
    
    <!-- ArcGIS copy/paste history -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'copyHistory',minOccurs:0">  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'copy',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'source',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'dest',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'date',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'time',minOccurs:0"></div>                    
      </div>                      
    </div>
    
    <!-- Coordinate reference details -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'coordRef',minOccurs:0">  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'type',minOccurs:0"></div>  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'geogcsn',minOccurs:0"></div>  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'projcsn',minOccurs:0"></div>  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'csUnits',minOccurs:0"></div>  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'peXml',minOccurs:0"></div>                    
    </div>
    
    <!-- Terrain description -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Terrain',minOccurs:0">    
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'totalPts',minOccurs:0"></div>              
    </div>
    
    <!-- Topology description -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
      data-dojo-props="target:'topoinfo',minOccurs:0">    
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoProps',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoName',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'clusterTol',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'zClusterTol',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'maxErrors',minOccurs:0"></div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoRule',minOccurs:0,maxOccurs:'unbounded'">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoRuleName',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoRuleID',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'rulehelp',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoRuleType',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoRuleOrigin',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'fcname',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stcode',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stname',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'allOriginSubtypes',minOccurs:0"></div>
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'topoRuleDest',minOccurs:0">
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'fcname',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stcode',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'stname',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'allOriginSubtypes',minOccurs:0"></div>
        </div>
      </div>            
    </div>
    
    <!-- ArcGIS raster description -->
    <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'RasterProperties',minOccurs:0">  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'General',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'PixelDepth',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'HasColormap',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'CompressionType',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'NumBands',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Format',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'HasPyramids',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'SourceType',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'PixelType',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'NoDataValue',minOccurs:0"></div>
      </div>  
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Properties',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/InputText"></div>  
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'MaxImageHeight',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'MaxImageWidth',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'MaxRecordCount',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'MaxDownloadImageCount',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'MaxMosaicImageCount',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'DefaultCompressionQuality',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ViewpointSpacingX',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ViewpointSpacingY',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'DefaultResamplingMethod',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AllowedItemMetadata',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AllowedMosaicMethods',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AllowedCompressions',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AllowedFields',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AvailableVisibleFields',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AvailableMosaicMethods',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AvailableCompressionMethods',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'AvailableItemMetadataLevels',minOccurs:0"></div>
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ConfigKeyword',minOccurs:0"></div>
      </div>
      <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Functions',minOccurs:0">
        <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Function',minOccurs:0,maxOccurs:'unbounded'">  
          <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'Name',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenAttribute" data-dojo-props="target:'Description',minOccurs:0"></div>
          <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Arguments',minOccurs:0"></div>
        </div>    
      </div>    
    </div>  
  
  </div>
</div>