<div data-dojo-attach-point="containerNode">
  
  <div data-dojo-type="esri/dijit/metadata/form/Element" data-dojo-props="target:'Esri',minOccurs:0,showHeader:false">
  
    <!-- metadata style (i.e. profile) -->
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'ArcGISstyle',minOccurs:0,label:'${i18nArcGIS.metadataStyle.caption}'">
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputProfile"></div>
    </div>
      
    <!-- locales -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/esri/Locales"></div>
    
    <!-- scale range -->
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/esri/ScaleRange"></div>
    
    <!-- hidden -->
    <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      <div data-dojo-type="esri/dijit/metadata/form/Section"
        data-dojo-props="showHeader:false,notApplicable:true,label:'?EsriHidden'">
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/esri/System"></div>
        <div data-dojo-type="esri/dijit/metadata/types/arcgis/esri/DataProperties"></div>
      </div>
    </div>
    
  </div>
  
</div>