<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'CreaDate',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate"></div>
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'CreaTime',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSysTime"></div>
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'ModDate',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate"></div>
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'ModTime',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputSysTime"></div>
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'SyncOnce',minOccurs:0">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'SyncDate',minOccurs:0">
    <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate"></div>
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'SyncTime',minOccurs:0">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'MapLyrSync',minOccurs:0">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'ArcGISFormat',minOccurs:0">
  </div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement"
    data-dojo-props="target:'ArcGISProfile',minOccurs:0">
  </div>
  
  <!-- ArcIMS metadata server related -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'PublishedDocID',minOccurs:0"></div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" 
    data-dojo-props="target:'PublishStatus',minOccurs:0,fixed:true,value:'editor:esri.dijit.metadata.editor'">
  </div>
  
  <!-- ArcIMS image or feature service description -->
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Server',minOccurs:0"></div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'Service',minOccurs:0"></div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ServiceType',minOccurs:0"></div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ServiceFCType',minOccurs:0"></div>
  <div data-dojo-type="esri/dijit/metadata/form/HiddenElement" data-dojo-props="target:'ServiceFCName',minOccurs:0"></div>

</div>