<div class="esriGEReportPlayerToolbar_comparisonSettings esriGENonSelectable">
    <div class="esriGERow20" data-dojo-attach-point="showBackgroundImageBlock">
        ${nls.comparisonSettings}
    </div>

    <div class="esriGESpaceBefore20">
        <div class="esriGERow20" data-dojo-attach-point="showBackgroundImageBlock">
            <label data-dojo-attach-point="showBackgroundImageLabel">&nbsp;${nls.showBackgroundImage}</label>
        </div>

        <div class="esriGERow20">
            <div class="dijitInline">
                <label data-dojo-attach-point="splitPanelsLabel">&nbsp;${nls.splitPanels}</label>
            </div>
            <div class="dijitInline esriGESpaceBeforeBig esriGEInfoIcon" data-dojo-attach-point="splitPanelsInfoIcon"></div>
        </div>

        <div class="esriGERow20">
            <div class="dijitInline">${nls.zoomPanels}</div>
            <div class="dijitInline esriGESpaceBeforeBig esriGEInfoIcon" data-dojo-attach-point="zoomPanelsInfoIcon"></div>
        </div>

        <div class="esriGERow20 esriGESpaceBefore20" data-dojo-attach-point="zoomBlock">
            <div class="dijitInline esriGESpaceAfterBig comparisonSettings_zoomOutButton esriGEIcon16" data-dojo-attach-point="zoomOutButton"></div>
            <div class="dijitInline esriGESpaceAfterBig comparisonSettings_zoomLabel" data-dojo-attach-point="zoomLabel"></div>
            <div class="dijitInline esriGESpaceAfterBig comparisonSettings_zoomInButton esriGEIcon16" data-dojo-attach-point="zoomInButton"></div>
            <div class="dijitInline esriGELink comparisonSettings_resetLink" data-dojo-attach-point="resetButton">${nls.reset}</div>
        </div>

        <div class="esriGERow20 esriGESpaceBefore20" data-dojo-attach-point="zoomSplitBlock">
            <div class="dijitInline esriGESpaceAfterBig comparisonSettings_zoomOutButton esriGEIcon16" data-dojo-attach-point="zoomOutSplitButton"></div>
            <div class="dijitInline esriGESpaceAfterBig comparisonSettings_zoomLabel" data-dojo-attach-point="zoomSplitLabel"></div>
            <div class="dijitInline esriGESpaceAfterBig comparisonSettings_zoomInButton esriGEIcon16" data-dojo-attach-point="zoomInSplitButton"></div>
            <div class="dijitInline esriGELink comparisonSettings_resetLink" data-dojo-attach-point="resetSplitButton">${nls.reset}</div>
        </div>
    </div>
</div>