<div class="esriGEPlayerToolbar">

    <!--left-->

    <div data-dojo-attach-point="infographicsSelectDiv" class="dijitInline playerToolbar_infographicsSelectDiv"></div>
    
    <!--center-->
    
    <div data-dojo-attach-point="areaTitleDiv" class="dijitInline playerToolbar_areaTitleDiv">
        <div data-dojo-attach-point="areaTitleInnerDiv" class="dijitInline playerToolbar_areaTitleInnerDiv TrimWithEllipses"></div>
    </div>

    <div data-dojo-attach-point="areasSelectDiv" class="dijitInline playerToolbar_areasSelectDiv"></div>

    <!--right-->

    <div data-dojo-attach-point="rightSideControlsBlock" class="dijitInline playerToolbar_rightSideControlsBlock">
        <div data-dojo-attach-point="zoomSelectDiv" class="dijitInline dijitInline playerToolbar_zoomSelectDiv"></div>
        <div data-dojo-attach-point="pageSelectDiv" class="dijitInline dijitInline playerToolbar_pageSelectDiv"></div>
        <div data-dojo-attach-point="commandButtonsContainer" class="dijitInline playerToolbar_commandButtonsContainer"></div>
    </div>
</div>