/* dijit.Calendar */
.dijitCalendar thead {
	background-repeat: repeat-x;
	.dijitCalendar-thead-compat;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
	background-repeat: repeat-x;
	.dijitCalendarDateLabel-Selected-compat;
}
.dijitCalendarActiveDate .dijitCalendarDateLabel {
	background-repeat: repeat-x;
	.dijitCalendarDateLabel-Active-compat;
}
.dijitCalendarYearLabel {
	background-repeat: repeat-x;
	.dijitCalendarYearLabel-compat;
}

.dj_gecko {
	.dijitCalendar .dijitDropDownButton .dijitButtonNode {
		-moz-box-shadow: 0 0 0 transparent;
	}
	.dijitCalendar thead {
		.dijitCalendar-thead-compat-gecko;
	}
	.dijitCalendarSelectedDate .dijitCalendarDateLabel {
		.dijitCalendarDateLabel-Selected-compat-gecko;
	}
	.dijitCalendarActiveDate .dijitCalendarDateLabel {
		.dijitCalendarDateLabel-Active-compat-gecko;
	}
	.dijitCalendarYearLabel {
		.dijitCalendarYearLabel-compat-gecko;
	}
}

.dj_ff3 {
	.dijitCalendar {
		-moz-border-radius: 0;
	}
	.dijitCalendarMonthMenu {
		.dijitCalendarMonthMenu-compat-ff3;
	}
}