@import "variables.less";
@import "../common/Button.less";

.mblButton {
  color: @ios7-base-color;
  border: solid 1px @ios7-grey3;
  -webkit-appearance: none;
}

.mblBlueButton, .mblRedButton {
  color: white;
}

.mblButtonSelected {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
  color: @ios7-grey2;
  border-color: @ios7-base-color;
}

.mblButtonDisabled,
.mblButton:disabled {
  color: #646464;
  .default-button-border-styles;
  background-color: @ios7-grey2;
}

.mblBlueButtonSelected {
  color: black;
  border-color: transparent;
  box-shadow: 0px 0px 1px 4px #33B5E5;
}
.mblRedButtonSelected {
  color: black;
  border-color: transparent;
  box-shadow: 0px 0px 1px 4px #FF4444;
}

.mblTooltip .mblButton {
  border: none;
}
