@import "variables.less";
@import "../common/Switch-compat.less";

/* Default Shape */
.dj_gecko .mblSwDefaultShape {
	.mblSwSquareShape-styles;
}

.dj_gecko .mblSwitchBgLeft {
  background-color: #4BD260;
  background-image: none;
}

.dj_gecko .mblSwitchBgRight {
  background-color: @ios7-grey3;
  background-image: none;
}

.dj_gecko .mblSwDefaultShape .mblSwitchBgLeft,
.dj_gecko .mblSwDefaultShape .mblSwitchBgRight {
  background-image: none;
}