@import "variables.less";
@import "../common/Switch.less";

/* Default Shape */
.mblSwDefaultShape {
  .mblSwRoundShape1-styles;
}

.mblSwitchKnob {
  background-color: white;
  background-image: none;
}

.mblSwitchBgLeft {
  background-color: #4BD260;
  background-image: none;
}

.mblSwitchBgRight {
  background-color: @ios7-grey3;
  background-image: none;
}
