<div class="${_css.container}">
  <div class="${_css.topContainer}">
    <label>${i18n.common.apply}</label>
    <input data-dojo-attach-point="_haloCheckBox" data-dojo-type="dijit/form/CheckBox" checked=false type="checkbox">
    <select class="${_css.haloSelect}" data-dojo-attach-point="_haloSizeSelect" data-dojo-type="dijit/form/Select">
      <option value="0">0</option>
      <option value="1" selected="selected">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <div data-dojo-attach-point="_haloColorPaletteNode"></div>
</div>