<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmd:LanguageCode'">

    <!-- <div data-dojo-type="gxe/form/iso/CodeSpaceAttribute"></div> -->
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${inspireCodeListPrefix}LanguageCode'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
        
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.bul}',value:'bul'"></div>        
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.cze}',value:'cze'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.dan}',value:'dan'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.dut}',value:'dut'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.eng}',value:'eng',selected:true"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.est}',value:'est'"></div>    
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.fin}',value:'fin'"></div>        
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.fre}',value:'fre'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.ger}',value:'ger'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.gre}',value:'gre'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.hun}',value:'hun'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.gle}',value:'gle'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.ita}',value:'ita'"></div>        
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.lav}',value:'lav'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.lit}',value:'lit'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.mlt}',value:'mlt'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.pol}',value:'pol'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.por}',value:'por'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.rum}',value:'rum'"></div>        
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.slo}',value:'slo'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.slv}',value:'slv'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.spa}',value:'spa'"></div>              
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nInspire.LanguageCode.swe}',value:'swe'"></div>                        
              
        </div>
      </div>
    </div>

  </div>
</div>