<div class="gxeMultiplicityTools" style="display:none;">
  <div class="gxeIcon gxeIconRepeat" 
    data-dojo-attach-point="repeatElementNode"
    data-dojo-attach-event="onClick: repeatElementClicked"
    aria-label="${i18nBase.multiplicity.repeatElement}"
    title="${i18nBase.multiplicity.repeatElement}"></div>
  <div class="gxeIcon gxeIconRemove" 
    data-dojo-attach-point="removeElementNode"
    data-dojo-attach-event="onClick: removeElementClicked"
    aria-label="${i18nBase.multiplicity.removeElement}"
    title="${i18nBase.multiplicity.removeElement}"></div>
  <div class="gxeIcon gxeIconMoveUp" 
    data-dojo-attach-point="moveElementUpNode"
    data-dojo-attach-event="onClick: moveElementUpClicked"
    aria-label="${i18nBase.multiplicity.moveElementUp}"
    title="${i18nBase.multiplicity.moveElementUp}"></div>
  <div class="gxeIcon gxeIconMoveDown" 
    data-dojo-attach-point="moveElementDownNode"
    data-dojo-attach-event="onClick: moveElementDownClicked"
    aria-label="${i18nBase.multiplicity.moveElementDown}"
    title="${i18nBase.multiplicity.moveElementDown}"></div>
</div>
