<div>
  <div  class="esri-popup-con" data-dojo-attach-point='esri_popupHeader'>
    <div><span>${i18n.popup.addressTitle}</span></div>
    <p data-dojo-attach-point='_addressNode'>${i18n.popup.loadingPH}</p>
  </div>
  <div  class="esri-popup-con" data-dojo-attach-point='esri_popupContent'>
    <div><span>${i18n.popup.locationTitle}</span></div>
    <p data-dojo-attach-point='_x'></p>
    <p data-dojo-attach-point='_y'></p>
  </div>
  <div class="esri-popup-button-con">
    <div data-dojo-attach-point='_matchButtonNode' data-dojo-type="dijit.form.Button">${i18n.popup.matchButtonLabel}</div>
    <div data-dojo-attach-point='_discardButtonNode' data-dojo-type="dijit.form.Button">${i18n.popup.discardButtonLabel}</div>
  </div>
</div>