@top-bar-height: 64px;
@component-toolbar-height: 45px;
@component-list-width: 200px;
@side-area-background: #1a1a1a;
@side-outline-border-color: #363636;
@side-content-background: #292929;
@canvas-main-font-color: #1f2329;
@canvas-main-font-color-dark: #ebebeb;

@side-area-background-light: #ffffff;
@side-outline-border-color-light: rgba(31, 35, 41, 0.15);
@side-content-background-light: #ffffff;
@canvas-main-font-color-light: #1f2329;

@chart-change-font-color-light: #646a73;
@dv-canvas-main-font-color: #ebebeb;
@main-collapse-border-dark: rgba(235, 235, 235, 0.15);
