<div>
  <div class="${css.borderContainer}" data-dojo-attach-point= "_gridBorderContainerNode" data-dojo-type="dijit/layout/BorderContainer" gutters="false">
    <div class="${css.contentPane}" data-dojo-attach-point= "_leadingPaneNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'leading'">
      <div class="${css.grid}" data-dojo-attach-point="_gridNode"></div>
    </div>
    <div class="${css.contentPane} ${css.hidden}" data-dojo-attach-point= "_centerPaneNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
    </div>
    <div class="${css.contentPane} ${css.hidden}" data-dojo-attach-point= "_trailingPaneNode" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'trailing'">
    </div>
  </div>
</div>