<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
  
    <div data-dojo-type="esri/dijit/metadata/types/inspire/gmd/metadataEntity/MetadataIdentifier"
      data-dojo-props="label:'${i18nIso.metadataSection.identifier}'"></div>
    
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/MetadataContact"
      data-dojo-props="label:'${i18nIso.metadataSection.contact}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/MetadataDate"
      data-dojo-props="label:'${i18nIso.metadataSection.date}'"></div>
    
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/MetadataStandard"
      data-dojo-props="label:'${i18nIso.metadataSection.standard}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/MetadataReference"
      data-dojo-props="label:'${i18nIso.metadataSection.reference}'"></div>
    
  </div>
</div>