<div class="esriAnalysis">
   <div data-dojo-type="dojox/widget/TitleGroup" class="analysisCategoryCtr" doLayout="false" style="width:100%" data-dojo-attach-point="_featureAccordion">
      <!--<div data-dojo-type="dijit/TitlePane"  title="dummy" style="height:240px;display:none;" data-dojo-attach-point="_dummyPane">
      </div>-->
      <div data-dojo-type="dijit/TitlePane"  data-dojo-props="open:false,toggleable:true" title="${i18n.summarizeData}"  data-esriHelpTopic="SummarizeDataCategory" data-dojo-attach-point="_summarizeTools">
      </div>
      <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.findLocations}"  data-esriHelpTopic="FindLocationsCategory" data-dojo-attach-point="_locationTools">
      </div>
      <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.dataEnrichment}" data-esriHelpTopic="EnrichLocationsCategory" data-dojo-attach-point="_geoenrichTools" >
      </div>
      <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.analyzePatterns}" data-esriHelpTopic="AnalyzePatternsCategory" data-dojo-attach-point="_analyzePatTools">
      </div>
      <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.useProximity}" data-esriHelpTopic="UseProximityCategory" data-dojo-attach-point="_proximityTools">
      </div>
      <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.manageData}"  data-esriHelpTopic="ManageDataCategory" data-dojo-attach-point="_managedataTools" >
      </div>
      <div data-dojo-attach-point="_test"></div>
  </div><!-- end AccordionContainer -->
   <div data-dojo-type="dojox/widget/TitleGroup" class="analysisCategoryCtr" doLayout="false" style="height:600px;width:100%" data-dojo-attach-point="_rasterAccordion">
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.summarizeData}" data-esriHelpTopic="SummarizeDataCategory" data-dojo-attach-point="_summarizeRasterTools">
     </div>
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.analyzePatterns}" data-esriHelpTopic="AnalyzePatternsCategory" data-dojo-attach-point="_analyzePatRasterTools">
     </div>
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.useProximity}" data-esriHelpTopic="UseProximityCategory" data-dojo-attach-point="_proximityRasterTools">
     </div>
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.analyzeImage}" data-esriHelpTopic="AnalyzeImageCategory" data-dojo-attach-point="_analyzeImageRasterTools">
     </div>
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.analyzeTerrain}" data-esriHelpTopic="AnalyzeTerrainCategory" data-dojo-attach-point="_analyzeTerrainRasterTools">
     </div>
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.manageData}" data-esriHelpTopic="ManageDataCategory" data-dojo-attach-point="_managedataRasterTools">
     </div>
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.deepLearning}" data-esriHelpTopic="DeepLearningCategory" data-dojo-attach-point="_deepLearningRasterTools">
     </div>
     <div data-dojo-type="dijit/TitlePane" data-dojo-props="open:false,toggleable:true" title="${i18n.multidimensionAnalysis}" data-esriHelpTopic="MultidimensionalAnalysisCategory" data-dojo-attach-point="_multidimensionAnalysisRasterTools">
     </div>
   </div><!-- end AccordionContainer -->
</div>
