<div class="esriAnalysis">
  <div data-dojo-type="dijit/layout/ContentPane" style="margin-top:0.5em; margin-bottom: 0.5em;">
    <div data-dojo-attach-point="_aggregateToolContentTitle" class="analysisTitle">
      <table class="esriFormTable" >
        <tr>
          <td class="esriToolIconTd"><div class="buildMultiVariableGridIcon"></div></td>
          <td class="esriAlignLeading esriAnalysisTitle" data-dojo-attach-point="_toolTitle">
            <label data-dojo-attach-point="_titleLbl">${i18n.buildMultiVariableGrid}</label>
            <nav class="breadcrumbs"  data-dojo-attach-point="_analysisModeLblNode" style="display:none;">
              <a href="#" class="crumb breadcrumbs__modelabel" data-dojo-attach-event="onclick:_handleModeCrumbClick" data-dojo-attach-point="_analysisModeCrumb"></a>
              <a href="#" class="crumb is-active" data-dojo-attach-point="_analysisTitleCrumb" style="font-size:16px;">${i18n.buildMultiVariableGrid}</a>
            </nav>
          </td>
          <td>
            <div class="esriFloatTrailing" style="padding:0;">
                <div class="esriFloatLeading">
                  <a href="#" class='esriFloatLeading helpIcon' esriHelpTopic="toolDescription"></a>
                </div>
                <div class="esriFloatTrailing">
                  <a href="#" data-dojo-attach-point="_closeBtn" title="${i18n.close}" class="esriAnalysisCloseIcon"></a>
                </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div style="clear:both; border-bottom: #CCC thin solid; height:1px;width:100%;"></div>
  </div>
  <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="_form" readOnly="true">
     <table class="esriFormTable"  data-dojo-attach-point="_aggregateTable"  style="border-collapse:collapse;border-spacing:5px;" cellpadding="5px" cellspacing="5px">
       <tbody>
        <tr data-dojo-attach-point="_analysisLabelRow">
          <td colspan="2">
            <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.binsLabel}</label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="binType"></a>
          </td>
        </tr>
        <tr data-dojo-attach-point="_sumGeomTypeRow">
          <td data-dojo-attach-point="bufTypeTd" colspan="3">
            <table style="width:100%">
              <tr>
                <td>
                  <div class="bufferSelector selected" data-dojo-attach-point="_square">
                    <div class="bufferIcon squareBinIcon"></div>
                    <div><label class="esriSelectLabel">${i18n.square}</label></div>
                  </div>
                </td>
                <td>
                  <div class="bufferSelector" data-dojo-attach-point="_hexagon">
                    <div class="bufferIcon  hexagonBinIcon"></div>
                    <div><label class="esriSelectLabel">${i18n.hexagon}</label></div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr data-dojo-attach-point="_chooseBinSizeLblRow">
          <td colspan="3" style="padding-top:0;padding-bottom:0">
            <label class="esriLeadingMargin1" data-dojo-attach-point="_binSizeLabel"></label>
          </td>
        </tr>
        <tr data-dojo-attach-point="_binsTypeRow">
         <td style="padding-right:0;margin-top:1.0em;width:50%;">
            <input type="text" class="esriLeadingMargin1" data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="required:true,intermediateChanges:true,value:'5',required:true,constraints:{min:0.000001},missingMessage:'${i18n.distanceMsg}'" data-dojo-attach-point="_binsInput" class="esriLeadingMargin1"  style="width:75%;">
          </td>
          <td colspan="2" style="padding-left:0.25em;margin-top:1.0em;width:50%;">
            <select class="mediumInput esriAnalysisSelect" data-dojo-type="dijit/form/Select" data-dojo-props="required:true" data-dojo-attach-point="_binUnits" style="width:80%;table-layout:fixed;">
               <option value="NauticalMiles">${i18n.nautMiles}</option>
               <option value="Miles">${i18n.miles}</option>
               <option value="Yards">${i18n.yards}</option>
               <option value="Feet">${i18n.feet}</option>
               <option type="separator"></option>
               <option value="Kilometers">${i18n.kilometers}</option>
               <option value="Meters">${i18n.meters}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.layersAttrLabel}</label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_sumLabelHelp" esriHelpTopic="variableCalculations"></a>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div data-dojo-attach-point="_gridDiv"></div>
            <span class="warningIcon hide esriAnalysisDriveMode" data-dojo-attach-point="_layerListWarningIcon" tabindex="0"></span>  
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="esriLeadingMargin1 btn btn-clear btn-fill" data-dojo-attach-point="_addProximityAttrBtn" style="width:80%;"> + </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel" data-dojo-attach-point="_outputLbl">${i18n.threeLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.outputLayerLabel}</label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_outputHelp" esriHelpTopic="outputName"></a>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="longInput esriLeadingMargin1" data-dojo-props="trim:true,required:true" data-dojo-attach-point="_outputLayerInput" value=""></input>
          </td>
        </tr>
        <tr>
          <td colspan="3">
             <div data-dojo-attach-point="_chooseFolderRow" class="esriLeadingMargin1">
               <label style="width:9px;font-size:smaller;">${i18n.saveResultIn}</label>
               <input class="longInput" data-dojo-attach-point="_webMapFolderSelect" data-dojo-type="dijit/form/FilteringSelect" trim="true" style="width:60%;"></input>
             </div>
          </td>
        </tr>
      </tbody>
     </table>
   </div>
  <div data-dojo-attach-point="_aggregateToolContentButtons" style="padding:5px;margin-top:5px;border-top:solid 1px #BBB;">
    <div class="esriFormWarning esriRoundedBox" data-dojo-attach-point="_errorMessagePane" style="display:none;">
      <a href="#" title="${i18n.close}" class="esriFloatTrailing esriAnalysisCloseIcon" data-dojo-attach-event="onclick:_handleCloseMsg"></a>
      <span data-dojo-attach-point="_bodyNode"></span>
    </div>
    <div class="esriExtentCreditsCtr">
      <a class="esriFloatTrailing esriSmallFont"  href="#" data-dojo-attach-point="_showCreditsLink">${i18n.showCredits}</a>
     <label data-dojo-attach-point="_chooseExtentDiv" class="esriSelectLabel esriExtentLabel">
       <input type="radio" data-dojo-attach-point="_useExtentCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" name="extent" value="true"/>
         ${i18n.useMapExtent}
     </label>
    </div>
    <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_saveBtn" class="esriLeadingMargin4 esriAnalysisSubmitButton" data-dojo-attach-event="onClick:_handleSaveBtnClick">
        ${i18n.runAnalysis}
    </button>
  </div>
  <div data-dojo-type="dijit/Dialog" title="${i18n.creditTitle}" data-dojo-attach-point="_usageDialog" style="width:40em;">
    <div data-dojo-type="esri/dijit/analysis/CreditEstimator"  data-dojo-attach-point="_usageForm"></div>
  </div>
  <div data-dojo-type="dijit/ConfirmDialog" class="" title="${i18n.addVariables}" buttonOk="${i18n.add}" data-dojo-props="doLayout:false,closable:false" data-dojo-attach-event="execute:_handleAddVarDlg,onCancel:_handleVarDlgCancel" data-dojo-attach-point="_attrDialog">
    <div data-dojo-attach-point="_attrDialogContent" class="esriMultiVarDialogContent"></div>
  </div>
 </div>
