<div class="esriAnalysis">
    <div data-dojo-type="dijit/layout/ContentPane" style="margin-top:0.5em; margin-bottom: 0.5em;">
      <div data-dojo-attach-point="_aggregateToolContentTitle" class="analysisTitle">
        <table class="esriFormTable" >
          <tr>
            <td class="esriToolIconTd"><div class="calculateFieldIcon"></div></td>
            <td class="esriAlignLeading esriAnalysisTitle" data-dojo-attach-point="_toolTitle">
              <label data-dojo-attach-point="_titleLbl">${i18n.calculateField}</label>
              <nav class="breadcrumbs"  data-dojo-attach-point="_analysisModeLblNode" style="display:none;">
                <a href="#" class="crumb breadcrumbs__modelabel" data-dojo-attach-event="onclick:_handleModeCrumbClick" data-dojo-attach-point="_analysisModeCrumb"></a>
                <a href="#" class="crumb is-active" data-dojo-attach-point="_analysisTitleCrumb" style="font-size:16px;">${i18n.calculateField}</a>
              </nav>
            </td>
            <td>
              <div class="esriFloatTrailing" style="padding:0;">
                  <div class="esriFloatLeading">
                    <a href="#" class='esriFloatLeading helpIcon' esriHelpTopic="toolDescription"></a>
                  </div>
                  <div class="esriFloatTrailing">
                    <a href="#" data-dojo-attach-point="_closeBtn" title="${i18n.close}" class="esriAnalysisCloseIcon"></a>
                  </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div style="clear:both; border-bottom: #CCC thin solid; height:1px;width:100%;"></div>
    </div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="_form" readOnly="true">
       <table class="esriFormTable"  data-dojo-attach-point="_aggregateTable"  style="border-collapse:collapse;border-spacing:5px;" cellpadding="5px" cellspacing="5px">
         <tbody>
          <tr data-dojo-attach-point="_titleRow">
            <td  colspan="3" class="sectionHeader" data-dojo-attach-point="_toolDescription" ></td>
          </tr>
          <tr data-dojo-attach-point="_analysisLabelRow" style="display:none;">
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.chooseLayerLabel}</label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="inputLayer"></a>
            </td>
          </tr>
          <tr data-dojo-attach-point="_selectAnalysisRow" style="display:none;">
            <td  colspan="3" style="padding-top:0;">
              <select class="esriLeadingMargin1 longInput esriLongLabel"  style="margin-top:1.0em;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_analysisSelect" data-dojo-attach-event="onChange:_handleAnalysisLayerChange"></select>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.calculateFieldLabel}</label>
           </td>
           <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="fields"></a>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="padding-top:0;"> 
              <select class="esriLeadingMargin1 longTextInput"  style="margin-top:10px;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_fieldsSelect" data-dojo-attach-event="onChange:_handleFieldChange">
               </select>        
            </td> 
          </tr>
          <tr>
            <td colspan="3" style="padding-top:0;">
                <label class="esriLeadingMargin1">${i18n.ofTypeLabel}</label>
                <select class="esriLeadingMargin1 longTextInput"  style="margin-top:10px;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_fieldTypeSelect">
                  <option value="Double" selected="selected">${i18n.doubleLabel}</option>
                  <option value="Integer">${i18n.integerLabel}</option>
                  <option value="String">${i18n.stringLabel}</option>
                  <option value="Date">${i18n.dateLabel}</option>
                </select>
            </td>
          </tr> 
          <tr>
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.threeLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.buildExprLabel}</label>
           </td>
           <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="expression"></a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <table style="width:90%">
                <tr>
                  <td colspan="2">
                    <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="esriLeadingMargin1 longInput" data-dojo-props="trim:true,required:true"" data-dojo-attach-point="_calcExprInput" value=""></input>
                  </td>
                  <td class="shortTextInput">
                    <div data-dojo-type="dijit/form/Button" class="esriActionButton" data-dojo-props="label:'${i18n.add}',iconClass:'esriAnalysisExpIcon',showLabel: false" data-dojo-attach-point="_expBtn" data-dojo-attach-event="onClick:_handleExpBtnClick"></div>
                  </td>
               </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="esriLeadingMargin2"  data-dojo-attach-point="_expTrackAwareLabel">
                <input type="radio" data-dojo-attach-point="_expTrackAwareCheck" data-dojo-attach-event="onChange:_handleExpTrackAwareChange" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:false" name="extent" value="true"/>
                ${i18n.trackAwareLabel}
              </label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="trackInfo"></a>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriLeadingMargin2" data-dojo-attach-point="_trackAwareFieldsLabel">${i18n.chooseFieldsLabel}</label>
           </td>
          </tr>
          <tr>
            <td colspan="3" style="padding-top:0;">
              <select multiple="true"  class="esriLeadingMargin2" style="width:80%;margin-top:10px;" data-dojo-type="dojox/form/CheckedMultiSelect" data-dojo-attach-event="onChange:_handleTrackFieldSelectChange" data-dojo-attach-point="_trackFieldSelect"></select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="esriLeadingMargin2" data-dojo-attach-point="_timeIntervalSplitLabel">
                <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_timeIntervalCheck" data-dojo-attach-event="onChange:_handleTimeIntervalCheckChange"></input>
                ${i18n.timeIntervalSplit}
              </label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
                <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="timeBoundarySplit"></a>
              </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="esriLeadingMargin1" style="width:100%;height:100%;" data-dojo-attach-point="_timeBoundarySelect" data-dojo-type="esri/dijit/analysis/components/TimeBoundarySelect/TimeBoundarySelect"></div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.fourLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.outputLayerLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="outputName"></a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="esriLeadingMargin1 longInput" data-dojo-props="trim:true,required:true" data-dojo-attach-point="_outputLayerInput" value=""></input>
            </td>
          </tr>
          <tr>
            <td colspan="3">
               <div class="esriLeadingMargin1" data-dojo-attach-point="_chooseFolderRow">
                 <label style="width:9px;font-size:smaller;">${i18n.saveResultIn}</label>
                 <input class="longInput esriFolderSelect" data-dojo-attach-point="_webMapFolderSelect" dojotype="dijit/form/FilteringSelect" trim="true"></input>
               </div>
            </td>
          </tr>
        </tbody>
       </table>
     </div>
    <div data-dojo-attach-point="_aggregateToolContentButtons" style="padding:5px;margin-top:5px;border-top:solid 1px #BBB;">
      <div class="esriExtentCreditsCtr">
        <a class="esriFloatTrailing esriSmallFont"  href="#" data-dojo-attach-point="_showCreditsLink">${i18n.showCredits}</a>
       <label data-dojo-attach-point="_chooseExtentDiv" class="esriSelectLabel esriExtentLabel">
         <input type="radio" data-dojo-attach-point="_useExtentCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" name="extent" value="true"/>
           ${i18n.useMapExtent}
       </label>
      </div>
      <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_saveBtn" class="esriLeadingMargin4 esriAnalysisSubmitButton" data-dojo-attach-event="onClick:_handleSaveBtnClick">
          ${i18n.runAnalysis}
      </button>
    </div>
    <div data-dojo-type="dijit/Dialog" title="${i18n.creditTitle}" data-dojo-attach-point="_usageDialog" style="width:40em;">
      <div data-dojo-type="esri/dijit/analysis/CreditEstimator"  data-dojo-attach-point="_usageForm"></div>
    </div>
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="_exprDialog" class="esriBufExpressDialog">
      <div class="esriBufExpressionFormCtr">
        <div data-dojo-attach-point="_expressionCtr"></div>
      </div>
    </div>
    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="_addDialog" class="esriBufExpressDialog" data-dojo-props="title:'${i18n.addNewField}'">
      <div>
        <div data-dojo-attach-point="_addField">
            <table class="esriAddFormTable" data-dojo-attach-point="_addTable" style="border-collapse:collapse;border-spacing:5px;" cellpadding="5px" cellspacing="5px">
                <tbody>
                 <tr>
                   <tr>
                     <td>
                       <label>${i18n.nameLabel}</label>
                     </td>
                     <td>
                     <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="esriLeadingMargin1" data-dojo-props="required:true" data-dojo-attach-point="_nameInput" value=""></input>
                    </td>
                   </tr>
                  </tbody>
                </table>  
                <div class="esriFloatTrailing" style="padding: 10px 5px;">
                  <div data-dojo-type="dijit/form/Button" class="${_addBtnClass}" data-dojo-attach-point="_addBtn" data-dojo-attach-event="onClick:_handleAddFieldButtonClick">
                    ${i18n.add}
                  </div>
                  <div data-dojo-type="dijit/form/Button" class="esriLeadingMargin05" data-dojo-attach-point="_closeAddFieldBtn" data-dojo-attach-event="onClick:_handleCloseAddFieldButtonClick">
                    ${i18n.close}
                  </div>
                </div> 
        </div>
      </div>
    </div>
  </div>
