<div class="esriAnalysis card">
    <div class="card-collapsible">
        <input id="${id}_collapsible" class="card-toggle" type="checkbox" data-dojo-attach-point="_cardCheckNode">
        <label for="${id}_collapsible" class="card-lbl-toggle" tabindex="0">
            <div class="esriLeadingMargin1" data-dojo-attach-point="_headerNode"></div>
        </label>
        <div class="card-content">
          <div data-dojo-attach-point="_contentNode" class="card-content-inner">
          </div>
        </div>
      </div>
</div>
