<div class="esriAnalysis">
  <div data-dojo-type="dijit/layout/ContentPane" style="margin-top:0.5em; margin-bottom: 0.5em;">
    <div data-dojo-attach-point="_hotspotsToolContentTitle" class="analysisTitle">
      <table class="esriFormTable">
        <tr>
          <td class="esriToolIconTd"><div class="convertFeatureToRasterIcon"></div></td>
          <td class="esriAlignLeading esriAnalysisTitle" data-dojo-attach-point="_toolTitle">
            <label data-dojo-attach-point="_titleLbl">${i18n.convertFeatureToRaster}</label>
            <nav class="breadcrumbs" data-dojo-attach-point="_analysisModeLblNode" style="display:none;">
              <a href="#" class="crumb breadcrumbs__modelabel" data-dojo-attach-event="onclick:_handleModeCrumbClick" data-dojo-attach-point="_analysisModeCrumb"></a>
              <a href="#" class="crumb is-active" data-dojo-attach-point="_analysisTitleCrumb" style="font-size:16px;">${i18n.convertFeatureToRaster}</a>
            </nav>  
          </td>
          <td>
            <div class="esriFloatTrailing" style="padding:0;">
              <div class="esriFloatLeading">
                <a href="#" class='esriFloatLeading helpIcon' esrihelptopic="toolDescription"></a>
              </div>
              <div class="esriFloatTrailing">
                <a href="#" data-dojo-attach-point="_closeBtn" title="${i18n.close}" class="esriAnalysisCloseIcon"></a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div style="clear:both; border-bottom: #CCC thin solid; height:1px;width:100%;"></div>
  </div>
  <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="_form" readonly="true">
    <table class="esriFormTable">
      <tbody>
        <tr data-dojo-attach-point="_titleRow">
          <td colspan="3" class="sectionHeader" data-dojo-attach-point="_interpolateToolDescription"></td>
        </tr>
        <tr data-dojo-attach-point="_analysisLabelRow" style="display:none;">
          <td colspan="2" style="padding-bottom:0;">
            <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.analysisLayerLabel}</label>
          </td>
          <td class="shortTextInput" style="padding-bottom:0;">
            <a href="#" class='esriFloatTrailing helpIcon' esrihelptopic="inputLayer"></a>
          </td>
        </tr>
        <tr data-dojo-attach-point="_selectAnalysisRow" style="display:none;">
          <td colspan="3" style="padding-top:0;">
            <select class="esriLeadingMargin1 longInput esriLongLabel" style="margin-top:1.0em;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_analysisSelect" data-dojo-attach-event="onChange:_handleAnalysisLayerChange"></select>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding-bottom:0;">
            <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.valueField}</label>
          </td>
          <td class="shortTextInput" style="padding-bottom:0;">
            <a href="#" class='esriFloatTrailing helpIcon' esrihelptopic="field"></a>
          </td>
        </tr>
        <tr data-dojo-attach-point="_fieldSelectRow">
          <td colspan="3">
            <select class="esriLeadingMargin1 longInput esriLongLabel" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_valueFieldSelect"></select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label data-dojo-attach-point="_labelTwo" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
            <label data-dojo-attach-point="_pixelSizelabel" class="esriAnalysisStepsLabel">${i18n.pixelSize}</label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_analysisFieldHelpLink" esrihelptopic="outputCellSize"></a>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="padding:0;">
            <table class="esriFormTable esriLeadingMargin1" style="width:90%;">
              <tbody>
                <tr>
                  <td style="width:50%;padding-right:1em;">
                    <input type="text" data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="intermediateChanges:true,required:true, constraints:{min: 0.0000000001}" data-dojo-attach-point="_outputCellSizeInput" style="width:100%;text-align:right">
                  </td>
                  <td colspan="2">
                    <select class="longInput esriAnalysisSelect esriLongLabel" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_cellSizeUnitsSelect"></select>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="clear"></td>
        </tr>
        <tr>
          <td colspan="2">
            <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.threeLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.outputLayerLabel}</label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' esrihelptopic="outputName"></a>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true,required:true" class="longTextInput esriLeadingMargin1" data-dojo-attach-point="_outputLayerInput"></input>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div data-dojo-attach-point="_chooseFolderRow" class="esriLeadingMargin1">
              <label class="esriSaveLayerlabel">${i18n.saveResultIn}</label>
              <input class="longInput" data-dojo-attach-point="_webMapFolderSelect" data-dojo-type="dijit/form/FilteringSelect" trim="true" style="width:55%;"></input>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div data-dojo-attach-point="_chooseLayerTypeRow" class="esriLeadingMargin1">
              <label class="esriSaveLayerlabel">${i18n.saveLayerType}</label>
              <input class="longInput esriLongLabel" data-dojo-attach-point="_webLayerTypeSelect" data-dojo-type="dijit/form/FilteringSelect" trim="true" style="width:55%;"></input>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="padding:5px;margin-top:5px;border-top:solid 1px #BBB;">
    <div class="esriExtentCreditsCtr">
      <a class="esriFloatTrailing esriSmallFont" href="#" data-dojo-attach-point="_showCreditsLink">${i18n.showCredits}</a>
      <label data-dojo-attach-point="_chooseExtentDiv" class="esriSelectLabel esriExtentLabel">
        <input type="radio" data-dojo-attach-point="_useExtentCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" name="extent" value="true" />
        ${i18n.useMapExtent}
      </label>
    </div>
    <div>
      <table class="esriFormTable">
        <tr>
          <td>
            <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_saveBtn" class="esriAnalysisSubmitButton" data-dojo-attach-event="onClick:_handleSaveBtnClick">
              ${i18n.runAnalysis}
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div data-dojo-type="dijit/Dialog" title="${i18n.creditTitle}" data-dojo-attach-point="_usageDialog" style="width:40em;">
    <div data-dojo-type="esri/dijit/analysis/CreditEstimator" data-dojo-attach-point="_usageForm"></div>
  </div>
</div>
