<div class="esriAnalysis esriSimpleForm">
  <table class="esriFormTable"  data-dojo-attach-point="_table"  style="border-collapse:collapse;border-spacing:5px;">
     <!--<tr>
      <td>
        <label class="esriFloatLeading">${i18n.analysisLayersLabel}</label>
      </td>
      <td>
      </td>
    </tr>-->
     <tr>
      <td>
        <label class="esriFloatLeading">${i18n.totalRecordsLabel}</label>
      </td>
      <td data-dojo-attach-point="_totalRecordsNode">
      </td>
    </tr>
     <!--<tr>
      <td>
        <label class="esriFloatLeading">${i18n.creditsAvailLabel}</label>
      </td>
      <td>
      </td>
    </tr>-->
     <tr>
      <td>
        <label class="esriFloatLeading" data-dojo-attach-point="_costLabelNode">${i18n.creditsReqLabel}</label>
      </td>
      <td data-dojo-attach-point="_creditsReqNode">
      </td>
    </tr>
  </table>
  <div data-dojo-attach-point="_messageDiv"></div>
</div>
