<div class="esriAnalysis">
    <div data-dojo-type="dijit/layout/ContentPane" style="margin-top:0.5em; margin-bottom: 0.5em;">
      <div data-dojo-attach-point="_aggregateToolContentTitle" class="analysisTitle">
        <table class="esriFormTable" > 
          <tr>
            <td class="esriToolIconTd"><div class="geoenrichLayerIcon"></div></td>
            <td class="esriAlignLeading esriAnalysisTitle" data-dojo-attach-point="_toolTitle">
              <label data-dojo-attach-point="_titleLbl">${i18n.enrichLayer}</label>
              <nav class="breadcrumbs"  data-dojo-attach-point="_analysisModeLblNode" style="display:none;">
                <a href="#" class="crumb breadcrumbs__modelabel" data-dojo-attach-event="onclick:_handleModeCrumbClick" data-dojo-attach-point="_analysisModeCrumb"></a>
                <a href="#" class="crumb is-active" data-dojo-attach-point="_analysisTitleCrumb" style="font-size:16px;">${i18n.enrichLayer}</a>
              </nav>               
            </td>
            <td>
              <div class="esriFloatTrailing" style="padding:0;">
                  <div class="esriFloatLeading">
                    <a href="#" class='esriFloatLeading helpIcon' esriHelpTopic="toolDescription"></a>
                  </div>
                  <div class="esriFloatTrailing">
                    <a href="#" data-dojo-attach-point="_closeBtn" title="${i18n.close}" class="esriAnalysisCloseIcon"></a>
                  </div>              
              </div>                
            </td>
          </tr>
        </table>
      </div>
      <div style="clear:both; border-bottom: #CCC thin solid; height:1px;width:100%;"></div>
    </div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="_form" readOnly="true">
       <table class="esriFormTable"  data-dojo-attach-point="_aggregateTable"  style="border-collapse:collapse;border-spacing:5px;" cellpadding="5px" cellspacing="5px"> 
         <tbody>
          <tr data-dojo-attach-point="_titleRow">
            <td  colspan="3" class="sectionHeader" data-dojo-attach-point="_aggregateToolDescription" >${i18n.enrichDefine}</td>
          </tr>
          <tr data-dojo-attach-point="_analysisLabelRow" style="display:none;">
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.analysisLayerLabel}</label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="inputLayer"></a>
            </td>
          </tr>           
          <tr data-dojo-attach-point="_selectAnalysisRow" style="display:none;">
            <td  colspan="3">
              <select class="esriLeadingMargin1 longInput esriLongLabel"  style="margin-top:1.0em;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_analysisSelect" data-dojo-attach-event="onChange:_handleAnalysisLayerChange"></select>
            </td>
          </tr>            
          <tr>
            <td colspan="3" style="padding-bottom:0;">
              <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
              <!--<label class="">${i18n.chooseDataCollectionLabel}</label>-->
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="DataCollection"></a>
            </td>
          </tr>
          <!--<tr>
            <td colspan="3" class="clear"></td>
          </tr>-->          
          <tr>
            <td colspan="3" style="padding-top:0;">
              <div style="width:95%;height:200px;border:1px #EFEEEF solid;" data-dojo-attach-point="_analysisVariablesCtr" class="ShoppingCart">
                <div data-dojo-attach-point="_selectedList" style="overflow-y:auto;height:100%;">
                </div>
                <div data-dojo-attach-point="_selectLabelDiv" class="selectLabel">${i18n.clickDataVar}</div>
              </div>
            </td>
          </tr>
          <tr>
            <td >
              <div data-dojo-type="dijit/form/Button" class="esriTertiaryActionBtn" data-dojo-attach-point="_addBtn" data-dojo-attach-event="onClick:_handleShowDataDialogClick">
              ${i18n.selectDataVar}
              </div>
            </td>
            <td colspan="2">
              <table class="esriFormTable calcite">
                <tr>
                  <td class="ShoppingCart_CounterTD" style="padding-right:0">
                    <div class="ShoppingCart_CounterDivLeftBorder"></div>
                    <div data-dojo-attach-point="varCounter" class="ShoppingCart_CounterDiv">0</div>
                    <div class="ShoppingCart_CounterDivRightBorder"></div>
                  </td>
                  <td class="ShoppingCart_LabelTd" style="white-space:nowrap;">
                      <div>${i18n.selectedVars}</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
            
          <tr>
            <td colspan="2">
              <label data-dojo-attach-point="_labelOne" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
              <label data-dojo-attach-point="_measurelabel" class="esriAnalysisStepsLabel">${i18n.defAreasLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_analysisFieldHelpLink" esriHelpTopic="BufferOption"></a>
            </td>
          </tr>
          <tr>
            <td style="padding:0.25em;" colspan="3">
              <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="_bufferTypeSelect" class="esriLeadingMargin1 longInput esriLongLabel esriAnalysisDriveMode">
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding-right:0;padding-bottom:0;width:20%;">
              <input type="text" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-event="onChange:_handleDistUnitsChange" data-dojo-props="intermediateChanges:true,value:1,required:true,missingMessage:'${i18n.distanceMsg}',constraints:{min:0}" data-dojo-attach-point="_distanceInput" class="esriLeadingMargin1"  style="width:75%;">
            </td>
            <td colspan="2" style="padding-left:0.25em;padding-bottom:0;width:60%;">
              <select class="mediumInput esriAnalysisSelect" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:_handleDistUnitsChange" data-dojo-attach-point="_distanceUnitsSelect" style="width:80%;table-layout:fixed;">
                <option value="Seconds">${i18n.seconds}</option>
                <option value="Minutes" selected="selected">${i18n.minutes}</option>
                <option value="Hours">${i18n.hours}</option>
              </select>
            </td>
          </tr>
          <tr data-dojo-attach-point="_useTrafficRow">
            <td style="padding:0" colspan="3">
              <div style="width:100%;" data-dojo-type="esri/dijit/analysis/TrafficTime" data-dojo-attach-point="_trafficTimeWidget"></div>
            </td>
          </tr> 
          <tr>
            <td colspan="2" style="">
              <label class="esriLeadingMargin2 esriSelectLabel"  data-dojo-attach-point="_returnBoundariesLabel">
                <div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_returnBoundariesCheck"></div>
               ${i18n.returnBoundingAreas}
              </label>
            </td>
          </tr>    
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.threeLabel}</label>
              <label class="longTextInput esriAnalysisStepsLabel">${i18n.outputLayerLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="OutputName"></a> 
            </td>             
          </tr>
          <tr>
            <td colspan="3">
              <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="esriLeadingMargin1 esriOutputText"  data-dojo-props="trim:true,required:true" data-dojo-attach-point="_outputLayerInput" value=""></input>
            </td>                
          </tr> 
          <tr>
            <td colspan="3">
               <div class="esriLeadingMargin1" data-dojo-attach-point="_chooseFolderRow">
                 <label style="width:9px;font-size:smaller;">${i18n.saveResultIn}</label>
                 <input class="longInput esriFolderSelect" data-dojo-attach-point="_webMapFolderSelect" data-dojo-type="dijit/form/FilteringSelect" trim="true"></input>
               </div>              
            </td>
          </tr>                                      
        </tbody>         
       </table>
     </div>
    <div data-dojo-attach-point="_aggregateToolContentButtons" style="padding:5px;margin-top:5px;border-top:solid 1px #BBB;">
      <div class="esriExtentCreditsCtr">
        <a class="esriFloatTrailing esriSmallFont"  href="#" data-dojo-attach-point="_showCreditsLink">${i18n.showCredits}</a>
       <label data-dojo-attach-point="_chooseExtentDiv" class="esriSelectLabel esriExtentLabel">
         <input type="radio" data-dojo-attach-point="_useExtentCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" name="extent" value="true"/>
           ${i18n.useMapExtent}
       </label>
      </div>
      <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_saveBtn" class="esriLeadingMargin4 esriAnalysisSubmitButton" data-dojo-attach-event="onClick:_handleSaveBtnClick">
          ${i18n.runAnalysis}
      </button>
    </div>
    <div class="esriFormWarning esriRoundedBox" data-dojo-attach-point="_errorMessagePane" style="display:none;">
      <span data-dojo-attach-point="_bodyNode"></span>
    </div>
    <div data-dojo-type="dijit/Dialog" title="${i18n.creditTitle}" data-dojo-attach-point="_usageDialog" style="width:40em;">
      <div data-dojo-type="esri/dijit/analysis/CreditEstimator"  data-dojo-attach-point="_usageForm"></div>
    </div>    
    <div data-dojo-type="dijit/Dialog" title="" data-dojo-attach-point="_dataDialog" data-dojo-props="closable:false" class="dataBrowser">
      <div data-dojo-type="esri/dijit/geoenrichment/DataBrowser"  class="calcite esriAnalysisEnrichDataBrowser" data-dojo-props="backButton:null,allowHierarchies:true" data-dojo-attach-point="_databrowser"></div>
    </div>    
</div>
