<div class="esriAnalysisExpressionGrid">
  <div data-dojo-type="dijit.layout.ContentPane" style="padding:1px;width:100%;height:200px;"  data-dojo-attach-point="_gridPane">
    <div data-dojo-attach-point="_gridDiv" style="height:90%"></div>
    <div data-dojo-attach-point="_textDiv" style="border:1px #EFEEEF solid;display:none;height:90%"></div>
  </div>
  <div style="clear:both;"></div>
  <div data-dojo-type="dijit.layout.ContentPane" style="padding:1px;width:100%;">
    <table style="width:100%;">
      <tbody>
        <tr>
          <td style="width:20%;">
            <div data-dojo-type="dijit/form/Button" class="esriTertiaryActionBtn calcite green tiny" data-dojo-attach-point="_addBtn" data-dojo-attach-event="onClick:_handleAddButtonClick" class="">
              ${i18n.addExpr}
            </div>
          </td>
          <td class="esriFloatTrailing">
            <div class="esriLeadingMargin025">
              <div data-dojo-type="dijit/form/Button" class="esriActionButton" data-dojo-props="label:'${i18n.edit}',iconClass:'esriAnalysisEditIcon',showLabel: false, disabled:true" data-dojo-attach-point="_editBtn" data-dojo-attach-event="onClick:_handleEditButtonClick"></div>
              <div data-dojo-type="dijit/form/Button" class="esriActionButton" data-dojo-props="label:'${i18n.remove}',iconClass:'esriAnalysisRemoveIcon',showLabel: false, disabled:true" data-dojo-attach-point="_removeBtn" data-dojo-attach-event="onClick:_handleRemoveButtonClick"></div>     
              <div data-dojo-type="dijit/form/Button" class="esriActionButton" data-dojo-props="label:'${i18n.groupLabel}',iconClass:'esriAnalysisGroupIcon',showLabel: false, disabled:true" data-dojo-attach-point="_groupBtn" data-dojo-attach-event="onClick:_handleGroupButtonClick"></div>
              <div data-dojo-type="dijit/form/Button" class="esriActionButton" data-dojo-props="label:'${i18n.ungroupLabel}',iconClass:'esriAnalysisUngroupIcon',showLabel: false, disabled:true" data-dojo-attach-point="_ungroupBtn" data-dojo-attach-event="onClick:_handleUngroupButtonClick"></div>
              <div data-dojo-type="dijit/form/ToggleButton" class="esriActionButton" data-dojo-props="label:'${i18n.viewText}',iconClass:'esriAnalysisTextIcon',showLabel: false, checked: false, disabled:true" data-dojo-attach-point="_viewBtn" data-dojo-attach-event="onChange:_handleViewButtonClick"></div>           
            </div>
          </td>
        </tr>
      </tbody>
      </table>
  </div>
  <div data-dojo-type="dijit/Dialog" title="${i18n.expression}" data-dojo-props="closable:false" data-dojo-attach-point="_expDialog" style="width:65em;">
    <!--<div data-dojo-attach-point="_testdiv">testing</div>-->
    <div data-dojo-attach-point="_expressionForm" data-dojo-type="esri/dijit/analysis/ExpressionForm" data-dojo-props="primaryActionButttonClass:'${primaryActionButttonClass}'"></div>
  </div>   
</div>