<div class="esriAnalysis">
    <div data-dojo-type="dijit/layout/ContentPane" style="margin-top:0.5em; margin-bottom: 0.5em;">
      <div data-dojo-attach-point="_aggregateToolContentTitle" class="analysisTitle">
        <table class="esriFormTable" >
          <tr>
            <td class="esriToolIconTd"><div class="findPointClustersIcon"></div></td>
            <td class="esriAlignLeading esriAnalysisTitle" data-dojo-attach-point="_toolTitle">
              <label data-dojo-attach-point="_titleLbl">${i18n.findPointClusters}</label>
              <nav class="breadcrumbs"  data-dojo-attach-point="_analysisModeLblNode" style="display:none;">
                <a href="#" class="crumb breadcrumbs__modelabel" data-dojo-attach-event="onclick:_handleModeCrumbClick" data-dojo-attach-point="_analysisModeCrumb"></a>
                <a href="#" class="crumb is-active" data-dojo-attach-point="_analysisTitleCrumb" style="font-size:16px;">${i18n.findPointClusters}</a>
              </nav>
            </td>
            <td>
              <div class="esriFloatTrailing" style="padding:0;">
                <div class="esriFloatLeading">
                  <a href="#" class='esriFloatLeading helpIcon' esriHelpTopic="toolDescription"></a>
                </div>
                <div class="esriFloatTrailing">
                  <a href="#" data-dojo-attach-point="_closeBtn" title="${i18n.close}" class="esriAnalysisCloseIcon"></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div style="clear:both; border-bottom: #CCC thin solid; height:1px;width:100%;"></div>
    </div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="_form" readOnly="true">
       <table class="esriFormTable"  data-dojo-attach-point="_aggregateTable"  style="border-collapse:collapse;border-spacing:5px;" cellpadding="5px" cellspacing="5px">
         <tbody>
          <tr data-dojo-attach-point="_titleRow">
            <td  colspan="3" class="sectionHeader" data-dojo-attach-point="_aggregateToolDescription">${i18n.clustersLabel}</td>
          </tr>
          <tr data-dojo-attach-point="_analysisLabelRow" style="display:none;">
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.chooseLayerLabel}</label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_analysisHelpNode" esriHelpTopic="analysisLayer"></a>
            </td>
          </tr>
          <tr data-dojo-attach-point="_selectAnalysisRow" style="display:none;">
            <td  colspan="3" style="padding-top:0;">
              <select class="esriLeadingMargin1 longInput esriLongLabel"  style="margin-top:1.0em;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_analysisSelect" data-dojo-props="required:true" data-dojo-attach-event="onChange:_handleAnalysisLayerChange"></select>
            </td>
          </tr>
          <tr data-dojo-attach-point="_clusterMethodLblRow">
            <td colspan="2">
              <label data-dojo-attach-point="_labelTwo" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.chooseClusteringMethod}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="clusterMethod"></a>
            </td>
          </tr>
          <tr data-dojo-attach-point="_clusterMethodSelectRow">
            <td colspan="3" style="padding-bottom:0.25;padding-top:0.25;">
              <select data-dojo-type="dijit/form/Select"  class="esriLeadingMargin1 longInput esriLongLabel" data-dojo-attach-event="onChange:_handleClusterMethodChange" data-dojo-attach-point="_clusterMethodSelect">
                <option value="DBSCAN">${i18n.dbscanLabel}</option>
                <option value="HDBSCAN">${i18n.hdbscanLabel}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
          <tr>
            <td colspan="2">
              <label data-dojo-attach-point="_labelTwo" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
              <label class="esriAnalysisStepsLabel" data-dojo-attach-point="_minClusterPtsLblNode">${i18n.minClusterPtsLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_analysisFieldHelpLink" esriHelpTopic="minFeaturesCluster"></a>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="padding-bottom:0.25;padding-top:0.25;">
              <input data-dojo-type="dijit/form/NumberSpinner"  class= "esriMediumlabel esriLeadingMargin1"  data-dojo-attach-point="_maxCountInput" data-dojo-props="style: 'width:25%',smallDelta:1,value:2, constraints: { min:2, places:0 }, required:true">
                <label>${i18n.points}</label>
              </input>
            </td>
            </tr>
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
          <tr>
            <td colspan="2">
              <label data-dojo-attach-point="_labelThree" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.threeLabel}</label>
              <label class="esriAnalysisStepsLabel" data-dojo-attach-point="_forLocationLabel">${i18n.limitSearchLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_addStatsHelpLink" esriHelpTopic="searchDistance"></a>
            </td>
          </tr>
         <tr>
            <td style="padding-right:0;padding-top:0;width:30%;">
              <input type="text" class="esriLeadingMargin1" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-event="onChange:_handleDistValueChange" data-dojo-props="intermediateChanges:true,invalidMessage:'${i18n.distanceMsg}',constraints:{min:0.000001}" data-dojo-attach-point="_searchCutoffInput" class="esriLeadingMargin1"  style="width:60%;">
            </td>
            <td colspan="2" style="padding-left:0.25em;padding-top:0;width:60%;">
              <select class="mediumInput esriMediumlabel esriAnalysisSelect" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:_handleUnitsChange" data-dojo-attach-point="_distanceUnitsSelect" style="width:65%;table-layout:fixed;">
              </select>
            </td>
          </tr>
          <tr data-dojo-attach-point="_useTimeCheckRow">
            <td colspan="3">
              <label class="esriLeadingMargin1" data-dojo-attach-point="_useSearchTimeChkLabel">
                <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_useSearchTimeChk" data-dojo-props="checked:false" data-dojo-attach-event="onChange:_handeUseSearchTimeChkChange"></input>
                ${i18n.useTimeToFindCLusters}
              </label>
            </td>
          </tr>
         <tr data-dojo-attach-point="_searchDurLabelRow">
            <td colspan="3">
              <label class="esriLeadingMargin1">
                ${i18n.limitSearchDurLabel}
              </label>
            </td>
          </tr>
          <tr data-dojo-attach-point="_searchDurRow">
            <td style="padding-right:0;padding-bottom:0;width:50%;">
              <input type="text" data-dojo-type="dijit/form/NumberTextBox" data-dojo-props="constraints:{min:1,places:0},intermediateChanges:true,invalidMessage:'${i18n.distanceMsg}'" data-dojo-attach-point="_searchDurValue" class="esriLeadingMargin1"  style="width:60%;"/>
            </td>
            <td colspan="2" style="padding-left:0.25em;padding-bottom:0;width:50%;">
              <select class="mediumInput esriAnalysisSelect" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_searchDurUnits" style="width:65%;table-layout:fixed;">
                <option value="Seconds">${i18n.seconds}</option>
                <option value="Minutes">${i18n.minutes}</option>
                <option value="Hours">${i18n.hours}</option>
                <option value="Days">${i18n.days}</option>
                <option value="Weeks">${i18n.weeks}</option>
                <option value="Months">${i18n.months}</option>
                <option value="Years">${i18n.years}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
          <tr>
            <td colspan="2">
              <label data-dojo-attach-point="_labelFour" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel" data-dojo-attach-point="_outputNumberLabel">${i18n.fourLabel}</label>
              <label class="longTextInput esriAnalysisStepsLabel">${i18n.outputLayerLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="outputName"></a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="esriLeadingMargin1 esriOutputText"  data-dojo-props="trim:true,required:true" data-dojo-attach-point="_outputLayerInput" value=""></input>
            </td>
          </tr>
          <tr>
            <td colspan="3">
               <div class="esriLeadingMargin1" data-dojo-attach-point="_chooseFolderRow">
                 <label style="width:9px;font-size:smaller;">${i18n.saveResultIn}</label>
                 <input class="longInput esriFolderSelect" data-dojo-attach-point="_webMapFolderSelect" data-dojo-type="dijit/form/FilteringSelect" trim="true"></input>
               </div>
            </td>
          </tr>
        </tbody>
       </table>
     </div>
    <div data-dojo-attach-point="_aggregateToolContentButtons" style="padding:5px;margin-top:5px;border-top:solid 1px #BBB;">
      <div class="esriExtentCreditsCtr">
        <a class="esriFloatTrailing esriSmallFont"  href="#" data-dojo-attach-point="_showCreditsLink">${i18n.showCredits}</a>
       <label data-dojo-attach-point="_chooseExtentDiv" class="esriSelectLabel esriExtentLabel">
         <input type="radio" data-dojo-attach-point="_useExtentCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" name="extent" value="true"/>
           ${i18n.useMapExtent}
       </label>
      </div>
      <div class="esriFormWarning esriRoundedBox" data-dojo-attach-point="_errorMessagePane" style="display:none;">
        <a href="#" title="${i18n.close}" class="esriFloatTrailing esriAnalysisCloseIcon" title='${i18n.close}' data-dojo-attach-event="onclick:_handleCloseMsg"></a>
        <span data-dojo-attach-point="_bodyNode"></span>
      </div>
      <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_saveBtn" class="esriLeadingMargin4 esriAnalysisSubmitButton" data-dojo-attach-event="onClick:_handleSaveBtnClick">
          ${i18n.runAnalysis}
      </button>
    </div>
    <div data-dojo-type="dijit/Dialog" title="${i18n.creditTitle}" data-dojo-attach-point="_usageDialog" style="width:40em;">
      <div data-dojo-type="esri/dijit/analysis/CreditEstimator"  data-dojo-attach-point="_usageForm"></div>
    </div>
</div>
