<div class="esriAnalysis">
    <div data-dojo-type="dijit/layout/ContentPane" style="margin-top:0.5em; margin-bottom: 0.5em;">
      <div data-dojo-attach-point="_aggregateToolContentTitle" class="analysisTitle">
        <table class="esriFormTable" > 
          <tr>
            <td class="esriToolIconTd"><div class="findClosestFacilityIcon"></div></td>
            <td class="esriAlignLeading esriAnalysisTitle" data-dojo-attach-point="_toolTitle">
              <label data-dojo-attach-point="_titleLbl">${i18n.findNearest}</label>
              <nav class="breadcrumbs"  data-dojo-attach-point="_analysisModeLblNode" style="display:none;">
                <a href="#" class="crumb breadcrumbs__modelabel" data-dojo-attach-event="onclick:_handleModeCrumbClick" data-dojo-attach-point="_analysisModeCrumb"></a>
                <a href="#" class="crumb is-active" data-dojo-attach-point="_analysisTitleCrumb" style="font-size:16px;">${i18n.findNearest}</a>
              </nav>               
            </td>
            <td>
              <div class="esriFloatTrailing" style="padding:0;">
                <div class="esriFloatLeading">
                  <a href="#" class='esriFloatLeading helpIcon' esriHelpTopic="toolDescription"></a>
                </div>
                <div class="esriFloatTrailing">
                  <a href="#" data-dojo-attach-point="_closeBtn" title="${i18n.close}" class="esriAnalysisCloseIcon"></a>
                </div>              
              </div>                 
            </td>
          </tr>
        </table>
      </div>
      <div style="clear:both; border-bottom: #CCC thin solid; height:1px;width:100%;"></div>
    </div>
    <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="_form" readOnly="true">
       <table class="esriFormTable"  data-dojo-attach-point="_aggregateTable"  style="border-collapse:collapse;border-spacing:5px;" cellpadding="5px" cellspacing="5px"> 
         <tbody>
          <tr data-dojo-attach-point="_titleRow">
            <td  colspan="3" class="sectionHeader" data-dojo-attach-point="_aggregateToolDescription" >${i18n.summarizeDefine}</td>
          </tr>
          <tr data-dojo-attach-point="_analysisLabelRow" style="display:none;">
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.analysisLayerLabel}</label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="analysisLayer"></a>
            </td>
          </tr>           
          <tr data-dojo-attach-point="_selectAnalysisRow" style="display:none;">
            <td  colspan="3" style="padding-top:0;">
              <select class="esriLeadingMargin1 longInput esriLongLabel"  style="margin-top:1.0em;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_analysisSelect" data-dojo-props="required:true" data-dojo-attach-event="onChange:_handleAnalysisLayerChange"></select>
            </td>
          </tr>            
          <tr>
            <td colspan="2" style="padding-bottom:0;">
              <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
              <label class="esriAnalysisStepsLabel">${i18n.findLocationsIn}</label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="NearbyLocationsLayer"></a>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="padding-top:0;">
              <select class="longInput esriLeadingMargin1 esriLongLabel"  style="margin-top:1.0em;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_layersSelect" data-dojo-props="required:true" data-dojo-attach-event="onChange:_handleLayerChange"></select>
            </td>
          </tr>
          <tr>
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
            
          <tr>
            <td colspan="2">
              <label data-dojo-attach-point="_labelTwo" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
              <label data-dojo-attach-point="_measurelabel" class="esriAnalysisStepsLabel">${i18n.measureLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_analysisFieldHelpLink" esriHelpTopic="MeasurementMethod"></a>
            </td>
          </tr>
          <tr>
            <td style="padding:0.25em;" colspan="3">
              <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="_measureMethodSelect" class="esriLeadingMargin1 longInput esriLongLabel esriAnalysisDriveMode">
              </div>
            </td>            
          </tr>
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
          <tr data-dojo-attach-point="_useTrafficRow">
            <td colspan="3" style="padding:0;">
              <div style="width:100%;" class="esriFloatLeading esriTrailingMargin3" data-dojo-type="esri/dijit/analysis/TrafficTime" data-dojo-attach-point="_trafficTimeWidget"></div>
            </td>
          </tr> 
          <tr data-dojo-type="esri/dijit/analysis/components/AddBarrierLayers/AddBarrierLayers" data-dojo-attach-point="_addBarrierLayersComponent" data-dojo-props="showGeoAnalyticsParams: ${showGeoAnalyticsParams}">
          </tr>
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>        
          <tr>
            <td colspan="3">
              <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_addStatsHelpLink" esriHelpTopic="Cutoffs"></a>
              <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.threeLabel}</label>
              <label class="longTextInput esriAnalysisStepsLabel" data-dojo-attach-point="_forLocationLabel">${i18n.forEachLocationLabel}</label>
            </td>
          </tr>
         <tr>
           <td colspan="3" class="esriLeadingMargin1" style="padding-bottom:0;">
            <table style="width:100%">
              <tr>
                <td style="width:1%;">
                  <div class="esriLeadingMargin1" id="${id}.findNearestCheck" data-dojo-type="dijit/form/CheckBox"  data-dojo-attach-point="_findNearestCheck" data-dojo-attach-event="onChange:_handleFindNearestCheckChange" data-dojo-props="checked:'true'"></div>
                </td>
                <td class="longTextInput">
                  <label for="${id}.findNearestCheck" data-dojo-attach-point="_findNearestLabel">${i18n.findNearestLabel}</label>
                </td>
              </tr>
            </table>  
           </td>
         </tr>
         <tr>
           <td colspan="3" style="padding-bottom:0.25;padding-top:0.25;">
             <input data-dojo-type="dijit/form/NumberSpinner"  class= "esriMediumlabel esriLeadingMargin2"  data-dojo-attach-point="_maxCountInput" data-dojo-props="style: 'width:25%',smallDelta:1"/>
           </td>
         </tr>
         <tr>
           <td colspan="3" style="padding-bottom:0.25;padding-top:0.25;">
             <table style="width:100%">
               <tr>
                 <td style="width:1%;">
                   <div class="esriLeadingMargin1" id="${id}.limitSearchRangeCheck" data-dojo-type="dijit/form/CheckBox"  data-dojo-attach-point="_limitSearchRangeCheck" data-dojo-attach-event="onChange:_handleLimitSearchCheckChange" data-dojo-props="checked:'true'"></div>
                 </td>
                 <td class="longTextInput">
                   <label for="${id}.limitSearchRangeCheck" data-dojo-attach-point="_limitSearchRangeLabel">${i18n.limitSearchRangeCheck}</label>
                 </td>
               </tr>
             </table>
           </td>
         </tr>
         <tr data-dojo-attach-point="_distanceLimitRow">
            <td style="padding-right:0;padding-top:0;width:30%;">
              <input type="text" class="esriLeadingMargin2" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-event="onChange:_handleDistValueChange" data-dojo-props="value:100,intermediateChanges:true,required:true,invalidMessage:'${i18n.distanceMsg}'" data-dojo-attach-point="_searchCutoffInput" class="esriLeadingMargin1"  style="width:60%;">
            </td>
            <td colspan="2" style="padding-left:0.25em;padding-top:0;width:60%;">
              <select class="mediumInput esriMediumlabel esriAnalysisSelect esriLeadingMargin1" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:_handleDistUnitsChange" data-dojo-attach-point="_distanceUnitsSelect" style="width:65%;table-layout:fixed;">
              </select>
            </td>
          </tr>
          <tr data-dojo-attach-point="_timeLimitRow" style="display:none;">
            <td style="padding-top:0;width:24%;">
              <label class="esriLeadingMargin2 esriTrailingMargin025">
                <input type="text" class="" style="width:40%" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-event="onChange:_handleTimeUnitsChange" data-dojo-props="intermediateChanges:true,value:'1',required:true,invalidMessage:'${i18n.distanceMsg}'" data-dojo-attach-point="_hoursInput"></input>
                ${i18n.hoursSmall}</label>
            </td>
            <td style="padding-top:0;width:24%;">
              <label class="esriLeadingMargin1 esriTrailingMargin025">
                <input type="text" class="" style="width:40%" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-event="onChange:_handleTimeUnitsChange" data-dojo-props="intermediateChanges:true,value:'0',required:true,invalidMessage:'${i18n.distanceMsg}'" data-dojo-attach-point="_minutesInput"></input>
                ${i18n.minutesSmall}</label>
            </td>
            <td style="padding-top:0;width:24%;">
              <label class="esriTrailingMargin025">
                <input type="text" class="" style="width:40%" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-event="onChange:_handleTimeUnitsChange" data-dojo-props="intermediateChanges:true,value:'0',required:true,invalidMessage:'${i18n.distanceMsg}'" data-dojo-attach-point="_secondsInput"></input>
                ${i18n.secondsSmall}</label>
            </td>                        
          </tr>
                  
          <!--<tr data-dojo-attach-point="_useTrafficLabelRow">
            <td colspan="2" style="padding-bottom: 0">
              <label class="esriFloatLeading esriTrailingMargin025">${i18n.fourLabel}</label>
              <label class="longTextInput"></label>
            </td>
            <td class="shortTextInput" style="padding-bottom: 0">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="UseTypicalTraffic"></a> 
            </td>             
          </tr>          
          <tr data-dojo-attach-point="_useTrafficRow">
            <td colspan="3" style="padding:0;">
              <div style="width:100%;" class="esriFloatLeading esriTrailingMargin3" data-dojo-type="esri/dijit/analysis/TrafficTime" data-dojo-attach-point="_trafficTimeWidget"></div>
            </td>
          </tr>-->
          <tr>
            <td colspan="3" class="clear"></td>
          </tr>
          <tr>
            <td colspan="2">
              <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel" data-dojo-attach-point="_outputNumberLabel">${i18n.fourLabel}</label>
              <label class="longTextInput esriAnalysisStepsLabel">${i18n.outputLayerLabel}</label>
            </td>
            <td class="shortTextInput">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="OutputNearestLocationsLayer"></a> 
            </td>             
          </tr>
          <tr>
            <td colspan="3">
              <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="esriLeadingMargin1 esriOutputText"  data-dojo-props="trim:true,required:true" data-dojo-attach-point="_outputLayerInput" value=""></input>
            </td>                
          </tr> 
          <!--<tr>
            <td colspan="3">
              <input type="text" data-dojo-type="dijit/form/ValidationTextBox" class="esriLeadingMargin1 esriOutputText"  data-dojo-props="required:true" data-dojo-attach-point="_outputLayerInput2" value=""></input>
            </td>                
          </tr>-->           
          <tr data-dojo-attach-point="_outputTypeRow">
            <td colspan="3">
              <!--<label class="esriLeadingMargin1">${i18n.outputType}</label>
              <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="_outputTypeSelect" class="mediumInput esriMediumLabel">
                <option selected="selected" value="FeatureLayer">${i18n.featureLayer}</option>
                <option value="RouteLayers">${i18n.routeLayers}</option>
              </select>-->
              <label data-dojo-attach-point="" class="esriLeadingMargin1 esriSelectLabel">
                <input type="radio" data-dojo-attach-point="_incldRouteLayersChk" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:${includeRouteLayers}" name="includeRouteLayers"/>
                ${i18n.includeRouteLayers}
              </label>
            </td>
          </tr>
          <tr>
            <td colspan="3">
               <div class="esriLeadingMargin1" data-dojo-attach-point="_chooseFolderRow">
                 <label style="width:9px;font-size:smaller;">${i18n.saveResultIn}</label>
                 <input class="longInput esriFolderSelect" data-dojo-attach-point="_webMapFolderSelect" data-dojo-type="dijit/form/FilteringSelect" trim="true"></input>
               </div>              
            </td>
          </tr>                                      
        </tbody>         
       </table>
     </div>
    <div data-dojo-attach-point="_aggregateToolContentButtons" style="padding:5px;margin-top:5px;border-top:solid 1px #BBB;">
      <div class="esriExtentCreditsCtr">
        <a class="esriFloatTrailing esriSmallFont"  href="#" data-dojo-attach-point="_showCreditsLink">${i18n.showCredits}</a>
       <label data-dojo-attach-point="_chooseExtentDiv" class="esriSelectLabel esriExtentLabel">
         <input type="radio" data-dojo-attach-point="_useExtentCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" name="extent" value="true"/>
           ${i18n.useMapExtent}
       </label>
      </div>
      <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_saveBtn" class="esriLeadingMargin4 esriAnalysisSubmitButton" data-dojo-attach-event="onClick:_handleSaveBtnClick">
          ${i18n.runAnalysis}
      </button>
    </div>
    <div data-dojo-type="dijit/Dialog" title="${i18n.creditTitle}" data-dojo-attach-point="_usageDialog" style="width:40em;">
      <div data-dojo-type="esri/dijit/analysis/CreditEstimator"  data-dojo-attach-point="_usageForm"></div>
    </div>    
</div>
