<div class="esriAnalysis">
  <div data-dojo-type="dijit/layout/ContentPane" style="margin-top:0.5em; margin-bottom: 0.5em;">
    <div data-dojo-attach-point="_hotspotsToolContentTitle" class="analysisTitle">
         <table class="esriFormTable" > 
            <tr>
              <td class="esriToolIconTd"><div class="createInterpolatedSurfaceIcon"></div></td>
              <td class="esriAlignLeading esriAnalysisTitle" data-dojo-attach-point="_toolTitle">
                <label data-dojo-attach-point="_titleLbl">${i18n.interpolatePoints}</label>
                <nav class="breadcrumbs"  data-dojo-attach-point="_analysisModeLblNode" style="display:none;">
                  <a href="#" class="crumb breadcrumbs__modelabel" data-dojo-attach-event="onclick:_handleModeCrumbClick" data-dojo-attach-point="_analysisModeCrumb"></a>
                  <a href="#" class="crumb is-active" data-dojo-attach-point="_analysisTitleCrumb" style="font-size:16px;">${i18n.interpolatePoints}</a>
                </nav>                 
              </td>
              <td>
                <div class="esriFloatTrailing" style="padding:0;">
                    <div class="esriFloatLeading">
                      <a href="#" class='esriFloatLeading helpIcon' esriHelpTopic="toolDescription"></a>
                    </div>
                    <div class="esriFloatTrailing">
                      <a href="#" data-dojo-attach-point="_closeBtn" title="${i18n.close}" class="esriAnalysisCloseIcon"></a>
                    </div>              
                </div>  
              </td>
            </tr>
         </table>
    </div>
    <div style="clear:both; border-bottom: #CCC thin solid; height:1px;width:100%;"></div>
  </div>
  <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="_form" readOnly="true">
     <table class="esriFormTable"> 
       <tbody>
          <tr data-dojo-attach-point="_titleRow">
            <td  colspan="3" class="sectionHeader" data-dojo-attach-point="_interpolateToolDescription" ></td>
          </tr>
          <tr data-dojo-attach-point="_analysisLabelRow" style="display:none;">
            <td colspan="2" style="padding-bottom:0;" class="width-90">
              <label class="esriFloatLeading  esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
              <label class="esriAnalysisStepsLabel esriAnalysisStepsLabel">${i18n.analysisLayerLabel}</label>
            </td>
            <td class="shortTextInput" style="padding-bottom:0;">
              <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="inputLayer"></a>
            </td>
          </tr>         
          <tr data-dojo-attach-point="_selectAnalysisRow" style="display:none;">
            <td  colspan="3" style="padding-top:0;">
              <select class="esriLeadingMargin1 longInput esriLongLabel"  style="margin-top:1.0em;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_analysisSelect" data-dojo-attach-event="onChange:_handleAnalysisLayerChange"></select>
            </td>
          </tr>          
        <tr>
          <td colspan="2" style="padding-bottom:0;" class="width-90">
            <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.oneLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.selectAttributesLabel}</label>
          </td>
          <td class="shortTextInput" style="padding-bottom:0;">
            <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_analysisFieldHelpLink" esriHelpTopic="field"></a>
          </td>
        </tr>
        <tr>
         <td colspan="3" style="padding-top:0;">
           <select class="esriLeadingMargin1 longInput"  style="margin-top:1.0em;width:68%;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_fieldSelect" data-dojo-attach-event="onChange:_handleFieldChange"></select>
         </td>
        </tr> 
        <tr>
          <td colspan="3" class="clear"></td>
        </tr>         
         <tr>
          <td colspan="2">
            <label data-dojo-attach-point="_labelTwo" class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.twoLabel}</label>
            <label data-dojo-attach-point="_measurelabel" class="esriAnalysisStepsLabel">${i18n.optimizeFor}</label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' data-dojo-attach-point="_analysisFieldHelpLink" esriHelpTopic="interpolateOption"></a>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="esriLeadingMargin1" data-dojo-props="intermediateChanges:false,showButtons:true,minimum:1,maximum:9,discreteValues:3,pageIncrement:1" style="width:90%;" data-dojo-attach-point="_optimizeSlider" data-dojo-attach-event="onChange:_handleOptimizeSliderChange" type="range" data-dojo-type="dijit/form/HorizontalSlider">
              <div data-dojo-type="dijit/form/HorizontalRule" data-dojo-props="container: 'topDecoration',count: 3,style: 'height: 0.5em;'"></div>
               <ol data-dojo-type="dijit/form/HorizontalRuleLabels"  data-dojo-attach-point="_liveTimeRuleLabels" data-dojo-props="container: 'bottomDecoration', count:3" style="margin-top:5px;height: 1em;">
                  <li>${i18n.speed}</li>
                  <li></li>
                  <li>${i18n.accuracy}</li>
                </ol>  
            </div>
             <!-- create rules and labels below horizontal slider -->
          </td>
        </tr>          
         
        <tr>
          <td colspan="2">
            <label class="esriLeadingMargin1 esriSelectLabel">
              <div data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="_outoutPredictionsErrCheck"></div>
              ${i18n.outputPredictionErrors}
            </label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="outputPredictionError"></a>
          </td>
         </tr> 
        <tr data-dojo-attach-point="_optionsRow">
          <td colspan="3" class="optionsTd">
            <div class="optionsClose" data-dojo-attach-point="_optionsDiv">
              <div class="dijitTreeExpando" data-dojo-attach-event="onclick:_handleOptionsBtnClick"><label class="esriLeadingMargin2 noWrapLabel">${i18n.Options}</label></div>
              <table class="esriFormTable optionsTable">
                <tbody>
                  <tr>
                    <td colspan="2" class="width-90">
                      <label class="esriLeadingMargin2">${i18n.interpolateWithin}</label>
                    </td>
                    <td class="shortTextInput">
                      <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="boundingPolygonLayer"></a>
                    </td>                    
                  </tr>
                  <tr>
                    <td colspan="2">
                      <select class="esriLeadingMargin2 longInput esriLongLabel" data-dojo-type="dijit/form/Select" data-dojo-attach-point="_boundingAreaSelect" data-dojo-attach-event="onChange:_handleBoundingSelectChange"></select>                      
                    </td>
                    <td>
                      <div data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="_bndgPolyDrawBtn" class="esriFloatLeading esriActionButton" data-dojo-props="showLabel:false,iconClass:'toolbarIcon polygonIcon',label:'${i18n.drawLabel}'" data-dojo-attach-event="onChange:_handleBoundingBtnChange"></div>
                    </td> 
                  </tr>      
                  
                  <tr>
                    <td colspan="2">
                      <label class="esriLeadingMargin2">${i18n.classifyLabel}</label>
                    </td>
                    <td class="shortTextInput">
                      <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="classificationType"></a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" style="padding-bottom:0.25;">
                      <select class="esriLeadingMargin2 longInput esriLongLabel"  data-dojo-type="dijit/form/Select" data-dojo-attach-point="_classifySelect" data-dojo-attach-event="onChange:_handleClassifySelectChange" style="width:68%">
                        <option value="GeometricInterval">${i18n.geometricInterval}</option>
                        <option value="EqualArea"> ${i18n.quantile}</option>
                        <option value="EqualInterval">${i18n.equalInterval}</option>
                        <option value="Manual">${i18n.manual}</option>
                      </select>
                    </td>
                  </tr>
                  <tr data-dojo-attach-point="_classifyOtherOptionLabelRow">
                    <td colspan="2" style="padding-top:0.25;padding-bottom:0.25;">
                      <label class="esriLeadingMargin2">${i18n.classesCountLabel}</label>
                    </td>
                    <td class="shortTextInput" style="padding-top:0;padding-bottom:0;">
                      <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="numClasses"></a>
                    </td>
                  </tr>
                  <tr data-dojo-attach-point="_classifyOtherOptionInputRow">
                     <td colspan="3" style="padding-top:0.25;">
                       <input data-dojo-type="dijit/form/NumberSpinner"  class= "esriMediumlabel esriLeadingMargin2"  data-dojo-attach-point="_numClassesInput" data-dojo-props="value:${numClasses}, style: 'width:25%',smallDelta:1,constraints: {places:0}"/>
                     </td>
                  </tr>
                  <tr data-dojo-attach-point="_manualOptionLabelRow" style="display:none;">
                    <td colspan="2" style="padding-top:0.25;padding-bottom:0.25;">
                      <label class="esriLeadingMargin2">${i18n.classBreakValues}</label>
                    </td>
                    <td class="shortTextInput" style="padding-top:0;padding-bottom:0;">
                      <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="classBreaks"></a>
                    </td>
                  </tr>
                  <tr  data-dojo-attach-point="_manualOptionInputRow" style="display:none;">
                    <td colspan="3" style="padding-top:0.25;">
                      <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="intermediateChanges:true" data-dojo-attach-point="_classBreaksInput" class="esriLeadingMargin2">
                      <div>
                        <label class="esriLeadingMargin2 esriSmallLabel">${i18n.classBreaksHelp}</label>
                      </div>
                    </td>
                  </tr>                  
                  <tr>
                    <td colspan="2">
                      <label class="esriLeadingMargin2">${i18n.predictLocLabel}</label>
                    </td>
                    <td class="shortTextInput">
                      <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="predictAtPointLayer"></a>
                    </td>                    
                  </tr>
                  <tr>
                    <td colspan="2">
                        <select class="esriLeadingMargin2 longInput esriLongLabel"  data-dojo-type="dijit/form/Select" data-dojo-attach-point="_predictPointSelect" data-dojo-attach-event="onChange:_handlePredictPointSelectChange"></select>
                    </td>   
                    <td>
                      <div data-dojo-type="dijit/form/ToggleButton"  data-dojo-attach-point="_predictPointDrawBtn"  class="esriFloatLeading esriActionButton" data-dojo-props="showLabel:false,iconClass:'toolbarIcon esriPointIcon',label:'${i18n.drawLabel}'" data-dojo-attach-event="onChange:_handlePredictPointChange"></div>
                    </td> 
                  </tr>                               
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="clear"></td>
        </tr>
        <tr>
          <td colspan="2">
            <label class="esriFloatLeading esriTrailingMargin025 esriAnalysisNumberLabel">${i18n.threeLabel}</label>
            <label class="esriAnalysisStepsLabel">${i18n.outputLayerLabel}</label>
          </td>
          <td class="shortTextInput">
            <a href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="outputName"></a> 
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true,required:true" class="longTextInput esriLeadingMargin1" data-dojo-attach-point="_outputLayerInput"></input>
          </td>
        </tr>
        <tr>
          <td colspan="3">
             <div data-dojo-attach-point="_chooseFolderRow" class="esriLeadingMargin1">
               <label style="width:9px;font-size:smaller;">${i18n.saveResultIn}</label>
               <input class="longInput" data-dojo-attach-point="_webMapFolderSelect" data-dojo-type="dijit/form/FilteringSelect" trim="true" style="width:55%;"></input>
             </div>              
          </td>
        </tr>
      </tbody>
     </table>
   </div>
  <div style="padding:5px;margin-top:5px;border-top:solid 1px #BBB;">
    <div class="esriExtentCreditsCtr">
      <a class="esriFloatTrailing esriSmallFont"  href="#" data-dojo-attach-point="_showCreditsLink">${i18n.showCredits}</a>
     <label data-dojo-attach-point="_chooseExtentDiv" class="esriSelectLabel esriExtentLabel">
       <input type="radio" data-dojo-attach-point="_useExtentCheck" data-dojo-type="dijit/form/CheckBox" data-dojo-props="checked:true" name="extent" value="true"/>
         ${i18n.useMapExtent}
     </label>
    </div>
    <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-point="_saveBtn" class="esriLeadingMargin4 esriAnalysisSubmitButton" data-dojo-attach-event="onClick:_handleSaveBtnClick">
        ${i18n.runAnalysis}
    </button>
  </div>
  <div data-dojo-type="dijit/Dialog" title="${i18n.creditTitle}" data-dojo-attach-point="_usageDialog" style="width:40em;">
    <div data-dojo-type="esri/dijit/analysis/CreditEstimator"  data-dojo-attach-point="_usageForm"></div>
  </div>    
</div>
